Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

review: validate uid+size+type in fast path; use geteuid for ownership
  src/jsc/ModuleLoader.zig
Due: zig fmt

review: use path_buffer_pool for dir_abs_buf too
  src/jsc/ModuleLoader.zig
Due: zig fmt

test: drop dedup assertion from napi --compile test
  test/napi/napi.test.ts
Due: prettier --write

review: drop dead /proc/ guard on Windows deleteAfter path
  src/jsc/bindings/BunProcess.cpp
Due: none

test: split worker case out, skip on release until shutdown race fixed
  test/regression/issue/29585.test.ts
Due: prettier --write

Drop deleteAfter for embedded .node on POSIX; update napi test
  src/jsc/bindings/BunProcess.cpp
  test/napi/napi.test.ts
Due: prettier --write

review: move openExtractDir doc comment back to openExtractDir
  src/jsc/ModuleLoader.zig
Due: zig fmt

node:module: comment why builtinModules/globalPaths avoid constructArray
  src/jsc/modules/NodeModuleModule.cpp
Due: none

node:module: build builtinModules/globalPaths arrays without ThrowScope
  src/jsc/modules/NodeModuleModule.cpp
Due: none

Update bun-types.yml
  .github/workflows/bun-types.yml
Due: none

test(29513): AsyncDisposableStack.disposeAsync awaits each resource
  test/regression/issue/29513.test.ts
Due: prettier --write

crypto: accept RSA SPKI without leading 0x00 sign byte on modulus
  src/jsc/bindings/ncrypto.cpp
  test/regression/issue/29558.test.ts
Due: prettier --write

test: move GH-29558 cases into crypto.key-objects.test.ts
  test/js/node/crypto/crypto.key-objects.test.ts
  test/regression/issue/29558.test.ts
Due: prettier --write

crypto: only clear err queue when loose SPKI fallback succeeds
  src/jsc/bindings/ncrypto.cpp
Due: none

crypto: factor out d2i_PUBKEY-with-loose-RSA-fallback helper
  src/jsc/bindings/ncrypto.cpp
Due: none

crypto: fold ERR_clear_error into the loose-SPKI helper
  src/jsc/bindings/ncrypto.cpp
  test/js/node/crypto/crypto.key-objects.test.ts
Due: prettier --write

crypto: compile-guard BoringSSL-only SPKI fallback, clear ERR queue, require canonical params
  src/jsc/bindings/ncrypto.cpp
Due: none

Exit unsettled top-level await instead of hanging / busy-looping
  src/jsc/VirtualMachine.zig
  src/jsc/event_loop.zig
  test/regression/issue/29546.test.ts
Due: prettier --write, zig fmt

Narrow the TLA loop-exit check: handle-work, not isEventLoopAlive
  src/jsc/VirtualMachine.zig
  src/jsc/event_loop.zig
  test/regression/issue/29546.test.ts
Due: prettier --write, zig fmt

doc: route-through comment references waitForPromiseOrLoopExit
  test/regression/issue/29546.test.ts
Due: prettier --write

hasAnyHandleWork: also check concurrent_tasks queue
  src/jsc/event_loop.zig
Due: zig fmt

test: put elapsed check before exitCode so hangs surface the timing diff
  test/regression/issue/29546.test.ts
Due: prettier --write

loadEntryPoint (watcher): drain microtasks before the liveness check
  src/jsc/VirtualMachine.zig
Due: zig fmt

Only drain microtasks before the liveness break, not every iteration
  src/jsc/VirtualMachine.zig
  src/jsc/event_loop.zig
Due: zig fmt

waitForPromiseOrLoopExit: drain microtasks before the liveness check
  src/jsc/event_loop.zig
  test/regression/issue/29546.test.ts
Due: prettier --write, zig fmt

review: dedupe remove path, surface workspace errors, add cleanup + tests
  src/install/PackageManager/updatePackageJSONAndInstall.zig
  test/regression/issue/14719.test.ts
Due: prettier --write, zig fmt

reject --filter + --only-missing, use WorkspaceMap.deinit()
  src/install/PackageManager/updatePackageJSONAndInstall.zig
Due: zig fmt

review: skip rewriting unchanged workspaces on remove, add glob-remove test
  src/install/PackageManager/updatePackageJSONAndInstall.zig
  test/regression/issue/14719.test.ts
Due: prettier --write, zig fmt

fix: avoid .stdFile() (ban-words), deep-copy updates, document remove --filter
  docs/pm/cli/remove.mdx
  docs/snippets/cli/remove.mdx
  src/install/PackageManager/CommandLineArguments.zig
  src/install/PackageManager/updatePackageJSONAndInstall.zig
Due: zig fmt

install: support --filter for bun add and bun remove
  docs/pm/cli/add.mdx
  docs/snippets/cli/add.mdx
  src/install/PackageManager.zig
  src/install/PackageManager/CommandLineArguments.zig
  src/install/PackageManager/updatePackageJSONAndInstall.zig
  test/regression/issue/14719.test.ts
Due: prettier --write, zig fmt

test: verify bun remove --filter leaves the root manifest untouched
  test/regression/issue/14719.test.ts
Due: prettier --write

fix(windows): use writeAll + O.TRUNC instead of pwriteAll
  src/install/PackageManager/updatePackageJSONAndInstall.zig
  test/regression/issue/14719.test.ts
Due: prettier --write, zig fmt

Treat optional peer dependencies as optional in `bun pm sbom`
  src/cli/pm_sbom_command.zig
Due: zig fmt

Register --format and -o/--outfile in pm_params for `bun pm sbom`
  src/cli/package_manager_command.zig
  src/cli/pm_sbom_command.zig
  src/install/PackageManager/CommandLineArguments.zig
  src/install/PackageManager/PackageManagerOptions.zig
Due: zig fmt

Use an arena allocator for `bun pm sbom` Generator state
  src/cli/pm_sbom_command.zig
Due: zig fmt

Add `bun pm sbom` command
  src/cli/package_manager_command.zig
  src/cli/pm_sbom_command.zig
  test/cli/install/bun-pm-sbom.test.ts
Due: prettier --write, zig fmt

Fix empty-name UB and workspace scope consistency in `bun pm sbom`
  src/cli/pm_sbom_command.zig
Due: zig fmt
