Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

ok yay
  src/cli/build_command.zig
  test/bundler/cli.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

Visit Zig::GlobalObject::m_lazyRequireExtensionsObject
  src/bun.js/bindings/JSCommonJSExtensions.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

Implement visitChildren in JSCommonJSExtensions
  src/bun.js/bindings/JSCommonJSExtensions.cpp
  src/bun.js/bindings/JSCommonJSExtensions.h
Due: none

Update runner.node.mjs
  scripts/runner.node.mjs
Due: none

skip passing maxBuffer through for non-sync
  src/js/node/child_process.ts
Due: prettier --write

wip
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/BunObject.h
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/JSGlobalObject.zig
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  test/js/node/process/process.test.js
Due: prettier --write, zig fmt

fix build log missing spacee (#18785)
  src/cli/build_command.zig
  test/bundler/cli.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

Fix maxbuf (#18786)
  src/bun.js/MaxBuf.zig
  src/js/node/child_process.ts
Due: prettier --write, zig fmt

Upgrade Next.js for integration test
  test/integration/next-pages/bun.lock
  test/integration/next-pages/package.json
Due: none

`bun run clang-format`
  src/bun.js/bindings/JSCommonJSExtensions.cpp
Due: none

Update snapshots
  test/integration/next-pages/test/__snapshots__/dev-server-ssr-100.test.ts.snap
  test/integration/next-pages/test/__snapshots__/dev-server.test.ts.snap
  test/integration/next-pages/test/__snapshots__/next-build.test.ts.snap
Due: none

Don't remove prerender-manifest.js as it no longer exists
  test/integration/next-pages/test/next-build.test.ts
Due: prettier --write

Skip package depending on itself in toMatchNodeModulesAt
  test/harness.ts
Due: prettier --write

Restore strict type on lazyRequireExtensionsObject()
  src/bun.js/bindings/JSCommonJSExtensions.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

ban words
  test/internal/ban-words.test.ts
Due: prettier --write

Initial work on fixing chunked transfer encoding
  packages/bun-uws/src/HttpResponse.h
  src/bun.js/api/server.classes.ts
  src/bun.js/api/server/NodeHTTPResponse.zig
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
  src/js/node/http.ts
Due: prettier --write, zig fmt

update
  src/cli/test_command.zig
Due: zig fmt

Revert "Visit Zig::GlobalObject::m_lazyRequireExtensionsObject"
  src/bun.js/bindings/JSCommonJSExtensions.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

fix
  src/bun.js/base.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/jest.zig
  src/cli/test_command.zig
  src/ptr/ref_count.zig
Due: zig fmt

`bun run zig-format`
  src/bun.js/test/expect.zig
Due: zig fmt

Fix newline before terminating chunk
  packages/bun-uws/src/HttpResponse.h
  packages/bun-uws/src/HttpResponseData.h
Due: none

WIP declare and visit Zig::GlobalObject fields with macro
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
Due: none

Fix crash in require.extensions (#18788)
  src/bun.js/bindings/JSCommonJSExtensions.cpp
  src/bun.js/bindings/JSCommonJSExtensions.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/harness.ts
  test/integration/next-pages/bun.lock
  test/integration/next-pages/package.json
  test/integration/next-pages/test/__snapshots__/dev-server-ssr-100.test.ts.snap
  test/integration/next-pages/test/__snapshots__/dev-server.test.ts.snap
  test/integration/next-pages/test/__snapshots__/next-build.test.ts.snap
  test/integration/next-pages/test/next-build.test.ts
Due: prettier --write

usingnamespace ahg
  test/internal/ban-words.test.ts
Due: prettier --write

re-add ref/unref in task run()
  src/bun.js/test/jest.zig
Due: zig fmt

Obviate anyChunkWritten
  packages/bun-uws/src/HttpResponse.h
  packages/bun-uws/src/HttpResponseData.h
Due: none

write fd fn
  packages/bun-usockets/src/socket.c
  src/deps/uws/socket.zig
Due: zig fmt

unify serializeAndSend{,Internal}
  src/bun.js/ipc.zig
  src/bun.js/node/node_cluster_binding.zig
Due: zig fmt

update
  src/cli/test_command.zig
  src/fmt.zig
Due: zig fmt

Bump WebKit (#18784)
  cmake/tools/SetupWebKit.cmake
  src/cli/test_command.zig
  src/fmt.zig
Due: zig fmt

Fix test-http-client-response-timeout.js
  src/bun.js/bindings/NodeHTTP.cpp
  src/js/node/http.ts
  test/js/node/test/parallel/test-http-client-response-timeout.js
Due: prettier --write

Split builtin shell commands into individual files
  src/shell/builtin/basename.zig
  src/shell/builtin/cat.zig
  src/shell/builtin/cd.zig
  src/shell/builtin/cp.zig
  src/shell/builtin/dirname.zig
  src/shell/builtin/echo.zig
  src/shell/builtin/exit.zig
  src/shell/builtin/export.zig
  src/shell/builtin/false.zig
  src/shell/builtin/ls.zig
  src/shell/builtin/mkdir.zig
  src/shell/builtin/mv.zig
  src/shell/builtin/pwd.zig
  src/shell/builtin/rm.zig
  src/shell/builtin/seq.zig
  src/shell/builtin/touch.zig
  src/shell/builtin/true.zig
  src/shell/builtin/which.zig
  src/shell/builtin/yes.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
Due: zig fmt

Move even more files around
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/ipc.zig
  src/io/MaxBuf.zig
  src/io/PipeReader.zig
  src/io/io.zig
  src/shell/EnvMap.zig
  src/shell/EnvStr.zig
  src/shell/IOWriter.zig
  src/shell/ParsedShellScript.zig
  src/shell/RefCountedStr.zig
  src/shell/interpreter.zig
  src/shell/subproc.zig
Due: zig fmt

Move builtin
  src/shell/Builtin.zig
  src/shell/interpreter.zig
Due: zig fmt

Update Builtin.zig
  src/shell/Builtin.zig
Due: zig fmt

Remove bltn pointer
  src/shell/Builtin.zig
  src/shell/builtin/basename.zig
  src/shell/builtin/cat.zig
  src/shell/builtin/cd.zig
  src/shell/builtin/cp.zig
  src/shell/builtin/dirname.zig
  src/shell/builtin/echo.zig
  src/shell/builtin/exit.zig
  src/shell/builtin/export.zig
  src/shell/builtin/false.zig
  src/shell/builtin/ls.zig
  src/shell/builtin/mkdir.zig
  src/shell/builtin/mv.zig
  src/shell/builtin/pwd.zig
  src/shell/builtin/rm.zig
  src/shell/builtin/seq.zig
  src/shell/builtin/touch.zig
  src/shell/builtin/true.zig
  src/shell/builtin/which.zig
  src/shell/builtin/yes.zig
Due: zig fmt

Split shell into more files (#18793)
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/ipc.zig
  src/io/MaxBuf.zig
  src/io/PipeReader.zig
  src/io/io.zig
  src/shell/Builtin.zig
  src/shell/EnvMap.zig
  src/shell/EnvStr.zig
  src/shell/IOWriter.zig
  src/shell/ParsedShellScript.zig
  src/shell/RefCountedStr.zig
  src/shell/builtin/basename.zig
  src/shell/builtin/cat.zig
  src/shell/builtin/cd.zig
  src/shell/builtin/cp.zig
  src/shell/builtin/dirname.zig
  src/shell/builtin/echo.zig
  src/shell/builtin/exit.zig
  src/shell/builtin/export.zig
  src/shell/builtin/false.zig
  src/shell/builtin/ls.zig
  src/shell/builtin/mkdir.zig
  src/shell/builtin/mv.zig
  src/shell/builtin/pwd.zig
  src/shell/builtin/rm.zig
  src/shell/builtin/seq.zig
  src/shell/builtin/touch.zig
  src/shell/builtin/true.zig
  src/shell/builtin/which.zig
  src/shell/builtin/yes.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
  src/shell/subproc.zig
Due: zig fmt
