Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Update sys.zig
  src/sys.zig
Due: zig fmt

bun.mach_port
  src/async/posix_event_loop.zig
  src/bun.js/api/bun/dns_resolver.zig
  src/bun.zig
Due: zig fmt

enum
  src/js/thirdparty/ws.js
Due: prettier --write

Update BuildMimalloc.cmake
  cmake/targets/BuildMimalloc.cmake
Due: none

const
  src/js/thirdparty/ws.js
Due: prettier --write

undo
  src/js/thirdparty/ws.js
Due: prettier --write

`*anyopaque` -> `mach_port_t` (#20243)
  src/async/posix_event_loop.zig
  src/bun.js/api/bun/dns_resolver.zig
  src/bun.zig
  src/darwin.zig
  src/io/io_darwin.cpp
  src/sys.zig
Due: zig fmt

node:net: fix ReferenceError when localPort is passed to Socket connect
  src/js/node/net.ts
Due: prettier --write

Fixes flaky test-http-pipeline-requests-connection-leak.js
  packages/bun-uws/src/HttpParser.h
  src/bun.js/api/bun/socket.zig
  src/js/internal-for-testing.ts
  test/js/bun/http/http-server-chunking.test.ts
Due: prettier --write, zig fmt

Wait for FSEvents thread to exit before exiting the process (#20245)
  src/Global.zig
  src/bun.js/node.zig
  src/bun.js/node/fs_events.zig
Due: zig fmt

fix `"undefined is not an object"` with ctrl+c during `next dev` (#20246)
  src/js/thirdparty/ws.js
Due: prettier --write

Fix `dest` field in sys.Error (#20244)
  src/bun.js/node/node_fs.zig
  src/bun.js/webcore/blob/copy_file.zig
  src/shell/builtin/mv.zig
  src/shell/builtin/rm.zig
  src/sys.zig
Due: zig fmt

Update http-server-chunking.test.ts
  test/js/bun/http/http-server-chunking.test.ts
Due: prettier --write

Fixes flaky test-http-pipeline-requests-connection-leak.js (#20248)
  packages/bun-uws/src/HttpParser.h
  src/bun.js/api/bun/socket.zig
  src/js/internal-for-testing.ts
  src/sys.zig
  test/js/bun/http/http-server-chunking.test.ts
Due: prettier --write, zig fmt

Update src/bun.js/api/server/FileRoute.zig
  src/bun.js/api/server/FileRoute.zig
Due: zig fmt

`bun run prettier`
  src/js/node/net.ts
Due: prettier --write

Implement unified full-stack builds with multi-target graph architecture
  src/bake/DevServer.zig
  src/bundler/Graph.zig
  src/bundler/bundle_v2.zig
  src/bundler/linker_context/generateCodeForLazyExport.zig
  src/options.zig
  unified-build-implementation.md
Due: prettier --write, zig fmt

Implement target-aware chunk generation and HTML import manifest
  src/bundler/linker_context/computeChunks.zig
  src/bundler/linker_context/generateCodeForLazyExport.zig
  src/options.zig
  unified-build-implementation.md
Due: prettier --write, zig fmt

Implement server-side HTML import with dynamic client entry generation
  src/bundler/linker_context/generateCodeForLazyExport.zig
  unified-build-implementation.md
Due: prettier --write, zig fmt

Implement HTML imports with client entry points and manifest generation
  src/bundler/Graph.zig
  src/bundler/bundle_v2.zig
  src/bundler/linker_context/generateCodeForLazyExport.zig
  unified-build-implementation.md
Due: prettier --write, zig fmt

Checkpoint before follow-up message
  src/bundler/linker_context/generateCodeForLazyExport.zig
Due: zig fmt

Checkpoint before follow-up message
  src/bundler/bundle_v2.zig
  unified-build-implementation.md
Due: prettier --write, zig fmt

Implement HTML import manifests with late-binding placeholder resolution
  src/bundler/Chunk.zig
  src/bundler/LinkerContext.zig
  src/bundler/bundle_v2.zig
  src/bundler/linker_context/generateCodeForLazyExport.zig
  unified-build-implementation.md
Due: prettier --write, zig fmt

add BUN_BE_BUN flag
  src/cli.zig
  src/feature_flags.zig
  test/bundler/bundler_compile.test.ts
Due: prettier --write, zig fmt

Add BUN_BE_BUN environment variable flag (#20251)
  src/cli.zig
  src/feature_flags.zig
  test/bundler/bundler_compile.test.ts
Due: prettier --write, zig fmt

Update src/install/lockfile/Package.zig
  src/install/lockfile/Package.zig
Due: zig fmt

Update src/install/install.zig
  src/install/install.zig
Due: zig fmt

Attempt to fix out of bounds access in onFileDeleted
  src/bake/DevServer.zig
Due: zig fmt

chore: update according to review comments
  docs/runtime/bunfig.md
  src/install/install.zig
  test/cli/install/bun-workspaces.test.ts
Due: prettier --write, zig fmt

`bun run zig-format`
  src/bake/DevServer.zig
Due: zig fmt

Update DevServer.zig
  src/bake/DevServer.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
