Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

parser+lower: desugar `accessor` fields into `#storage` + `get`/`set`
  src/js_parser/ast/P.zig
  src/js_parser/ast/parseProperty.zig
  src/js_parser/ast/visitExpr.zig
  test/regression/issue/29197.test.ts
Due: prettier --write, zig fmt

test: mirror #29195 tests under test/regression/issue/ for gate compatibility
  test/regression/issue/29195.test.ts
Due: prettier --write

review: move tests out of regression/ and order init check after first-arg conversion
  src/runtime/webcore/Request.zig
  src/runtime/webcore/fetch.zig
  test/js/web/fetch/fetch.test.ts
  test/regression/issue/29195.test.ts
Due: prettier --write, zig fmt

fetch: mention null in init TypeError message
  src/runtime/webcore/fetch.zig
Due: zig fmt

test: use data: URL for hermetic good-init assertions
  test/regression/issue/29195.test.ts
Due: prettier --write

Request: throw TypeError when init is a non-nullish primitive
  src/runtime/webcore/Request.zig
  test/regression/issue/29195.test.ts
Due: prettier --write, zig fmt

fetch: throw TypeError when init is a non-nullish primitive
  src/runtime/webcore/fetch.zig
  test/regression/issue/29195.test.ts
Due: prettier --write, zig fmt

tighten comments, dedupe test tables, merge symbol case into bad_init
  src/runtime/webcore/Request.zig
  src/runtime/webcore/fetch.zig
  test/js/web/fetch/fetch.test.ts
Due: prettier --write, zig fmt

types: add Map/WeakMap getOrInsert and getOrInsertComputed
  packages/bun-types/globals.d.ts
  test/integration/bun-types/fixture/map.ts
Due: prettier --write

test: use arrayContaining for Map/WeakMap declaration assertions
  test/regression/issue/27380.test.ts
Due: prettier --write

test: add negative case for WeakMap.getOrInsertComputed callback return type
  test/integration/bun-types/fixture/map.ts
Due: prettier --write

test: add regression test for #27380
  test/regression/issue/27380.test.ts
Due: prettier --write

fix(s3): pass downloaded body to handlers with .temporary lifetime
  src/runtime/webcore/Blob.zig
  test/regression/issue/29083.test.ts
Due: prettier --write, zig fmt

test(s3 leak): drop unused CHUNK_MIB, fix stale traffic estimate
  test/regression/issue/29083.test.ts
Due: prettier --write

fix(s3): use transient bytes Store to own download body
  src/runtime/webcore/Blob.zig
  test/regression/issue/29083.test.ts
Due: prettier --write, zig fmt

fix(s3): allocate response body on bun.default_allocator, not the HTTP arena
  src/runtime/webcore/Blob.zig
  src/runtime/webcore/s3/simple_request.zig
Due: zig fmt

test(s3 leak): bind 127.0.0.1 explicitly, loosen budget, surface fixture errors
  test/regression/issue/29083.test.ts
Due: prettier --write

fix(s3): free owned buffer on toUTF16Alloc OOM path
  src/runtime/webcore/Blob.zig
Due: zig fmt

fix(s3): address follow-up review — share store-backed FormData bytes and plug JSON empty-body leak
  src/runtime/webcore/Blob.zig
  test/regression/issue/29083.test.ts
Due: prettier --write, zig fmt

test(s3 leak): pass explicit type: to s3.file() so formData() parses
  test/regression/issue/29083.test.ts
Due: prettier --write

test(s3 leak): scope the regression suite to non-Windows
  test/regression/issue/29083.test.ts
Due: prettier --write

test: address review — use disposable tempDir and drop flaky stderr check
  test/regression/issue/29083.test.ts
Due: prettier --write

test(s3 leak): clear HTTP_PROXY in child so localhost mock reaches the server
  test/regression/issue/29083.test.ts
Due: prettier --write

fix(s3): free native download body in S3BlobDownloadTask
  src/runtime/webcore/Blob.zig
  test/regression/issue/29083.test.ts
Due: prettier --write, zig fmt

fix(s3): free zero-length owned buffer in toArrayBufferViewWithBytes(.temporary)
  src/runtime/webcore/Blob.zig
Due: zig fmt

test(s3 leak): loosen RSS budget from 128 MiB to 200 MiB
  test/regression/issue/29083.test.ts
Due: prettier --write

fix(s3): avoid stray 0-byte allocation from toOwnedSlice on empty body
  src/runtime/webcore/Blob.zig
Due: zig fmt

test(s3 leak): adopt the s3-text-leak-fixture measurement pattern
  test/regression/issue/29083.test.ts
Due: prettier --write

test(s3 leak): restrict to linux-x64 to match existing S3 leak coverage
  test/regression/issue/29083.test.ts
Due: prettier --write

test(s3 leak): correct stale traffic estimate in header comment
  test/regression/issue/29083.test.ts
Due: prettier --write

test(s3 leak): skip on aarch64 to match existing S3 leak test coverage
  test/regression/issue/29083.test.ts
Due: prettier --write

test(s3 leak): drop duplicate rationale paragraph above describe.skipIf
  test/regression/issue/29083.test.ts
Due: prettier --write

fix(s3): apply empty-body guard to Bun.image() S3 path too
  src/runtime/webcore/Blob.zig
Due: zig fmt

simplify kill() change: use Maybe helpers, trim comments
  packages/bun-types/bun.d.ts
  src/js/node/child_process.ts
  src/jsc/ProcessAutoKiller.zig
  src/shell/subproc.zig
  test/integration/bun-types/fixture/spawn.ts
  test/regression/issue/29001.test.ts
Due: prettier --write, zig fmt

docs(bun-types): clarify kill(0) existence-probe behavior in JSDoc
  packages/bun-types/bun.d.ts
Due: prettier --write

address review feedback: detached poller, kill(0) guard, test coverage
  packages/bun-types/bun.d.ts
  src/js/node/child_process.ts
  src/runtime/api/bun/process.zig
  test/regression/issue/29001.test.ts
Due: prettier --write, zig fmt

test(29001): fix inaccurate comment about ESRCH coverage
  test/regression/issue/29001.test.ts
Due: prettier --write

docs(bun-types): clarify kill() returns false for any 'unreachable' path
  packages/bun-types/bun.d.ts
Due: prettier --write

fix(child_process): kill() returns false once the child has exited
  packages/bun-types/bun.d.ts
  src/js/node/child_process.ts
  src/jsc/ProcessAutoKiller.zig
  src/runtime/api/bun/process.zig
  src/runtime/api/bun/subprocess.zig
  src/shell/subproc.zig
  test/regression/issue/29001.test.ts
Due: prettier --write, zig fmt
