Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Remove with `git rm`
  .gitmodules
Due: none

try using git action
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Due: none

Update bun-linux-build.yml
  .github/workflows/bun-linux-build.yml
Due: none

try this
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Due: none

Don't rm cached
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Due: none

Revert "Omit frame pointer"
  Makefile
Due: none

2 frames
  src/bun.js/bindings/wtf-bindings.cpp
Due: none

empty test name must be omitted
  src/resolver/resolve_path.zig
Due: zig fmt

Fix: invalid builtin function: '@maximum'
  misctools/http_bench.zig
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/syscall.zig
  src/bun.js/node/types.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/cli.zig
  src/cli/add_completions.zig
  src/cli/upgrade_command.zig
  src/css_scanner.zig
  src/fs.zig
  src/http.zig
  src/http/url_path.zig
  src/http_client_async.zig
  src/install/install.zig
  src/install/integrity.zig
  src/install/npm.zig
  src/install/resolvers/folder_resolver.zig
  src/js_ast.zig
  src/js_printer.zig
  src/libarchive/libarchive.zig
  src/logger.zig
  src/mdx/mdx_parser.zig
  src/network_thread.zig
  src/report.zig
  src/router.zig
  src/sourcemap/sourcemap.zig
  src/string_immutable.zig
  src/string_types.zig
  src/url.zig
  src/watcher.zig
  src/work_pool.zig
Due: zig fmt

Fix: number '0000010' has leading zero
  src/bundler/generate_node_modules_bundle.zig
  src/install/lockfile.zig
Due: zig fmt

Fix: number '0000010' has leading zero
  src/libarchive/libarchive-bindings.zig
Due: zig fmt

Fix: capture shadows declaration of 'str'
  src/install/npm.zig
Due: zig fmt

Fix: pointless discard of function parameter
  src/http_client_async.zig
Due: zig fmt

Fix: @ctz - expected 1 argument, found 2
  src/lock.zig
Due: zig fmt

Fix: @ctz - expected 1 argument, found 2
  src/js_lexer.zig
Due: zig fmt

Fix: @ctz - expected 1 argument, found 2
  src/sync.zig
Due: zig fmt

Fix: @ctz - expected 1 argument, found 2
  src/string_immutable.zig
Due: zig fmt

Add test that fails on linux
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStream.js
  src/bun.js/builtins/js/ReadableStreamInternals.js
  test/bun.js/bunExe.ts
  test/bun.js/spawn-streaming-stdout-repro.js
  test/bun.js/spawn-streaming-stdout.test.ts
Due: prettier --write

Fix: declaration 'Type' shadows function parameter from outer scope
  src/ref_count.zig
Due: zig fmt

Fix: empty test name must be omitted
  src/fs.zig
Due: zig fmt

Fix: octal has leading zeros
  src/bun.js/node/node_fs.zig
  src/c.zig
  src/install/install.zig
Due: zig fmt

Fix: @ctz/@popCount - expected 1 argument, found 2
  src/http/websocket.zig
  src/http/websocket_http_client.zig
  src/install/bit_set.zig
  src/string_immutable.zig
Due: zig fmt

Fix: shadowing
  src/bun.js/unbounded_queue.zig
  src/bun.js/webcore/streams.zig
  src/install/lockfile.zig
  src/install/npm.zig
  src/js_parser.zig
Due: zig fmt

Fix: shadowing
  src/bun.js/unbounded_queue.zig
Due: zig fmt

Fix: shadowing
  src/bun.js/api/bun.zig
  src/bun.js/base.zig
  src/install/npm.zig
Due: zig fmt

Fix: unused
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/event_loop.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_binding.zig
  src/bun.js/unbounded_queue.zig
  src/darwin_c.zig
Due: zig fmt

Fix: undo mistake
  src/install/bit_set.zig
Due: zig fmt

Fix: function type cannot have a name
  src/panic_handler.zig
Due: zig fmt

Fix: unused stuff
  src/bun.js/node/node_fs.zig
Due: zig fmt

Fix: addIncludeDir -> addIncludeDir
  build.zig
Due: zig fmt

Fix: openDirIterable
  build.zig
  src/bun.js/node/node_fs.zig
Due: zig fmt

Fix: addLibPath -> addLibraryPath
  build.zig
Due: zig fmt

Fix: Dir.Entry -> IterableDir.Entry
  build.zig
Due: zig fmt

Fix: leading zeroes
  src/deps/zig-datetime/src/datetime.zig
Due: zig fmt

Fix: Shadowing
  src/deps/uws.zig
Due: zig fmt

Fix: Ambiguous references
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
