Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Update packages/bun-types/bun.d.ts
  packages/bun-types/bun.d.ts
Due: prettier --write

fix: test ffi.
  bench/deno.json
Due: none

Split WebSocket into more files (#19471)
  src/fd.zig
  src/http/websocket.zig
  src/http/websocket_client.zig
  src/http/websocket_client/CppWebSocket.zig
  src/http/websocket_client/WebSocketUpgradeClient.zig
  src/http/websocket_http_client.zig
  test/internal/ban-words.test.ts
Due: prettier --write, zig fmt

sync webkit (#19467)
  cmake/targets/BuildBun.cmake
  cmake/tools/SetupWebKit.cmake
Due: none

add back perf tester (#19484)
  .buildkite/ci.mjs
  .buildkite/scripts/upload-benchmark.mjs
Due: none

`node:util` fixes (#19439)
  src/js/internal/promisify.ts
  src/js/node/fs.ts
  src/js/node/readline.ts
  src/js/node/timers.promises.ts
  test/js/node/test/parallel/test-util-promisify-custom-names.mjs
  test/js/node/test/parallel/test-util-promisify.js
  test/js/node/test/parallel/test-util-types-exists.js
  test/js/node/util/util-promisify.test.js
Due: prettier --write

Normalize websocket URL in HMR to support older versions of Chrome (#19469)
  src/bake/client/websocket.ts
Due: prettier --write

this isnt passing on main either
  test/js/node/test/parallel/test-worker-message-port-wasm-threads.js
Due: prettier --write

we report openssl v1 but hit the error in the comment for openssl v3
  test/js/node/test/parallel/test-tls-cert-ext-encoding.js
Due: prettier --write

abortsignal util custom inspect
  src/bun.js/bindings/webcore/JSAbortController.cpp
  src/bun.js/bindings/webcore/JSAbortSignal.cpp
  test/js/node/test/parallel/test-abortcontroller.js
Due: prettier --write

abortsignal correct event prototype
  src/bun.js/bindings/webcore/JSEvent.cpp
  src/bun.js/bindings/webcore/JSEvent.h
Due: none

windows fix 2
  src/deps/uws/socket.zig
Due: zig fmt

use gc(true)
  test/js/node/test/parallel/test-abortcontroller.js
Due: prettier --write

jest tests
  test/js/node/abortcontroller.test.ts
Due: prettier --write

.
  test/js/node/abortcontroller.test.ts
Due: prettier --write

Add "did you mean" for `bun run` scripts that are mistyped
  src/cli/run_command.zig
  src/output.zig
  src/string/did_you_mean.zig
  src/string_immutable.zig
  test/cli/run/if-present.test.ts
Due: prettier --write, zig fmt

fix test-http2-trailers-after-session-close.js regression
  src/js/node/net.ts
Due: prettier --write

tidy some logs
  src/js/internal/streams/writable.ts
  src/js/node/net.ts
Due: prettier --write

Windows
  src/cli/run_command.zig
Due: zig fmt

new and not passing, investigate later
  test/js/node/test/parallel/test-net-socket-local-address.js
Due: prettier --write

Fixes #19475
  src/bake/DevServer.zig
  src/bake/bake.zig
  src/bun.js/ModuleLoader.zig
  src/bun.js/api/JSTranspiler.zig
  src/js_ast.zig
Due: zig fmt

simplify
  src/bake/DevServer.zig
  src/bun.js/ModuleLoader.zig
  src/bun.js/api/JSTranspiler.zig
  src/js_ast.zig
Due: zig fmt

Fix
  src/js_ast.zig
Due: zig fmt

Update js_ast.zig
  src/js_ast.zig
Due: zig fmt

Update INotifyWatcher.zig
  src/watcher/INotifyWatcher.zig
Due: zig fmt

Maybe fix
  src/watcher/INotifyWatcher.zig
Due: zig fmt

Add padding
  src/Watcher.zig
Due: zig fmt

Make this packed struct a u8
  src/js_lexer.zig
Due: zig fmt

Try this
  src/watcher/INotifyWatcher.zig
Due: zig fmt

Fix a bug
  src/watcher/INotifyWatcher.zig
Due: zig fmt

any platform could have bom
  src/sys.zig
Due: zig fmt

add and move tests
  test/cli/install/bun-install-registry.test.ts
  test/cli/install/npmrc.test.ts
Due: prettier --write

remove old comment
  src/sys.zig
Due: zig fmt

keep same behavior
  packages/bun-uws/src/HttpParser.h
Due: none

better
  packages/bun-uws/src/HttpParser.h
Due: none

wip
  packages/bun-uws/src/HttpContext.h
  packages/bun-uws/src/HttpParser.h
Due: none

cleanuop
  packages/bun-uws/src/HttpParser.h
Due: none
