Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

bump
  package.json
Due: none

ci: always build images when core ci files change (#15229)
  .buildkite/ci.mjs
  scripts/utils.mjs
Due: none

zig: remove noop JSGlobalObject.ptr() (#15268)
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/types.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/response.zig
  src/deps/c_ares.zig
  src/sys.zig
Due: zig fmt

Revert "fix(tls) fix type matching" (#15243)
  packages/bun-usockets/src/libusockets.h
  src/deps/boringssl.translated.zig
  src/deps/uws.zig
  src/http.zig
Due: zig fmt

docker:alpine: update to 3.20 and use bun musl build (#15241)
  dockerhub/alpine/Dockerfile
Due: none

Implement junit test reporter (#15205)
  docs/cli/test.md
  src/bunfig.zig
  src/cli.zig
  src/cli/test_command.zig
  test/bun.lockb
  test/js/junit-reporter/junit.test.js
  test/package.json
Due: prettier --write, zig fmt

cmake: Set explicit rustc target
  cmake/targets/BuildLolHtml.cmake
Due: none

Bun v1.1.36 [release]
  .buildkite/ci.mjs
  LATEST
  package.json
Due: none

Revert "cmake: Set explicit rustc target"
  cmake/targets/BuildLolHtml.cmake
Due: none

Bun v1.1.36 [release]
  .buildkite/ci.mjs
Due: none

ci: changedFiles can be undefined
  .buildkite/ci.mjs
Due: none

fix(tls) fix type matching (#15224)
  packages/bun-usockets/src/libusockets.h
  src/deps/boringssl.translated.zig
  src/deps/uws.zig
  src/http.zig
Due: zig fmt

Call Bun__onExit + std.os.windows.kernel32.ExitProcess to exit on Windows (#15237)
  src/Global.zig
  src/bun.js/bindings/c-bindings.cpp
Due: zig fmt

ci: Disable changed files detection until bugs are fixed
  .buildkite/ci.mjs
Due: none

Fix bundler crash with onLoad plugins on copy-file loaders used on entrypoints (#15231)
  src/bundler/bundle_v2.zig
  src/options.zig
  test/bundler/bundler_loader.test.ts
Due: prettier --write, zig fmt

us_bun_verify_error_t: ensure c struct matches zig extern (#15244)
  packages/bun-usockets/src/libusockets.h
Due: none

zig: make throwNotEnoughArguments use JSError (#15266)
  src/bun.js/api/BunObject.zig
  src/bun.js/api/bun/dns_resolver.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_http_binding.zig
  src/bun.js/node/node_util_binding.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/ObjectURLRegistry.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
  src/fmt.zig
  src/shell/interpreter.zig
Due: zig fmt

fix(Bun.file) throw OOM if read is too big (#15253)
  src/bun.js/webcore/blob/ReadFile.zig
Due: zig fmt

Fix typo in 15276.test.ts (#15304)
  test/regression/issue/15276.test.ts
Due: prettier --write

bindings: make throwInvalidArgumentTypeValue print the value like the real ERR_INVALID_ARG_TYPE (#14804)
  src/bun.js/bindings/bindings.zig
  test/js/node/crypto/pbkdf2.test.ts
Due: prettier --write, zig fmt

bunjs: print received value when Bun.write is passed a bad argument (#14805)
  src/bun.js/webcore/blob.zig
Due: zig fmt

docs: `--bail [n]` -> `--bail=[n]` (#15301)
  docs/cli/test.md
  docs/guides/test/bail.md
  docs/guides/test/migrate-from-jest.md
Due: prettier --write

zig: make throwError use JSError (#15267)
  src/bake/FrameworkRouter.zig
  src/bake/bake.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/webcore/response.zig
  src/fmt.zig
  src/ini.zig
  src/patch.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
  src/sql/postgres.zig
  src/url.zig
Due: zig fmt

ci: disable testing on debian 10
  .buildkite/ci.mjs
Due: none

zig: JSValue: make .get and .toSliceOrNull use JSError (#15270)
  src/bake/DevServer.zig
  src/bake/bake.zig
  src/bake/production.zig
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/dns_resolver.zig
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/filesystem_router.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_cluster_binding.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_stat_watcher.zig
  src/bun.js/node/node_os.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/jest.zig
  src/bun.js/test/pretty_format.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
  src/bundler.zig
  src/css/values/color_js.zig
  src/dns.zig
  src/fmt.zig
  src/install/install.zig
  src/linker.zig
  src/url.zig
Due: zig fmt

zig: make throwTODO use JSError (#15264)
  src/bun.js/api/BunObject.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/spawn/stdio.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.zig
  src/codegen/generate-node-errors.ts
  src/install/dependency.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
Due: prettier --write, zig fmt

fix(root_cert) use a more reliable source for the latest cert (#15262)
  packages/bun-usockets/generate-root-certs.mjs
Due: none

fix fuzzy-wuzzy test (#15297)
  src/bun.js/webcore/blob.zig
Due: zig fmt

ci: bootstrap.sh: musl download of bun no longer has to be special-cased (#15265)
  scripts/bootstrap.sh
Due: none

Remove Amazon Linux 2023 tests for now
  .buildkite/ci.mjs
Due: none

fix(install): ensure aliases hash map is initialized (#15280)
  src/cli/bunx_command.zig
  src/cli/outdated_command.zig
  src/install/dependency.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/migration.zig
  src/install/npm.zig
  src/install/resolvers/folder_resolver.zig
  src/resolver/package_json.zig
  src/resolver/resolver.zig
  test/regression/issue/15276.test.ts
Due: prettier --write, zig fmt

Print compilation progress in node-napi.test.ts
  test/napi/node-napi.test.ts
Due: prettier --write

delete axios file
  packages/bun-vscode/example/axios.ts
Due: prettier --write

Increase napi timeout
  scripts/runner.node.mjs
Due: none

quick fix
  src/js/node/http.ts
Due: prettier --write

report stack trace as relatedInformation - not split as separate problems in user src and node_modules
  packages/bun-vscode/src/features/diagnostics/diagnostics.ts
Due: prettier --write

rm comments
  packages/bun-vscode/src/features/diagnostics/diagnostics.ts
Due: prettier --write

rename output channel
  packages/bun-vscode/src/features/diagnostics/diagnostics.ts
Due: prettier --write

ok fixed
  src/js/node/http.ts
Due: prettier --write
