Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

update
  test/js/node/test/parallel/test-http2-client-rststream-before-connect.js
Due: prettier --write

more
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
  src/js/node/net.ts
Due: prettier --write, zig fmt

more
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/bindings/ErrorCode.ts
Due: prettier --write, zig fmt

not anymore
  test/js/node/test/parallel/test-http2-reset-flood.js
Due: prettier --write

more
  src/bun.js/api/bun/h2_frame_parser.zig
  test/js/node/test/parallel/test-http2-close-while-writing.js
Due: prettier --write, zig fmt

almost
  scripts/check-node-all.sh
  src/js/node/http2.ts
  test/js/node/test/parallel/test-http2-graceful-close.js
  test/js/node/test/parallel/test-http2-server-close-idle-connection.js
Due: prettier --write

ok
  src/js/node/net.ts
Due: prettier --write

more
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
  test/js/node/test/parallel/test-http2-client-setLocalWindowSize.js
  test/js/node/test/parallel/test-http2-misbehaving-flow-control-paused.js
  test/js/node/test/parallel/test-http2-misbehaving-flow-control.js
  test/js/node/test/parallel/test-http2-misbehaving-multiplex.js
Due: prettier --write, zig fmt

more
  src/js/node/http2.ts
  test/js/node/test/parallel/test-http2-cancel-while-client-reading.js
Due: prettier --write

disable cork
  src/bun.js/api/bun/h2_frame_parser.zig
Due: zig fmt

ok
  src/bun.js/api/bun/h2_frame_parser.zig
Due: zig fmt

ok
  src/bun.js/api/bun/socket.zig
  test/js/node/test/parallel/test-http2-client-rststream-before-connect.js
  test/js/node/test/parallel/test-http2-large-write-multiple-requests.js
  test/js/node/test/parallel/test-http2-pipe-named-pipe.js
  test/js/third_party/grpc-js/test-idle-timer.test.ts
  test/js/third_party/grpc-js/test-resolver.test.ts
  test/js/third_party/grpc-js/test-server-deadlines.test.ts
  test/js/third_party/grpc-js/test-server-errors.test.ts
  test/js/third_party/grpc-js/test-server.test.ts
Due: prettier --write, zig fmt

more
  src/bun.js/api/bun/h2_frame_parser.zig
  test/js/node/test/parallel/test-http2-compat-serverresponse-write.js
Due: prettier --write, zig fmt

more
  src/bun.js/api/bun/h2_frame_parser.zig
Due: zig fmt

more
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
  test/js/node/test/parallel/test-http2-client-setLocalWindowSize.js
  test/js/node/test/parallel/test-http2-client-upload.js
Due: prettier --write, zig fmt

more fixes
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
  test/js/node/test/parallel/test-http2-client-jsstream-destroy.js
  test/js/node/test/parallel/test-http2-stream-destroy-event-order.js
  test/js/third_party/grpc-js/test-call-propagation.test.ts
Due: prettier --write, zig fmt

failing on linux
  test/js/third_party/grpc-js/test-resolver.test.ts
Due: prettier --write

back
  test/js/node/test/parallel/test-http2-compat-serverresponse-flushheaders.js
Due: prettier --write

uncomment
  test/js/node/test/parallel/test-http2-session-stream-state.js
Due: prettier --write

more
  src/js/node/http2.ts
Due: prettier --write

deref
  src/bun.js/api/bun/h2_frame_parser.zig
Due: zig fmt

opsie
  src/bun.js/api/bun/h2_frame_parser.zig
Due: zig fmt

cleanup
  src/js/node/http2.ts
Due: prettier --write

more and break more
  test/js/node/test/parallel/test-http2-large-write-close.js
  test/js/node/test/parallel/test-http2-pipe-named-pipe.js
  test/js/node/test/parallel/test-http2-premature-close.js
Due: prettier --write

uno
  src/bun.js/api/bun/h2_frame_parser.zig
  test/js/node/test/parallel/test-http2-pipe-named-pipe.js
Due: prettier --write, zig fmt

merge issue
  src/bun.js/event_loop.zig
  src/bun.js/event_loop/README.md
Due: prettier --write, zig fmt

delete event_loop/README.md
  src/bun.js/event_loop/README.md
Due: prettier --write

Normalize path expected
  test/cli/test/coverage.test.ts
Due: prettier --write

couple of tests
  test/js/node/worker_threads/spawn-sync-message-port.test.ts
  test/js/web/workers/message-port-immediate-cpp-tasks.test.ts
Due: prettier --write

avoid assertion error
  src/bun.js/web_worker.zig
Due: zig fmt

irrelevant
  test/js/node/worker_threads/spawn-sync-message-port.test.ts
Due: prettier --write

Address feedback
  src/bun.js/bindings/NodeVM.cpp
  src/bun.js/bindings/NodeVMSourceTextModule.cpp
  src/bun.js/bindings/NodeVMSyntheticModule.cpp
Due: none

@eastlondoner
  .cursor/rules/vibe-tools.mdc
  .gitignore
Due: none

State CPU requirements in README
  README.md
Due: prettier --write

add "at this time"
  README.md
Due: prettier --write

.
  categories.txt
  test/js/node/test/parallel/test-tls-handshake-exception.js
Due: prettier --write

.
  categories.txt
  test/js/node/test/parallel/test-tls-legacy-deprecated.js
Due: prettier --write
