Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

css: bound selector expansion through nesting-holding at-rules (#31482)
  src/css/rules/mod.rs
  src/css/rules/style.rs
  src/css/rules/supports.rs
  test/js/bun/css/nested-selector-list-expansion.test.ts
Due: prettier --write

fix(ffi): apply cstring return wrapper to cc symbols
  docs/runtime/c-compiler.mdx
  src/js/bun/ffi.ts
  test/js/bun/ffi/cc.test.ts
Due: prettier --write

test: verify indexOf/lastIndexOf with explicit byteOffset are unchanged
  test/js/node/buffer.test.js
Due: prettier --write

yaml: only clear has_anchor in MappingValue e-node arm, keep overflow for post-loop guards
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

encoding: leave reference TextEncoder.zig untouched
  src/runtime/webcore/TextEncoder.zig
Due: zig fmt

install: synchronize trusted dependency lookups in the isolated installer
  src/install/isolated_install/Installer.rs
Due: none

install: pin a computed sha512 for npm packages whose manifest has no usable integrity
  src/install/PackageManager/processDependencyList.rs
  src/install/TarballStream.rs
  src/install/extract_tarball.rs
  test/cli/install/bun-install-tarball-integrity.test.ts
Due: prettier --write

test: pipeline the http2 maxSessionMemory test and scale it down on debug builds
  test/js/node/http2/node-http2.test.js
Due: prettier --write

remove redundant comments
  src/install/PackageManager/processDependencyList.rs
  src/install/extract_tarball.rs
Due: none

install: narrow the trusted dependency lock scope
  src/install/PackageInstaller.rs
  src/install/isolated_install/Installer.rs
  src/install/lockfile/Package/Scripts.rs
  src/runtime/cli/pm_trusted_command.rs
Due: none

install: copy the postinstall script in the node-gyp rebuild branch
  src/install/lockfile/Package/Scripts.rs
Due: none

Only reconstruct file-backed Blobs from in-process structured clone
  src/codegen/generate-classes.ts
  src/jsc/bindings/webcore/SerializedScriptValue.cpp
  src/jsc/bindings/webcore/SerializedScriptValue.h
  src/runtime/node/net/BlockList.rs
  src/runtime/webcore/Blob.rs
  test/js/web/structured-clone-blob-file.test.ts
  test/js/web/workers/structured-clone.test.ts
  test/js/web/workers/structuredClone-classes.test.ts
Due: prettier --write

install: update lock-discipline comments after narrowing the guard
  src/install/isolated_install/Installer.rs
Due: none

test: silence expected child-process rejection output in the clone fixtures
  test/js/web/workers/structured-clone.test.ts
  test/js/web/workers/structuredClone-classes.test.ts
Due: prettier --write

remove redundant comments
  src/jsc/bindings/webcore/SerializedScriptValue.cpp
  src/jsc/bindings/webcore/SerializedScriptValue.h
  src/runtime/webcore/Blob.rs
Due: none

remove redundant comments
  src/install/PackageInstaller.rs
  src/install/isolated_install/Installer.rs
  src/runtime/cli/pm_trusted_command.rs
Due: none

net: default server socket rejectUnauthorized from the listener and gate peer verification on requestCert
  src/js/node/net.ts
  test/js/node/tls/node-tls-cert.test.ts
Due: prettier --write

test: wait for the client handshake result in the unverified-client fixture
  test/js/node/tls/node-tls-cert.test.ts
Due: prettier --write

remove redundant comments
  src/js/node/net.ts
Due: prettier --write

tls: defer upgraded-duplex teardown to the owning context's close task
  src/runtime/socket/UpgradedDuplex.rs
  test/js/node/http2/node-http2-upgrade.test.mts
Due: none

sqlite: guard process-global databases Vector with a lock
  src/jsc/bindings/sqlite/JSSQLStatement.cpp
  test/js/bun/sqlite/sqlite-worker-concurrent-open-fixture.js
  test/js/bun/sqlite/sqlite-worker.test.ts
Due: prettier --write

test: wait for worker exit instead of terminating on message
  test/js/bun/sqlite/sqlite-worker-concurrent-open-fixture.js
  test/js/bun/sqlite/sqlite-worker.test.ts
Due: prettier --write

BunString: use ThrowScope + RETURN_IF_EXCEPTION in fromJS/toStringRef
  src/jsc/bindings/BunString.cpp
  test/js/web/fetch/blob-fromjs-stringify.test.ts
Due: prettier --write

test: use tempDir fixture instead of tmpdirSync
  test/js/web/fetch/blob-fromjs-stringify.test.ts
Due: prettier --write

test: move worker race test into sqlite.test.js, warm lazy dlsym table
  test/js/bun/sqlite/sqlite-worker-concurrent-open-fixture.js
  test/js/bun/sqlite/sqlite-worker.test.ts
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

test: filter ASAN startup banner from subprocess stderr
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

test: drop dead postMessage in worker fixture
  test/js/bun/sqlite/sqlite-worker-concurrent-open-fixture.js
Due: prettier --write

test: add native hook to synthesize null-without-exception for BunString__fromJS
  src/js/internal-for-testing.ts
  src/jsc/bindings/InternalForTesting.cpp
  src/jsc/bindings/InternalForTesting.h
  test/js/web/fetch/blob-fromjs-stringify.test.ts
Due: prettier --write

bun_core/util: delete unused ArrayLike trait and from_slice helpers
  src/bun_core/util.rs
Due: none

fix(ffi): guard cc stack-trace label against array source
  src/js/bun/ffi.ts
Due: prettier --write

js_parser: discard the fake if-block scope for a forward-declared function (#31533)
  src/js_parser/parse/parse_fn.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

node:buffer: default lastIndexOf(value, encoding) to search from the end (#31507)
  src/jsc/bindings/JSBuffer.cpp
  test/js/node/buffer.test.js
Due: prettier --write

test: close file descriptors opened by structured clone tests
  test/js/web/structured-clone-blob-file.test.ts
  test/js/web/workers/structured-clone.test.ts
Due: prettier --write

BunString: use exceptionForInspection() instead of a verifying ThrowScope
  src/jsc/bindings/BunString.cpp
Due: none

fix(ffi): pass napi_value/napi_env args through without coercion
  src/js/bun/ffi.ts
  test/js/bun/ffi/cc.test.ts
Due: prettier --write

test(ffi): only tolerate missing node_api.h in cc napi test
  test/js/bun/ffi/cc.test.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
