Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

ci: Fix detection of changed files (#15114)
  .buildkite/ci.mjs
  scripts/utils.mjs
Due: none

cpp: Bun::toStringRef: return dead when exception has been thrown (#15127)
  src/bun.js/bindings/BunString.cpp
Due: none

test: dont overwrite root package.json when running bun-ipc-inherit.test.ts (#15126)
  test/js/bun/spawn/bun-ipc-inherit.test.ts
Due: prettier --write

musl patches [v4] (#15066)
  cmake/targets/BuildBun.cmake
  cmake/tools/SetupWebKit.cmake
  src/bun.js/module_loader.zig
  src/compile_target.zig
  src/js/thirdparty/detect-libc.musl.js
  test/harness.ts
  test/js/bun/spawn/spawn.test.ts
  test/js/node/process/call-raise.js
  test/mkfifo.ts
Due: prettier --write, zig fmt

ci: Fix changed files detection on forks
  .buildkite/ci.mjs
Due: none

zig: remove JSValue.isEmpty (#15128)
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/bindings/JSPropertyIterator.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/encoding.zig
  src/js_ast.zig
  src/napi/napi.zig
  src/resolver/resolver.zig
  src/shell/shell.zig
Due: zig fmt

#15059 follow-up (#15118)
  src/install/install.zig
Due: zig fmt

zig: make all JS constructors use JSError (#15146)
  src/bun.js/BuildMessage.zig
  src/bun.js/ResolveMessage.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/filesystem_router.zig
  src/bun.js/api/glob.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_fs_binding.zig
  src/bun.js/node/node_zlib_binding.zig
  src/bun.js/node/types.zig
  src/bun.js/test/expect.zig
  src/bun.js/webcore.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/body.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/request.zig
  src/bun.js/webcore/response.zig
  src/codegen/generate-classes.ts
  src/sql/postgres.zig
Due: prettier --write, zig fmt

rid nearly all use of `ExceptionRef` in zig (#15100)
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/modules/NodeModuleModule.cpp
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_binding.zig
  src/bun.js/node/node_fs_stat_watcher.zig
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/node_zlib_binding.zig
  src/bun.js/node/types.zig
  src/bun.js/node/util/parse_args.zig
  src/bun.js/node/util/validators.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
  src/comptime_string_map.zig
  src/fd.zig
  src/js_ast.zig
  src/options.zig
  src/string.zig
  test/js/bun/spawn/does-not-hang.js
Due: prettier --write, zig fmt

Remove assertion in js printer triggering for unicode comments (#15143)
  src/js_printer.zig
  test/bundler/bundler_bun.test.ts
Due: prettier --write, zig fmt

fix(socket) Support named pipes on Windows using forward slashes (#15112)
  src/bun.js/api/bun/socket.zig
  test/js/node/net/node-net.test.ts
Due: prettier --write, zig fmt

fix(bundler) fix pretty path resolution (#15119)
  src/bundler/bundle_v2.zig
  test/bundler/cli.test.ts
Due: prettier --write, zig fmt

Shrink Bun's binary by 3.5 MB (#15121)
  cmake/targets/BuildBun.cmake
  packages/bun-usockets/src/crypto/root_certs.cpp
  src/allocators.zig
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/JS2Native.cpp
  src/bun.js/bindings/JSBufferEncodingType.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/webcore/FetchHeaders.cpp
  src/bun.js/bindings/webcore/HTTPHeaderNames.h
  src/bun.js/bindings/webcore/HTTPHeaderStrings.cpp
  src/bun.js/bindings/webcore/WebSocket.cpp
  src/bun.js/bindings/workaround-missing-symbols.cpp
  src/cli/outdated_command.zig
  src/codegen/bundle-functions.ts
  src/codegen/generate-js2native.ts
  src/fs.zig
  src/install/dependency.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/npm.zig
  src/install/repository.zig
  src/resolver/resolver.zig
Due: prettier --write, zig fmt

ci: fix release script (#15129)
  .buildkite/scripts/upload-release.sh
Due: none

fix auto-install on windows when symlinks aren't available (#15182)
  src/install/extract_tarball.zig
  src/install/install.zig
  src/sys.zig
  test/cli/install/bun-add.test.ts
  test/cli/install/bun-install.test.ts
  test/cli/install/registry/__snapshots__/bun-install-registry.test.ts.snap
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

node:https: fix prototype chain of Agent (#15160)
  src/js/internal/cluster/Worker.ts
  src/js/node/fs.ts
  src/js/node/http.ts
  src/js/node/https.ts
  test/js/node/http/node-http.test.ts
Due: prettier --write

Fixed Responses to OPTIONS Requests ignore Body (#15108)
  src/http/method.zig
  test/js/bun/http/bun-server.test.ts
  test/js/node/http/node-http.test.ts
Due: prettier --write, zig fmt

fix(HttpParser) always check if content length is valid before calling requestHandler (#15179)
  packages/bun-uws/src/HttpParser.h
Due: none

docs: remove contributing instructions involving winget (#15176)
  docs/project/building-windows.md
Due: prettier --write

ci: skip running tests on main branch
  .buildkite/ci.mjs
Due: none

zig: align fromJS methods to using JSError (#15165)
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/udp_socket.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/glob.zig
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_crypto_binding.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_stat_watcher.zig
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/types.zig
  src/bun.js/test/expect.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/bun.zig
  src/install/dependency.zig
  src/install/install.zig
  src/logger.zig
  src/options.zig
  src/sql/postgres.zig
  src/sql/postgres/postgres_types.zig
  src/string.zig
Due: zig fmt

Fix(doc): update cluster.md (#15214)
  docs/guides/http/cluster.md
Due: prettier --write

musl: fix third_party/prisma.test.ts (#15186)
  cmake/targets/BuildBun.cmake
Due: none

Ensure that lolhtml builds the target platform
  cmake/targets/BuildLolHtml.cmake
Due: none

Fix `node:net` not handling path in `listen` (#15162)
  src/js/node/net.ts
  test/js/node/net/node-net-server.test.ts
  test/js/node/test/parallel/pipe-abstract-socket.test.js
Due: prettier --write

Try linker script (#15158)
  cmake/targets/BuildBun.cmake
  cmake/targets/BuildLolHtml.cmake
  cmake/tools/SetupLLVM.cmake
  src/napi/napi.zig
Due: zig fmt

musl: fix test/js/node/process/process.test.js (#15185)
  test/js/node/process/process.test.js
Due: prettier --write

musl: fix 'bun upgrade' (#15178)
  src/cli/upgrade_command.zig
Due: zig fmt

ci: musl builds (#15154)
  .buildkite/ci.mjs
  .buildkite/scripts/upload-release.sh
  ci/linux/Dockerfile
  ci/linux/scripts/set-hostname.sh
  ci/linux/scripts/start-tailscale.sh
  ci/package.json
  cmake/Globals.cmake
  cmake/targets/BuildBun.cmake
  cmake/toolchains/linux-aarch64-musl.cmake
  cmake/toolchains/linux-x64-baseline.cmake
  cmake/toolchains/linux-x64-musl-baseline.cmake
  cmake/toolchains/linux-x64-musl.cmake
  cmake/tools/SetupGit.cmake
  cmake/tools/SetupLLVM.cmake
  cmake/tools/SetupWebKit.cmake
  cmake/tools/SetupZig.cmake
  scripts/agent.mjs
  scripts/bootstrap.sh
  scripts/build.mjs
  scripts/features.mjs
  scripts/machine.mjs
  scripts/runner.node.mjs
  scripts/utils.mjs
  src/cli/install.sh
Due: none

Fixes #15177 (#15180)
  src/bun_js.zig
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

docs(contributing): group os-specific code tabs (#15173)
  CONTRIBUTING.md
Due: prettier --write

[Bun.sql] Support TLS (#15217)
  packages/bun-usockets/src/crypto/openssl.c
  packages/bun-usockets/src/libusockets.h
  src/bun.js/api/bun/socket.zig
  src/bun.js/bindings/bindings.zig
  src/deps/uws.zig
  src/js/bun/sql.ts
  src/sql/postgres.zig
  test/js/sql/tls-sql.test.ts
Due: prettier --write, zig fmt

ci: Expand automated build images to Debian, Ubuntu, and Amazon Linux (#15250)
  .buildkite/ci.mjs
  scripts/agent.mjs
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/machine.mjs
  scripts/utils.mjs
  src/bun.js/api/ffi.zig
Due: zig fmt

Fix docs on todo tests (#15233)
  docs/guides/test/todo-tests.md
  docs/test/writing.md
  packages/bun-types/test.d.ts
Due: prettier --write

ci: Do not check changed files on main
  .buildkite/ci.mjs
Due: none

Support `Headers` & `URLSearchParams` in expect().toEqual() (#15195)
  src/bun.js/bindings/BunInjectedScriptHost.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/webcore/FetchHeaders.h
  src/bun.js/test/expect.zig
  test/js/bun/test/expect.test.js
Due: prettier --write, zig fmt

Fix setTimeout with node:util.promisify (#15230)
  src/js/internal/promisify.ts
  src/js/node/timers.ts
  test/regression/issue/015201.test.ts
Due: prettier --write

zig: align getTruthy to use JSError (#15199)
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/bun/udp_socket.zig
  src/bun.js/api/bun/x509.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/filesystem_router.zig
  src/bun.js/api/glob.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/path.zig
  src/bun.js/test/expect.zig
  src/bun.js/webcore.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/request.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/css/css_internals.zig
  src/css/values/color_js.zig
Due: zig fmt

Revert "Ensure that lolhtml builds the target platform"
  cmake/targets/BuildLolHtml.cmake
Due: none
