Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

socket: null handlers after client markInactive frees them
  src/bun.js/api/bun/socket.zig
  test/js/bun/net/socket.test.ts
Due: prettier --write, zig fmt

dns: use stackFallback+dupeZ for getaddrinfo hostname instead of fixed PathBuffer
  src/bun.js/api/bun/dns.zig
  test/js/bun/dns/resolve-dns.test.ts
Due: prettier --write, zig fmt

socket: guard flush() with isDetached() to prevent UAF on TLS close (#30136)
  src/bun.js/api/bun/socket.zig
  test/js/bun/net/socket.test.ts
Due: prettier --write, zig fmt

fix(Bun.serve): HEAD response Transfer-Encoding/Content-Length header value freed before use
  src/bun.js/api/server/RequestContext.zig
  test/js/bun/http/bun-server.test.ts
Due: prettier --write, zig fmt

Buffer.from(hex/base64): free staging allocation when decoded length is 0
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSValue.zig
  src/bun.js/webcore/encoding.zig
  test/js/node/buffer-from-encoding-leak.test.ts
Due: prettier --write, zig fmt

ipc(advanced): avoid u32 overflow in header_length + message_len bounds check
  src/bun.js/ipc.zig
  test/js/bun/spawn/spawn.ipc.test.ts
Due: prettier --write, zig fmt

FileSink: release keep-alive ref when a pending write errors or closes (#30123)
  src/bun.js/webcore/FileSink.zig
  src/io/PipeWriter.zig
  src/js/internal-for-testing.ts
  src/shell/IOWriter.zig
  test/js/bun/util/filesink.test.ts
Due: prettier --write, zig fmt

Blob.toJSONWithBytes: free raw_bytes, not the BOM-stripped interior slice (#30139)
  src/bun.js/webcore/Blob.zig
  test/js/bun/util/bun-file.test.ts
Due: prettier --write, zig fmt

Fix WebSocket client leak on wss:// through HTTP proxy (#30119)
  src/http/websocket_client.zig
  test/js/web/websocket/websocket-proxy-tunnel-client-leak-fixture.ts
  test/js/web/websocket/websocket-proxy-tunnel-client-leak.test.ts
Due: prettier --write, zig fmt

net(BlockList): fix UAF/SIGFPE when structured-clone is deserialized more than once (#30104)
  src/bun.js/node/net/BlockList.zig
  test/js/node/net/blocklist-gc.test.ts
Due: prettier --write, zig fmt

Copy ArrayBuffer bytes for async StringOrBuffer consumers
  src/bun.js/node/types.zig
  test/bundler/bundler_files.test.ts
Due: prettier --write, zig fmt

test: document why sql-mysql-query-string-leak needs an explicit timeout
  test/js/sql/sql-mysql-query-string-leak.test.ts
Due: prettier --write

sys: bound readlink/readlinkat NUL write to buffer length
  src/sys.zig
  test/js/node/fs/fs.test.ts
Due: prettier --write, zig fmt

fs.promises.cp: defer AsyncCpTask destruction until all subtasks finish
  src/bun.js/node/node_fs.zig
  test/js/node/fs/cp.test.ts
Due: prettier --write, zig fmt

fs.cp: preserve symlink target instead of linking back to source path (#30073)
  src/bun.js/node/node_fs.zig
  test/js/node/fs/cp-symlink-target.test.ts
  test/js/node/fs/cp.test.ts
Due: prettier --write, zig fmt

subprocess: release start() ref in PipeReader.onReaderError (#30055)
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/bun/subprocess/SubprocessPipeReader.zig
  src/js/internal-for-testing.ts
  test/js/bun/spawn/spawn-pipe-read-error-leak.test.ts
Due: prettier --write, zig fmt

sqlite: fix off-by-one database handle bounds checks (#30044)
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

AsyncModule: clone specifier/source_url into owned strings
  src/bun.js/AsyncModule.zig
Due: zig fmt

Bun.spawn: initialize extra stdio[N>=3] to .ignore when undefined (#30140)
  src/bun.js/api/bun/js_bun_spawn_bindings.zig
  test/js/bun/spawn/spawn.test.ts
Due: prettier --write, zig fmt

Worker: honor array-form transfer list in self.postMessage (#30068)
  src/bun.js/bindings/webcore/Worker.cpp
  test/js/web/workers/worker-postmessage-transfer.test.ts
Due: prettier --write

fs.promises.cp: defer AsyncCpTask destruction until subtask_count reaches zero
  src/bun.js/node/node_fs.zig
  test/js/node/fs/cp.test.ts
Due: prettier --write, zig fmt

udp: root sendMany payloads in MarkedArgumentBuffer / reorder send() to prevent UAF (#30057)
  src/bun.js/api/bun/udp_socket.zig
  test/js/bun/udp/sendMany-payload-uaf-fixture.ts
  test/js/bun/udp/udp_socket.test.ts
Due: prettier --write, zig fmt

Archive.files(): free collected entries when readData fails mid-stream (#30114)
  src/bun.js/api/Archive.zig
  test/js/bun/archive.test.ts
Due: prettier --write, zig fmt

sql(postgres): validate server-provided len in binary int4[]/float4[] parsing
  src/sql/postgres/DataCell.zig
  src/sql/postgres/types/Tag.zig
  test/js/sql/postgres-binary-array-bounds.test.ts
Due: prettier --write, zig fmt

sql(mysql): guard EncryptedPassword against empty public_key
  src/sql/mysql/protocol/Auth.zig
Due: zig fmt

Bun.Image: stable error.code on every rejection; HEIC/AVIF tests branch on ERR_IMAGE_FORMAT_UNSUPPORTED [skip size check]
  docs/runtime/image.mdx
  packages/bun-types/bun.d.ts
  src/image/Image.zig
  test/js/bun/image/image.test.ts
Due: prettier --write, zig fmt

verify-baseline: allow BMI1 in zstd HUF BMI2-gated dispatch targets
  scripts/verify-baseline-static/allowlist-x64.txt
Due: none

fs: free only the byte slice when cleaning up readdir Buffer entries on error
  src/bun.js/node/node_fs.zig
  test/js/node/fs/fs.test.ts
Due: prettier --write, zig fmt

fs: deref Dirent.path in readdirSync recursive error cleanup
  src/bun.js/node/node_fs.zig
  test/js/node/fs/readdirSync-recursive-error-leak-fixture.js
  test/js/node/fs/readdirSync-recursive-error-leak.test.ts
Due: prettier --write, zig fmt

socket: balance ref on synchronous doConnect failure for reused sockets
  src/bun.js/api/bun/socket/Listener.zig
  test/js/node/net/node-net.test.ts
Due: prettier --write, zig fmt

resolver: check union tag before reading cached_entry.entries in dirInfoCachedMaybeLog
  src/resolver/resolver.zig
  test/js/bun/resolve/resolve.test.ts
Due: prettier --write, zig fmt

constructFromU16 hex: allocate len/2 instead of len*2
  src/bun.js/webcore/encoding.zig
Due: zig fmt

test: spawn child via -e instead of tempDir
  test/js/bun/spawn/spawn.ipc.test.ts
Due: prettier --write

Use atom-backed CommonStrings for fetch/socket enum getters
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/socket/Listener.zig
  src/bun.js/api/bun/socket/SocketAddress.zig
  src/bun.js/api/bun/udp_socket.zig
  src/bun.js/api/server/ServerWebSocket.zig
  src/bun.js/bindings/BunCommonStrings.cpp
  src/bun.js/bindings/BunCommonStrings.h
  src/bun.js/bindings/CommonStrings.zig
  src/bun.js/node/node_os.zig
  src/bun.js/webcore/Request.zig
  src/bun.js/webcore/Response.zig
  src/http/FetchCacheMode.zig
  src/http/FetchRedirect.zig
  src/http/FetchRequestMode.zig
Due: zig fmt

Reuse vm.smallStrings.defaultString() instead of duplicating "default"
  src/bun.js/bindings/BunCommonStrings.cpp
  src/bun.js/bindings/BunCommonStrings.h
Due: none

test: collapse malformed binary array cases into test.each
  test/js/sql/postgres-binary-array-bounds.test.ts
Due: prettier --write

crypto: release callback Strong and ctx on CryptoJob.init failure
  src/bun.js/node/node_crypto_binding.zig
  test/js/node/crypto/scrypt.test.ts
Due: prettier --write, zig fmt

Protect StreamError.JSValue at producers; balance unprotect at discard paths
  src/bun.js/api/server/RequestContext.zig
  src/bun.js/webcore/Body.zig
  src/bun.js/webcore/ByteStream.zig
  src/bun.js/webcore/fetch/FetchTasklet.zig
  src/bun.js/webcore/streams.zig
  src/s3/client.zig
  test/js/web/fetch/fetch-stream-err-gc-fixture.ts
  test/js/web/fetch/fetch.stream.test.ts
Due: prettier --write, zig fmt

subprocess: clear ipc_data in handleIPCClose so the JSRef can downgrade
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/event_loop/ManagedTask.zig
  src/bun.js/ipc.zig
  test/js/bun/spawn/spawn.ipc.test.ts
Due: prettier --write, zig fmt

socket: null handlers pointer after Handlers.markInactive frees it
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/socket/Handlers.zig
  test/js/node/net/node-net.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
