Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

fix(stream): fix some debug logs that were breaking .pipe
  src/bun.js/streams.exports.js
Due: prettier --write

fix(stream): another debug fix
  src/bun.js/streams.exports.js
Due: prettier --write

test(stream): add test for .pipe
  test/bun.js/node-stream.test.js
Due: prettier --write

[transpiler] Fix unbalanced class_name scope
  src/js_parser.zig
Due: zig fmt

[transpiler] Never trim exports
  src/js_parser.zig
Due: zig fmt

Add a test for some scopes
  test/bun.js/transpiler.test.js
Due: prettier --write

Update WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
  bench/snippets/object-values.mjs
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/wtf-bindings.cpp
  src/bun.zig
  src/js_lexer.zig
Due: zig fmt

[Bun.Transpiler] Introduce `inline` flag
  packages/bun-types/bun.d.ts
Due: prettier --write

[internal] Change HashMap implementation for storing symbols
  src/bun.js/api/bun.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/server.zig
  src/bun.js/config.zig
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/bun.js/node_streams_consumer.exports.js
  src/bun.zig
  src/bundler.zig
  src/hash_map.zig
  src/js_ast.zig
  src/js_parser.zig
Due: prettier --write, zig fmt

fixup
  src/js_parser.zig
Due: zig fmt

[internal] further cleanup for `hoistSymbols`
  src/ast/base.zig
  src/js_parser.zig
Due: zig fmt

[Transpiler] Implement `minifyWhitespace` option
  packages/bun-types/bun.d.ts
  src/bun.js/api/transpiler.zig
  src/bundler.zig
  src/js_printer.zig
  src/options.zig
Due: prettier --write, zig fmt

[internal] Add helper to make it easier to print whitespace
  src/js_printer.zig
Due: zig fmt

:camera:
  test/snapshots/bundled-entry-point.hmr.debug.js
  test/snapshots/cjs-transform-shouldnt-have-static-imports-in-cjs-function.hmr.debug.js
  test/snapshots/export.hmr.debug.js
  test/snapshots/lodash-regexp.hmr.debug.js
  test/snapshots/multiple-var.hmr.debug.js
  test/snapshots/multiple-var.hmr.js
  test/snapshots/number-literal-bug.hmr.debug.js
  test/snapshots/number-literal-bug.hmr.js
  test/snapshots/optional-chain-with-function.hmr.debug.js
  test/snapshots/optional-chain-with-function.hmr.js
  test/snapshots/package-json-exports/index.hmr.debug.js
  test/snapshots/react-context-value-func.hmr.debug.tsx
  test/snapshots/react-context-value-func.hmr.tsx
  test/snapshots/simple-lit-example.hmr.debug.ts
  test/snapshots/simple-lit-example.hmr.ts
  test/snapshots/spread_with_key.hmr.debug.tsx
Due: prettier --write

fix fallback install method
  src/install/install.zig
Due: zig fmt

markbinding for utf8 length from utf16le
  src/baby_list.zig
  src/bun.js/bindings/bun-simdutf.zig
Due: zig fmt

fix(stream): Fix Readable.pipe() (#1606)
  src/bun.js/streams.exports.js
  test/bun.js/node-stream.test.js
Due: prettier --write

Add missing space
  src/js_printer.zig
Due: zig fmt

[crypto] Implement crypto.timingSafeEqual
  src/bun.js/bindings/ZigGeneratedCode.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/webcore.zig
  src/node-fallbacks/crypto.js
  test/bun.js/web-globals.test.js
Due: prettier --write, zig fmt

some bugs make you feel like a 🤡
  src/bun.js/bindings/bindings.zig
Due: zig fmt

[crypto] Implement `scryptSync`
  src/bun.js/bindings/bindings.zig
  src/bun.js/webcore.zig
  src/deps/boringssl.translated.zig
  src/node-fallbacks/crypto.js
  test/bun.js/crypto-scrypt.test.js
Due: prettier --write, zig fmt

fix UB
  src/bun.js/bindings/exports.zig
Due: zig fmt

Don't use zls for formatting
  .vscode/settings.json
Due: none

[internal] Add bun-debug build
  .vscode/launch.json
Due: none

Update build-id
  build-id
Due: none

missing id when over 8 packages
  src/install/lockfile.zig
Due: zig fmt

Add missing if
  src/js_parser.zig
Due: zig fmt

Move bun-landing to another repository
  .github/workflows/bun-landing.yml
  packages/bun-landing/.gitignore
  packages/bun-landing/README.md
  packages/bun-landing/bun.lockb
  packages/bun-landing/bunfig.toml
  packages/bun-landing/components/CodeBlock.tsx
  packages/bun-landing/components/Layout.tsx
  packages/bun-landing/components/dataURI.ts
  packages/bun-landing/next.config.js
  packages/bun-landing/package.json
  packages/bun-landing/pages/_app.tsx
  packages/bun-landing/pages/index.tsx
  packages/bun-landing/public/Bun.png
  packages/bun-landing/public/Bun@2x.png
  packages/bun-landing/public/favicon.ico
  packages/bun-landing/public/logo-square.png
  packages/bun-landing/public/logo-square@16px.png
  packages/bun-landing/public/logo-square@32px.png
  packages/bun-landing/public/logo.png
  packages/bun-landing/public/logo.svg
  packages/bun-landing/public/logo@2x.png
  packages/bun-landing/public/manifest.json
  packages/bun-landing/public/next.svg
  packages/bun-landing/public/remix.svg
  packages/bun-landing/public/share.png
  packages/bun-landing/styles/global.css
  packages/bun-landing/tsconfig.json
Due: prettier --write

make `process.stdin` work under TTY - workarounds for #1607 & #1608
  src/bun.js/builtins/js/ProcessObjectInternals.js
Due: prettier --write

Fix bug where importing a binary file throws a SyntaxError. Instead, return the public path for that file
  src/bun.js/module_loader.zig
Due: zig fmt

Add a test for importing unknown file types as `file` loader
  test/bun.js/test-png-import.test.js
  test/bun.js/test-png.png
Due: prettier --write

Don't call debug streams getter when not in debug
  src/bun.js/streams.exports.js
  test/bun.js/test-png-import.test.js
Due: prettier --write

make `process.stdin` work under TTY (#1611)
  src/bun.js/builtins/js/ProcessObjectInternals.js
Due: prettier --write

Avoid creating closure
  src/bun.js/builtins/cpp/ProcessObjectInternalsBuiltins.cpp
  src/bun.js/builtins/js/ProcessObjectInternals.js
Due: prettier --write

Fix crash in `startSamplingProfiler`
  src/bun.js/bindings/BunJSCModule.cpp
Due: none

[bun:jsc] Introduce `profile` function
  packages/bun-types/jsc.d.ts
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bun-jsc.exports.js
Due: prettier --write

list directory structure from lockfile
  src/cli/package_manager_command.zig
  src/install/lockfile.zig
Due: zig fmt

dim connectors and versions
  src/cli/package_manager_command.zig
Due: zig fmt

add `bun pm ls` for printing lockfiles (#1612)
  src/cli/package_manager_command.zig
  src/install/lockfile.zig
Due: zig fmt

fix(stream): put Readable._readableState.constructed default in spec (true, not false)
  src/bun.js/bindings/JSReadableState.cpp
Due: none
