Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

bun-polyfills: fix import paths
  packages/bun-polyfills/src/global/index.ts
Due: prettier --write

fmt+fixeup
  src/bun.js/node/path_watcher.zig
  test/js/node/watch/fs.watch.test.ts
Due: prettier --write, zig fmt

[fetch] Ignore invalid Content-Encoding header
  src/http_client_async.zig
Due: zig fmt

add back verbose
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/path_watcher.zig
Due: zig fmt

free instead of destroy
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/path_watcher.zig
Due: zig fmt

remove destroy option for watcher tasks
  src/bun.js/node/node_fs_watcher.zig
Due: zig fmt

flush verbose and add debug log
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/path_watcher.zig
Due: zig fmt

[fetch] Ignore invalid Content-Encoding header (#3834)
  src/http_client_async.zig
Due: zig fmt

fixup files
  src/bun.js/node/path_watcher.zig
Due: zig fmt

use log for debug
  src/bun.js/node/path_watcher.zig
Due: zig fmt

Start time performance improvements to build tools (#3797)
  src/bun.js/bindings/c-bindings.cpp
  src/bun.js/node/fs_events.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/node_os.zig
  src/bun.js/node/path_watcher.zig
  src/js/node/os.js
  src/js/out/modules/node/os.js
  src/lock.zig
  src/string_immutable.zig
  src/watcher.zig
  test/js/node/watch/fixtures/relative.js
  test/js/node/watch/fs.watch.test.ts
Due: prettier --write, zig fmt

Enable `Promise.withResolvers()`
  packages/bun-types/globals.d.ts
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: prettier --write

Remove lstat call in fs.watch
  src/bun.js/node/node_fs_watcher.zig
Due: zig fmt

Remove lstat call in fs.watch (#3836)
  src/bun.js/node/node_fs_watcher.zig
Due: zig fmt

Fix unsafe GC behavior on large arrays returned by fs
  src/bun.js/base.zig
Due: zig fmt

Fix crash in large arrays of strings
  src/bun.js/bindings/BunString.cpp
Due: none

async readdir
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_binding.zig
  src/js/node/fs.js
  src/js/node/fs.promises.ts
Due: prettier --write, zig fmt

Add tests for large number of files returned by readdir
  src/js/node/fs.js
  src/js/out/modules/node/fs.js
  src/js/out/modules/node/fs.promises.js
  test/js/node/fs/fs.test.ts
Due: prettier --write

Move this down
  src/bun.js/bindings/BunString.cpp
Due: none

Fix encoding edgecase in path.join
  src/bun.js/node/types.zig
Due: zig fmt

Async stat & lstat
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_binding.zig
  src/js/node/fs.js
  src/js/node/fs.promises.ts
  src/js/out/modules/node/fs.js
  src/js/out/modules/node/fs.promises.js
  test/js/node/fs/fs.test.ts
Due: prettier --write, zig fmt

add test
  test/js/node/fs/fs.test.ts
Due: prettier --write

Make readdir() async, fix crash in large directory trees (#3838)
  src/bun.js/base.zig
  src/bun.js/bindings/BunString.cpp
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_binding.zig
  src/bun.js/node/types.zig
  src/js/node/fs.js
  src/js/node/fs.promises.ts
  src/js/out/modules/node/fs.js
  src/js/out/modules/node/fs.promises.js
  test/js/node/fs/fs.test.ts
Due: prettier --write, zig fmt

Use putDirectIndex instead of initializeIndex
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
Due: none

Impl. pass & fail
  packages/bun-types/bun-test.d.ts
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/jest.classes.ts
  test/js/bun/test/jest-extended.test.js
Due: prettier --write, zig fmt

Remove no longer needed flag from benchmark documentation
  bench/websocket-server/README.md
Due: prettier --write

Remove no longer needed flag from benchmark documentation (#3845)
  bench/websocket-server/README.md
Due: prettier --write

Use putDirectIndex instead of initializeIndex (#3839)
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
Due: none

Add ecosystem guides
  docs/ecosystem/elysia.md
  docs/ecosystem/hono.md
  docs/guides/ecosystem/elysia.md
  docs/guides/ecosystem/express.md
  docs/guides/ecosystem/hono.md
  docs/guides/ecosystem/react.md
  docs/guides/ecosystem/ssr-react.md
  docs/guides/ecosystem/stricjs.md
  docs/guides/read-file/json.md
Due: prettier --write

fix
  src/bun.js/test/expect.zig
Due: zig fmt

Fix hot reloading in canary
  src/bun.js/module_loader.zig
  src/watcher.zig
  test/cli/hot/hot-runner-root.js
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

Outdated copy
  bench/websocket-server/README.md
Due: prettier --write

Update titles
  docs/guides/ecosystem/elysia.md
  docs/guides/ecosystem/express.md
  docs/guides/ecosystem/hono.md
  docs/guides/ecosystem/mongoose.md
  docs/guides/ecosystem/prisma.md
  docs/guides/ecosystem/react.md
  docs/guides/ecosystem/ssr-react.md
  docs/guides/ecosystem/stricjs.md
  docs/guides/ecosystem/vite.md
  docs/nav.ts
Due: prettier --write

Rename stric
  docs/guides/ecosystem/stric.md
Due: prettier --write

fix 2
  src/bun.js/test/expect.zig
Due: zig fmt

Fix hot reloading in canary (#3848)
  src/bun.js/module_loader.zig
  src/watcher.zig
  test/cli/hot/hot-runner-root.js
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

Add unlink and fetch guides
  docs/guides/binary/typedarray-to-readablestream.md
  docs/guides/http/fetch.md
  docs/guides/write-file/unlink.md
Due: prettier --write

less leaky
  test/js/web/fetch/fetch-leak-test-fixture.js
Due: prettier --write

Add formdata guide
  docs/guides/http/file-uploads.md
Due: prettier --write

Tweak title
  docs/guides/http/file-uploads.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
