Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Add support for input sourcemaps in bundler parse tasks
  src/bun.js/api/JSBundler.zig
  src/bundler/ParseTask.zig
  src/bundler/bundle_v2.zig
Due: zig fmt

Add support for parsing input sourcemaps from plugins
  src/ast/BundledAst.zig
  src/bundler/ParseTask.zig
Due: zig fmt

Propagate input source map to source map builder in JS printer
  src/js_printer.zig
Due: zig fmt

Improve sourcemap generation with nested sourcemap support
  src/bundler/LinkerContext.zig
Due: zig fmt

Add tests for plugin sourcemap generation in bundler
  test/bundler/plugin_sourcemap.test.ts
Due: prettier --write

Checkpoint before follow-up message
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

Refactor BundlerPlugin config and type handling for serve plugins
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

Support read-only package.json for publish and pack commands
  src/install/PackageManager.zig
  test/regression/issue/bun-publish-readonly-package-json.test.ts
Due: prettier --write, zig fmt

Refactor BundlerPlugin types and improve plugin setup validation
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

Add bun-types reference comment for type definitions
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

Fix @layer color-scheme bug with layer context tracking
  LAYER_COLOR_SCHEME_FIX.md
  src/css/context.zig
  src/css/rules/layer.zig
  src/css/rules/rules.zig
  test/js/bun/css/css.test.ts
  test/regression/issue/layer-color-scheme.test.ts
Due: prettier --write, zig fmt

Improve type safety and documentation in BundlerPlugin module
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

Add local fallback typings for Bun plugin types and interfaces
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

Refactor BundlerPlugin types and add node-style globals
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

Refactor BundlerPlugin types and imports for better type handling
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

Refactor BundlerPlugin types and declarations for better TypeScript support
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

Delete LAYER_COLOR_SCHEME_FIX.md
  LAYER_COLOR_SCHEME_FIX.md
Due: prettier --write

`bun run zig-format`
  src/css/rules/layer.zig
Due: zig fmt

Refactor BundlerPlugin imports and type declarations
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

`bun run prettier`
  test/regression/issue/layer-color-scheme.test.ts
Due: prettier --write

`bun run zig-format`
  src/install/PackageManager.zig
Due: zig fmt

`bun run prettier`
  test/regression/issue/bun-publish-readonly-package-json.test.ts
Due: prettier --write

docs: fix missing word
  docs/bundler/loaders.md
Due: prettier --write

Configure cursor background agents
  .cursor/environment.json
Due: none

Enable coverage automatically when --coverage-reporter is specified
  src/cli/Arguments.zig
  test/cli/test/coverage.test.ts
Due: prettier --write, zig fmt

Revert "Configure cursor background agents"
  .cursor/environment.json
Due: none

comment
  test/napi/napi-app/constructor_order_addon.c
Due: none

format
  test/napi/napi-app/constructor_order_addon.c
Due: none

Bun workspaces sample project change
  docs/guides/install/workspaces.md
Due: prettier --write

notes
  src/codegen/cppbind.ts
Due: prettier --write

move to cpp
  test/napi/napi-app/binding.gyp
  test/napi/napi-app/constructor_order_addon.c
  test/napi/napi-app/constructor_order_addon.cpp
Due: none

fromJSHostCallVoid
  src/bun.js/bindings/JSValue.zig
Due: zig fmt

fromJSHostCallGeneric
  src/bun.js/bindings/JSValue.zig
Due: zig fmt

try
  src/bun.js/bindings/JSValue.zig
Due: zig fmt

.
  src/bun.js/bindings/JSValue.zig
Due: zig fmt

Implement robust cancellation handling across shell interpreter states
  src/shell/IOWriter.zig
  src/shell/builtin/cp.zig
  src/shell/builtin/ls.zig
  src/shell/builtin/mkdir.zig
  src/shell/builtin/mv.zig
  src/shell/builtin/rm.zig
  src/shell/builtin/touch.zig
  src/shell/builtin/yes.zig
  src/shell/states/Assigns.zig
  src/shell/states/Async.zig
  src/shell/states/Cmd.zig
  src/shell/states/CondExpr.zig
  src/shell/states/Expansion.zig
  src/shell/states/Pipeline.zig
  src/shell/states/Subshell.zig
Due: zig fmt

`bun run prettier`
  test/js/bun/test/expect.test.js
Due: prettier --write

checkexception -> checkexception_slow
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/root.h
  src/codegen/cppbind.ts
Due: prettier --write

cppbind
  src/codegen/cppbind.ts
  src/codegen/shared-types.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
