Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Bump WebKit again
  cmake/tools/SetupWebKit.cmake
Due: none

use only native code, use common strings instead of StaticStringImpl
  src/bun.js/api/bun/socket/SocketAddress.zig
  src/bun.js/api/sockets.classes.ts
  src/bun.js/bindings/BunCommonStrings.h
  src/bun.js/bindings/JSSocketAddressDTO.cpp
  src/bun.js/bindings/JSSocketAddressDTO.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_net_binding.zig
  src/js/internal/net.ts
  src/js/internal/net/socket_address.ts
  src/js/node/net.ts
  src/jsc.zig
  src/string.zig
  test/js/node/net/socketaddress.spec.ts
Due: prettier --write, zig fmt

repro
  test/regression/issue/17454/destructure_string.test.ts
  test/regression/issue/17454/f2.ts
  test/regression/issue/17454/repro.ts
Due: prettier --write

move movable decls directly
  src/bundler/bundle_v2.zig
Due: zig fmt

`bun run zig-format`
  src/bun.js/api/bun/socket/SocketAddress.zig
Due: zig fmt

`bun run clang-format`
  src/bun.js/bindings/BunCommonStrings.h
Due: none

change
  packages/bun-types/.eslintrc.cjs
  packages/bun-types/globals.d.ts
  packages/bun-types/index.cjs
  packages/bun-types/index.d.ts
  packages/bun-types/package.json
  packages/bun-types/tsconfig.json
  test/integration/bun-types/bun-types.test.ts
  test/integration/bun-types/fixture/bun.lock
  test/integration/bun-types/fixture/index.ts
  test/integration/bun-types/fixture/package.json
  test/js/web/html/FormData.test.ts
Due: prettier --write

`bun run prettier:extra`
  packages/bun-types/.eslintrc.cjs
Due: none

test: add CI tests for startAfter, encodingType and fetchOwner
  test/js/bun/s3/s3-list-objects.test.ts
Due: prettier --write

test: remove S3 created files during CI list objects test
  test/js/bun/s3/s3-list-objects.test.ts
Due: prettier --write

fix: rename listObjects() to list()
  packages/bun-types/bun.d.ts
  src/bun.js/api/S3Client.classes.ts
  test/js/bun/s3/s3-list-objects.test.ts
Due: prettier --write

Make sure invalid times that are numbers in timers/promises result in warnings, not errors
  src/js/node/timers.promises.ts
Due: prettier --write

fix error codes
  src/bun.js/api/bun/socket/SocketAddress.zig
Due: zig fmt

okay
  src/bake/DevServer.zig
  src/bake/bake.private.d.ts
  src/bake/client/JavaScriptSyntaxHighlighter.ts
  src/bake/client/data-view.ts
  src/bake/client/error-serialization.ts
  src/bake/client/icons/dismiss.svg
  src/bake/client/icons/next.svg
  src/bake/client/icons/prev.svg
  src/bake/client/overlay.css
  src/bake/client/overlay.ts
  src/bake/client/stack-trace.ts
  src/bake/client/websocket.ts
  src/bake/hmr-runtime-client.ts
  src/bake/hmr-runtime-error.ts
  src/bake/macros.ts
  src/codegen/bake-codegen.ts
  src/js/internal/html.ts
  src/toml/toml_lexer.zig
Due: prettier --write, zig fmt

fix: use bun.String.fromJS instead of toZigString
  src/bun.js/webcore/blob.zig
  src/s3/list_objects.zig
Due: zig fmt

test fix
  src/bun.js/bindings/JSBuffer.cpp
  test/js/node/buffer.test.js
  test/js/node/test/parallel/test-buffer-write.js
Due: prettier --write

ci fix
  test/cli/create/create-jsx.test.ts
Due: prettier --write

Fix not preserving no indentation when updating an existing snapshot
  src/bun.js/test/expect.zig
  test/js/bun/test/snapshot-tests/snapshots/snapshot.test.ts
Due: prettier --write, zig fmt

read stdin from bun.sys.File
  src/cli/run_command.zig
Due: zig fmt

switch to bun.Output.buffered_stdin and add more tests for alert/prompt/confirm
  src/bun.js/webcore.zig
  src/cli/run_command.zig
  test/js/web/alert_prompt_confirm.test.ts
Due: prettier --write, zig fmt

meow
  src/bake/AllocationScope.zig
  src/bake/DevServer.zig
  src/bake/client/overlay.css
  src/bake/client/overlay.ts
  src/bun.zig
  test/bake/client-fixture.mjs
  test/bake/dev/bundle.test.ts
Due: prettier --write, zig fmt

a
  src/bake/DevServer.zig
  src/bake/client/overlay.ts
  test/bake/client-fixture.mjs
  test/bake/dev/bundle.test.ts
  test/bake/dev/sourcemap.test.ts
Due: prettier --write, zig fmt

chore(net): add TCP/TLS to feature indicators
  src/analytics/analytics_thread.zig
  src/bun.js/api/bun/socket.zig
Due: zig fmt

Add getRawHeaderNames
  src/bun.js/bindings/webcore/JSFetchHeaders.cpp
  src/js/node/http.ts
Due: prettier --write

stuff
  src/bake/DevServer.zig
  src/bake/hmr-runtime-error.ts
Due: prettier --write, zig fmt

a
  src/bake/DevServer.zig
Due: zig fmt

wip barrel
  src/bake/DevServer.zig
  src/bundler/bundle_v2.zig
  src/import_record.zig
  src/js_parser.zig
  src/options.zig
  src/runtime.zig
Due: zig fmt

Fix hmr devserver on firefox
  src/bake/hmr-module.ts
Due: prettier --write

Fix #17240
  packages/bun-usockets/src/bsd.c
  src/bun.js/api/bun/udp_socket.zig
Due: zig fmt

Fix hosting destructured decl with movable initializer (#17468)
  src/bundler/bundle_v2.zig
  test/regression/issue/17454/destructure_string.test.ts
  test/regression/issue/17454/f2.ts
  test/regression/issue/17454/repro.ts
Due: prettier --write, zig fmt

Preserve zero indentation when updating inline snapshot (#16813)
  src/bun.js/test/expect.zig
  test/js/bun/test/snapshot-tests/snapshots/snapshot.test.ts
Due: prettier --write, zig fmt

Fix hmr devserver on firefox (#17477)
  src/bake/hmr-module.ts
Due: prettier --write

Do not drop empty arguments in Bun.spawn (#17269)
  src/bun.js/api/bun/subprocess.zig
  test/cli/install/bun-create.test.ts
  test/cli/install/bun-publish.test.ts
  test/cli/install/bun-run.test.ts
Due: prettier --write, zig fmt

Bump WebKit, re-enable IPInt (#17467)
  cmake/tools/SetupWebKit.cmake
  src/bun.js/bindings/BunClientData.cpp
  src/bun.js/bindings/BunClientData.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/bun.lock
  test/js/third_party/solc/solc.test.ts
  test/package.json
Due: prettier --write

fix(docs): ffi is experimental (#17445)
  docs/api/ffi.md
Due: prettier --write

fix(http2) altsvc + origin support (#17438)
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/h2.classes.ts
  src/bun.js/bindings/ErrorCode.ts
  src/comptime_string_map.zig
  src/js/node/http2.ts
  test/js/node/http2/node-http2.test.js
  test/js/node/test/fixtures/agent8-cert.pem
  test/js/node/test/fixtures/agent8-key.pem
  test/js/node/test/fixtures/fake-startcom-root-cert.pem
  test/js/node/test/parallel/test-http2-altsvc.js
  test/js/node/test/parallel/test-http2-compat-serverrequest-headers.js
  test/js/node/test/parallel/test-http2-compat-serverresponse-headers-after-destroy.js
  test/js/node/test/parallel/test-http2-endafterheaders.js
  test/js/node/test/parallel/test-http2-info-headers.js
  test/js/node/test/parallel/test-http2-invalidheaderfield.js
  test/js/node/test/parallel/test-http2-invalidheaderfields-client.js
  test/js/node/test/parallel/test-http2-misused-pseudoheaders.js
  test/js/node/test/parallel/test-http2-multiheaders-raw.js
  test/js/node/test/parallel/test-http2-multiheaders.js
  test/js/node/test/parallel/test-http2-origin.js
  test/js/node/test/parallel/test-http2-pipe.js
  test/js/node/test/parallel/test-http2-sent-headers.js
  test/js/node/test/parallel/test-http2-server-set-header.js
  test/js/node/test/parallel/test-http2-single-headers.js
Due: prettier --write, zig fmt

Fixes #17458
  docs/api/workers.md
Due: prettier --write

follow up
  src/bake/DevServer.zig
  src/bake/hmr-module.ts
  src/bake/wtf.zig
  src/bun.js/api/server/StaticRoute.zig
Due: prettier --write, zig fmt

fix error
  src/bun.zig
Due: zig fmt

a
  test/bake/dev/dev-plugins.test.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
