Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Update string_immutable.zig
  src/string_immutable.zig
Due: zig fmt

fix the name here
  src/bun.js/ConsoleObject.zig
Due: zig fmt

reset this state
  src/bun.js/ConsoleObject.zig
Due: zig fmt

add a test for the indent
  test/js/web/console/console-log.expected.txt
  test/js/web/console/console-log.js
Due: prettier --write

Update string_builder.zig
  src/string_builder.zig
Due: zig fmt

console: implement cutoff for large arrays (#13220)
  src/bun.js/ConsoleObject.zig
  test/js/web/console/console-log.expected.txt
  test/js/web/console/console-log.js
  test/js/web/console/console-log.test.ts
Due: prettier --write, zig fmt

ci: fix setInterval.test.js on windows (#13213)
  test/js/web/timers/setInterval.test.js
Due: prettier --write

add another test
  test/js/node/process/process.test.js
Due: prettier --write

Optimize TextEncoderStream, part 1 (#13222)
  bench/snippets/text-encoder-stream.mjs
  src/bun.js/base.zig
  src/bun.js/bindings/Uint8Array.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/webcore/encoding.zig
  src/bun.zig
  src/string_builder.zig
  src/string_immutable.zig
Due: zig fmt

Update text-encoder-stream.mjs
  bench/snippets/text-encoder-stream.mjs
Due: none

change json info endpoint to use WebKit debugger
  src/js/internal/debugger.ts
Due: prettier --write

Create text-decoder-stream.mjs
  bench/snippets/text-decoder-stream.mjs
Due: none

exclude pending surrogate from simdutf conversion
  bench/snippets/text-encoder-stream.mjs
  src/bun.js/webcore/encoding.zig
Due: zig fmt

plus 1
  src/bun.js/webcore/encoding.zig
Due: zig fmt

Fix fuzzy wuzzy test failure
  src/io/io.zig
Due: zig fmt

DOMJIT strikes again
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
Due: none

Fixes #13226 (#13234)
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
Due: none

Use clang rt lib
  CMakeLists.txt
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

✂️
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

wi[
  packages/bun-usockets/src/context.c
  packages/bun-usockets/src/internal/internal.h
  packages/bun-usockets/src/socket.c
Due: none

opsie
  packages/bun-usockets/src/context.c
Due: none

valid simdutf functions, uint8array
  src/bun.js/bindings/bun-simdutf.zig
  src/bun.js/webcore/encoding.zig
  src/glob.zig
Due: zig fmt

use the right one
  packages/bun-usockets/src/context.c
Due: none

rare data buffer
  src/bun.js/rare_data.zig
  src/bun.js/webcore/encoding.zig
Due: zig fmt

fix(sockets) fix connecting sockets not reporting close when context or the socket it self is closed manually (#13249)
  packages/bun-usockets/src/context.c
  packages/bun-usockets/src/internal/internal.h
  packages/bun-usockets/src/socket.c
Due: none

Fix importing empty toml file at runtime
  src/bun.js/module_loader.zig
  test/js/bun/resolve/toml/toml-empty.toml
  test/js/bun/resolve/toml/toml.test.js
Due: prettier --write, zig fmt

better name and type
  src/bun.js/webcore/blob.zig
  src/io/PipeWriter.zig
Due: zig fmt

Revert "✂️"
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

Revert "Use clang rt lib"
  CMakeLists.txt
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

fix(node:http): use a unique FakeSocket per socketId. only fire connection event once
  src/bun.js/api/server.classes.ts
  src/bun.js/api/server.zig
  src/js/node/http.ts
Due: prettier --write, zig fmt

Set process.config.variables.enable_lto to false
  src/bun.js/bindings/BunProcess.cpp
Due: none

Compile native part of V8 tests with Bun-reported Node.js version no matter what is installed
  test/v8/.gitignore
  test/v8/v8.test.ts
Due: prettier --write

console: remove further uses of unbuffered_writer
  src/bun.js/ConsoleObject.zig
Due: zig fmt

wip
  src/bun.js/api/bun/process.zig
  src/bun.js/api/bun/spawn/stdio.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/ipc.zig
  src/bun.js/javascript.zig
  src/deps/libuv.zig
  src/io/source.zig
  src/shell/subproc.zig
Due: zig fmt

now should work
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/ipc.zig
Due: zig fmt

fix Posix
  src/bun.js/api/bun/process.zig
Due: zig fmt
