Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

:rewind: ESM condition loop order
  src/options.zig
  src/resolver/package_json.zig
Due: zig fmt

it was 1
  src/bun.js/bindings/bindings.zig
Due: zig fmt

add link to issue
  src/bun.js/base.zig
Due: zig fmt

finish implementing JSMockFunction prototype + lots of expect test organizing (#3304)
  bun.lockb
  packages/bun-types/bun-test.d.ts
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSMockFunction.cpp
  src/bun.js/bindings/JSMockFunction.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/test/jest.zig
  src/js/out/WebCoreJSBuiltins.cpp
  src/js/out/modules/node/http.js
  src/js/out/modules/node/net.js
  test/bun.lockb
  test/js/bun/test/bigint.test.js
  test/js/bun/test/bun-test.test.ts
  test/js/bun/test/expect.test.js
  test/js/bun/test/expect.test.ts
  test/js/bun/test/jest-extended.test.js
  test/js/bun/test/jest.d.ts
  test/js/bun/test/mock-fn.test.js
  test/js/bun/test/mock-test.test.ts
  test/js/bun/test/test-interop.js
  test/js/bun/test/test-test.test.ts
  test/package.json
  test/snippets/package-json-exports/_node_modules_copy/exact/package.json
Due: prettier --write, zig fmt

add `compileError` reminder
  src/bun.js/base.zig
  src/multi_array_list.zig
Due: zig fmt

fix merge
  src/bun.js/node/types.zig
Due: zig fmt

format
  src/bun.js/bindings/bindings.zig
  src/bun.js/webcore/streams.zig
  src/js_lexer_tables.zig
Due: zig fmt

upgrade to llvm 16
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  .scripts/postinstall.sh
  Dockerfile
  Makefile
  docs/project/development.md
  src/bun.js/bindings/FFI.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
Due: prettier --write, zig fmt

Revert "Update Github action runners"
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Due: none

Revert "upgrade to llvm 16"
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  .scripts/postinstall.sh
  Dockerfile
  Makefile
  docs/project/development.md
  src/bun.js/bindings/FFI.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
Due: prettier --write, zig fmt

Add vi.spyOn and clean up some binding calls
  src/bun.js/bindings/JSMockFunction.cpp
  src/bun.js/test/jest.zig
  test/bun.lockb
  test/cli/run/cjs-repro/c.js
  test/js/bun/test/mock-fn.test.js
  test/js/bun/test/test-interop.js
  test/package.json
Due: prettier --write, zig fmt

add vi.restoreAllMocks
  src/bun.js/test/jest.zig
Due: zig fmt

remove junk file
  test/cli/run/cjs-repro/c.js
Due: prettier --write

CommonJS bun build cannot use import.meta
  src/js_printer.zig
Due: zig fmt

wip changes for CommonJS
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/CommonJSModuleRecord.h
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ModuleLoader.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/js/builtins/BunBuiltinNames.h
  src/js/builtins/Module.ts
  src/js/builtins/builtins.d.ts
  src/js/out/WebCoreJSBuiltins.cpp
  src/js/out/WebCoreJSBuiltins.h
  src/js/out/modules/thirdparty/depd.js
  src/js/thirdparty/depd.js
  src/js_parser.zig
Due: prettier --write, zig fmt

even more code
  src/js/builtins/ImportMetaObject.ts
Due: prettier --write

this rewrite is almost complete
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
Due: none

wip
  src/js/out/WebCoreJSBuiltins.cpp
  src/js_printer.zig
Due: zig fmt

Remove usages of `import.meta.require` from builtins
  src/js/node/assert.js
  src/js/node/async_hooks.js
  src/js/node/child_process.js
  src/js/node/crypto.js
  src/js/node/dns.promises.js
  src/js/node/fs.js
  src/js/node/http.js
  src/js/node/https.js
  src/js/node/net.js
  src/js/node/readline.js
  src/js/node/readline.promises.js
  src/js/node/stream.promises.js
  src/js/node/tls.js
  src/js/node/util.js
  src/js/thirdparty/undici.js
Due: prettier --write

Remove usages of require
  src/js/node/events.js
  src/js/node/http.js
  src/js/node/path.js
  src/js/node/stream.js
Due: prettier --write

:scissors: builtin rewrite commonjs in printer
  src/js_printer.zig
Due: zig fmt

fixups
  src/js/node/assert.js
  src/js/node/crypto.js
  src/js/node/url.js
Due: prettier --write

Remove depd
  src/bun.js/module_loader.zig
Due: zig fmt

Use lazy custom getters for import.meta
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
Due: none

ugh
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/CommonJSModuleRecord.h
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/js/builtins/Module.ts
  src/js_parser.zig
Due: prettier --write, zig fmt

still crashing
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigSourceProvider.cpp
  src/bun.js/bindings/bindings.cpp
  src/js/builtins/ImportMetaObject.ts
  src/js/builtins/Module.ts
  src/js/out/WebCoreJSBuiltins.cpp
  src/js_parser.zig
Due: prettier --write, zig fmt

fixup undici
  src/js/out/modules/thirdparty/undici.js
  src/js/thirdparty/undici.js
Due: prettier --write

comment out import.meta.require.resolve temporarily
  src/bun.js/bindings/ImportMetaObject.cpp
Due: none

CommonJS bun build cannot use import.meta (#3378)
  src/js_printer.zig
Due: zig fmt

revamp dotEnv parser - fixes `strings.indexOfAny()` - fixes OOB array access
  src/bun.js/api/bun.zig
  src/env_loader.zig
  src/string_immutable.zig
  test/cli/install/bunx.test.ts
  test/cli/run/env.test.ts
Due: prettier --write, zig fmt

Builtins now have a `builtin://` protocol in source origin
  src/bun.js/bindings/ZigSourceProvider.cpp
Due: none

Seems to work?
  .vscode/launch.json
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ModuleLoader.h
  src/bun.js/bindings/ZigSourceProvider.h
Due: none

Finsih getting rid of primordials
  src/bun.js/bindings/ImportMetaObject.cpp
Due: none

switcharoo
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/CommonJSModuleRecord.h
Due: none

No more function
  src/bun.js/modules/ProcessModule.h
Due: none

just one more bug
  src/js/builtins/ImportMetaObject.ts
  src/js/out/WebCoreJSBuiltins.cpp
  test/js/bun/resolve/import-meta.test.js
Due: prettier --write

Update launch.json
  .vscode/launch.json
Due: none
