Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

`bun run zig-format`
  src/bun.js/test/jest.zig
Due: zig fmt

fix test
  test/js/bun/test/test-failing.test.ts
Due: prettier --write

refactor: move `JSValue.get` to `JSObject`
  src/bun.js/bindings/JSObject.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers.h
Due: zig fmt

`bun run zig-format`
  src/bun.js/bindings/JSObject.zig
Due: zig fmt

fix(runtime): error stack traces missing column numbers
  src/bun.js/bindings/CallSite.cpp
Due: none

Update nodejs-apis.md -> node:util compatible methods (#17858)
  docs/runtime/nodejs-apis.md
Due: prettier --write

fix assertComptime call
  src/shell/shell.zig
Due: zig fmt

update lockfile, mark plugin preload test as failing
  test/bun.lock
  test/config/bunfig/fixtures/preload/plugin/index.ts
  test/config/bunfig/preload.test.ts
Due: prettier --write

do not rely on pre-determined port numbers
  test/js/bun/net/tcp.spec.ts
  test/js/bun/net/tcp.test.ts
Due: prettier --write

it builds
  src/allocators/AllocationScope.zig
  src/allocators/NullableAllocator.zig
  src/allocators/max_heap_allocator.zig
  src/allocators/memory_allocator.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/base.zig
  src/heap_breakdown.zig
  src/io/io.zig
  src/io/time.zig
Due: zig fmt

Clean up uWS a bit
  packages/bun-uws/src/App.h
  packages/bun-uws/src/AsyncSocketData.h
  packages/bun-uws/src/ChunkedEncoding.h
  packages/bun-uws/src/ClientApp.h
  packages/bun-uws/src/Http3App.h
  packages/bun-uws/src/Http3Context.h
  packages/bun-uws/src/HttpContext.h
  packages/bun-uws/src/HttpParser.h
  packages/bun-uws/src/HttpResponse.h
  packages/bun-uws/src/HttpRouter.h
Due: none

add missing test fn case
  test/js/bun/test/test-failing.test.ts
Due: prettier --write

it builds on linux
  src/allocators/linux_memfd_allocator.zig
  src/bun.js/webcore/streams.zig
Due: zig fmt

fix(node/net): add `test-net-socket-constructor`
  src/js/node/net.ts
  test/js/node/test/parallel/test-net-socket-constructor.js
Due: prettier --write

use a more obscure port than :4000
  test/js/bun/net/tcp.spec.ts
Due: prettier --write

refactor(net): extract isIP, isIPv4, and isIPv6
  src/js/internal/net/ip.ts
  src/js/node/net.ts
Due: prettier --write

remove unsafe comparison
  src/bun.zig
Due: zig fmt

prevent crash when trying to generate hash for a package.json file with a package name that is too long
  src/resolver/package_json.zig
Due: zig fmt

feat(test): add `test.failing` (#17864)
  packages/bun-types/test.d.ts
  src/bun.js/test/jest.zig
  src/cli/test_command.zig
  test/js/bun/test/fixtures/failing-test-fails.fixture.ts
  test/js/bun/test/fixtures/failing-test-passes.fixture.ts
  test/js/bun/test/fixtures/failing-test-timeout.fixture.ts
  test/js/bun/test/test-failing.test.ts
Due: prettier --write, zig fmt

do not returned parsed JSON if failed to generate hash + ensure user sees logged errors
  src/cli/run_command.zig
  src/resolver/package_json.zig
Due: zig fmt

nit in string
  src/resolver/package_json.zig
Due: zig fmt

check for Bun object
  test/js/node/test/common/crypto.js
Due: prettier --write

rm `.hash` field from PackageJSON
  src/resolver/package_json.zig
Due: zig fmt

fix(bunfig): fix and test preloads (#16329)
  test/bun.lock
  test/config/bunfig/fixtures/preload/mixed/bunfig.toml
  test/config/bunfig/fixtures/preload/mixed/index.fixture-test.ts
  test/config/bunfig/fixtures/preload/mixed/index.ts
  test/config/bunfig/fixtures/preload/mixed/preload-run.ts
  test/config/bunfig/fixtures/preload/mixed/preload-test.ts
  test/config/bunfig/fixtures/preload/mixed/readme.md
  test/config/bunfig/fixtures/preload/multi/bunfig.empty.toml
  test/config/bunfig/fixtures/preload/multi/bunfig.toml
  test/config/bunfig/fixtures/preload/multi/cli-merge.ts
  test/config/bunfig/fixtures/preload/multi/empty.ts
  test/config/bunfig/fixtures/preload/multi/index.ts
  test/config/bunfig/fixtures/preload/multi/preload1.ts
  test/config/bunfig/fixtures/preload/multi/preload2.ts
  test/config/bunfig/fixtures/preload/multi/preload3.ts
  test/config/bunfig/fixtures/preload/multi/readme.md
  test/config/bunfig/fixtures/preload/parent/foo/bunfig.toml
  test/config/bunfig/fixtures/preload/parent/foo/index.ts
  test/config/bunfig/fixtures/preload/parent/preload.ts
  test/config/bunfig/fixtures/preload/plugin/bunfig.toml
  test/config/bunfig/fixtures/preload/plugin/foo.yaml
  test/config/bunfig/fixtures/preload/plugin/index.ts
  test/config/bunfig/fixtures/preload/relative/bunfig.toml
  test/config/bunfig/fixtures/preload/relative/index.fixture-test.ts
  test/config/bunfig/fixtures/preload/relative/index.ts
  test/config/bunfig/fixtures/preload/relative/preload.ts
  test/config/bunfig/fixtures/preload/simple/bunfig.toml
  test/config/bunfig/fixtures/preload/simple/index.fixture-test.ts
  test/config/bunfig/fixtures/preload/simple/index.ts
  test/config/bunfig/fixtures/preload/simple/preload.ts
  test/config/bunfig/preload.test.ts
  test/package.json
Due: prettier --write

rm unecessary print
  src/cli/run_command.zig
Due: zig fmt

rm extra arg from parse() call
  src/cli/filter_run.zig
  src/node_fallbacks.zig
  src/resolver/resolver.zig
Due: zig fmt

Fix some issues in Bun types (#17424)
  .vscode/settings.json
  bun.lock
  docs/api/fetch.md
  packages/bun-types/ambient.d.ts
  packages/bun-types/bun.d.ts
  packages/bun-types/devserver.d.ts
  packages/bun-types/fetch.d.ts
  packages/bun-types/globals.d.ts
  packages/bun-types/index.d.ts
  packages/bun-types/package.json
  packages/bun-types/scripts/build.ts
  packages/bun-types/tsconfig.json
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/BunObject.h
  src/bun.js/bindings/ZigGlobalObject.h
  src/cli/init/tsconfig.default.json
  src/js/builtins/shell.ts
  test/integration/bun-types/bun-types.test.ts
  test/integration/bun-types/fixture/.gitignore
  test/integration/bun-types/fixture/bun.lock
  test/integration/bun-types/fixture/index.ts
  test/integration/bun-types/fixture/package.json
  test/js/bun/s3/s3-storage-class.test.ts
  test/js/web/html/FormData.test.ts
  test/tsconfig.json
Due: prettier --write

just css stuff
  src/bake/DevServer.zig
  src/bun.js/api/JSBundler.zig
  src/bundler/bundle_v2.zig
  src/import_record.zig
  src/js_printer.zig
  src/linker.zig
  test/bake/bake-harness.ts
  test/bake/dev/css.test.ts
Due: prettier --write, zig fmt

test
  test/bake/bake-harness.ts
  test/bake/dev/css.test.ts
Due: prettier --write

Make ban-words check for comparing allocators
  src/http.zig
  test/internal/ban-words.test.ts
Due: prettier --write, zig fmt

add import cases
  test/integration/source-types/__snapshots__/toml.test.ts.snap
  test/integration/source-types/toml.test.ts
Due: prettier --write

add test-crypto-hmac.js
  test/js/node/test/parallel/test-crypto-hmac.js
Due: prettier --write

remove assertions
  packages/bun-plugin-svelte/src/index.ts
Due: prettier --write

add watchFiles (even though they don't work yet)
  packages/bun-plugin-svelte/src/index.ts
Due: prettier --write

a
  src/bake/DevServer.zig
  src/bake/client/overlay.ts
  src/bundler/bundle_v2.zig
  test/bake/bake-harness.ts
  test/bake/dev/css.test.ts
Due: prettier --write, zig fmt

SILLY
  src/bake/DevServer.zig
Due: zig fmt

address pr feedbacl
  packages/bun-plugin-svelte/README.md
  packages/bun-plugin-svelte/package.json
  packages/bun-plugin-svelte/src/modules.d.ts
  packages/bun-plugin-svelte/src/options.ts
  src/js/builtins/BundlerPlugin.ts
  test/integration/svelte/client-side.test.ts
  test/preload.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
