Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

use count instead of index for error output
  src/bun.js/test/expect.zig
Due: zig fmt

fix(win): bugs with files in roots / bugs with resolver and unc shares (#11155)
  src/bun.js/node/node_fs.zig
  src/cli.zig
  src/fs.zig
  src/resolver/resolve_path.zig
  src/resolver/resolver.zig
  src/sys.zig
  test/cli/run/run_command.test.ts
Due: prettier --write, zig fmt

fix http2 test on windows (#11236)
  test/js/node/http2/node-http2.test.js
Due: prettier --write

Fix node:dns error code issue impacting MongoDB (#11235)
  src/js/node/dns.ts
  test/js/node/dns/node-dns.test.js
Due: prettier --write

feat: load sourcemaps at runtime when using a `bun build --target=bun` bundle (#10998)
  CMakeLists.txt
  packages/bun-internal-test/src/runner.node.mjs
  src/bun.js/ConsoleObject.zig
  src/bun.js/bindings/BunString.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigSourceProvider.cpp
  src/bun.js/bindings/ZigSourceProvider.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/bun_js.zig
  src/js_ast.zig
  src/js_lexer.zig
  src/sourcemap/CodeCoverage.zig
  src/sourcemap/sourcemap.zig
  src/string.zig
  src/string_immutable.zig
  test/bundler/bundler_bun.test.ts
  test/bundler/expectBundled.ts
  test/cli/hot/hot.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

fix(install): workspace version added to package.json (#11241)
  src/install/install.zig
  test/cli/install/bun-workspaces.test.ts
Due: prettier --write, zig fmt

bypass getaddrinfo for ip addresses (#11238)
  packages/bun-usockets/src/context.c
  test/js/bun/net/socket.test.ts
Due: prettier --write

docs: update jest compatibility (#11247)
  docs/test/writing.md
Due: prettier --write

replace `[bun.MAX_PATH_BYTES + 1]u8` with `bun.PathBuffer` (#11163)
  misctools/fetch.zig
  misctools/http_bench.zig
  src/bun.js/node/node_fs_stat_watcher.zig
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/path_watcher.zig
  src/watcher.zig
Due: zig fmt

Bump + crash reporter uploading
  CMakeLists.txt
  docs/runtime/env.md
  src/crash_handler.zig
Due: prettier --write, zig fmt

meta: ci: dont linkify list of failing files (#11257)
  packages/bun-internal-test/src/runner.node.mjs
Due: none

ci: skip next-pages/dev-server on windows (#11256)
  test/harness.ts
  test/integration/next-pages/test/dev-server.test.ts
Due: prettier --write

fix(install): adding packages in subdirectories of workspaces (#11254)
  src/install/install.zig
  src/install/lockfile.zig
  src/install/resolvers/folder_resolver.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

ci: make bun-install-registry.test.ts less flaky on windows (#11253)
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

docs: Add guide for deploying a Bun app to Render (#11248)
  README.md
  docs/guides/ecosystem/render.md
Due: prettier --write

Update http2 NotImplementedErrors to report issue 8823 (#11277)
  src/js/node/http2.ts
Due: prettier --write

Fix workers on windows taking a long time to exit (#11271)
  src/bun.js/web_worker.zig
Due: zig fmt

ci: upload extra data for crash handler
  packages/bun-release/scripts/upload-s3.ts
Due: prettier --write

fix(fetch) allow Response to be GC'd before all the request body is received (#10933)
  src/bun.js/Weak.zig
  src/bun.js/base.zig
  src/bun.js/bindings/Weak.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/webcore/weak_handle.cpp
  src/bun.js/bindings/webcore/weak_handle.h
  src/bun.js/webcore/response.zig
  src/http.zig
  test/js/bun/http/bun-server.test.ts
  test/js/bun/http/serve.test.ts
  test/js/web/fetch/fetch-leak-test-fixture-3.js
  test/js/web/fetch/fetch-leak-test-fixture-4.js
  test/js/web/fetch/fetch.test.ts
Due: prettier --write, zig fmt

docs(building-windows): add info about winget (#11204)
  docs/project/building-windows.md
Due: prettier --write

crash_handler: add note if this crash is from canary (#11281)
  .github/workflows/upload.yml
  src/crash_handler.zig
Due: zig fmt

Fix `refConcurrent` and `unrefConcurrent` (#11280)
  src/async/posix_event_loop.zig
  src/async/windows_event_loop.zig
  src/bun.js/event_loop.zig
  src/bun.js/web_worker.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/blob/WriteFile.zig
  src/deps/libuv.zig
  src/deps/uws.zig
Due: zig fmt

Always propagate `error` in EventEmitter (#11210)
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/js/node/http.ts
  src/js/node/http2.ts
  test/cli/install/bun-upgrade.test.ts
  test/harness.ts
  test/js/bun/http/serve.test.ts
  test/js/node/harness.ts
  test/js/node/http/node-http.test.ts
  test/js/node/http2/node-http2.test.js
  test/js/node/stream/node-stream.test.js
  test/js/node/tls/node-tls-connect.test.ts
  test/js/node/tls/node-tls-context.test.ts
  test/js/node/tls/node-tls-server.test.ts
  test/js/web/fetch/fetch-leak.test.js
  test/js/web/fetch/fetch.tls.test.ts
  test/js/web/websocket/websocket.test.js
  test/js/workerd/html-rewriter.test.js
Due: prettier --write

limit concurrent connection count for happy eyeballs (#11282)
  packages/bun-usockets/src/bsd.c
  packages/bun-usockets/src/context.c
  packages/bun-usockets/src/internal/internal.h
  src/bun.js/api/bun/dns_resolver.zig
Due: zig fmt

Deflake serve-body-leak test
  test/js/bun/http/serve-body-leak.test.ts
Due: prettier --write

~2x faster uncached `bun install` on Windows (#11293)
  src/install/install.zig
  src/install/npm.zig
Due: zig fmt

fix spawn-kill-signal.test.ts (#11290)
  test/js/bun/spawn/spawn-kill-signal.test.ts
Due: prettier --write

ci: windows: skip bunshell stacktrace test (#11306)
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write

Save to package manifest cache async, only check disk once (#11304)
  src/install/install.zig
  src/install/npm.zig
  src/sys.zig
Due: zig fmt

fix out of bounds error for bun install (#11308)
  src/install/install.zig
  src/install/lockfile.zig
Due: zig fmt

Test gardening (#11285)
  packages/bun-internal-test/src/runner.node.mjs
  test/harness.ts
  test/js/bun/http/serve-body-leak.test.ts
  test/js/bun/spawn/spawn-streaming-stdin.test.ts
  test/js/bun/spawn/spawn-streaming-stdout.test.ts
  test/js/bun/spawn/spawn.test.ts
  test/js/node/fs/fs.test.ts
Due: prettier --write

fix `bun-install-windowsshim.test.ts` (#11258)
  test/cli/install/registry/bun-install-windowsshim.test.ts
  test/harness.ts
Due: prettier --write

add `jest.setTimeout` to bun test (#10687)
  packages/bun-types/test.d.ts
  src/bun.js/test/jest.zig
  src/cli/add_command.zig
  src/cli/test_command.zig
  src/install/lockfile.zig
  test/cli/install/bad-workspace.test.ts
  test/cli/install/bun-add.test.ts
  test/cli/install/bun-install.test.ts
  test/cli/install/bun-upgrade.test.ts
  test/cli/install/bunx.test.ts
  test/cli/install/migration/complex-workspace.test.ts
  test/cli/install/migration/migrate.test.ts
  test/cli/install/registry/bun-install-registry.test.ts
  test/integration/esbuild/esbuild.test.ts
  test/integration/next-pages/bunfig.toml
  test/integration/next-pages/test/next-build.test.ts
  test/js/bun/shell/commands/rm.test.ts
  test/js/bun/test/setTimeout-test-fixture.js
  test/js/bun/test/test-test.test.ts
  test/js/node/dns/node-dns.test.js
Due: prettier --write, zig fmt

fix(windows spawn): use Job Object to manage subprocesses of subprocesses (#11240)
  src/bun.js/api/bun/process.zig
  src/bun.zig
  src/cli.zig
  src/crash_handler.zig
  src/output.zig
  src/sys.zig
  src/windows.zig
  test/cli/hot/hot.test.ts
  test/js/bun/spawn/empty.js
  test/js/bun/spawn/job-object-bug.test.ts
  test/js/bun/spawn/job-object-bug.ts
Due: prettier --write, zig fmt

Fix formatting in guide
  docs/guides/ecosystem/render.md
Due: prettier --write

fix: fix sourcemap generation (rewrites bun.StringJoiner) (#11288)
  src/NullableAllocator.zig
  src/StringJoiner.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/body.zig
  src/bun.js/webcore/request.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/bun.zig
  src/bundler/bundle_v2.zig
  src/crash_handler.zig
  src/nullable_allocator.zig
  src/sourcemap/sourcemap.zig
  src/string_immutable.zig
  src/string_joiner.zig
  test/bun.lockb
  test/bundler/bundler_edgecase.test.ts
  test/bundler/expectBundled.ts
  test/package.json
Due: prettier --write, zig fmt

Fix linkat with O_TMPFILE on Ubuntu/non-privileged users
  src/sys.zig
Due: zig fmt

fix(install): npm lockfile migration bugfix (#11311)
  src/install/install.zig
  src/install/lockfile.zig
  test/cli/install/migration/lockfile-with-workspaces/.gitignore
  test/cli/install/migration/lockfile-with-workspaces/package-lock.json
  test/cli/install/migration/lockfile-with-workspaces/package.json
  test/cli/install/migration/lockfile-with-workspaces/packages/pkg0/package.json
  test/cli/install/migration/lockfile-with-workspaces/packages/pkg1/package.json
  test/cli/install/migration/lockfile-with-workspaces/packages/pkg2/package.json
  test/cli/install/migration/lockfile-with-workspaces/packages/pkg3/package.json
  test/cli/install/migration/migrate.test.ts
Due: prettier --write, zig fmt

fix(bundler): unify code + codeWithSourceMapShifts (#11315)
  src/bundler/bundle_v2.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
