Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Better opening
  src/bun.js/webcore/FileSink.zig
  src/io/io.zig
  src/io/openForWriting.zig
  src/shell/Builtin.zig
  src/shell/interpreter.zig
  src/sys.zig
Due: zig fmt

resolve comments
  src/ptr/CowSlice.zig
Due: zig fmt

fix windows
  src/shell/Builtin.zig
Due: zig fmt

w
  src/install/GitRunner.zig
  src/install/install.zig
  src/install/repository.zig
Due: zig fmt

`.nothrow()` on grep
  test/js/bun/symbols.test.ts
Due: prettier --write

fixes
  src/io/io.zig
  src/io/openForWriting.zig
  src/shell/Builtin.zig
  src/shell/interpreter.zig
Due: zig fmt

fix fix
  src/bundler/LinkerContext.zig
  src/bundler/linker_context/scanImportsAndExports.zig
Due: zig fmt

fix build
  src/bundler/linker_context/scanImportsAndExports.zig
Due: zig fmt

experiment
  src/bun.js/bindings/webcore/MessagePort.cpp
  src/bun.js/bindings/webcore/MessagePortChannelProvider.h
  src/bun.js/bindings/webcore/MessagePortChannelProviderImpl.cpp
  src/bun.js/bindings/webcore/MessagePortChannelProviderImpl.h
Due: none

`bun run clang-format`
  src/bun.js/bindings/webcore/MessagePortChannelProviderImpl.cpp
Due: none

Added Diploi ecosystem entry for Bun docs
  docs/guides/ecosystem/diploi.md
Due: prettier --write

make options argument not required for `fs.promises.glob` (#20480)
  src/js/internal/fs/glob.ts
  test/js/node/fs/glob.test.ts
Due: prettier --write

fix passing nested object to macro (#20467)
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/js_ast.zig
  test/bundler/bun-build-api.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

`bun scripts/glob-sources.mjs`
  cmake/sources/ZigSources.txt
Due: none

Revert "fix passing nested object to macro (#20467)"
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/js_ast.zig
  test/bundler/bun-build-api.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

Revert "fix passing nested object to macro" (#20495)
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/js_ast.zig
  test/bundler/bun-build-api.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

Revert "Revert "fix passing nested object to macro" (#20495)"
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/js_ast.zig
  test/bundler/bun-build-api.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

Update zig commit
  cmake/tools/SetupZig.cmake
Due: none

Let's take that "this is never accessed directly" warning to heart.
  src/bun.js/bindings/JSBuffer.cpp
Due: none

Revert "Let's take that "this is never accessed directly" warning to heart." (nvm lol)
  src/bun.js/bindings/JSBuffer.cpp
Due: none

include vendor/zstd in codegen-for-zig-team
  scripts/pack-codegen-for-zig-team.sh
Due: none

Fix on windows
  src/windows.zig
Due: zig fmt

fixups
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/NodeValidator.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

feat(semver): add `gt`, `lt`, `eq`, `gte`, `lte`, `neq`
  src/semver/SemverObject.zig
Due: zig fmt

inspect-error-leak.test.js: add a slightly higher asan margin
  test/js/bun/util/inspect-error-leak.test.js
Due: prettier --write

fix(bundler): correct `import_records` for TLA detection (#20358)
  src/bundler/LinkerContext.zig
  src/bundler/linker_context/scanImportsAndExports.zig
  test/bundler/cli.test.ts
  test/bundler/esbuild/default.test.ts
Due: prettier --write, zig fmt

fixup
  src/bun.js/bindings/JSValue.zig
  src/bun.js/jsc/host_fn.zig
  test/bundler/bun-build-api.test.ts
Due: prettier --write, zig fmt

`bun run prettier`
  test/bundler/bun-build-api.test.ts
Due: prettier --write

fix build
  src/bundler/linker_context/computeCrossChunkDependencies.zig
Due: zig fmt

fix passing nested object to macro" (#20497)
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/jsc/host_fn.zig
  src/js_ast.zig
  test/bundler/bun-build-api.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

add more tests to no-validate-exceptions.txt
  test/no-validate-exceptions.txt
Due: none

Support WebAssembly.{instantiate,compile}Streaming()
  cmake/sources/CxxSources.txt
  cmake/sources/JavaScriptSources.txt
  src/bun.js/bindings/ErrorCode.ts
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/bindings/webcore/JSWasmStreamingCompiler.cpp
  src/bun.js/bindings/webcore/JSWasmStreamingCompiler.h
  src/bun.js/webcore/Response.zig
  src/js/builtins/WasmStreaming.ts
Due: prettier --write, zig fmt

address review
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/CallSitePrototype.cpp
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSCommonJSModule.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/NodeVM.cpp
  src/bun.js/bindings/NodeVMScript.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/webcore/JSCookie.cpp
  src/bun.js/bindings/webcore/JSCookieMap.cpp
  src/bun.js/bindings/webcore/JSWebSocket.cpp
  src/bun.js/bindings/webcore/JSWorker.cpp
  src/bun.js/modules/BunJSCModule.h
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

Fix filesystem_router.test.ts
  src/bun.js/api/filesystem_router.zig
Due: zig fmt

address review
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/InspectorLifecycleAgent.cpp
  src/bun.js/bindings/webcore/Worker.cpp
Due: none

Remove router.deinit entirely; all the allocations are in the arena anyway
  src/bun.js/api/filesystem_router.zig
  src/router.zig
Due: zig fmt

fix stack.test.ts error
  src/bun.js/bindings/bindings.cpp
Due: none
