Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

feat: add hasOwnProperty to bindings
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/test/expect.zig
Due: zig fmt

add ws properties to BunWebSocketMocked prototype
  src/js/thirdparty/ws.js
  test/js/first_party/ws/ws.test.ts
Due: prettier --write

add tests for Server class
  test/js/first_party/ws/ws.test.ts
Due: prettier --write

Fix crash that can occur due to invalid UTF-8
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/helpers.h
Due: zig fmt

Tweak alignment of console.table
  src/bun.js/bindings/exports.zig
  src/bun.js/test/expect.zig
  src/bun.zig
  src/string.zig
  src/string_immutable.zig
Due: zig fmt

" " empty string instead of "#"
  src/bun.js/bindings/exports.zig
Due: zig fmt

refactor builtins to make event loop refactor easier
  src/bun.js/event_loop.zig
  src/shell/builtins.zig
  src/shell/interpreter.zig
Due: zig fmt

Fix parsing edge case on assignments, fix expansion on cmd assignments
  src/shell/builtins.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
Due: zig fmt

Fix crash that can occur due to invalid UTF-8 (#7926)
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/helpers.h
Due: zig fmt

Fix assertion failure
  src/bun.js/bindings/bindings.zig
Due: zig fmt

Only get the length when necessary
  src/bun.js/bindings/bindings.zig
Due: zig fmt

Avoid stale copies
  src/bun.js/bindings/exports.zig
Due: zig fmt

Add `asUTF8` helper to `bun.String`
  src/string.zig
Due: zig fmt

Cautiously handle recursion
  src/string_immutable.zig
Due: zig fmt

Further tweaks to output
  src/bun.js/bindings/exports.zig
Due: zig fmt

output
  test/js/bun/console/__snapshots__/console-table.test.ts.snap
  test/js/bun/console/console-table-json-fixture.json
  test/js/bun/console/console-table.test.ts
Due: prettier --write

Add native implementation of `getStringWidth`
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/js/builtins/ConsoleObject.ts
  src/js/internal/util/inspect.js
  src/js/node/readline.js
  src/string.zig
Due: prettier --write, zig fmt

Add snapshot for headers
  test/js/bun/console/__snapshots__/console-table.test.ts.snap
  test/js/bun/console/console-table.test.ts
Due: prettier --write

If its not a string then quote it by default
  src/bun.js/bindings/exports.zig
Due: zig fmt

Make it easier to debug when a builtin throws an exception
  src/bun.js/bindings/BunProcess.cpp
Due: none

This must be hoisted
  src/js/internal/util/inspect.js
Due: prettier --write

fix: feedbacks
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/test/expect.zig
  test/js/bun/test/expect.test.js
Due: prettier --write, zig fmt

Fix bugs in `getStringWidth`
  src/string.zig
  src/string_immutable.zig
  test/js/node/readline/getStringWidth.test.ts
Due: prettier --write, zig fmt

Update getStringWidth.test.ts
  test/js/node/readline/getStringWidth.test.ts
Due: prettier --write

Eager load it
  src/js/builtins/ConsoleObject.ts
  src/js/internal/util/inspect.js
  src/js/node/readline.js
  src/js/private.d.ts
Due: prettier --write

Tweak formatting of console.table (#7927)
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/test/expect.zig
  src/bun.zig
  src/js/builtins/ConsoleObject.ts
  src/js/internal/util/inspect.js
  src/js/node/readline.js
  src/js/private.d.ts
  src/string.zig
  src/string_immutable.zig
  test/js/bun/console/__snapshots__/console-table.test.ts.snap
  test/js/bun/console/console-table-json-fixture.json
  test/js/bun/console/console-table.test.ts
  test/js/node/readline/getStringWidth.test.ts
Due: prettier --write, zig fmt

fix: add ws properties to BunWebSocketMocked prototype (#7898)
  src/js/thirdparty/ws.js
  test/js/first_party/ws/ws.test.ts
Due: prettier --write

Fix redirect logic
  src/http.zig
Due: zig fmt

Allow extremely long redirect URLs
  test/js/web/fetch/fetch.test.ts
Due: prettier --write

Fix double-free in websocket client
  packages/bun-usockets/src/crypto/openssl.c
  src/bun.js/api/server.zig
  src/bun.zig
  src/deps/uws.zig
  src/http/websocket_http_client.zig
  test/js/web/websocket/websocket.test.js
Due: prettier --write, zig fmt

Update test
  test/js/web/websocket/websocket.test.js
Due: prettier --write

Update fetch.test.ts
  test/js/web/fetch/fetch.test.ts
Due: prettier --write

Implement Brotli support in `fetch()` (#7839)
  misctools/compression.zig
  src/brotli.zig
  src/bun.zig
  src/c.zig
  src/deps/brotli_decoder.zig
  src/deps/libcompression.zig
  src/heap_breakdown.zig
  src/http.zig
  src/output.zig
  src/zlib.zig
  test/js/web/fetch/fetch.test.ts
Due: prettier --write, zig fmt

feat: add `toContainKey` (#7773)
  packages/bun-types/test.d.ts
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/jest.classes.ts
  test/js/bun/test/expect.test.js
Due: prettier --write, zig fmt

Add Linux memfd file upload memory optimization
  src/bun.js/base.zig
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/webcore/blob.zig
  src/bun.zig
  src/linux_memfd_allocator.zig
Due: zig fmt

various build fixes
  src/bun.js/webcore/blob.zig
  src/linux_memfd_allocator.zig
Due: zig fmt

cleanup
  src/bun.js/javascript.zig
  src/linux_memfd_allocator.zig
Due: zig fmt

Update blob.zig
  src/bun.js/webcore/blob.zig
Due: zig fmt

Update base.zig
  src/bun.js/base.zig
Due: zig fmt

Add COW test
  test/js/web/fetch/blob-cow.test.ts
Due: prettier --write
