Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

?
  TODO.md
Due: prettier --write

¿pro-gress?
  src/bun.js/test/describe2.zig
Due: zig fmt

add
  describe2BeforeAll.ts
Due: prettier --write

update ZigSources
  cmake/sources/ZigSources.txt
Due: none

change describe2 order to be possible
  describe2.ts
  src/bun.js/test/describe2.zig
  src/bun.js/test/jest.classes.ts
Due: prettier --write, zig fmt

share the then fn
  TODO.md
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/headers.h
  src/bun.js/test/Collection.zig
  src/bun.js/test/Execution.zig
  src/bun.js/test/describe2.zig
Due: prettier --write, zig fmt

some notes
  src/bun.js/test/describe2.zig
  src/bun.js/test/jest.zig
Due: zig fmt

alternate
  describe2.ts
Due: prettier --write

wip add tests to the que-ueue
  describe2.ts
  src/bun.js/test/Collection.zig
  src/bun.js/test/describe2.zig
  src/bun.js/test/jest.zig
Due: prettier --write, zig fmt

wip
  src/bun.js/test/Execution.zig
Due: zig fmt

issue
  describe2.ts
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/headers.h
  src/bun.js/test/describe2.zig
  src/bun.js/test/jest.classes.ts
Due: prettier --write, zig fmt

fix imports
  src/bun.js/test/Collection.zig
  src/bun.js/test/Execution.zig
  src/bun.js/test/describe2.zig
  src/bun.js/test/jest.zig
Due: zig fmt

build:success
  src/bun.js/test/describe2.zig
Due: zig fmt

test runs now
  TODO.md
  describe2.ts
  describe2BeforeAll.ts
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/headers.h
  src/bun.js/test/Collection.zig
  src/bun.js/test/Execution.zig
  src/bun.js/test/describe2.zig
  src/bun.js/test/jest.zig
  src/codegen/cppbind.ts
Due: prettier --write, zig fmt

WIP impl generateOrderSub
  src/bun.js/test/Execution.zig
  src/bun.js/test/describe2.zig
Due: zig fmt

WIP
  src/bun.js/test/describe2.zig
Due: zig fmt

fix: allow N-API handle scope creation during GC sweep phase for Go compatibility
  src/bun.js/bindings/napi_handle_scope.cpp
Due: none

Fix entrypoing watching on macos
  src/bake/DevServer.zig
Due: zig fmt

More fixes
  src/bun.js/bindings/BunString.cpp
  src/bun.js/bindings/ZigSourceProvider.cpp
Due: none

fix: preserve legal comments in bundler to match esbuild behavior
  src/js_lexer.zig
  test/bundler/bundler_comments.test.ts
Due: prettier --write, zig fmt

describe2
  src/bun.js/test/describe2.zig
Due: zig fmt

feat: add --legal-comments CLI option for esbuild compatibility
  src/cli.zig
  src/cli/Arguments.zig
  src/options.zig
Due: zig fmt

Don't run the "Date" header timer every second all the time (#21850)
  cmake/sources/ZigSources.txt
  packages/bun-usockets/src/loop.c
  packages/bun-uws/src/Loop.h
  packages/bun-uws/src/LoopData.h
  src/bun.js/VirtualMachine.zig
  src/bun.js/api/Timer.zig
  src/bun.js/api/Timer/DateHeaderTimer.zig
  src/bun.js/api/Timer/EventLoopTimer.zig
  src/bun.js/event_loop.zig
  src/deps/libuwsockets.cpp
  src/deps/uws/InternalLoopData.zig
  src/deps/uws/Loop.zig
  test/js/bun/http/bun-serve-date.test.ts
Due: prettier --write, zig fmt

feat: add legalComments option to Bun.build() API
  src/bun.js/api/JSBundler.zig
  src/bundler/bundle_v2.zig
  test/bundler/bun-build-api.test.ts
Due: prettier --write, zig fmt

Set up toMatchInlineSnapshot() for proper snapshot generation
  get-docker.sh
Due: none

Fix review feedback for PostgreSQL error enhancements
  test/js/sql/postgres-error-enhancements.test.ts
Due: prettier --write

Remove accidentally committed Docker installation script
  get-docker.sh
Due: none

Add comprehensive PostgreSQL error condition names and detail parsing
  src/sql/postgres/protocol/ErrorResponse.zig
  test/js/sql/postgres-error-enhancements.test.ts
Due: prettier --write, zig fmt

fix toBeCloseTo missing incrementExpectCallCounter
  src/bun.js/test/expect/toBeCloseTo.zig
  src/bun.js/test/expect/toBeValidDate.zig
  src/bun.js/test/expect/toContainEqual.zig
  test/internal/ban-words.test.ts
Due: prettier --write, zig fmt

Fix abort handler in "ws" polyfill (#21867)
  src/bun.js/api/server/NodeHTTPResponse.zig
  src/bun.js/api/server/ServerWebSocket.zig
  src/bun.js/api/server/WebSocketServerContext.zig
  src/deps/uws/WebSocket.zig
  src/js/thirdparty/ws.js
  test/js/first_party/ws/ws.test.ts
Due: prettier --write, zig fmt

Windows...
  cmake/targets/BuildMimalloc.cmake
Due: none

remove extra_queue for now
  describe2Reporter.test.ts
  src/bun.js/test/Execution.zig
Due: prettier --write, zig fmt

`bun update --interactive` support scrolling (#21834)
  src/cli/update_interactive_command.zig
Due: zig fmt

fix: prevent duplicate Date headers in HTTP responses (#21677) (#21836)
  src/bun.js/bindings/NodeHTTP.cpp
  test/regression/issue/21677.test.ts
Due: prettier --write

`bun audit` add more filtering options (#21833)
  src/cli/audit_command.zig
  src/install/PackageManager/CommandLineArguments.zig
  test/cli/install/bun-audit.test.ts
Due: prettier --write, zig fmt

fix: Address PR review comments - use LinearFifo and ComptimeStringMap
  src/cli/audit_command.zig
  src/install/PackageManager/CommandLineArguments.zig
Due: zig fmt

Fix x-user-defined encoding on ARM64 Linux platforms
  src/bun.js/bindings/TextCodecUserDefined.cpp
Due: none

simplify buildProductionPackageSet function
  src/cli/audit_command.zig
Due: zig fmt

fix bunTestCatch
  describe2Reporter.test.ts
  src/bun.js/test/Execution.zig
  src/bun.js/test/describe2.zig
Due: prettier --write, zig fmt

.
  src/cli/audit_command.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
