Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Fix compile error
  src/napi/napi.zig
Due: zig fmt

post-merge changes
  src/bake/FrameworkRouter.zig
  src/bake/bake.zig
  src/bake/production.zig
  src/bun.js/bindings/bindings.zig
  src/bun.zig
  src/codegen/generate-js2native.ts
  src/string.zig
Due: prettier --write, zig fmt

remove assertion in js printer triggering for comments
  src/js_printer.zig
  test/bundler/bundler_bun.test.ts
Due: prettier --write, zig fmt

Fix env cleanup hooks
  src/bun.js/bindings/napi.cpp
  src/bun.js/bindings/napi.h
  src/napi/napi.zig
Due: zig fmt

Fix async cleanup hooks?
  src/bun.js/bindings/napi.cpp
  src/bun.js/bindings/napi.h
  src/napi/napi.zig
Due: zig fmt

Skip node-api/test_async_cleanup_hook/test.js because it uses libuv functions
  test/napi/node-napi.test.ts
Due: prettier --write

remove all 'catch return .zero'
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_fs_binding.zig
  src/bun.js/node/node_zlib_binding.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/blob.zig
  src/css/values/color_js.zig
Due: zig fmt

this can go back to normal
  src/bun.js/base.zig
Due: zig fmt

this can be try
  src/bun.js/api/BunObject.zig
Due: zig fmt

feat: install specific version of Bun
  docs/installation.md
  src/cli/upgrade_command.zig
  test/cli/install/bun-upgrade.test.ts
Due: prettier --write, zig fmt

fix(jsdoc): indentation
  packages/bun-types/globals.d.ts
Due: prettier --write

Remove assertion in js printer triggering for unicode comments (#15143)
  src/js_printer.zig
  test/bundler/bundler_bun.test.ts
Due: prettier --write, zig fmt

change pr scope to remove CONNECT
  src/http/method.zig
Due: zig fmt

Added test to check if OPTIONS Response has a body
  test/js/node/http/node-http.test.ts
Due: prettier --write

zig: make all JS constructors use JSError
  src/bun.js/BuildMessage.zig
  src/bun.js/ResolveMessage.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/filesystem_router.zig
  src/bun.js/api/glob.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_fs_binding.zig
  src/bun.js/node/node_zlib_binding.zig
  src/bun.js/node/types.zig
  src/bun.js/test/expect.zig
  src/bun.js/webcore.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/body.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/request.zig
  src/bun.js/webcore/response.zig
  src/codegen/generate-classes.ts
  src/sql/postgres.zig
Due: prettier --write, zig fmt

Small tweak
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
Due: none

Shrink the CSS parser
  src/css/css_parser.zig
  src/css/declaration.zig
  src/css/generics.zig
  src/css/media_query.zig
  src/css/printer.zig
  src/css/properties/custom.zig
  src/css/rules/style.zig
  src/css/selectors/parser.zig
  src/css/selectors/selector.zig
  src/css/small_list.zig
  src/css/values/angle.zig
  src/css/values/calc.zig
  src/css/values/color.zig
  src/css/values/gradient.zig
  src/css/values/length.zig
  src/css/values/percentage.zig
  src/css/values/size.zig
  src/css/values/time.zig
Due: zig fmt

Update install.zig
  src/install/install.zig
Due: zig fmt

another
  src/allocators.zig
  src/fs.zig
  src/install/install.zig
Due: zig fmt

Ensure we allocate package manager
  src/install/install.zig
  src/install/lockfile.zig
Due: zig fmt

Shrink Bun's binary by 3.5 MB (#15121)
  cmake/targets/BuildBun.cmake
  packages/bun-usockets/src/crypto/root_certs.cpp
  src/allocators.zig
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/JS2Native.cpp
  src/bun.js/bindings/JSBufferEncodingType.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/webcore/FetchHeaders.cpp
  src/bun.js/bindings/webcore/HTTPHeaderNames.h
  src/bun.js/bindings/webcore/HTTPHeaderStrings.cpp
  src/bun.js/bindings/webcore/WebSocket.cpp
  src/bun.js/bindings/workaround-missing-symbols.cpp
  src/cli/outdated_command.zig
  src/codegen/bundle-functions.ts
  src/codegen/generate-js2native.ts
  src/fs.zig
  src/install/dependency.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/npm.zig
  src/install/repository.zig
  src/resolver/resolver.zig
Due: prettier --write, zig fmt

Try zero fill
  cmake/targets/BuildBun.cmake
Due: none

Update README.md
  packages/bun-vscode/README.md
Due: prettier --write

handle different str encoding
  src/string_case.zig
Due: zig fmt

add tests for camel case
  test/js/bun/util/caseUtil.test.ts
Due: prettier --write

cleanup
  src/string_case.zig
Due: zig fmt

handle case-boundary for non-ascii str
  src/string_case.zig
Due: zig fmt

fix case boundary bug
  src/string_case.zig
Due: zig fmt

init impl camel case
  packages/bun-types/bun.d.ts
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/bun.zig
  src/string_case.zig
Due: prettier --write, zig fmt

add impl for capitalCase + tests
  packages/bun-types/bun.d.ts
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/string_case.zig
  test/js/bun/util/caseUtil.test.ts
Due: prettier --write, zig fmt

add impl for constantCase + tests
  packages/bun-types/bun.d.ts
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/string_case.zig
  test/js/bun/util/caseUtil.test.ts
Due: prettier --write, zig fmt

add impl for dotCase + tests
  packages/bun-types/bun.d.ts
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/string_case.zig
  test/js/bun/util/caseUtil.test.ts
Due: prettier --write, zig fmt

refactor convert case implementation
  src/string_case.zig
Due: zig fmt

handle utf16 seperators
  src/string_case.zig
Due: zig fmt

add convertAlloc
  src/string_case.zig
Due: zig fmt

add impl for trainCase + tests
  packages/bun-types/bun.d.ts
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/string_case.zig
  test/js/bun/util/caseUtil.test.ts
Due: prettier --write, zig fmt
