Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

make node-redis work
  src/bun.js/net.exports.js
Due: prettier --write

Bun v0.5.0
  Dockerfile
  Makefile
  src/__global.zig
  src/build-id
Due: zig fmt

fix: buffer.fill extended ascii
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/webcore/encoding.zig
  test/bun.js/buffer.test.js
Due: prettier --write, zig fmt

create and upgrade with proxy working, TLS and non-TLS to proxy TLS working
  src/deps/boringssl.translated.zig
  src/http_client_async.zig
Due: zig fmt

bun install/upgrade/create working with http(s)_proxy #1440
  src/install/install.zig
Due: zig fmt

add NO_PROXY support #1440
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
  src/env_loader.zig
  src/install/install.zig
Due: zig fmt

remove commented code and add TODO
  src/env_loader.zig
  src/http_client_async.zig
Due: zig fmt

fix getHttpProxy no_proxy
  src/env_loader.zig
Due: zig fmt

fix formatting
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
  src/deps/boringssl.translated.zig
  src/env_loader.zig
  src/http_client_async.zig
  src/install/install.zig
Due: zig fmt

Update crypto-hasher.mjs
  bench/snippets/crypto-hasher.mjs
Due: none

Expose tls.connect
  src/bun.js/node-tls.exports.js
Due: prettier --write

dont export twice
  src/bun.js/node-tls.exports.js
Due: prettier --write

refactor catch and getHttpProxy, fix empty strngs in env for proxy
  src/env_loader.zig
  src/http_client_async.zig
Due: zig fmt

allow optimization for handleResponseBody
  src/http_client_async.zig
Due: zig fmt

Fix console.log printing multiple properties
  src/bun.js/bindings/bindings.cpp
  test/bun.js/inspect.test.js
Due: prettier --write

Add readline, tls, net types
  bunfig.toml
  packages/bun-types/images/README.md
  packages/bun-types/index.d.ts
  packages/bun-types/net.d.ts
  packages/bun-types/readline.d.ts
  packages/bun-types/readline/promises.d.ts
  packages/bun-types/tests/net.test-d.ts
  packages/bun-types/tests/tls.test-d.ts
  packages/bun-types/tls.d.ts
Due: prettier --write

Remove unimplemented methods
  packages/bun-types/tls.d.ts
Due: prettier --write

fix(readline/promises): new Interface() -> new PromisesInterface()
  src/bun.js/readline.exports.js
Due: prettier --write

// flaky
  test/bun.js/node-test-helpers.test.js
Due: prettier --write

set available
  src/bun.js/api/bun/dns_resolver.zig
Due: zig fmt

fix(readline/promises): new Interface() -> new PromisesInterface() (#1818)
  src/bun.js/readline.exports.js
Due: prettier --write

bun install tests shouldn't fail due to terminal colors
  packages/bun-types/fs/promises.d.ts
  test/bun.js/install/bun-install.test.ts
Due: prettier --write

[EventEmitter] Fix emitter.off("eventName")
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
Due: none

[canary] Fix missing .env log
  src/bundler.zig
Due: zig fmt

Update logger.zig
  src/logger.zig
Due: zig fmt

[test] Add helper for bun env
  test/bun.js/bunEnv.ts
  test/bun.js/install/bun-install.test.ts
  test/bun.js/log-test.test.ts
Due: prettier --write

[process] Implement `process.emitWarning`
  src/bun.js/bindings/Process.cpp
  test/bun.js/process.test.js
Due: prettier --write

cleanup error message
  src/bun.js/api/bun/socket.zig
Due: zig fmt

Add types for `readline`, `tls`, `net` (#1817)
  bunfig.toml
  packages/bun-types/images/README.md
  packages/bun-types/index.d.ts
  packages/bun-types/net.d.ts
  packages/bun-types/readline.d.ts
  packages/bun-types/readline/promises.d.ts
  packages/bun-types/tests/net.test-d.ts
  packages/bun-types/tests/tls.test-d.ts
  packages/bun-types/tls.d.ts
Due: prettier --write

Allow error instance in process.emitWarning
  packages/bun-types/globals.d.ts
  src/bun.js/bindings/Process.cpp
Due: prettier --write

feat(cli): Support `HTTPS_PROXY`, `HTTP_PROXY`, and `NO_PROXY` #1440 (#1814)
  src/bun.js/webcore/response.zig
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
  src/deps/boringssl.translated.zig
  src/env_loader.zig
  src/http_client_async.zig
  src/install/install.zig
Due: zig fmt

Fix `Bun.dns` examples to use array instead of single result
  packages/bun-types/bun.d.ts
Due: prettier --write

Add `Bun.dns` to the README
  README.md
Due: prettier --write

fix: rm console.log related change
  src/bun.js/bindings/exports.zig
Due: zig fmt

Use canary in CI
  .github/workflows/bun-types-release-canary.yml
  .github/workflows/bun-types-release.yml
  .github/workflows/bun-types-tests.yml
  packages/bun-types/tests/readline.test-d.ts
Due: prettier --write

Only publish canary when types change
  .github/workflows/bun-types-release-canary.yml
Due: none

workaround lifetime issue
  src/bun.js/bindings/ImportMetaObject.cpp
Due: none

remove redundant allowSyntheticDefaultImports (#1802)
  tsconfig.base.json
  tsconfig.json
Due: none

Use canary in CI (#1823)
  .github/workflows/bun-types-release-canary.yml
  .github/workflows/bun-types-release.yml
  .github/workflows/bun-types-tests.yml
  packages/bun-types/tests/readline.test-d.ts
Due: prettier --write

Fix lifetime issue in require.resolve
  src/bun.js/api/bun.zig
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
