Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

avoid overflow
  src/bun.js/api/bun/subprocess.zig
Due: zig fmt

closeWithoutReporting
  src/bun.js/api/bun/subprocess.zig
  src/io/PipeReader.zig
Due: zig fmt

PipeWriter too
  src/io/PipeWriter.zig
Due: zig fmt

remove comment
  src/bun.js/api/bun/subprocess.zig
Due: zig fmt

Unwrap promises in bun --print
  src/bun_js.zig
Due: zig fmt

Always set the result if its an entry point
  src/bun.js/javascript.zig
Due: zig fmt

if cjs, dont set through esm eval
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/javascript.zig
  src/bun_js.zig
Due: zig fmt

add @biomejs/biome to trusted dependencies
  src/install/default-trusted-dependencies.txt
Due: none

Fix a bunch of stuff
  src/async/posix_event_loop.zig
  src/bun.js/event_loop.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
  src/shell/subproc.zig
  src/sys.zig
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write, zig fmt

Speed up this test
  test/js/node/v8/v8-date-parser.test.js
Due: prettier --write

remove an assertion that is wrong again
  src/bun.js/webcore/streams.zig
Due: zig fmt

Fix cat
  src/shell/interpreter.zig
Due: zig fmt

Fix shell rm windows
  src/shell/interpreter.zig
Due: zig fmt

Fix glob scan test on windows
  test/js/bun/glob/scan.test.ts
Due: prettier --write

Add a helpful error message when the xcode SDK is newer than the current platform
  CMakeLists.txt
Due: none

Add a helpful error message when the xcode SDK is newer than the current platform (#9397)
  CMakeLists.txt
Due: none

fix integer overflow on subprocess deinit (#9388)
  src/io/PipeReader.zig
  src/io/PipeWriter.zig
Due: zig fmt

update test things and rebase
  test/js/bun/test/test-test.test.ts
  test/js/bun/util/mmap.test.js
  test/js/node/net/node-net-server.test.ts
  test/js/node/net/node-net.test.ts
Due: prettier --write

Bump
  CMakeLists.txt
Due: none

Fix rm on windows
  src/shell/interpreter.zig
Due: zig fmt

stuff
  src/shell/interpreter.zig
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write, zig fmt

make import.meta actually use a vali url
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/js/bun/resolve/import-meta.test.js
  test/js/bun/resolve/other-cjs.js
  test/js/bun/resolve/other.js
Due: prettier --write

Make some things sync on windows
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/webcore/streams.zig
  src/io/PipeReader.zig
  src/io/PipeWriter.zig
  src/io/source.zig
  src/js/builtins/ProcessObjectInternals.ts
Due: prettier --write, zig fmt

if lockfile diff, transfer new trusted list over
  src/install/install.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

oops
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

comment
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

a
  src/bun.js/bindings/ImportMetaObject.h
Due: none

not only
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

remove constCast
  src/bun.zig
  src/cli.zig
  src/cli/init_command.zig
  src/deps/zig-clap/clap/args.zig
Due: zig fmt

performance test
  src/bun.js/javascript.zig
  test/harness.ts
  test/js/web/timers/performance.test.js
Due: prettier --write, zig fmt

mark filesink with mkfifo as todo. see #8166
  test/js/bun/util/filesink.test.ts
Due: prettier --write

make sure source data is set too
  src/install/lifecycle_script_runner.zig
Due: zig fmt

make default trusted dependencies work
  src/install/lockfile.zig
Due: zig fmt

misc crash fix
  src/bun.js/api/bun/subprocess.zig
Due: zig fmt

make this use optional pointers instead of 0xaa
  src/bun.js/webcore/streams.zig
Due: zig fmt

ensure absolute paths are propagated properly
  src/install/install.zig
  src/install/resolvers/folder_resolver.zig
Due: zig fmt

package.json expects forward slash
  src/install/install.zig
  src/install/lockfile.zig
Due: zig fmt

this assert was invalid
  src/install/lockfile.zig
Due: zig fmt

fix(install): make sure `trustedDependencies` is updated after removing packages (#9400)
  src/bun.zig
  src/cli.zig
  src/cli/init_command.zig
  src/deps/zig-clap/clap/args.zig
  src/install/install.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

add panic checks
  test/cli/install/bun-add.test.ts
  test/cli/install/bun-install.test.ts
  test/cli/install/bun-remove.test.ts
Due: prettier --write
