Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Typo
  test/bundler/expectBundled.ts
Due: prettier --write

Force \n instead of \r\n on Windows CI
  .github/workflows/bun-windows.yml
Due: none

[internal] Tweak jsonc formatting
  .vscode/settings.json
  biome.json
Due: none

windows: fix bun plugin (#8485)
  src/bundler.zig
  src/js/builtins/BundlerPlugin.ts
  src/string_immutable.zig
  test/js/bun/plugin/muh.ts
  test/js/bun/plugin/plugins.test.ts
Due: prettier --write, zig fmt

Always normalize the carriage returns in the bundler tests
  test/bundler/expectBundled.ts
  test/harness.ts
Due: prettier --write

Track `hasInstallScript` and `libc` in NPM registry api (#8495)
  src/install/npm.zig
Due: zig fmt

Make this test less flaky on Windows
  test/bundler/expectBundled.ts
Due: prettier --write

chore: Remove trailing whitespace (#8502)
  src/cli/gitignore-for-init
Due: none

[windows] Remove no longer failing tests from being marked as failing
  test/bundler/bundler_edgecase.test.ts
  test/bundler/esbuild/extra.test.ts
  test/js/bun/plugin/plugins.test.ts
  test/js/third_party/svelte/svelte.test.ts
  test/transpiler/runtime-transpiler.test.ts
Due: prettier --write

[windows] nodefs (#8509)
  src/async/windows_event_loop.zig
  src/bun.js/node/node_fs.zig
  src/string_immutable.zig
  src/sys.zig
  src/sys_uv.zig
  src/windows_c.zig
  test/harness.ts
  test/js/node/fs/fs-stream.winlink.js
  test/js/node/fs/fs.test.ts
Due: prettier --write, zig fmt

windows: setInterval.test.js is passing now (#8508)
  test/js/web/timers/setInterval.test.js
Due: prettier --write

Workaround https://github.com/microsoft/terminal/issues/16606 (#8506)
  src/bun.js/webcore.zig
  src/bun.zig
  src/cli/init_command.zig
  src/main.zig
Due: zig fmt

feat(windows): support `bun build --compile` (#8503)
  build.zig
  src/StandaloneModuleGraph.zig
  src/bun.js/node/types.zig
  src/bun.zig
  src/cli.zig
  src/cli/build_command.zig
  src/fd.zig
  src/main.zig
  src/string_immutable.zig
  src/sys.zig
  src/windows.zig
  src/windows_c.zig
  test/bundler/cli.test.ts
Due: prettier --write, zig fmt

fix(windows): bun `link`, `unlink`, and fix tests in `test/cli/install` (#8517)
  src/bun.js/test/snapshot.zig
  src/bun.zig
  src/c.zig
  src/cli/bunx_command.zig
  src/cli/package_manager_command.zig
  src/cli/run_command.zig
  src/darwin_c.zig
  src/fd.zig
  src/install/bin.zig
  src/install/extract_tarball.zig
  src/install/install.zig
  src/linux_c.zig
  src/windows_c.zig
  test/cli/install/bun-add.test.ts
  test/cli/install/bun-install.test.ts
  test/cli/install/bun-link.test.ts
  test/cli/install/bun-remove.test.ts
  test/cli/install/bun-run.test.ts
  test/cli/install/bun-update.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

not on windows
  test/cli/run/run-extensionless.test.ts
Due: prettier --write

docs: expect.extend is implemented (#8525)
  docs/test/writing.md
Due: prettier --write

docs: remove unnecessary await in lines() example (#8537)
  docs/runtime/shell.md
Due: prettier --write

docs: include `.jsx` (#8542)
  docs/bundler/index.md
Due: prettier --write

Remove references to `bun-types`
  docs/cli/init.md
  docs/quickstart.md
Due: prettier --write

chore(build): adjust arch/manjaro linux auto detect to include artix (#8510)
  CMakeLists.txt
Due: none

windows: some random things (#8521)
  packages/bun-usockets/src/eventing/libuv.c
  src/bun.js/api/BunObject.zig
  src/bun.js/api/glob.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/dir_iterator.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/encoding.zig
  src/bun.zig
  src/child_process_windows.zig
  src/cli.zig
  src/cli/bunx_command.zig
  src/cli/run_command.zig
  src/deps/uws.zig
  src/fd.zig
  src/http.zig
  src/http/websocket_http_client.zig
  src/install/extract_tarball.zig
  src/install/windows-shim/BinLinkingShim.zig
  src/install/windows-shim/build.zig
  src/install/windows-shim/bun_shim_impl.exe
  src/install/windows-shim/bun_shim_impl.zig
  src/js_ast.zig
  src/libarchive/libarchive.zig
  src/shell/interpreter.zig
  src/string.zig
  src/string_immutable.zig
Due: zig fmt

fix(builtin-bundler): do not replace globals when extending classes (#8557)
  src/codegen/bundle-functions.ts
  src/codegen/bundle-modules.ts
  src/codegen/replacements.ts
  src/js/README.md
  src/js/private.d.ts
Due: prettier --write

fix(windows): transpiler cache and other test fixes (#8471)
  src/bun.js/RuntimeTranspilerCache.zig
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/webcore/blob.zig
  src/bun.zig
  src/cli.zig
  src/cli/create_command.zig
  src/cli/init_command.zig
  src/cli/install_completions_command.zig
  src/darwin_c.zig
  src/feature_flags.zig
  src/fs.zig
  src/install/install.zig
  src/linux_c.zig
  src/sys.zig
  src/sys_uv.zig
  src/tmp.zig
  src/windows_c.zig
  test/bundler/bundler_edgecase.test.ts
  test/cli/run/run-process-env.test.ts
  test/cli/run/transpiler-cache.test.ts
  test/js/bun/util/bun-file-exists.test.js
  test/js/bun/util/reportError.test.ts
  test/js/node/process/process-args.test.js
  test/js/node/process/process.test.js
Due: prettier --write, zig fmt

feat(windows): allow open and Bun.file() with `/dev/null` (#8499)
  src/bun.js/node/node_fs.zig
  src/bun.js/webcore/blob.zig
  test/js/bun/plugin/muh.ts
  test/js/bun/shell/leak.test.ts
  test/js/bun/spawn/spawn-streaming-stdin.test.ts
  test/js/bun/spawn/spawn-streaming-stdout.test.ts
  test/js/bun/util/bun-file-windows.test.ts
Due: prettier --write, zig fmt

internal: report all failing tests to our internal feed (#8563)
  .github/workflows/bun-windows.yml
  packages/bun-internal-test/src/runner.node.mjs
Due: none

Close more file descriptors in `bun --watch` (#8533)
  packages/bun-usockets/src/bsd.c
  src/bun.js/bindings/c-bindings.cpp
  src/bun.zig
Due: zig fmt

[bun:sqlite] Support multiple statements in db.run() (#8541)
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

Fixes #8555 (#8566)
  src/install/install.zig
  src/install/semver.zig
Due: zig fmt

docs: mark PerformanceEntry and friends as implemented (#8466)
  docs/runtime/nodejs-apis.md
Due: prettier --write

fix(windows): more reliable extracting (#8567)
  docs/project/building-windows.md
  scripts/make-old-js.ps1
  src/cli/create_command.zig
  src/feature_flags.zig
  src/install/extract_tarball.zig
  src/install/install.zig
  src/libarchive/libarchive.zig
  src/windows.zig
  src/windows_c.zig
Due: prettier --write, zig fmt

Update launch.json to use `${workspaceFolder}/build/bun-debug` (#8570)
  .vscode/launch.json
Due: none

dx: create symlink on every execution (#8568)
  scripts/download-zig.sh
Due: none

fix(windows): fix win32 errors (#8569)
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/types.zig
  src/sys.zig
  src/windows.zig
  src/windows_c.zig
Due: zig fmt

fix crash
  src/string_immutable.zig
Due: zig fmt

ok
  src/string_immutable.zig
Due: zig fmt

fix napi-rs libraries on windows (#8583)
  src/bun.js/bindings/napi.cpp
  src/cli/run_command.zig
  src/install/bin.zig
  src/install/install.zig
  src/install/windows-shim/bun_shim_impl.exe
  src/install/windows-shim/bun_shim_impl.zig
  src/napi/napi.zig
  src/symbols.dyn
  src/symbols.txt
  src/windows_c.zig
Due: zig fmt

docs: remove outdated callout (#8584)
  docs/cli/test.md
Due: prettier --write

Fix "__dirname" on windows (#8579)
  src/bun.js/bindings/CommonJSModuleRecord.cpp
Due: none

add baseline in crash report (#8606)
  src/report.zig
Due: zig fmt
