Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

bench: 5-run refresh with latest idx_writer (6f37261); polish exec error logging
  RESULTS.md
  src/install/repository.zig
Due: prettier --write, zig fmt

bench: fresh bun install benchmarks - ziggit 1.65x clone, 193x findCommit
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
  benchmark/raw_results.txt
Due: prettier --write

polish: cleanup checkout fallback paths, add RESULTS.md benchmarks
  RESULTS.md
  src/install/repository.zig
Due: prettier --write, zig fmt

bench: run 37 — bun install benchmark (ziggit 71caa1c)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

bench: end-to-end bun install benchmark — stock bun vs git CLI vs ziggit
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
  benchmark/bun_install_bench.sh
Due: prettier --write

chore: update ziggit dep comment to 0b345ce (two-pass zero-alloc idx_writer)
  build.zig.zon
Due: none

benchmark: run 40 — e2e bun install + local clone/status + remote clone
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
  benchmark/bun_install_bench.sh
Due: prettier --write

bench: refresh benchmarks — ziggit at parity (0.200s vs 0.205s on small, 0.995s vs 0.989s on medium)
  RESULTS.md
Due: prettier --write

bench: run 10 — shallow clone benchmarks (ziggit c34a52e)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
  benchmark/build.zig
  benchmark/bun_install_bench.sh
Due: prettier --write, zig fmt

bench: run 4 — dead parity confirmed (ziggit 185ms vs git 185ms small, 951ms vs 936ms express)
  RESULTS.md
Due: prettier --write

bench: run 8 — ziggit 1d5d072, debug 48% faster, sequential 2% faster overall
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

bench: run 19 — ziggit 8% faster sequential, debug 51% faster, findCommit 389x
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

bench: refresh with multi-repo data (express 0.278s, lodash 0.472s) — parity across repo sizes
  RESULTS.md
Due: prettier --write

bench: fresh e2e bun install benchmarks — findCommit 536x faster (5.4µs), chalk 1.06x faster
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
  benchmark/build.zig
  benchmark/bun_install_bench.sh
  benchmark/findcommit_bench.zig
Due: prettier --write, zig fmt

bench: full re-run with HTTP clone fix - ziggit 32% faster on small repos, 185x findCommit speedup
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
  benchmark/build.zig
  benchmark/build.zig.zon
  benchmark/bun_install_bench.sh
  benchmark/raw_results.txt
Due: prettier --write, zig fmt

bench: bun install benchmarks
  src/install/repository.zig
Due: zig fmt

bench: run 24 — fresh bun install benchmarks (ziggit 40ad2ba)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

bench: run 29 — bun install benchmark (ziggit 95b31d8)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

bench: run 5 — dead parity confirmed under higher-latency conditions (ziggit 275ms vs git 274ms small, 1913ms vs 1911ms express)
  RESULTS.md
Due: prettier --write

chore: pin ziggit to 9b3fe78 (warm-cache parity + index v2 padding fix)
  build.zig.zon
Due: none

bench: refresh benchmark/RESULTS.md — warmed 5-run with latest idx_writer (6f37261)
  benchmark/RESULTS.md
Due: prettier --write

bench: run 11 — ziggit c3c0194, findCommit 429x, parallel 1.08x (was 1.35x), debug 25% faster
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

polish: expand error categorization with missing ziggit error types
  src/install/repository.zig
Due: zig fmt

fix: clean up partial directory on cloneNoCheckout failure in checkout path
  src/install/repository.zig
Due: zig fmt

bench: run 10 — findCommit 415x faster (5.0µs), sequential parity, debug 37% faster
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

bench: update RESULTS.md for ziggit 0b345ce (two-pass zero-alloc idx_writer)
  RESULTS.md
Due: prettier --write

bench: run 27 — fresh bun install benchmarks (ziggit 95b31d8)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

bench: 5-run refresh — dead parity (186ms vs 186ms small, 951ms vs 948ms express)
  RESULTS.md
Due: prettier --write

fix: wire ziggit in build.zig, fix tryHTTPS stripping git@ userinfo
  build.zig
  src/install/repository.zig
Due: zig fmt

bench: run 5 — refresh bun install e2e benchmarks (2026-03-26T21:19Z)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

polish: align error categorization with actual ziggit error values
  src/install/repository.zig
Due: zig fmt

bench: run 34 — fresh bun install benchmark (452ms cold, 388× findCommit speedup)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

fix: close dir handle on fetch/clone error paths, propagate RepositoryNotFound from fetch, improve debug logging
  src/install/repository.zig
Due: zig fmt

polish: cover missing ziggit error types (AlreadyExists, PathAlreadyExists, NoTagsFound)
  src/install/repository.zig
Due: zig fmt

docs: update RESULTS.md with full error category coverage
  RESULTS.md
Due: prettier --write

bench: run 3 — fresh bun install e2e benchmark (2026-03-26T21:12Z)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

bench: run 22 — fresh benchmark with ziggit 40ad2ba (370x findCommit, 6% seq clone)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write

bench: fresh 5-run refresh — dead parity (ziggit 199ms vs git 200ms)
  RESULTS.md
Due: prettier --write

polish: expand error categorization with all ziggit error types
  src/install/repository.zig
Due: zig fmt

bench: run 23 — fresh bun install + ziggit benchmarks (394x findCommit)
  BUN_INSTALL_BENCHMARK.md
  RESULTS.md
Due: prettier --write
