Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Skip npm aliases / catalog / dist-tag in #31748 root-dep mutation
  src/install/lockfile.rs
Due: none

Narrow #31748 fix to overrides-only, called from install_with_manager
  src/install/PackageManager/install_with_manager.rs
  src/install/lockfile.rs
Due: none

Re-sync lockfile root deps after `bun update` (no args)
  src/install/lockfile.rs
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write

Make #31748 regression tests actually exercise the bug
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write

Track $pkg overrides explicitly in OverrideMap.self_referential
  src/install/lockfile.rs
  src/install/lockfile/OverrideMap.rs
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write

Correct misleading text-only scope comment in #31748 regression test
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write

hot: refresh Bun.serve duplicate-key guard comment after [listen]- namespacing
  src/runtime/api/BunObject.rs
Due: none

hot: clear Bun.serve config.id when hot-map insert is skipped
  src/runtime/api/BunObject.rs
Due: none

hot: guard Bun.serve hot-map insert against foreign-tag collisions
  src/runtime/api/BunObject.rs
  src/runtime/socket/Listener.rs
Due: none

hot: flip allow_hot instead of clearing id on skipped serve registration
  src/runtime/api/BunObject.rs
Due: none

hot: address review feedback for Bun.listen --hot reuse
  packages/bun-types/bun.d.ts
  src/runtime/socket/Listener.rs
  test/cli/hot/hot.test.ts
Due: prettier --write

hot: tighten types and test robustness for Bun.listen --hot reuse
  packages/bun-types/bun.d.ts
  test/cli/hot/hot.test.ts
Due: prettier --write

hot: namespace user-supplied Bun.listen ids with [listen]- prefix
  src/runtime/socket/Listener.rs
Due: none

hot: reuse Bun.listen/Bun.serve listeners across --hot reloads
  src/runtime/socket/Listener.rs
  test/cli/hot/hot.test.ts
Due: prettier --write

test: make mock functions construct a proper instance
  src/jsc/bindings/JSMockFunction.cpp
  test/js/bun/test/mock-fn.test.js
Due: prettier --write

test(sql): use container.host instead of hardcoded localhost in 'Connect using uri'
  test/js/sql/sql.test.ts
Due: prettier --write

next-pages tests: skip puppeteer browser download when it can't be used [build images]
  test/integration/next-pages/test/dev-server-ssr-100.test.ts
  test/integration/next-pages/test/dev-server.test.ts
  test/integration/next-pages/test/next-build.test.ts
Due: prettier --write

webcore: mark cancel result handled unconditionally
  src/jsc/bindings/webcore/ReadableStream.cpp
Due: none

Fix debug assertion when creating errors with empty messages
  src/jsc/bindings/bindings.cpp
  src/jsc/bindings/helpers.h
  test/js/bun/test/expect-unreaachable.test.ts
Due: prettier --write

Walk up for bunfig.toml when running from a subdirectory
  src/runtime/cli/Arguments.zig
  src/runtime/cli/bunfig.zig
  test/regression/issue/29308.test.ts
Due: prettier --write, zig fmt

Validate [test].root as a string before resolving
  src/runtime/cli/bunfig.zig
Due: zig fmt

Use bun.path.isAbsolute and resolve bundle.outdir via resolveBunfigPath
  src/runtime/cli/bunfig.zig
Due: zig fmt

Update bun-run-bunfig test for ancestor walk behavior
  test/cli/install/bun-run-bunfig.test.ts
Due: prettier --write

Guard resolveBunfigRelative against Windows drive-root dirname
  src/runtime/cli/bunfig.zig
Due: zig fmt

Auto-load bunfig.toml for bun run, not just bun file.ts
  src/bun.js.zig
  src/options_types/CommandTag.zig
  src/runtime/cli/repl_command.zig
  src/runtime/cli/run_command.zig
  test/regression/issue/29308.test.ts
Due: prettier --write, zig fmt

Stop ancestor walk at non-absolute parent; drain stderr in tests
  src/runtime/cli/Arguments.zig
  test/regression/issue/29308.test.ts
Due: prettier --write, zig fmt

Drop bun-test-based test.root check; skip directory test on Windows
  test/regression/issue/29308.test.ts
Due: prettier --write

Consistent preload order and standalone ancestor walk
  src/bun.js.zig
  src/runtime/cli/bunfig.zig
  test/regression/issue/29308.test.ts
Due: prettier --write, zig fmt

Skip secondary ancestor walk when initial walk found nothing
  src/runtime/cli/Arguments.zig
Due: zig fmt

Address review: bun.path.dirname, regular-file check, simpler preload guard
  src/runtime/cli/Arguments.zig
  src/runtime/cli/bunfig.zig
  test/regression/issue/29308.test.ts
Due: prettier --write, zig fmt

Also resolve test.root, coverageDir, junit outfile against bunfig dir
  src/runtime/cli/bunfig.zig
  test/regression/issue/29308.test.ts
Due: prettier --write, zig fmt

Skip bunfig preload regression on Windows pending CI investigation
  test/regression/issue/29308.test.ts
Due: prettier --write

Append bunfig preload entries to existing ctx.preloads
  src/runtime/cli/bunfig.zig
  test/regression/issue/29308.test.ts
Due: prettier --write, zig fmt

bunx: forward and enforce --minimum-release-age
  docs/snippets/cli/bunx.mdx
  src/runtime/cli/bunx_command.rs
  src/runtime/cli/mod.rs
  test/cli/install/minimum-release-age.test.ts
Due: prettier --write

test: chmod bunx cache root 0o755 so warm-cache tests pass under umask 002
  test/cli/install/minimum-release-age.test.ts
Due: prettier --write

Port bunfig ancestor walk + path resolution fixes to Rust
  src/bunfig/arguments.rs
  src/bunfig/bunfig.rs
  src/options_types/command_tag.rs
  src/runtime/cli/repl_command.rs
  src/runtime/cli/run_command.rs
Due: none

fix(worker): deliver messages during top-level await
  src/jsc/VirtualMachine.rs
  src/jsc/VirtualMachine.zig
  src/jsc/bindings/webcore/Worker.cpp
  src/jsc/web_worker.rs
  src/jsc/web_worker.zig
  test/no-validate-leaksan.txt
  test/regression/issue/21101.test.ts
Due: prettier --write, zig fmt

Progress: format Unit::Bytes with binary IEC units (KiB/MiB/GiB)
  src/bun_core/Progress.rs
  src/bun_core/fmt.rs
  test/regression/issue/30990.test.ts
Due: prettier --write
