Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

fix(windows): dont call SetConsoleMode on stdin (#11927)
  src/output.zig
Due: zig fmt

Use commas instead of newlines as the delimiter
  scripts/is-outdated.ts
Due: prettier --write

Github actions
  .github/workflows/labeled.yml
  scripts/is-outdated.ts
Due: prettier --write

Update labeled.yml
  .github/workflows/labeled.yml
Due: none

Github actions
  .github/workflows/labeled.yml
Due: none

fix(install): use correct lockfile when printing install summary (#11930)
  src/install/dependency.zig
  src/install/install.zig
  src/install/lockfile.zig
  test/cli/install/registry/bun-install-registry.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

GitHub actions
  .github/actions/bump/action.yml
  .github/workflows/test-bump.yml
Due: none

GitHub actions
  scripts/bump.ts
Due: prettier --write

Bump version on release
  .github/actions/bump/action.yml
  .github/workflows/release.yml
Due: none

shell: Fix memory leak, lazily create `ShellInterpreter` object (#11830)
  src/bun.js/api/BunObject.zig
  src/bun.js/api/ShellArgs.classes.ts
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/generated_classes_list.zig
  src/js/builtins/shell.ts
  src/js/internal-for-testing.ts
  src/shell/interpreter.zig
  src/shell/shell.zig
  test/js/bun/shell/bunshell.test.ts
  test/js/bun/shell/leak.test.ts
  test/js/bun/shell/lex.test.ts
Due: prettier --write, zig fmt

GitHub actions
  .github/workflows/labeled.yml
  scripts/is-outdated.ts
Due: prettier --write

Add needs repro label comment
  .github/workflows/labeled.yml
Due: none

Change "what's new" link to bun blog instead of release page (#11909)
  src/cli/upgrade_command.zig
Due: zig fmt

Update debugger.md
  docs/runtime/debugger.md
Due: prettier --write

Add more docs on debugging
  docs/runtime/debugger.md
Due: prettier --write

fix(napi) `napi_call_threadsafe_function` should work with null data and `napi_create_threadsafe_function` should keep the process alive by default (#11952)
  src/napi/napi.zig
  src/sync.zig
  test/napi/napi-app/main.cpp
  test/napi/napi.test.ts
Due: prettier --write, zig fmt

Add test for `line` and `column` property on `Error` instance (#11940)
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.cpp
  src/js/builtins/BunBuiltinNames.h
  test/js/bun/test/err-custom-fixture.js
  test/js/bun/test/err-fd-fixture.js
  test/js/bun/test/err-stack-fixture.js
  test/js/bun/test/stack.test.ts
Due: prettier --write

typo (#11957)
  src/bun.js/javascript.zig
  test/bundler/bundler_bun.test.ts
Due: prettier --write, zig fmt

Update patch docs
  docs/cli/patch.md
  docs/install/patch.md
  docs/nav.ts
Due: prettier --write

Patch (#11858)
  docs/cli/patch-commit.md
  docs/cli/patch.md
  src/bun.js/api/bun/process.zig
  src/bun.js/bindings/bindings.zig
  src/cli.zig
  src/install/dependency.zig
  src/install/extract_tarball.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/patch_install.zig
  src/js/internal-for-testing.ts
  src/patch.zig
  src/resolver/resolve_path.zig
  src/sys.zig
  test/cli/install/bun-install-patch.test.ts
  test/cli/install/bun-patch.test.ts
  test/js/bun/patch/patch.test.ts
Due: prettier --write, zig fmt

Update patch.md
  docs/install/patch.md
Due: prettier --write

Oops
  src/cli/patch_command.zig
  src/cli/patch_commit_command.zig
  src/feature_flags.zig
Due: zig fmt

Use stderr instead of stdout in bun patch errors (#11966)
  src/install/patch_install.zig
  test/bundler/bundler_bun.test.ts
Due: prettier --write, zig fmt

fix(install): allow unresolvable `optionalDependencies` (#11977)
  src/install/install.zig
  src/install/lockfile.zig
  test/bun.lockb
  test/cli/install/registry/bun-install-registry.test.ts
  test/cli/install/registry/packages/has-missing-optional-dep/has-missing-optional-dep-1.0.0.tgz
  test/cli/install/registry/packages/has-missing-optional-dep/package.json
Due: prettier --write, zig fmt

log the error when file watcher fails to start (#11986)
  src/bun.js/javascript.zig
Due: zig fmt

feat(bundler): Add `--sourcemap=linked` for `//# sourceMappingURL` comments (#11983)
  docs/bundler/index.md
  packages/bun-types/bun.d.ts
  src/api/schema.zig
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/JSTranspiler.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/feature_flags.zig
  src/options.zig
  src/sourcemap/sourcemap.zig
  test/bundler/esbuild/default.test.ts
  test/bundler/expectBundled.ts
Due: prettier --write, zig fmt

Replace `libbase64` with `simdutf` (#11982)
  .gitmodules
  CMakeLists.txt
  Dockerfile
  LICENSE
  Makefile
  bench/snippets/buffer-base64.mjs
  scripts/all-dependencies.ps1
  scripts/all-dependencies.sh
  scripts/build-base64.ps1
  scripts/build-base64.sh
  src/base64/base64.zig
  src/bun.js/bindings/bun-simdutf.cpp
  src/bun.js/bindings/bun-simdutf.zig
  src/bun.js/webcore/encoding.zig
  src/resolver/data_url.zig
  src/sourcemap/sourcemap.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
