Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

node:vm: allocate prepareStackTrace call sites in the vm realm
  src/jsc/bindings/BunGlobalScope.cpp
  src/jsc/bindings/BunGlobalScope.h
  src/jsc/bindings/FormatStackTraceForJS.cpp
  src/jsc/bindings/ZigGlobalObject.cpp
  src/jsc/bindings/ZigGlobalObject.h
  test/js/node/vm/vm.test.ts
Due: prettier --write

install: stop holding dangling Semver.String inline pointers in prune
  src/install/hoisted_install.zig
  test/cli/install/bun-update.test.ts
Due: prettier --write, zig fmt

test: assert lockfile key extraction is non-empty
  test/regression/issue/23615.test.ts
Due: prettier --write

Request: detect non-empty init via WebIDL member presence
  src/runtime/webcore/Request.zig
  test/js/web/request/request.test.ts
Due: prettier --write, zig fmt

Bun.write(path, archive): honor Archive's compress option
  src/runtime/api/Archive.zig
  src/runtime/webcore/Blob.zig
  test/js/bun/archive.test.ts
Due: prettier --write, zig fmt

review: accept lax-mode FSes when we just created the extract dir
  src/jsc/ModuleLoader.zig
Due: zig fmt

fs.glob: swallow ELOOP on absolute-literal fast-path + drop stale comment
  src/glob/GlobWalker.zig
  test/js/node/fs/glob.test.ts
Due: prettier --write, zig fmt

test(24277): AsyncDisposableStack.use falls back to Symbol.dispose
  test/regression/issue/29513.test.ts
Due: prettier --write

docs: add Phase-A porting guide
  docs/PORTING.md
  scripts/port-batch.ts
Due: prettier --write

Request: remove stale `priority` mention from init-probe comment
  src/runtime/webcore/Request.zig
Due: zig fmt

test: bump timeouts for verdaccio-backed catalog peer tests
  test/regression/issue/23615.test.ts
Due: prettier --write

fix: stack-copy root source before processNamesArray (UAF on rehash)
  src/install/PackageManager/updatePackageJSONAndInstall.zig
  test/cli/install/bun-add-filter.test.ts
Due: prettier --write, zig fmt

docs: add LIFETIMES.tsv (pointer field ownership classification)
  docs/LIFETIMES.tsv
Due: none

Stop file watcher thread before Global.exit tears down memory
  src/bun_core/Global.zig
  src/watcher/Watcher.zig
  test/cli/hot/hot-reload-exit-race.test.ts
Due: prettier --write, zig fmt

Address review: handle OOM and skip cleanup when exiting
  src/watcher/Watcher.zig
  test/cli/hot/hot-reload-exit-race.test.ts
Due: prettier --write, zig fmt

Gate test on ASAN; make WindowsWatcher.stop idempotent
  src/watcher/WindowsWatcher.zig
  test/cli/hot/hot-reload-exit-race.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

Address review: block registerActive during exit; assert exit code
  src/watcher/Watcher.zig
  test/cli/hot/hot-reload-exit-race.test.ts
Due: prettier --write, zig fmt

Null Windows handles before CloseHandle to win any close-vs-observe race
  src/watcher/WindowsWatcher.zig
Due: zig fmt

Avoid adding error.ProcessExiting to start()'s error set
  src/watcher/Watcher.zig
Due: zig fmt

Address review: mutex-guarded running read; accurate isASAN comment
  src/watcher/Watcher.zig
  test/harness.ts
Due: prettier --write, zig fmt

Archive: compress on thread pool during Bun.write
  src/runtime/webcore/Blob.zig
Due: zig fmt

transpiler: preserve function-body "use strict" in CJS
  src/js_parser/ast/P.zig
  src/js_parser/ast/parse.zig
  src/js_parser/ast/visit.zig
  test/bundler/bundler_npm.test.ts
  test/regression/issue/29533-fn.fixture.cjs
  test/regression/issue/29533-module.fixture.cjs
  test/regression/issue/29533.test.ts
Due: prettier --write, zig fmt

skip `design:paramtypes` for accessor-rewritten getters
  src/js_parser/ast/P.zig
  src/js_parser/js_parser.zig
  test/regression/issue/29197.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
