Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Fixes #3512 (#3526)
  packages/bun-types/timers.d.ts
  src/bun.js/api/bun.zig
  test/js/node/timers/node-timers.test.ts
  test/js/web/timers/setTimeout-unref-fixture-2.js
  test/js/web/timers/setTimeout-unref-fixture-3.js
  test/js/web/timers/setTimeout-unref-fixture-4.js
  test/js/web/timers/setTimeout-unref-fixture-5.js
  test/js/web/timers/setTimeout-unref-fixture.js
  test/js/web/timers/setTimeout.test.js
Due: prettier --write, zig fmt

fix callbacks on release version
  src/bun.js/api/bun/socket.zig
  src/deps/uws.zig
Due: zig fmt

Update websocket_http_client.zig
  src/http/websocket_http_client.zig
Due: zig fmt

Fix detect-libc
  src/bun.js/bindings/BunDetectLibcModule.cpp
  src/bun.js/bindings/BunDetectLibcModule.h
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/JSSinkLookupTable.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/module_loader.zig
  src/js/out/modules/thirdparty/detect-libc.js
  src/js/out/modules/thirdparty/detect-libc.linux.js
  src/js/thirdparty/detect-libc.js
  src/js/thirdparty/detect-libc.linux.js
  test/bun.lockb
  test/js/first_party/detect-libc.test.ts
  test/js/first_party/undici.test.ts
  test/js/first_party/utf-8-validate.test.ts
  test/package.json
Due: prettier --write, zig fmt

Fix incorrect signatures
  src/js/out/modules/thirdparty/detect-libc.js
  src/js/thirdparty/detect-libc.js
  test/js/first_party/detect-libc.test.ts
Due: prettier --write

Format
  src/js/thirdparty/detect-libc.js
  test/js/first_party/detect-libc.test.ts
Due: prettier --write

Update installation guide in `development.md`
  docs/project/development.md
Due: prettier --write

don't unwrap react below version 18
  src/bundler/bundle_v2.zig
  src/js_parser.zig
Due: zig fmt

empty string
  src/bundler/bundle_v2.zig
  src/js_parser.zig
Due: zig fmt

also `react-dom`
  src/js_parser.zig
Due: zig fmt

fix callbacks on release version (#3531)
  src/bun.js/api/bun/socket.zig
  src/deps/uws.zig
Due: zig fmt

don't unwrap react below version `18.0.0` (#3538)
  src/bundler/bundle_v2.zig
  src/js_parser.zig
Due: zig fmt

Fixes #3537
  src/js_parser.zig
Due: zig fmt

Fixes #3537 (#3539)
  src/js_parser.zig
Due: zig fmt

refactor
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/sockets.classes.ts
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/generated_classes.zig
  src/deps/uws.zig
  src/js/node/net.js
  src/js/out/modules/node/net.js
Due: prettier --write, zig fmt

fix query without slash
  src/url.zig
  test/js/web/fetch/fetch.test.ts
Due: prettier --write, zig fmt

fix query without slash (#3547)
  src/url.zig
  test/js/web/fetch/fetch.test.ts
Due: prettier --write, zig fmt

Add mocks page
  docs/nav.ts
Due: prettier --write

Various docs updates
  Makefile
  docs/api/streams.md
  docs/cli/test.md
  docs/project/development.md
  docs/runtime/typescript.md
  docs/test/lifecycle.md
  docs/test/mocks.md
Due: prettier --write

WebKit instructions
  docs/project/development.md
  src/js/out/WebCoreJSBuiltins.cpp
Due: prettier --write

Update instructions
  docs/project/development.md
Due: prettier --write

Fix make
  Makefile
Due: none

Boring
  docs/api/http.md
Due: prettier --write

Document trusted deps
  docs/cli/install.md
Due: prettier --write

Undo makefile changes
  Makefile
Due: none

Tweak trustedDependencies docs
  docs/cli/install.md
Due: prettier --write

Tweaks
  docs/nav.ts
Due: prettier --write

Document --exact
  docs/cli/install.md
Due: prettier --write

Undo changes
  src/js/out/WebCoreJSBuiltins.cpp
Due: none

Regen
  src/js/out/WebCoreJSBuiltins.cpp
Due: none

Remove redundant j
  Makefile
  docs/test/writing.md
Due: prettier --write

Update page title
  docs/nav.ts
  docs/test/time.md
Due: prettier --write

Update test docs
  docs/cli/install.md
  docs/runtime/nodejs-apis.md
  docs/test/writing.md
Due: prettier --write

Updates
  docs/api/http.md
  packages/bun-types/tests/serve.test-d.ts
Due: prettier --write

Update nodejs compat table
  docs/runtime/nodejs-apis.md
Due: prettier --write

Various docs updates (#3437)
  docs/api/http.md
  docs/api/streams.md
  docs/cli/install.md
  docs/cli/test.md
  docs/nav.ts
  docs/project/development.md
  docs/runtime/nodejs-apis.md
  docs/runtime/typescript.md
  docs/test/lifecycle.md
  docs/test/mocks.md
  docs/test/time.md
  docs/test/writing.md
  packages/bun-types/tests/serve.test-d.ts
Due: prettier --write

fixes #3544
  src/node-fallbacks/node-fetch.js
Due: prettier --write

fixes #3544 (#3549)
  src/node-fallbacks/node-fetch.js
Due: prettier --write

refactor (#3543)
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/sockets.classes.ts
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/generated_classes.zig
  src/deps/uws.zig
  src/js/node/net.js
  src/js/out/modules/node/net.js
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
