Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

test: disable currently-failing test cases
  test/config/bunfig/preload.test.ts
Due: prettier --write

test: add cli arg merging case
  test/config/bunfig/fixtures/preload/multi/cli-merge.ts
  test/config/bunfig/fixtures/preload/multi/preload3.ts
  test/config/bunfig/fixtures/preload/multi/readme.md
  test/config/bunfig/preload.test.ts
Due: prettier --write

add parent dir test
  test/config/bunfig/fixtures/preload/parent/foo/bunfig.toml
  test/config/bunfig/fixtures/preload/parent/foo/index.ts
  test/config/bunfig/fixtures/preload/parent/preload.ts
  test/config/bunfig/preload.test.ts
  test/package.json
Due: prettier --write

test: `--preload <file>` merging
  test/config/bunfig/fixtures/preload/multi/bunfig.toml
  test/config/bunfig/fixtures/preload/multi/index.ts
  test/config/bunfig/fixtures/preload/multi/readme.md
  test/config/bunfig/fixtures/preload/relative/bunfig.toml
  test/config/bunfig/fixtures/preload/relative/index.fixture-test.ts
  test/config/bunfig/fixtures/preload/relative/index.ts
  test/config/bunfig/fixtures/preload/relative/preload.ts
  test/config/bunfig/preload.test.ts
Due: prettier --write

more test cases
  test/config/bunfig/fixtures/preload/mixed/bunfig.toml
  test/config/bunfig/fixtures/preload/mixed/index.fixture-test.ts
  test/config/bunfig/fixtures/preload/mixed/index.ts
  test/config/bunfig/fixtures/preload/mixed/preload-all.ts
  test/config/bunfig/fixtures/preload/mixed/preload-test.ts
  test/config/bunfig/fixtures/preload/mixed/readme.md
  test/config/bunfig/fixtures/preload/multi/bunfig.empty.toml
  test/config/bunfig/fixtures/preload/multi/bunfig.toml
  test/config/bunfig/fixtures/preload/multi/empty.ts
  test/config/bunfig/fixtures/preload/multi/index.ts
  test/config/bunfig/fixtures/preload/multi/preload1.ts
  test/config/bunfig/fixtures/preload/multi/preload2.ts
  test/config/bunfig/fixtures/preload/multi/readme.md
  test/config/bunfig/fixtures/preload/simple/bunfig.toml
  test/config/bunfig/fixtures/preload/simple/index.fixture-test.ts
  test/config/bunfig/fixtures/preload/simple/index.ts
  test/config/bunfig/fixtures/preload/simple/preload.ts
  test/config/bunfig/preload.test.ts
Due: prettier --write

cli merge testing
  test/config/bunfig/fixtures/preload/multi/cli-merge.ts
  test/config/bunfig/preload.test.ts
Due: prettier --write

fix(bunfig): resolve preloads relative to `bunfig.toml`
  src/bake/production.zig
  src/bun.js/javascript.zig
  src/bun.js/web_worker.zig
  src/bun_js.zig
  src/bunfig.zig
  src/cli.zig
  src/cli/run_command.zig
  src/cli/test_command.zig
  src/path.zig
  src/resolver/resolve_path.zig
  test/config/bunfig/preload.test.ts
Due: prettier --write, zig fmt

chore(js/builtins): add PullIntoDescriptor type definitions
  src/js/builtins/ReadableByteStreamInternals.ts
Due: prettier --write

add missing toString() method on NodeError
  src/bun.js/bindings/ErrorCode.cpp
Due: none

field name cleanup in ZigException
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/javascript.zig
Due: zig fmt

missing .$call
  src/js/internal/errors.ts
Due: prettier --write

add NativeReadable back in
  src/js/internal/shared.ts
  src/js/internal/streams/nativereadable.ts
  src/js/internal/webstreams_adapters.ts
  src/js/node/fs.ts
  src/js/node/stream.ts
Due: prettier --write

walawalawalawala
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_stat_watcher.zig
  src/bun.js/node/types.zig
  src/resolver/resolve_path.zig
  src/sys.zig
  test/cli/install/migration/migrate.test.ts
Due: prettier --write, zig fmt

Update html-rewriter.md
  docs/api/html-rewriter.md
Due: prettier --write

Docs: Correctly specify the sign of BigUint64Array (#16358)
  docs/api/binary-data.md
Due: prettier --write

Revert "Skip javascriptcore's first parse step for ES Modules" (#16370)
  CONTRIBUTING.md
  build.zig
  cmake/tools/SetupWebKit.cmake
  src/analyze_transpiled_module.zig
  src/bun.js/RuntimeTranspilerCache.zig
  src/bun.js/bindings/BunAnalyzeTranspiledModule.cpp
  src/bun.js/bindings/BunAnalyzeTranspiledModule.h
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigSourceProvider.cpp
  src/bun.js/bindings/ZigSourceProvider.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/js_ast.zig
  src/js_printer.zig
  src/string_immutable.zig
  src/transpiler.zig
  test/js/bun/typescript/type-export.test.ts
Due: prettier --write, zig fmt

Add --no-clear-screen to docs (#16364)
  docs/runtime/hot.md
Due: prettier --write

docs: use tag `$BUN_LATEST_VERSION` for version instead of manual (#16348)
  docs/api/fetch.md
  docs/api/spawn.md
  docs/cli/publish.md
  docs/guides/ecosystem/nuxt.md
  docs/guides/install/add-peer.md
  docs/guides/install/from-npm-install-to-bun-install.md
  docs/guides/test/run-tests.md
  docs/guides/test/snapshot.md
  docs/guides/test/update-snapshots.md
  docs/guides/util/version.md
  docs/installation.md
  docs/quickstart.md
  docs/runtime/debugger.md
  docs/test/dom.md
  packages/bun-types/package.json
Due: prettier --write

fix(cli/install): `--silent` disables summary (#16321)
  src/install/install.zig
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write, zig fmt

feat(cli/bunx): support `--no-install` flag (#16315)
  src/bun.zig
  src/cli/bunx_command.zig
  test/cli/install/bunx.test.ts
Due: prettier --write, zig fmt

Faster debug builds (#16354)
  build.zig
  entitlements.debug.plist
  packages/bun-types/bun.d.ts
  src/bun.js/module_loader.zig
  src/codegen/bake-codegen.ts
  src/js/node/stream.ts
  src/node_fallbacks.zig
  src/runtime.zig
Due: prettier --write, zig fmt

allow importing `bun.lock` (+ types for it) (#16244)
  packages/bun-types/ambient.d.ts
  packages/bun-types/bun.d.ts
  src/bun.js/module_loader.zig
  src/fs.zig
  src/options.zig
  test/js/bun/resolve/bun-lock.test.ts
  test/js/bun/resolve/jsonc.test.ts
Due: prettier --write, zig fmt

More HTMLRewriter docs
  docs/api/html-rewriter.md
  packages/bun-types/bun.d.ts
  packages/bun-types/html-rewriter.d.ts
Due: prettier --write

alalala
  src/bun.zig
  src/node_fallbacks.zig
  src/runtime.zig
  test/js/node/process-binding.test.ts
  test/js/node/test/common/index.js
  test/js/node/test/parallel/test-fs-realpath-native.js
Due: prettier --write, zig fmt

Update SetupWebKit.cmake
  cmake/tools/SetupWebKit.cmake
Due: none

Fix use of .call in builtin
  src/js/node/http2.ts
Due: prettier --write

Unify syntax highlighting and ouput for `--help` (#16360)
  src/cli.zig
  src/cli/package_manager_command.zig
  src/install/install.zig
Due: zig fmt

some fixes
  src/bun.js/bindings/ErrorCode.cpp
  src/js/internal/streams/destroy.ts
  src/js/internal/streams/operators.ts
  src/js/internal/webstreams_adapters.ts
  src/js/node/dns.ts
  src/js/node/stream.ts
Due: prettier --write

Tweak the API a little
  src/bun.js/api/server.classes.ts
  src/bun.js/api/server/HTMLBundle.zig
  src/bun.js/webcore/streams.zig
Due: prettier --write, zig fmt

its kind of usable
  src/bun.js/api/server/HTMLBundle.zig
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/module_loader.zig
  src/bun.js/modules/ObjectModule.cpp
  src/bun.js/modules/ObjectModule.h
  src/bun.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/codegen/bundle-modules.ts
  src/options.zig
  src/string_mutable.zig
Due: prettier --write, zig fmt

Regression test for #11806 (#16392)
  test/regression/issue/11806.test.ts
Due: prettier --write

fix importing internals twice
  src/runtime.zig
Due: zig fmt

implement Bun.hash.xxHash32|64()
  docs/api/hashing.md
  examples/hashing.js
  packages/bun-polyfills/lib/zighash/index.mjs
  packages/bun-polyfills/lib/zighash/src/main.zig
  packages/bun-polyfills/lib/zighash/types.d.ts
  packages/bun-polyfills/src/modules/bun/hashes.ts
  packages/bun-types/bun.d.ts
  src/bun.js/api/BunObject.zig
  test/js/bun/util/hash.test.js
Due: prettier --write, zig fmt

fix(codegen): handle generic internal functions
  src/codegen/bundle-functions.ts
  src/js/builtins/StreamInternals.ts
  src/js/node/crypto.ts
Due: prettier --write

switch to getOrPutContextAdapted & move ensureUnusedCapacity above the getorput
  src/analyze_transpiled_module.zig
Due: zig fmt

add xxHash3 as well
  docs/api/hashing.md
  examples/hashing.js
  packages/bun-polyfills/lib/zighash/index.mjs
  packages/bun-polyfills/lib/zighash/src/main.zig
  packages/bun-polyfills/lib/zighash/types.d.ts
  packages/bun-polyfills/src/modules/bun/hashes.ts
  packages/bun-types/bun.d.ts
  src/bun.js/api/BunObject.zig
  test/js/bun/util/hash.test.js
Due: prettier --write, zig fmt

fix slice with offset 0
  src/s3/client.zig
  test/js/bun/s3/s3.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
