Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

fix: We do require react/react-dom
  test/bake/fixtures/react-spa-simple/package.json
Due: none

Revert launch.json
  .vscode/launch.json
Due: none

Update src/codegen/bindgenv2/internal/any.ts
  src/codegen/bindgenv2/internal/any.ts
Due: prettier --write

bump builtin react-refresh
  src/node-fallbacks/bun.lock
  src/node-fallbacks/package.json
Due: none

Revert "Update src/codegen/bindgenv2/internal/any.ts"
  src/codegen/bindgenv2/internal/any.ts
Due: prettier --write

Add `DecodedJSValue`; make `Strong` more efficient
  src/bun.js/ModuleLoader.zig
  src/bun.js/Strong.zig
  src/bun.js/bindings/DecodedJSValue.zig
  src/bun.js/bindings/EncodedJSValue.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/Strong.cpp
  src/bun.js/jsc.zig
Due: zig fmt

Fix
  src/bun.js/bindings/JSValue.zig
Due: zig fmt

pin peechy
  test/bun.lock
Due: none

Fix fix
  src/bun.js/bindings/JSValue.zig
Due: zig fmt

update dots printing
  src/bun.js/ConsoleObject.zig
  src/bun.js/test/Execution.zig
  src/bun.js/test/bun_test.zig
  src/bun.js/test/jest.zig
  src/bunfig.zig
  src/cli/Arguments.zig
  src/cli/test_command.zig
  test/js/bun/test/dots.test.ts
  test/js/bun/test/printing/dots/dots1.fixture.ts
  test/js/bun/test/printing/dots/dots2.fixture.ts
  test/js/bun/test/printing/dots/dots3.fixture.ts
Due: prettier --write, zig fmt

fix(crypto): hkdf callback should pass null (not undefined) on success
  src/bun.js/bindings/node/crypto/CryptoHkdf.cpp
  test/js/node/crypto/hkdf-callback-null.test.ts
  test/js/node/test/parallel/test-crypto-hkdf.js
Due: prettier --write

renames cloneUpgrade → upgrade
  src/bun.js/test/bun_test.zig
  src/ptr/shared.zig
Due: zig fmt

strong_count monotonic
  src/ptr/shared.zig
Due: zig fmt

Add SOCKS5 proxy support to Bun's HTTP client
  src/http.zig
  src/http/HTTPThread.zig
  src/http/SOCKS5Tunnel.zig
  src/url.zig
  test/js/bun/http/socks5-proxy.test.ts
Due: prettier --write, zig fmt

extend the debug timeout a little
  test/bake/bake-harness.ts
Due: prettier --write

fix
  src/js/internal/sql/sqlite.ts
  test/js/sql/sqlite-sql.test.ts
Due: prettier --write

comment
  src/js/internal/sql/sqlite.ts
Due: prettier --write

rename
  src/js/internal/sql/sqlite.ts
Due: prettier --write

fix dots with junit, fix unnecessary printing with agent
  src/cli/test_command.zig
Due: zig fmt

Update test-crypto-hkdf.js
  test/js/node/test/parallel/test-crypto-hkdf.js
Due: prettier --write

fix(crypto): hkdf callback should pass null (not undefined) on success (#23216)
  src/bun.js/bindings/node/crypto/CryptoHkdf.cpp
  test/js/node/crypto/hkdf-callback-null.test.ts
  test/regression/issue/23183.test.ts
Due: prettier --write

fix and test
  src/install/isolated_install/Installer.zig
  test/cli/install/isolated-install.test.ts
  test/cli/install/registry/packages/self-dep/package.json
  test/cli/install/registry/packages/self-dep/self-dep-1.0.1.tgz
  test/cli/install/registry/packages/self-dep/self-dep-1.0.2.tgz
Due: prettier --write, zig fmt

changes
  test/bake/bake-harness.ts
Due: prettier --write

Add `.cloneUpgrade()` to fix clone-upgrade (#23201)
  src/bun.js/test/bun_test.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/expect/toMatchSnapshot.zig
  src/bun.js/test/expect/toThrowErrorMatchingSnapshot.zig
  src/bun.js/test/snapshot.zig
  src/ptr/shared.zig
Due: zig fmt

remove dynamic limit test (failing on windows)
  test/js/sql/sqlite-sql.test.ts
Due: prettier --write

replace protocol correctly
  src/cli/publish_command.zig
Due: zig fmt

global bunfig test
  test/cli/install/minimum-release-age.test.ts
Due: prettier --write

add test
  test/cli/install/bun-publish.test.ts
Due: prettier --write

slightly better solution
  src/ast/P.zig
  src/ast/visitExpr.zig
  src/js_parser.zig
Due: zig fmt

fixup
  src/cli/publish_command.zig
  src/string/immutable.zig
  test/cli/install/bun-publish.test.ts
Due: prettier --write, zig fmt

update
  src/cli/publish_command.zig
Due: zig fmt

Refactor statx implementation to use single helper function
  src/sys.zig
Due: zig fmt

clean up args
  src/cli.zig
  src/cli/Arguments.zig
Due: zig fmt

Implement almost all the methods
  src/bun.js/api/valkey2.classes.ts
  src/valkey/js_valkey_functions.zig
  src/valkey2/command.zig
  src/valkey2/js_valkey.zig
  src/valkey2/valkey.zig
  test/js/valkey2/test-utils.ts
  test/js/valkey2/valkey.test.ts
Due: prettier --write, zig fmt

Update StrongRef.h
  src/bun.js/bindings/StrongRef.h
Due: none

Refactor: Split JSNodeHTTPServerSocket into separate files (#23203)
  src/bun.js/bindings/NodeHTTP.cpp
  src/bun.js/bindings/node/JSNodeHTTPServerSocket.cpp
  src/bun.js/bindings/node/JSNodeHTTPServerSocket.h
  src/bun.js/bindings/node/JSNodeHTTPServerSocketPrototype.cpp
  src/bun.js/bindings/node/JSNodeHTTPServerSocketPrototype.h
Due: none

bun test dots reporter (#22919)
  src/bun.js/ConsoleObject.zig
  src/bun.js/test/Execution.zig
  src/bun.js/test/bun_test.zig
  src/bun.js/test/jest.zig
  src/bunfig.zig
  src/cli.zig
  src/cli/Arguments.zig
  src/cli/test_command.zig
  src/output.zig
  test/js/bun/test/dots.fixture.ts
  test/js/bun/test/dots.test.ts
  test/js/bun/test/printing/dots/dots1.fixture.ts
  test/js/bun/test/printing/dots/dots2.fixture.ts
  test/js/bun/test/printing/dots/dots3.fixture.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
