Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Improve test documentation
  docs/cli/test.md
  docs/test/coverage.md
Due: prettier --write

Update Bun.file types
  packages/bun-types/globals.d.ts
Due: prettier --write

Update nodejs compat docs with tty
  docs/runtime/nodejs-apis.md
Due: prettier --write

Address reviews
  docs/guides/runtime/web-debugger.md
  docs/test/coverage.md
Due: prettier --write

fetch(stream) add stream support for compressed and uncompressed data (#4127)
  misctools/fetch.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/event_loop.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/body.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
  src/deps/uws.zig
  src/http/zlib.zig
  src/http_client_async.zig
  src/zlib.zig
  test/js/web/fetch/fetch-gzip.test.ts
  test/js/web/fetch/fetch.stream.test.ts
  test/js/web/fetch/fetch.test.ts
  test/js/web/fetch/fixture.png
  test/js/web/fetch/fixture.png.gz
Due: prettier --write, zig fmt

Add Nuxt guide
  docs/guides/ecosystem/nuxt.md
Due: prettier --write

Fix it
  src/bun.js/ResolveMessage.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/javascript.zig
  src/bun.js/resolve_message.classes.ts
  src/js/builtins/Module.ts
Due: prettier --write, zig fmt

import errors have `code` set to `ERR_MODULE_NOT_FOUND` and `require` errors have `code` set to `MODULE_NOT_FOUND` (#4244)
  src/bun.js/ResolveMessage.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/javascript.zig
  src/bun.js/resolve_message.classes.ts
  src/bundler.zig
  src/js/builtins/Module.ts
  src/js/out/WebCoreJSBuiltins.cpp
  src/js_printer.zig
  test/js/bun/resolve/resolve-error.test.ts
Due: prettier --write, zig fmt

Add tty types
  packages/bun-types/globals.d.ts
  packages/bun-types/tests/tty.test-d.ts
  packages/bun-types/tty.d.ts
Due: prettier --write

Make the code generator less duplicative
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/scripts/generate-classes.ts
Due: prettier --write

Bun v0.8
  Dockerfile
  Makefile
  src/__global.zig
  src/build-id
  src/linker.lds
Due: zig fmt

Docs and types for v0.8.0 (#4199)
  docs/api/utils.md
  docs/cli/test.md
  docs/guides/ecosystem/nuxt.md
  docs/guides/runtime/web-debugger.md
  docs/nav.ts
  docs/runtime/nodejs-apis.md
  docs/test/coverage.md
  packages/bun-types/globals.d.ts
  packages/bun-types/tests/tty.test-d.ts
  packages/bun-types/tty.d.ts
Due: prettier --write

fix stream unref and resuming stream
  src/js/builtins/ProcessObjectInternals.ts
  src/js/node/readline.js
  src/js/out/InternalModuleRegistryConstants.h
  src/js/out/WebCoreJSBuiltins.cpp
Due: prettier --write

remove the hack we didnt need
  src/bun.js/bindings/ScriptExecutionContext.h
  src/bun.js/bindings/napi.cpp
  test/js/third_party/fsevents/fsevents-event-loop.mjs
  test/js/third_party/fsevents/fsevents.test.ts
  test/js/third_party/fsevents/package.json
Due: prettier --write

fix `child-process-stdio` test
  src/js/builtins/ProcessObjectInternals.ts
  src/js/out/WebCoreJSBuiltins.cpp
Due: prettier --write

Don't do async hooks things when async hooks are not enabled
  src/bun.js/bindings/AsyncContextFrame.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/js/node/async_hooks.ts
  src/js/out/InternalModuleRegistryConstants.h
Due: prettier --write

fix stdin stream unref and resuming (#4250)
  src/js/builtins/ProcessObjectInternals.ts
  src/js/node/readline.js
  src/js/out/InternalModuleRegistryConstants.h
  src/js/out/WebCoreJSBuiltins.cpp
Due: prettier --write

fix fsevents and stub for qwikcity (#4247)
  src/bun.js/bindings/ScriptExecutionContext.h
  src/bun.js/bindings/napi.cpp
  src/js/node/http2.ts
  src/js/node/stream.js
  src/js/node/stream.web.js
  src/js/out/InternalModuleRegistryConstants.h
  test/js/third_party/fsevents/fsevents-event-loop.mjs
  test/js/third_party/fsevents/fsevents.test.ts
  test/js/third_party/fsevents/package.json
Due: prettier --write

number related issue solved
  src/bun.js/test/expect.zig
  src/js_ast.zig
Due: zig fmt

revert WriterType changed before
  src/output.zig
Due: zig fmt

destroy -> free
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/server.zig
  src/bun.js/node/path_watcher.zig
Due: zig fmt

Smarter scheduling of event loop tasks with the http server
  src/bun.js/api/server.zig
Due: zig fmt

jsonStringify related issues solved
  src/analytics/analytics_schema.zig
  src/api/schema.zig
  src/ast/base.zig
  src/env_loader.zig
  src/fs.zig
  src/import_record.zig
  src/js_ast.zig
  src/logger.zig
Due: zig fmt

fix mem.free expected []T or *[_]T, passed [*]const u8
  src/bun.js/api/bun/socket.zig
Due: zig fmt

less exciting approach
  src/bun.js/api/server.zig
Due: zig fmt

fix expected []T or *[_]T, passed [*:0]const u8
  src/bun.js/api/server.zig
Due: zig fmt

ask for bun --revision instead bun -v
  .github/ISSUE_TEMPLATE/2-bug-report.yml
Due: none

fix build script
  build.zig
Due: zig fmt

Fix Bun.inspect types
  packages/bun-types/bun.d.ts
Due: prettier --write

Bump WebKit
  .github/workflows/bun-linux-aarch64.yml
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile
  bun.lockb
  package.json
Due: none

Another approach
  src/bun.js/api/server.zig
Due: zig fmt

dupe ref for throw fmt
  src/bun.js/webcore/request.zig
  test/js/web/fetch/fetch.test.ts
Due: prettier --write, zig fmt

Fix body-stream tests
  src/bun.js/api/server.zig
Due: zig fmt

feat(install): include top 500 packages as defaults for postinstall
  src/StaticHashMap.zig
  src/install/default-trusted-dependencies.txt
  src/install/install-scripts-allowlist.txt
  src/install/install.zig
  src/install/lockfile.zig
Due: zig fmt

windows newline handling*
  src/install/lockfile.zig
Due: zig fmt

fix build script, for real
  build.zig
Due: zig fmt

fix yield
  src/js_parser.zig
  test/bundler/bundler_edgecase.test.ts
Due: prettier --write, zig fmt

add readonly so it works with as const
  packages/bun-types/ffi.d.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
