Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

SSLContextCache: use Mutex::lock_guard() for RAII unlock (was .lock() → () bound to _guard, never unlocked → second lock in get_or_create_digest self-deadlocked on upgradeTLS)
  src/runtime/api/bun/SSLContextCache.rs
Due: none

yaml: dupe YamlString::List bytes into bump arena before storing in EString.data (Zig String.list was parser.allocator-backed; Rust Vec dropped with the scalar token → use-after-poison on to_js)
  src/interchange/yaml.rs
Due: none

Implement WebAssembly/ES Module Integration for .wasm imports
  src/jsc/ModuleLoader.zig
  src/jsc/bindings/ModuleLoader.cpp
  test/bundler/bun-build-compile-wasm.test.ts
  test/bundler/bundler_loader.test.ts
  test/js/bun/resolve/import-empty.test.js
  test/regression/issue/30369/30369.test.ts
  test/regression/issue/30369/add.wasm
Due: prettier --write, zig fmt

phase-g: test-swarm-isolated workflow (per-shard worktree + cgroup 64G/4096 pids)
  .claude/scheduled_tasks.lock
  .claude/workflows/phase-g-test-swarm-isolated.workflow.js
Due: prettier --write

phase-g: harvest (pre-isolation swap)
  src/install/auto_installer.rs
  src/js_parser/ast/lowerDecorators.rs
  src/jsc/SavedSourceMap.rs
  src/jsc/VirtualMachine.rs
  src/jsc/host_fn.rs
  src/resolver/lib.rs
  src/runtime/ffi/ffi_body.rs
Due: none

phase-g: no-new-unsafe gate in test-swarm-isolated (HARD rule + reviewer check #1)
  .claude/workflows/phase-g-test-swarm-isolated.workflow.js
Due: prettier --write

phase-g: layering-fix-not-workaround rule + no-new-unsafe in reviewer checks
  .claude/workflows/phase-f-reviewed-refactor.workflow.js
  .claude/workflows/phase-g-test-swarm-isolated.workflow.js
Due: prettier --write

Bump build-compile-wasm timeout for ASAN + assert stderr empty in bad-magic test
  test/bundler/bun-build-compile-wasm.test.ts
  test/regression/issue/30369/30369.test.ts
Due: prettier --write

Tighten bad-magic regression to assert on the wasm-specific error message
  test/regression/issue/30369/30369.test.ts
Due: prettier --write

Free wasm file buffer after cloneLatin1 to avoid leak on every import
  src/jsc/ModuleLoader.zig
Due: zig fmt

phase-g: drop rsync from isolated workflow (bun bd handles build/ creation)
  .claude/workflows/phase-g-test-swarm-isolated.workflow.js
Due: prettier --write

phase-g: fix build comment (no cmake — scripts/build.ts emits ninja directly)
  .claude/workflows/phase-g-test-swarm-isolated.workflow.js
Due: prettier --write

bake: validate bundlerOptions values are objects in Bun.serve app config
  src/bake/bake.zig
  test/js/bun/http/bun-serve-args.test.ts
Due: prettier --write, zig fmt

phase-g: isolate step resets pre-existing worktree to origin HEAD
  .claude/workflows/phase-g-test-swarm-isolated.workflow.js
Due: prettier --write

Register ESM-imported .wasm files with the bun watcher so hot-reload still fires
  src/jsc/ModuleLoader.zig
Due: zig fmt

Tighten empty-file wasm test to assert the magic-header message
  test/js/bun/resolve/import-empty.test.js
Due: prettier --write

phase-g: harvest (install agent WIP)
  src/collections/hive_array.rs
  src/jsc/ConcurrentPromiseTask.rs
  src/jsc/PluginRunner.rs
  src/jsc/RefString.rs
  src/jsc/ResolveMessage.rs
  src/jsc/webcore_types.rs
  src/ptr/owned.rs
  src/runtime/jsc_hooks.rs
  src/safety/alloc.rs
Due: none

phase-g: test-swarm targets hangs+divergences (compare vs USE_SYSTEM_BUN baseline)
  .claude/workflows/phase-g-test-swarm-isolated.workflow.js
Due: prettier --write

phase-g: test-swarm survey parallelized (xargs -P8) + cached baseline + 15s timeout
  .claude/workflows/phase-g-test-swarm-isolated.workflow.js
Due: prettier --write

phase-g: test-swarm-v3 (ONE rebuild/round, contiguous slices, fail-fast survey @ 14, fix-agents read-only)
  .claude/scheduled_tasks.lock
  .claude/workflows/phase-g-test-swarm-v3.workflow.js
Due: prettier --write

md: replace no-op StaticBitSet stub with real ArrayBitSet<256>
  src/md/parser.rs
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
