Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

fix on windows
  src/glob.zig
  test/js/bun/glob/scan.test.ts
Due: prettier --write, zig fmt

create separate handlers object for onread
  src/js/node/net.ts
Due: prettier --write

Apply formatting changes
  src/js/node/net.ts
Due: prettier --write

add test
  test/js/node/net/node-net.test.ts
Due: prettier --write

Apply formatting changes
  test/js/node/net/node-net.test.ts
Due: prettier --write

add icu and unicode versions
  src/bun.js/bindings/BunProcess.cpp
Due: none

chore(types): Remove type for `parseArgs`
  packages/bun-types/bun.d.ts
Due: prettier --write

reset before newline
  src/bun_js.zig
Due: zig fmt

Print bun version on unhandled errors (#10760)
  src/Global.zig
  src/bun.js/bindings/BunProcess.cpp
  src/bun_js.zig
  test/bundler/expectBundled.ts
  test/js/bun/util/reportError.test.ts
Due: prettier --write, zig fmt

allow connecting a socket again after its connection was closed
  src/js/node/net.ts
  test/js/node/net/node-net.test.ts
Due: prettier --write

run more node-net tests
  test/js/node/net/node-net.test.ts
Due: prettier --write

fix encoder output management
  src/bun.js/api/brotli.zig
Due: zig fmt

this assert was invalid
  src/bun.js/api/brotli.zig
Due: zig fmt

destroy in deinit
  src/bun.js/api/brotli.zig
Due: zig fmt

add a todo
  src/bun.js/api/brotli.zig
Due: zig fmt

use has_pending_activity instead of ref
  src/bun.js/api/brotli.zig
Due: zig fmt

test
  test/integration/next-pages/test/next-build.test.ts
Due: prettier --write

fix merge
  test/cli/install/bun-install.test.ts
Due: prettier --write

prevent overflow
  src/sourcemap/sourcemap.zig
Due: zig fmt

Revert "test"
  test/integration/next-pages/test/next-build.test.ts
Due: prettier --write

oops
  test/integration/next-pages/bunfig.toml
Due: none

docs(sqlite): fix a small typo in `.run()` section
  docs/api/sqlite.md
Due: prettier --write

a
  test/bundler/bundler_naming.test.ts
Due: prettier --write

allow connecting a socket again after its connection was closed (#10781)
  src/js/node/net.ts
  test/js/node/net/node-net.test.ts
Due: prettier --write

docs(sqlite): fix a small typo in `.run()` section (#10784)
  docs/api/sqlite.md
Due: prettier --write

Update bun.d.ts
  packages/bun-types/bun.d.ts
Due: prettier --write

chore(types): Remove type for `parseArgs` (#10777)
  packages/bun-types/bun.d.ts
Due: prettier --write

fix(bundler): naming of dynamic import chunks (#10761)
  src/bundler/bundle_v2.zig
  src/cli.zig
  test/bundler/bundler_naming.test.ts
Due: prettier --write, zig fmt

zero based
  src/bun.js/bindings/bindings.cpp
Due: none

Fix bad stack traces (#10778)
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.cpp
Due: none

not zig
  CMakeLists.txt
Due: none

fix build
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/napi.cpp
  src/bun.js/bindings/webcore/JSDOMPromiseDeferred.cpp
Due: none

update
  src/bun.js/bindings/KeyObject.cpp
Due: none

does this fix ci
  test/integration/next-pages/test/dev-server-ssr-100.test.ts
  test/integration/next-pages/test/next-build.test.ts
Due: prettier --write

delete
  packages/bun-uws/src/App.h
Due: none

initialize
  src/bun.js/bindings/webcrypto/JSCryptoAlgorithmParameters.cpp
Due: none

Update create-release-build.yml
  .github/workflows/create-release-build.yml
Due: none

Add missing $
  .github/workflows/create-release-build.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
