Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

refactor: organize native glob code (#15914)
  src/bun.js/api/glob.zig
  src/cli/filter_arg.zig
  src/cli/outdated_command.zig
  src/cli/pack_command.zig
  src/glob.zig
  src/glob/GlobWalker.zig
  src/glob/ascii.zig
  src/install/lockfile.zig
  src/shell/interpreter.zig
Due: zig fmt

Update src/js/internal/util/inspect.js
  src/js/internal/util/inspect.js
Due: prettier --write

S3.upload, S3.unlink, S3.presign
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/webcore/blob.zig
Due: zig fmt

fix(process): `process.kill` allows zero or negative pids
  src/bun.js/bindings/BunProcess.cpp
Due: none

fix win32 tests
  src/cli/filter_run.zig
  test/cli/run/filter-workspace.test.ts
Due: prettier --write, zig fmt

S3.upload, S3.unlink, S3.presign
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/blob/WriteFile.zig
  src/bun.js/webcore/response.zig
  src/s3.zig
Due: zig fmt

Rename src/bundler.zig -> src/transpiler.zig
  src/transpiler.zig
Due: zig fmt

Update build_command.zig
  src/cli/build_command.zig
Due: zig fmt

Update src/bundler/entry_points.zig
  src/bundler/entry_points.zig
Due: zig fmt

opsie
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/body.zig
  src/bun.js/webcore/response.zig
Due: zig fmt

opsie
  src/bun.js/webcore/response.zig
Due: zig fmt

Update src/bake/production.zig
  src/bake/production.zig
Due: zig fmt

opsie
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/response.zig
Due: zig fmt

opsie again
  src/bun.js/webcore/blob.zig
Due: zig fmt

deduplicate
  src/bun.js/webcore/blob.zig
  src/s3.zig
Due: zig fmt

Update bundle_v2.zig
  src/bundler/bundle_v2.zig
Due: zig fmt

fix(process): `process.kill` allows zero or negative pids (#15920)
  src/bun.js/bindings/BunProcess.cpp
Due: none

A couple more
  src/cli/pack_command.zig
  src/install/install.zig
Due: zig fmt

more
  src/bun.js/api/server.zig
  src/bun.js/webcore/streams.zig
  src/s3.zig
Due: zig fmt

fix bun serve
  src/bun.js/api/server.zig
Due: zig fmt

very html
  src/api/schema.zig
  src/bake/bake.zig
  src/bun.js/api/JSBundler.zig
  src/bun_js.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/cli/build_command.zig
  src/deps/lol-html.zig
  src/html_scanner.zig
  src/js_ast.zig
  src/options.zig
  src/transpiler.zig
Due: zig fmt

deps: update lolhtml to v2.1.0 (cac9f2f59aea8ad803286b0aae0d667926f441c7)
  cmake/targets/BuildLolHtml.cmake
Due: none

deps: update libdeflate to v1.23 (733848901289eca058804ca0737f8796875204c8)
  cmake/targets/BuildLibDeflate.cmake
Due: none

deps: update libarchive to v3.7.7 (7ce42547f682ea79f9382d580bd97355c0885a0f)
  cmake/targets/BuildLibArchive.cmake
Due: none

add --elide-lines override flag for workspace filtering (#15837)
  src/bunfig.zig
  src/cli.zig
  src/cli/filter_run.zig
  test/cli/run/filter-workspace.test.ts
Due: prettier --write, zig fmt

much html very load
  src/bake/DevServer.zig
  src/bundler/bundle_v2.zig
  src/html_scanner.zig
Due: zig fmt

add tests that don't all pass yet
  test/bundler/bundler_html.test.ts
  test/bundler/expectBundled.ts
Due: prettier --write

Update bundler_html.test.ts
  test/bundler/bundler_html.test.ts
Due: prettier --write

Put the CSS before the JS to avoid FOUCS
  src/bundler/bundle_v2.zig
  src/html_scanner.zig
Due: zig fmt

Fix various bugs
  src/bundler/bundle_v2.zig
  test/bundler/bundler_html.test.ts
Due: prettier --write, zig fmt

I think this fixes it?
  src/bundler/bundle_v2.zig
Due: zig fmt

Tests pass
  test/bundler/bundler_html.test.ts
Due: prettier --write

+4 passing node:zlib tests
  src/bun.js/api/zlib.classes.ts
  src/bun.js/node/node_zlib_binding.zig
  src/codegen/class-definitions.ts
  src/codegen/generate-classes.ts
  test/js/node/test/common/gc.js
  test/js/node/test/common/index.js
  test/js/node/test/parallel/test-zlib-deflate-constructors.js
  test/js/node/test/parallel/test-zlib-dictionary.js
  test/js/node/test/parallel/test-zlib-flush-flags.js
  test/js/node/test/parallel/test-zlib-invalid-input-memory.js
Due: prettier --write, zig fmt

Create test-zlib-failed-init.js
  test/js/node/test/parallel/test-zlib-failed-init.js
Due: prettier --write

We aren't going to implement `--expose-internals`
  src/bun.js/node/node_zlib_binding.zig
  test/js/node/test/parallel/test-internal-module-require.js
Due: prettier --write, zig fmt
