Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

test
  test/cli/install/registry/bun-install-registry.test.ts
  test/cli/install/registry/packages/uses-what-bin/package.json
  test/cli/install/registry/packages/uses-what-bin/uses-what-bin-1.0.0.tgz
  test/cli/install/registry/packages/uses-what-bin/uses-what-bin-1.5.0.tgz
  test/cli/install/registry/packages/what-bin/package.json
  test/cli/install/registry/packages/what-bin/what-bin-1.0.0.tgz
  test/cli/install/registry/packages/what-bin/what-bin-1.5.0.tgz
Due: prettier --write

Handle whitespace in no_proxy environment variable (#7072)
  src/env_loader.zig
  src/string_immutable.zig
Due: zig fmt

fix tests
  test/cli/install/bun-install.test.ts
Due: prettier --write

node modules bin directory fix (#7151)
  src/install/bin.zig
  src/install/install.zig
  test/cli/install/bun-install.test.ts
  test/cli/install/registry/bun-install-registry.test.ts
  test/cli/install/registry/packages/uses-what-bin/package.json
  test/cli/install/registry/packages/uses-what-bin/uses-what-bin-1.0.0.tgz
  test/cli/install/registry/packages/uses-what-bin/uses-what-bin-1.5.0.tgz
  test/cli/install/registry/packages/what-bin/package.json
  test/cli/install/registry/packages/what-bin/what-bin-1.0.0.tgz
  test/cli/install/registry/packages/what-bin/what-bin-1.5.0.tgz
Due: prettier --write, zig fmt

Fix the TypeError of isValidTLSArray for http (https://github.com/oven-sh/bun/issues/7153)
  src/js/node/http.ts
Due: prettier --write

Add leak test
  test/js/bun/glob/leak.test.ts
Due: prettier --write

Fix windows
  src/glob.zig
Due: zig fmt

Add license to bun-types (#7149)
  packages/bun-types/scripts/bundle.ts
Due: prettier --write

fix upgradeTLS
  src/bun.js/api/bun/socket.zig
Due: zig fmt

oops
  src/bun.js/api/bun/socket.zig
Due: zig fmt

more url fixes
  test/js/web/html/FormData.test.ts
  test/js/web/websocket/websocket.test.js
Due: prettier --write

use server.url to be less flasky
  test/js/web/fetch/fetch-gzip.test.ts
Due: prettier --write

fix postgres
  src/bun.js/api/bun/socket.zig
Due: zig fmt

more server.url fixes
  test/js/bun/http/bun-server.test.ts
  test/js/bun/http/fetch-file-upload.test.ts
  test/js/bun/http/serve.test.ts
  test/js/bun/plugin/plugins.test.ts
  test/js/node/async_hooks/AsyncLocalStorage.test.ts
  test/js/web/fetch/fetch-leak.test.js
  test/js/web/fetch/fetch.stream.test.ts
  test/js/web/fetch/fetch.test.ts
  test/js/web/fetch/fetch_headers.test.js
Due: prettier --write

protect raw handlers
  src/bun.js/api/bun/socket.zig
Due: zig fmt

fix onClose
  src/bun.js/api/bun/socket.zig
Due: zig fmt

fix fetch.test.ts
  test/js/web/fetch/fetch.test.ts
Due: prettier --write

comment about arena allocator use for glob walker
  src/bun.js/api/glob.zig
  src/glob.zig
Due: zig fmt

`Response` -> `any`
  packages/bun-types/bun.d.ts
Due: prettier --write

Revert previous commit & allow void in ws fetch
  packages/bun-types/bun.d.ts
Due: prettier --write

zig compiler crashes here
  src/bun.js/fd.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/types.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/streams.zig
  src/bun.zig
  src/bundler/bundle_v2.zig
  src/cli/build_command.zig
  src/fd.zig
Due: zig fmt

fix
  src/bun.zig
  src/fd.zig
  src/install/install.zig
Due: zig fmt

yippee
  src/bun.zig
Due: zig fmt

Don't allocate new `"require"` and `"resolve"` strings in every CommonJS module
  src/bun.js/bindings/BunCommonStrings.cpp
  src/bun.js/bindings/BunCommonStrings.h
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/modules/NodeModuleModule.h
Due: none

Use builtinNames more
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/CommonJSModuleRecord.cpp
Due: none

Added type test to check if you can upgrade connection without returning
  packages/bun-types/tests/serve.test-d.ts
Due: prettier --write

Don't allocate new `"require"` and `"resolve"` strings in CJS modules (#7162)
  src/bun.js/bindings/BunCommonStrings.cpp
  src/bun.js/bindings/BunCommonStrings.h
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/modules/NodeModuleModule.h
Due: none

ok
  .vscode/launch.json
  src/bun.js/node/node_fs.zig
  src/bun.js/node/types.zig
  src/bun.zig
  src/cache.zig
  src/fd.zig
  src/sys.zig
Due: zig fmt

Properly handle errors from `posix_spawn`
  src/bun.js/api/bun/spawn.zig
  src/bun.js/api/bun/subprocess.zig
  test/js/bun/spawn/spawn.test.ts
Due: prettier --write, zig fmt

Update test/js/web/console/console-timeLog.js
  test/js/web/console/console-timeLog.js
Due: prettier --write

Update console-timeLog.js
  test/js/web/console/console-timeLog.js
Due: prettier --write

Fix crash due to `isEmpty` check checking only size and not capacity
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

bin might need to be created after iterating node_modules
  src/bun.zig
  src/install/bin.zig
  src/install/install.zig
Due: zig fmt

Update bun-install-registry.test.ts
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

test this functionality in a few more tests
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

fix a test
  test/cli/install/bun-install.test.ts
Due: prettier --write

Properly handle errors from `posix_spawn` (#7163)
  src/bun.js/api/bun/spawn.zig
  src/bun.js/api/bun/subprocess.zig
  test/js/bun/spawn/spawn.test.ts
Due: prettier --write, zig fmt

another test
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

revert
  src/bun.zig
Due: zig fmt
