Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Fix runtime inspector tests to wait for conditions, not time
  test/js/bun/runtime-inspector/runtime-inspector-posix.test.ts
Due: prettier --write

fix(resolver): use POSIX separators for package names on Windows
  src/resolver/package_json.zig
Due: zig fmt

make this much easier to read
  src/js_printer.zig
Due: zig fmt

remove {todo: "true"} import attribute
  test/integration/typegraphql/src/unsolvable.test.ts
  test/js/bun/typescript/type-export.test.ts
Due: prettier --write

fix module_info leak on printWithSourceMap error
  src/bun.js/RuntimeTranspilerStore.zig
Due: zig fmt

address review comments in type-export.test.ts
  test/js/bun/typescript/type-export.test.ts
Due: prettier --write

Bump
  LATEST
  package.json
Due: none

fix(fetch): error ReadableStream body on connection failure
  src/bun.js/bindings/webcore/ReadableStream.cpp
  src/bun.js/webcore/ReadableStream.zig
  src/bun.js/webcore/fetch/FetchTasklet.zig
  test/regression/issue/26515.test.ts
Due: prettier --write, zig fmt

fix(npm): remove shebang from placeholder scripts to fix npm i -g bun on Windows
  packages/bun-release/scripts/upload-npm.ts
  test/regression/issue/24329.test.ts
Due: prettier --write

refactor(test): use container-based postgres_tls for TLS SQL tests
  test/docker/docker-compose.yml
  test/docker/index.ts
  test/js/sql/docker-tls/Dockerfile
  test/js/sql/tls-sql.test.ts
Due: prettier --write

chore: update mimalloc to latest dev3
  cmake/targets/BuildMimalloc.cmake
Due: none

fix: use single describeWithContainer to avoid race condition
  test/js/sql/tls-sql.test.ts
Due: prettier --write

fix: address review comments
  test/js/sql/tls-sql.test.ts
Due: prettier --write

Revert "perf(Buffer.indexOf): use SIMD-optimized search functions (#25745)"
  src/bun.js/bindings/JSBuffer.cpp
Due: none

Revert "perf: shrink ConcurrentTask from 24 bytes to 16 bytes (#25636)"
  src/bake/DevServer/WatcherAtomics.zig
  src/bun.js/event_loop.zig
  src/bun.js/event_loop/ConcurrentTask.zig
  src/bun.js/event_loop/JSCScheduler.zig
  src/bun.js/hot_reloader.zig
  src/threading/unbounded_queue.zig
Due: zig fmt

Revert "fix: check correct variable in subprocess stdin cleanup (#25562)"
  src/bun.js/api/bun/subprocess.zig
Due: zig fmt

fix: use temporary table in savepoint test
  test/js/sql/tls-sql.test.ts
Due: prettier --write

Upgrade WebKit to cc5e0bddf7ea
  cmake/tools/SetupWebKit.cmake
Due: none

refactor(test): use container-based postgres_tls for TLS SQL tests (#26518)
  test/docker/docker-compose.yml
  test/docker/index.ts
  test/js/sql/docker-tls/Dockerfile
  test/js/sql/tls-sql.test.ts
Due: prettier --write

chore: update mimalloc to latest dev3 (#26519)
  cmake/targets/BuildMimalloc.cmake
Due: none

Upgrade WebKit to cc5e0bddf7ea (#26526)
  cmake/tools/SetupWebKit.cmake
Due: none

fix(npm): remove shebang from placeholder scripts to fix `npm i -g bun` on Windows (#26517)
  packages/bun-release/scripts/upload-npm.ts
  test/regression/issue/24329.test.ts
Due: prettier --write

update the windows friendly build-jsc script
  scripts/build-jsc.ts
Due: prettier --write

windows: `B:/~BUN` → `B:/BUN`
  src/StandaloneModuleGraph.zig
  src/bun.js/bindings/BunProcess.cpp
  test/bundler/bun-build-compile-sourcemap.test.ts
  test/bundler/bundler_compile.test.ts
  test/regression/issue/22157.test.ts
  test/regression/issue/pe-codesigning-integrity.test.ts
Due: prettier --write, zig fmt

try prefix with "base_public_path_with_default_suffix"
  src/bundler/linker_context/generateChunksInParallel.zig
Due: zig fmt

fix(bunfig): handle config files with no extension
  src/bunfig.zig
  test/regression/issue/26530.test.ts
Due: prettier --write, zig fmt

test: add regression test for Array.filter stale results (#26534)
  test/regression/issue/026534.test.ts
Due: prettier --write

fix(diagnostics_channel): retain channels with active subscribers
  src/js/node/diagnostics_channel.ts
  test/regression/issue/26536.test.ts
Due: prettier --write

Fix promise error handling and improve rename docs
  docs/runtime/file-io.mdx
  src/bun.js/api/BunObject.zig
Due: zig fmt

fix(transpiler): fix export default class crash and accessor ! parsing with decorators
  src/ast/P.zig
  src/ast/parseProperty.zig
  src/ast/visitStmt.zig
  test/bundler/transpiler/es-decorators.test.ts
Due: prettier --write, zig fmt

fix(test): update snapshots and add experimentalDecorators to legacy tests
  test/bundler/bundler_promiseall_deadcode.test.ts
  test/bundler/esbuild/ts.test.ts
Due: prettier --write

fix(test): clean up esbuild decorator test boilerplate
  test/bundler/transpiler/es-decorators-esbuild.test.ts
Due: prettier --write

fix(test): update snapshot for cyclic-imports-async-bundler test
  test/regression/issue/cyclic-imports-async-bundler.test.js
Due: prettier --write

feat(transpiler): implement TC39 standard ES decorators lowering
  src/ast/G.zig
  src/ast/P.zig
  src/ast/parse.zig
  src/ast/parsePrefix.zig
  src/ast/parseProperty.zig
  src/ast/parseStmt.zig
  src/ast/parseTypescript.zig
  src/ast/visit.zig
  src/ast/visitBinaryExpression.zig
  src/ast/visitExpr.zig
  src/ast/visitStmt.zig
  src/bun.js/ModuleLoader.zig
  src/bun.js/RuntimeTranspilerStore.zig
  src/bundler/ParseTask.zig
  src/js_lexer_tables.zig
  src/js_printer.zig
  src/options.zig
  src/resolver/resolver.zig
  src/resolver/tsconfig_json.zig
  src/runtime.js
  src/runtime.zig
  src/transpiler.zig
  test/bundler/transpiler/es-decorators-esbuild.test.ts
  test/bundler/transpiler/es-decorators.test.ts
Due: prettier --write, zig fmt

fix(test): copy esbuild decorator tests into test dir for CI
  test/bundler/transpiler/es-decorators-esbuild.test.ts
  test/bundler/transpiler/esbuild-decorator-tests.ts
Due: prettier --write

refactor(transpiler): extract decorator lowering into lowerDecorators.zig
  src/ast/P.zig
  src/ast/lowerDecorators.zig
Due: zig fmt

fix(transpiler): address review feedback for ES decorators
  src/ast/lowerDecorators.zig
  src/ast/visitBinaryExpression.zig
  src/ast/visitStmt.zig
  src/bundler/ParseTask.zig
  src/runtime.js
Due: prettier --write, zig fmt

fix(transpiler): improve decorator lowering robustness
  src/ast/lowerDecorators.zig
  src/ast/parseProperty.zig
  src/ast/visit.zig
Due: zig fmt
