Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

more
  src/s3.zig
Due: zig fmt

fix test-process-umask.js
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/NodeValidator.cpp
  src/bun.js/bindings/NodeValidator.h
  test/js/node/test/parallel/test-process-umask.js
Due: prettier --write

fix test-process-umask-mask.js
  test/js/node/test/parallel/test-process-umask-mask.js
Due: prettier --write

more tests
  test/js/bun/s3/s3.test.ts
Due: prettier --write

fix test-process-uid-gid.js
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ErrorCode.ts
  src/bun.js/bindings/NodeValidator.cpp
  src/bun.js/bindings/NodeValidator.h
  src/bun.js/bindings/helpers.cpp
  test/js/node/test/parallel/test-process-uid-gid.js
Due: prettier --write

Bump
  cmake/tools/SetupWebKit.cmake
Due: none

fix some comments + revert ssl file streaming
  src/bun.js/rare_data.zig
  src/bun.js/webcore/response.zig
  src/s3.zig
Due: zig fmt

fix test-process-title-cli.js
  src/bun.js/bindings/exports.zig
  src/cli.zig
  test/js/node/test/common/index.js
  test/js/node/test/parallel/test-process-title-cli.js
Due: prettier --write, zig fmt

don't lowercase Error instance printing
  src/bun.js/javascript.zig
Due: zig fmt

fix test-process-setgroups.js
  src/bun.js/bindings/ErrorCode.cpp
  test/js/node/test/parallel/test-process-setgroups.js
Due: prettier --write

fix test-process-release.js
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/test-process-release.js
Due: prettier --write

fix test-process-really-exit.js
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/test-process-really-exit.js
Due: prettier --write

do things a little better
  src/bun.js/bindings/ErrorCode.ts
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/response.zig
  src/s3.zig
Due: prettier --write, zig fmt

revert server.zig
  src/bun.js/api/server.zig
Due: zig fmt

ram
  cmake/tools/SetupWebKit.cmake
  src/bun.js/modules/BunJSCModule.h
Due: none

fix
  src/bun.js/bindings/BunProcess.cpp
Due: none

more
  src/bun.js/webcore/blob.zig
  test/js/bun/s3/s3.test.ts
Due: prettier --write, zig fmt

Update SetupWebKit.cmake
  cmake/tools/SetupWebKit.cmake
Due: none

more tests
  test/js/bun/s3/bun-write-leak-fixture.js
  test/js/bun/s3/s3.test.ts
Due: prettier --write

fix test-process-no-deprecation.js
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/test-process-no-deprecation.js
Due: prettier --write

more + fixes
  src/bun.js/Strong.zig
  src/s3.zig
  test/js/bun/s3/s3-writer-leak-fixture.js
  test/js/bun/s3/s3.test.ts
Due: prettier --write, zig fmt

more
  test/js/bun/s3/s3-stream-leak-fixture.js
  test/js/bun/s3/s3.test.ts
Due: prettier --write

opsie
  src/bun.js/bindings/bindings.zig
Due: zig fmt

one more time
  cmake/tools/SetupWebKit.cmake
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/process/process.test.js
Due: prettier --write

Log slow lifecycle scripts
  src/bun.js/event_loop.zig
  src/install/install.zig
  src/install/lifecycle_script_runner.zig
Due: zig fmt

fix test-process-kill-pid.js
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ErrorCode.cpp
  test/js/node/test/parallel/test-process-kill-pid.js
Due: prettier --write

fix part start
  src/s3.zig
  test/js/bun/s3/bun-write-leak-fixture.js
  test/js/bun/s3/s3-stream-leak-fixture.js
  test/js/bun/s3/s3-writer-leak-fixture.js
  test/js/bun/s3/s3.test.ts
Due: prettier --write, zig fmt

fix test-process-hrtime.js
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/test-process-hrtime.js
Due: prettier --write

tidy
  src/bun.js/bindings/BunProcess.cpp
  src/js/node/events.ts
Due: prettier --write

less agressive
  test/js/bun/s3/bun-write-leak-fixture.js
  test/js/bun/s3/s3-stream-leak-fixture.js
  test/js/bun/s3/s3-writer-leak-fixture.js
  test/js/bun/s3/s3.test.ts
Due: prettier --write

Update cache.md
  docs/install/cache.md
Due: prettier --write

Update bunfig.md
  docs/runtime/bunfig.md
Due: prettier --write

run in parallel
  test/js/bun/s3/s3-stream-leak-fixture.js
Due: prettier --write

fix s3ReadableStream
  src/s3.zig
  test/js/bun/s3/s3-stream-leak-fixture.js
  test/js/bun/s3/s3.test.ts
Due: prettier --write, zig fmt

Log slow lifecycle scripts (#16027)
  src/bun.js/event_loop.zig
  src/install/install.zig
  src/install/lifecycle_script_runner.zig
Due: zig fmt

Make creating errors slightly faster (#16023)
  cmake/tools/SetupWebKit.cmake
  src/bun.js/bindings/BunCommonStrings.cpp
  src/bun.js/bindings/BunCommonStrings.h
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/modules/BunJSCModule.h
  test/js/node/process/process.test.js
Due: prettier --write

Fix bsd.h comments
  packages/bun-usockets/src/internal/networking/bsd.h
Due: none

should not emit onPipe after done
  src/bun.js/webcore/streams.zig
Due: zig fmt

dont enter/exit here is not necessary
  src/s3.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
