Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

put these in their right place
  src/bun.js/bindings/bindings.zig
Due: zig fmt

update
  src/bun.js/webcore/encoding.zig
  src/js/builtins/TextEncoderStream.ts
Due: prettier --write, zig fmt

more test
  test/js/web/encoding/encode-bad-chunks.test.ts
Due: prettier --write

more test
  test/js/web/encoding/text-decoder-stream.test.ts
Due: prettier --write

add to stream/web exports
  docs/runtime/nodejs-apis.md
  src/js/node/stream.web.ts
Due: prettier --write

add more test types
  src/bun.js/bindings/JSBuffer.cpp
  test/js/node/buffer.test.js
Due: prettier --write

DerivedArrayType is also an array
  src/bun.js/bindings/JSBuffer.cpp
Due: none

requested review
  src/StandaloneModuleGraph.zig
  src/js_ast.zig
  src/sourcemap/sourcemap.zig
  src/string_builder.zig
Due: zig fmt

Skip creating JSValue for abort when it's not necessary in more cases
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/webcore/AbortController.cpp
  src/bun.js/bindings/webcore/AbortSignal.h
  src/bun.js/webcore/body.zig
  src/bun.js/webcore/response.zig
  src/http.zig
Due: zig fmt

remove intermediary WTFString and JSString values
  src/bun.js/bindings/NodeError.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_fs.zig
Due: zig fmt

Clear it later
  src/bun.js/webcore/response.zig
Due: zig fmt

use isNumber() here
  src/bun.js/bindings/JSBuffer.cpp
Due: none

Fix missing user-provided reason in fs.watch abort
  src/bun.js/node/node_fs_watcher.zig
  test/js/node/watch/fs.watch.test.ts
Due: prettier --write, zig fmt

fix: handle assigning to exports
  src/bun.zig
  src/js_ast.zig
  src/js_parser.zig
  src/js_printer.zig
  test/bundler/bundler_cjs2esm.test.ts
Due: prettier --write, zig fmt

node:http: fix assertion when request() is given options.headers thats non-object (#13112)
  src/js/node/http.ts
Due: prettier --write

fix(bundler): handle assigning to `exports` (#13119)
  src/bun.zig
  src/js_ast.zig
  src/js_parser.zig
  src/js_printer.zig
  test/bundler/bundler_cjs2esm.test.ts
Due: prettier --write, zig fmt

Skip creating JSValue for abort when it's not necessary in more cases (#13117)
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/webcore/AbortController.cpp
  src/bun.js/bindings/webcore/AbortSignal.h
  src/bun.js/webcore/body.zig
  src/bun.js/webcore/response.zig
  src/http.zig
Due: zig fmt

Fix missing user-provided reason in fs.watch abort (#13118)
  src/bun.js/node/node_fs_watcher.zig
  test/js/node/watch/fs.watch.test.ts
Due: prettier --write, zig fmt

okb
  src/StandaloneModuleGraph.zig
Due: zig fmt

a
  src/sourcemap/sourcemap.zig
Due: zig fmt

keep this deleted
  src/bun.js/bindings/bindings.zig
Due: zig fmt

restore comment
  src/StandaloneModuleGraph.zig
Due: zig fmt

Typos ig pm2.md
  docs/guides/ecosystem/pm2.md
Due: prettier --write

make TextEncoderStreamEncoder private
  src/bun.js/bindings/ZigGlobalObject.lut.txt
  src/js/builtins/BunBuiltinNames.h
  src/js/builtins/TextEncoderStream.ts
Due: prettier --write

update
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

less hacky
  src/bun.js/ipc.zig
Due: zig fmt

fix test crash
  src/bun.js/bindings/bindings.cpp
  test/cli/test/bun-test.test.ts
Due: prettier --write

feat: `bun build --compile --sourcemap` (#13047)
  src/StandaloneModuleGraph.zig
  src/allocators.zig
  src/api/schema.zig
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/bun/dns_resolver.zig
  src/bun.js/api/js_brotli.zig
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/bun.js/node/fs_events.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/path_watcher.zig
  src/bun.js/rare_data.zig
  src/bun.js/webcore/ObjectURLRegistry.zig
  src/bun.js/webcore/response.zig
  src/bun.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/fs.zig
  src/http.zig
  src/js_ast.zig
  src/lock.zig
  src/napi/napi.zig
  src/resolver/resolver.zig
  src/shell/interpreter.zig
  src/sourcemap/sourcemap.zig
  src/string_builder.zig
  src/watcher.zig
  test/bundler/bundler_compile.test.ts
  test/bundler/expectBundled.ts
Due: prettier --write, zig fmt

revert
  src/bun.js/bindings/BunProcess.cpp
Due: none

Implement v8::Function::SetName
  src/bun.js/bindings/v8/Function.cpp
  src/bun.js/bindings/v8/Function.h
  src/napi/napi.zig
  src/symbols.def
  src/symbols.dyn
  src/symbols.txt
Due: zig fmt

Avoid unimplemented functions in v8::ObjectTemplate test
  test/napi/napi-app/main.cpp
Due: none

fix crash in napi_has/get_named_property
  src/bun.js/bindings/napi.cpp
Due: none

only check for property
  src/bun.js/bindings/napi.cpp
Due: none

fix post-merge build errors
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_cluster_binding.zig
Due: zig fmt

V8 function calls and module lifecycle
  src/bun.js/bindings/v8/Data.h
  src/bun.js/bindings/v8/EscapableHandleScopeBase.cpp
  src/bun.js/bindings/v8/FunctionTemplate.cpp
  src/bun.js/bindings/v8/FunctionTemplate.h
  src/bun.js/bindings/v8/HandleScopeBuffer.cpp
  src/bun.js/bindings/v8/HandleScopeBuffer.h
  src/bun.js/bindings/v8/Object.cpp
  src/bun.js/bindings/v8/String.cpp
  src/bun.js/bindings/v8/String.h
  src/bun.js/bindings/v8/node.cpp
Due: none

cleanup
  src/bun.js/bindings/v8/GlobalInternals.cpp
  src/bun.js/bindings/v8/GlobalInternals.h
  src/bun.js/bindings/v8/InternalFieldObject.cpp
  src/bun.js/bindings/v8/InternalFieldObject.h
  src/bun.js/bindings/v8/ObjectTemplate.cpp
  src/bun.js/bindings/v8/ObjectTemplate.h
Due: none

Add test for calling websocket server publish/send methods repeatedly on closed sockets
  src/bun.js/api/server.zig
  test/harness.ts
  test/js/bun/websocket/websocket-server-fixture.js
  test/js/bun/websocket/websocket-server.test.ts
Due: prettier --write, zig fmt

inject require definition
  src/bundler/bundle_v2.zig
Due: zig fmt

remove an undefined here
  src/bun.js/web_worker.zig
Due: zig fmt

add more tests
  test/js/node/worker_threads/worker_threads.test.ts
Due: prettier --write
