Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Fixes #20729
  src/js/internal/sql/shared.ts
  test/js/sql/sql.test.ts
Due: prettier --write

Update shared.ts
  src/js/internal/sql/shared.ts
Due: prettier --write

Fix some types
  packages/bun-types/sql.d.ts
  src/js/internal/sql/shared.ts
Due: prettier --write

Fix Windows build assertion failure in IncrementalGraph (#22049)
  src/bake/DevServer/IncrementalGraph.zig
Due: zig fmt

Update error for is_ancient_cpu
  src/crash_handler.zig
Due: zig fmt

Fixes #20729 (#22048)
  packages/bun-types/sql.d.ts
  src/js/internal/sql/shared.ts
  test/js/sql/sql.test.ts
Due: prettier --write

Add Windows code signing setup for x64 builds (#22022)
  .buildkite/ci.mjs
  .buildkite/scripts/sign-windows.ps1
  cmake/Options.cmake
  cmake/targets/BuildBun.cmake
  scripts/build.mjs
  scripts/vs-shell.ps1
  src/bake/DevServer/IncrementalGraph.zig
Due: zig fmt

Fix struct size assertion in Bake dev server
  src/bake/DevServer/IncrementalGraph.zig
  src/bake/DevServer/PackedMap.zig
Due: zig fmt

Fix redis reconnecting (#21724)
  src/valkey/js_valkey.zig
  src/valkey/valkey.zig
  test/js/valkey/test-utils.ts
  test/js/valkey/valkey.test.ts
Due: prettier --write, zig fmt

rename some instances of latin1 to cp1252
  src/bun.js/webcore/TextDecoder.zig
  src/bun.js/webcore/encoding.zig
  src/js_printer.zig
  src/string/immutable.zig
  src/string/immutable/unicode.zig
Due: zig fmt

Start implementing build.onEnd hook
  src/bun.js/api/JSBundler.zig
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/JSBundlerPlugin.cpp
  src/bun.js/bindings/JSGlobalObject.zig
  src/bundler/bundle_v2.zig
  src/js/builtins/BundlerPlugin.ts
  test/bundler/bundler_plugin.test.ts
Due: prettier --write, zig fmt

“wip”
  src/bun.js/bindings/BunPlugin.cpp
  src/js/builtins/BundlerPlugin.ts
Due: prettier --write

add reproduction, fix issue, and remove panics
  src/bun.js/webcore/encoding.zig
  src/string/immutable.zig
  src/string/immutable/unicode.zig
  test/js/node/buffer-utf16.test.ts
Due: prettier --write, zig fmt

Re-add ClientFile size assertion
  src/bake/DevServer/IncrementalGraph.zig
Due: zig fmt

revert the encoding.zig changes
  src/bun.js/webcore/encoding.zig
Due: zig fmt

add back an implementation of copyLatin1IntoUTF16 in order to not reimplement it four times
  src/string/immutable/unicode.zig
Due: zig fmt

.
  src/string/immutable.zig
Due: zig fmt

Implement build.onEnd plugin hook functionality
  src/bun.js/bindings/BunPlugin.cpp
  src/js/builtins/BundlerPlugin.ts
  test/bundler/bun-build-api.test.ts
Due: prettier --write

sql: support array of strings in SQLHelper
  src/js/internal/sql/shared.ts
  test/js/sql/sql.test.ts
Due: prettier --write

Fix missing assertion in onEnd plugin test
  test/bundler/bundler_plugin.test.ts
Due: prettier --write

Implement async support for onEnd plugin callbacks
  src/bundler/bundle_v2.zig
  src/js/builtins/BundlerPlugin.ts
  test/bundler/bun-build-api.test.ts
Due: prettier --write, zig fmt

smol change
  packages/bun-types/bun.d.ts
  src/bundler/bundle_v2.zig
Due: prettier --write, zig fmt

sql: support array of strings in SQLHelper (#21572)
  src/js/internal/sql/shared.ts
  test/js/sql/sql.test.ts
Due: prettier --write

break everything (new ScopeFunctions class WIP)
  TODO.md
  cmake/sources/ZigSources.txt
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/modules/BunTestModule.h
  src/bun.js/test/ScopeFunctions.zig
  src/bun.js/test/describe2.zig
  src/bun.js/test/jest.classes.ts
  src/bun.js/test/jest.zig
Due: prettier --write, zig fmt

Fix struct size assertion in Bake dev server (#22057)
  src/bake/DevServer/IncrementalGraph.zig
  src/bake/DevServer/PackedMap.zig
Due: zig fmt

more fix
  scripts/runner.node.mjs
  src/bun.js/bindings/node/http/NodeHTTPParser.h
  src/js/node/_http_server.ts
Due: prettier --write

Fix `freeFileContent`
  src/bake/DevServer/IncrementalGraph.zig
Due: zig fmt

rework server too
  src/js/node/_http_server.ts
Due: prettier --write

WIP
  src/bun.js/bindings/BunClientData.cpp
  src/bun.js/bindings/BunClientData.h
  src/bun.js/test/ScopeFunctions.zig
  src/bun.js/test/jest.classes.ts
  src/codegen/class-definitions.ts
  src/codegen/generate-classes.ts
Due: prettier --write, zig fmt

copyLatin1IntoUTF16 fix
  src/string/immutable/unicode.zig
Due: zig fmt

Add Symbol.asyncDispose to Worker in worker_threads
  src/js/node/worker_threads.ts
  test/js/node/worker_threads/worker-async-dispose.test.ts
Due: prettier --write

WIP
  src/codegen/generate-classes.ts
Due: prettier --write

back out
  src/js/node/_http_server.ts
Due: prettier --write

WIP
  TODO.md
  failure.test.ts
  src/bun.js/jsc.zig
  src/bun.js/jsc/host_fn.zig
  src/bun.js/test/ScopeFunctions.zig
  src/codegen/generate-classes.ts
Due: prettier --write, zig fmt

feat(node:zlib): Add dictionary support to zstdCompress and zstdDecompress
  src/bun.js/node/zlib/NativeZstd.zig
  src/deps/zstd.zig
  src/js/node/zlib.ts
  test/js/node/test/parallel/test-zlib-zstd-dictionary.js
Due: prettier --write, zig fmt

fix everything after breaking it all (new ScopeFunctions class works)
  failure.test.ts
  packages/bun-types/test.d.ts
  src/bun.js/test/ScopeFunctions.zig
  src/bun.js/test/describe2.zig
  src/codegen/generate-classes.ts
Due: prettier --write, zig fmt

notes
  TODO.md
  failure.test.ts
Due: prettier --write

Add Windows metadata flags to bun build --compile
  cmake/sources/BakeRuntimeSources.txt
  cmake/sources/ZigSources.txt
  docs/bundler/executables.md
  packages/bun-types/bun.d.ts
  src/StandaloneModuleGraph.zig
  src/bun.js/api/JSBundler.zig
  src/bun.js/bindings/windows/rescle-binding.cpp
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/cli/Arguments.zig
  src/cli/build_command.zig
  src/options.zig
  src/string/immutable/unicode.zig
  src/windows.zig
  test/bundler/compile-windows-metadata.test.ts
Due: prettier --write, zig fmt

`bun scripts/glob-sources.mjs`
  cmake/sources/BakeRuntimeSources.txt
  cmake/sources/ZigSources.txt
Due: none
