Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Sync killTree test gate and docs with linux/macos-only tree walk
  packages/bun-types/bun.d.ts
  test/js/bun/spawn/spawn-killTree.test.ts
Due: prettier --write

killTree: don't SIGCONT after SIGTSTP/SIGTTIN/SIGTTOU
  src/io/ParentDeathWatchdog.rs
Due: none

Port Fit::Outside/Cover/Contain + Background + crop/pad to Image.rs and codecs.rs
  src/runtime/image/Image.rs
  src/runtime/image/codecs.rs
Due: none

address claude[bot]: note mime_type is Clone, not Copy, in File clone comment
  src/runtime/webcore/FileReader.rs
Due: none

review: saturate overshoot dims, correct maxPixels guard comments, docs polish
  docs/runtime/image.mdx
  packages/bun-types/bun.d.ts
  src/runtime/image/Image.rs
  src/runtime/image/Image.zig
  test/js/bun/image/image.test.ts
Due: prettier --write, zig fmt

review: leave the Zig porting reference untouched
  src/runtime/image/Image.zig
  src/runtime/image/codecs.zig
Due: zig fmt

bun:ffi: throw when calling a symbol after the library is closed
  docs/runtime/ffi.mdx
  src/js/bun/ffi.ts
  src/jsc/bindings/JSFFIFunction.cpp
  src/jsc/bindings/JSFFIFunction.h
  src/runtime/ffi/ffi_body.rs
  test/js/bun/ffi/ffi.test.js
Due: prettier --write

review: clamp outside/cover scaled dims to the 0x3FFFF per-side cap
  src/runtime/image/Image.rs
  test/js/bun/image/image.test.ts
Due: prettier --write

Verify embedded bytecode integrity in compiled executables
  Cargo.lock
  src/standalone_graph/Cargo.toml
  src/standalone_graph/StandaloneModuleGraph.rs
  test/bundler/bun-build-compile.test.ts
Due: prettier --write

Validate enum discriminants in module records, drain codesign pipes
  src/ast/loader.rs
  src/standalone_graph/StandaloneModuleGraph.rs
  test/bundler/bun-build-compile.test.ts
Due: prettier --write

fix(s3): correct checksumAlgorithm property name
  src/runtime/webcore/s3/list_objects.zig
Due: zig fmt

test: close the CFunction library at the end of the GC retention test
  test/js/bun/ffi/ffi.test.js
Due: prettier --write

Harden remaining module graph metadata paths from review
  src/standalone_graph/StandaloneModuleGraph.rs
  test/bundler/bun-build-compile.test.ts
Due: prettier --write

test: skip the library close() suite where TinyCC is unavailable
  test/js/bun/ffi/ffi.test.js
Due: prettier --write

review: reject oversized outside/cover dims instead of clamping
  src/runtime/image/Image.rs
  src/runtime/image/codecs.rs
  test/js/bun/image/image.test.ts
Due: prettier --write

Reject duplicate module names and skip pointer math for empty module_info
  src/standalone_graph/StandaloneModuleGraph.rs
Due: none

http2: lastStreamId <= 0 in goaway means the actual last stream [build images]
  src/js/node/http2.ts
  src/runtime/api/bun/h2_frame_parser.rs
  test/v8/v8-module/main.cpp
Due: prettier --write

Generalize the orphaned bytecode metadata debug warning
  src/standalone_graph/StandaloneModuleGraph.rs
Due: none

fix(transpiler): keep numeric binary expressions when fold would inflate output
  src/js_parser/p.zig
  src/js_parser/visit/visit_binary.zig
  src/js_parser/visit/visit_stmt.zig
  src/js_printer/js_printer.zig
  test/bundler/bundler_minify.test.ts
Due: prettier --write, zig fmt

Force-fold macro and require/import args even under --minify
  src/js_parser/visit/visit_expr.zig
  test/bundler/bundler_minify.test.ts
Due: prettier --write, zig fmt

lenOfNumber: use lemire's fastDigitCount for integer path
  src/js_printer/js_printer.zig
Due: zig fmt

Restore enum-body fold flags via defer for exception safety
  src/js_parser/visit/visit_stmt.zig
Due: zig fmt

visitClass: reset fold_numeric_constants_unconditionally at class body
  src/js_parser/visit/visit.zig
  test/bundler/bundler_minify.test.ts
Due: prettier --write, zig fmt

Strip copy-paste backslash escapes from top-level comments in minify tests
  test/bundler/bundler_minify.test.ts
Due: prettier --write

Force-fold const initializers under inlining; fix import-visit save
  src/js_parser/visit/visit.zig
  src/js_parser/visit/visit_expr.zig
  test/bundler/bundler_minify.test.ts
Due: prettier --write, zig fmt

Treat number op number arithmetic as side-effect-free in DCE paths
  src/js_parser/p.zig
  src/js_parser/scan/scan_side_effects.zig
  test/bundler/bundler_minify.test.ts
Due: prettier --write, zig fmt

DCE arithmetic arms: collapse dead recursion and joinWithComma fallback
  src/js_parser/p.zig
  src/js_parser/scan/scan_side_effects.zig
Due: zig fmt

DCE arithmetic arms: use extractNumericValue, not recursive knownPrimitive
  src/js_parser/p.zig
  src/js_parser/scan/scan_side_effects.zig
Due: zig fmt

fmt/fastDigitCount: cover full u64 range
  src/bun_core/fmt.zig
  test/bundler/bundler_minify.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
