Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

fix(spawn): memory leak in `"pipe"`d stdout/stderr (#18316)
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/webcore/blob.zig
  src/ptr/CowSlice.zig
  test/js/bun/spawn/spawn-pipe-leak.test.ts
Due: prettier --write, zig fmt

fix: deviate from `fetch()` spec and allow status codes up to 999
  src/bun.js/api/server.zig
  src/bun.js/webcore/response.zig
  test/js/bun/http/serve.test.ts
  test/js/node/test/parallel/test-http-response-statuscode.js
  test/js/web/fetch/fetch.test.ts
Due: prettier --write, zig fmt

fix: test-http-correct-hostname.js
  test/js/node/test/parallel/test-http-correct-hostname.js
Due: prettier --write

better name
  src/bun.js/bindings/NodeVM.cpp
Due: none

fix: test-http-client-request-options.js
  src/js/internal/url.ts
  test/js/node/test/parallel/test-http-client-request-options.js
Due: prettier --write

feat(bun-plugin-svelte): custom elements
  packages/bun-plugin-svelte/bun.lock
  packages/bun-plugin-svelte/src/index.spec.ts
  packages/bun-plugin-svelte/src/options.spec.ts
  packages/bun-plugin-svelte/src/options.ts
  packages/bun-plugin-svelte/test/index.test.ts
Due: prettier --write

Fix regression
  src/bun.js/bindings/NodeVM.cpp
Due: none

Fix undefined property lookup in ServerResponse.end
  src/js/node/http.ts
Due: prettier --write

ci: compress libbun-profile.a before uploading (#18322)
  cmake/Globals.cmake
  cmake/tools/SetupBuildkite.cmake
Due: none

[build images]
  cmake/Globals.cmake
  cmake/tools/SetupBuildkite.cmake
Due: none

remove duplicate template instantiation
  src/bun.js/bindings/NodeVM.cpp
  src/bun.js/bindings/NodeValidator.cpp
Due: none

update test
  test/js/node/vm/vm.test.ts
Due: prettier --write

Revert "disallow test() within test() (#18203)"
  src/bun.js/test/jest.zig
  test/js/bun/css/css.test.ts
  test/js/bun/http/bun-serve-args.test.ts
  test/js/bun/shell/bunshell.test.ts
  test/js/bun/sqlite/sqlite.test.js
  test/js/node/http/node-http.test.ts
  test/js/node/util/util.test.js
  test/js/node/vm/vm.test.ts
  test/regression/issue/18189/disallow-test-within-test.test.ts
  test/regression/issue/18189/test_in_seperate_file.js
Due: prettier --write, zig fmt

woops
  src/bun.js/bindings/NodeVM.cpp
  test/js/node/vm/vm.test.ts
Due: prettier --write

fix: test-http-write-head.js
  src/js/node/http.ts
  test/js/node/test/parallel/test-http-write-head.js
Due: prettier --write

fix: test-http-response-no-headers.js
  test/js/node/test/parallel/test-http-response-no-headers.js
Due: prettier --write

Reword bunVM() assertion
  src/bun.js/bindings/JSGlobalObject.zig
Due: zig fmt

Document tryBunVM() and use union return type
  src/bun.js/bindings/JSGlobalObject.zig
  src/napi/napi.zig
Due: zig fmt

Remove unneeded `@as`
  src/bun.js/bindings/JSGlobalObject.zig
Due: zig fmt

fix: test-set-incoming-message-header.js
  src/js/node/http.ts
  test/js/node/test/parallel/test-set-incoming-message-header.js
Due: prettier --write

partially fix: test-http-server.js
  src/js/node/http.ts
Due: prettier --write

Add missing ERR_HTTP_SOCKET_ASSIGNED
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.ts
  src/js/builtins.d.ts
Due: prettier --write

`bun run zig-format`
  src/bun.js/api/server.zig
Due: zig fmt

Add test for async finalizer invoked on secondary thread
  test/napi/napi-app/async_finalize_addon.c
  test/napi/napi-app/async_finalize_addon.cpp
  test/napi/napi-app/binding.gyp
  test/napi/napi-app/module.js
Due: prettier --write

[build images]
  scripts/machine.mjs
  test/napi/node-napi.test.ts
Due: prettier --write

address review
  test/js/bun/css/css.test.ts
  test/js/bun/http/bun-serve-args.test.ts
  test/js/bun/shell/bunshell.test.ts
  test/js/bun/sqlite/sqlite.test.js
  test/js/node/http/node-http.test.ts
  test/js/node/util/util.test.js
  test/js/node/vm/vm.test.ts
  test/regression/issue/18189/disallow-test-within-test.test.ts
  test/regression/issue/18189/test_in_seperate_file.js
Due: prettier --write

address review
  test/regression/issue/18189/disallow-test-within-test.test.ts
  test/regression/issue/18189/test_in_seperate_file.js
Due: prettier --write

Fix node-http.test.ts
  src/js/node/http.ts
  test/js/node/http/node-http.test.ts
Due: prettier --write

children runmain
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/CommonJSModuleRecord.h
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/javascript.zig
  src/bun.js/modules/NodeModuleModule.cpp
  src/cli.zig
  test/cli/run/fixture-crash.js
Due: prettier --write, zig fmt

fix(node/http): `test-http-outgoing-proto`
  src/js/node/http.ts
  test/js/node/test/parallel/test-http-outgoing-proto.js
Due: prettier --write

[build images]
  cmake/Globals.cmake
  scripts/machine.mjs
Due: none

[build images]
  cmake/Globals.cmake
Due: none

[build images]
  cmake/targets/BuildBun.cmake
Due: none

cleanup
  src/codegen/bundle-modules.ts
Due: prettier --write

remove more
  test/js/node/test/parallel/test-child-process-spawn-windows-batch-file.js
  test/js/node/test/parallel/test-fs-read-stream-pos.js
  test/js/node/test/parallel/test-net-server-close.js
  test/js/node/test/parallel/test-permission-fs-windows-path.js
  test/js/node/test/parallel/test-pipe-unref.js
  test/js/node/test/parallel/test-timers-immediate-unref.js
  test/js/node/test/parallel/test-tls-wrap-econnreset-pipe.js
  test/js/node/test/parallel/test-worker-process-exit-async-module.js
Due: prettier --write

Enable non-null VMHolder vm assertion in release
  src/bun.js/bindings/JSGlobalObject.zig
Due: zig fmt

disable on windows
  cmake/targets/BuildBun.cmake
Due: none

a
  docs/runtime/nodejs-apis.md
Due: prettier --write

Run the new test
  test/napi/napi.test.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
