Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

address review: bound BIT STRING length-byte read in importSpki
  src/jsc/bindings/webcrypto/CryptoKeyOKPOpenSSL.cpp
Due: none

node:buffer: short-circuit zero-remaining write after re-validation
  src/jsc/bindings/JSBuffer.cpp
Due: none

node:net: bind structured-clone payload to instance identity
  src/runtime/node/net/BlockList.rs
Due: none

webcore/blob: note Zig-parity intent on UTF-16LE text branch
  src/runtime/webcore/Blob.rs
Due: none

bake: drop dead inherent on_web_socket_upgrade method
  src/runtime/bake/DevServer.rs
Due: none

address review: allow parens/comma/dot in array type-name allowlist
  src/js/internal/sql/postgres.ts
Due: prettier --write

FileSink: mark sink done when end() fails during flush (#31135)
  src/io/PipeWriter.rs
  src/runtime/webcore/FileSink.rs
  test/js/bun/util/filesink.test.ts
Due: prettier --write

yaml: address review — first-value [191] indent check, alias/flow-map/flow-seq <= clause
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

yaml: fix explicit mapping key (`?`) parsing
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml-test-suite.test.ts
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

yaml: compact collection as explicit `?` key
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml-test-suite.test.ts
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

yaml: bare `?` followed by same-indent token has e-node key
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

yaml: address review — toThrow messages, lock in tab-blank-line behavior, complex-key stringification
  test/js/bun/yaml/yaml-test-suite.test.ts
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

yaml: address full-diff review — tab guard regressions
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml-test-suite.test.ts
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

yaml: hoist [191] indent check above tab conjunct, fix e-node bare-? in flow
  src/parsers/yaml.rs
Due: none

Add signal to WritableStreamDefaultController
  src/js/builtins/BunBuiltinNames.h
  src/js/builtins/WritableStreamDefaultController.ts
  src/js/builtins/WritableStreamInternals.ts
  src/jsc/bindings/ZigGlobalObject.cpp
  src/jsc/bindings/webcore/JSWritableStreamDefaultController.cpp
  test/js/web/streams/streams.test.js
Due: prettier --write

signalAbort: default undefined reason to AbortError DOMException
  src/js/builtins.d.ts
  src/jsc/bindings/ZigGlobalObject.cpp
  test/js/web/streams/streams.test.js
Due: prettier --write

fs: use statfs64 on macOS x86_64 to avoid legacy-layout fallback (#31139)
  src/sys/lib.rs
  test/js/node/fs/fs.test.ts
Due: prettier --write

yaml: add regression tests for tab-bypass [191] / e-node fixes
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

bunfig: look up XDG-conventional global config paths
  docs/runtime/bunfig.mdx
  src/bunfig/arguments.rs
  test/config/bunfig/global-config-xdg.test.ts
Due: prettier --write

bunfig: treat empty XDG_CONFIG_HOME as unset + fix Windows HOME handling in tests
  src/bunfig/arguments.rs
  test/config/bunfig/global-config-xdg.test.ts
Due: prettier --write

test: address coderabbit review — dirname() and surface stderr on failure
  test/config/bunfig/global-config-xdg.test.ts
Due: prettier --write

docs: clarify that XDG base is a single resolved value, not a fallback chain
  docs/runtime/bunfig.mdx
Due: none

test: strip BUN_INSTALL_CACHE_DIR and run tests concurrently
  test/config/bunfig/global-config-xdg.test.ts
Due: prettier --write

bunfig: shrink XDG scratch buffer to 512 bytes
  src/bunfig/arguments.rs
Due: none

napi: pass NULL js_callback to call_js_cb when no func was provided
  src/runtime/napi/napi.zig
  src/runtime/napi/napi_body.rs
  test/napi/napi-app/module.js
  test/napi/napi-app/standalone_tests.cpp
  test/napi/napi.test.ts
Due: prettier --write, zig fmt

ffi: clear SA_ONSTACK on SIGPWR after dlopen
  src/jsc/bindings/BunProcess.cpp
  src/sys/lib.rs
  test/regression/issue/31158.test.ts
Due: prettier --write

yaml: advance previous_line past explicit ':' line in loop entries
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

comment why Bun__repairJscGcSignalAfterDlopen exists
  src/jsc/bindings/BunProcess.cpp
Due: none

Fix crash in Bun.plugin when target coercion throws
  src/jsc/bindings/BunPlugin.cpp
  test/js/bun/plugin/plugins.test.ts
Due: prettier --write

drop the watchdog setTimeout — await-using + test timeout cover it
  test/regression/issue/31158.test.ts
Due: prettier --write

yaml: remove duplicate tests left from describe-block reorganization
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

fix(install): guard against overlong PAX paths in tarball extraction
  src/install/TarballStream.rs
  src/libarchive/lib.rs
  test/cli/install/bun-install.test.ts
Due: prettier --write

Fix crash when constructing jest.fn() via Reflect.construct
  src/jsc/bindings/JSMockFunction.cpp
  test/js/bun/test/mock-fn-construct.test.ts
Due: prettier --write

ship the real fix from WebKit#235, drop the band-aid
  scripts/build/deps/webkit.ts
  src/jsc/bindings/BunProcess.cpp
  src/sys/lib.rs
Due: prettier --write

sys: drop with_fd debug assertion on Fd::INVALID
  src/sys/Error.rs
Due: none

test: FileSink.start() with arbitrary objects does not assert on invalid fd
  test/js/bun/util/filesink.test.ts
Due: prettier --write
