Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

use `prettyErrorln`
  src/StandaloneModuleGraph.zig
Due: zig fmt

use new `w_path_buffer_pool`
  src/StandaloneModuleGraph.zig
Due: zig fmt

run `compile/WindowsHideConsole` test on all OSes
  test/bundler/bundler_compile.test.ts
Due: prettier --write

try
  src/ast/parse.zig
  src/ast/parsePrefix.zig
  src/ast/parseProperty.zig
  src/ast/parseStmt.zig
  src/ast/parseSuffix.zig
  src/ast/parseTypescript.zig
Due: zig fmt

Update visitExpr.zig
  src/ast/visitExpr.zig
Due: zig fmt

Split up parseStmt and don't inline parseExprCommon
  src/ast/parse.zig
  src/ast/parseStmt.zig
Due: zig fmt

Update parseSuffix.zig
  src/ast/parseSuffix.zig
Due: zig fmt

src: disable calls to mimalloc when asan is enabled
  cmake/targets/BuildMimalloc.cmake
  src/boringssl.zig
  src/bun.js/Debugger.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/lshpack.zig
  src/bun.js/api/filesystem_router.zig
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/BunString.cpp
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/ProcessBindingTTYWrap.cpp
  src/bun.js/bindings/Uint8Array.cpp
  src/bun.js/bindings/ZigSourceProvider.cpp
  src/bun.js/bindings/ZigString.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/root.h
  src/bun.js/jsc/array_buffer.zig
  src/bun.js/modules/BunJSCModule.h
  src/bun.js/web_worker.zig
  src/bun.zig
  src/bundler/BundleThread.zig
  src/cli.zig
  src/cli/test_command.zig
  src/deps/c_ares.zig
  src/deps/libdeflate.zig
  src/heap_breakdown.zig
  src/threading/unbounded_queue.zig
  src/zlib.zig
Due: zig fmt

Update parse.zig
  src/ast/parse.zig
Due: zig fmt

fix build error
  cmake/targets/BuildMimalloc.cmake
  src/boringssl.zig
Due: zig fmt

address review
  src/bun.js/api/filesystem_router.zig
Due: zig fmt

updates
  src/ast/P.zig
  src/ast/SideEffects.zig
  src/ast/maybe.zig
  src/ast/visitExpr.zig
Due: zig fmt

these not needed to run on cron in forks
  .github/workflows/release.yml
  .github/workflows/update-cares.yml
  .github/workflows/update-hdrhistogram.yml
  .github/workflows/update-highway.yml
  .github/workflows/update-libarchive.yml
  .github/workflows/update-libdeflate.yml
  .github/workflows/update-lolhtml.yml
  .github/workflows/update-lshpack.yml
  .github/workflows/update-root-certs.yml
  .github/workflows/update-sqlite3.yml
  .github/workflows/update-zstd.yml
Due: none

.
  .github/workflows/update-cares.yml
  .github/workflows/update-hdrhistogram.yml
  .github/workflows/update-highway.yml
  .github/workflows/update-libarchive.yml
  .github/workflows/update-libdeflate.yml
  .github/workflows/update-lolhtml.yml
  .github/workflows/update-lshpack.yml
  .github/workflows/update-root-certs.yml
  .github/workflows/update-sqlite3.yml
  .github/workflows/update-zstd.yml
Due: none

Split up parseprefix
  src/ast/parsePrefix.zig
  src/ast/parseSuffix.zig
Due: zig fmt

oopsies
  src/ast/P.zig
  src/ast/parsePrefix.zig
  src/ast/parseProperty.zig
Due: zig fmt

address review
  build.zig
  cmake/targets/BuildBun.cmake
  scripts/runner.node.mjs
  src/boringssl.zig
  src/brotli.zig
  src/bun.js.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/bun/lshpack.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/socket/Handlers.zig
  src/bun.js/api/bun/socket/Listener.zig
  src/bun.js/api/filesystem_router.zig
  src/bun.js/bindings/BunString.cpp
  src/bun.js/bindings/Uint8Array.cpp
  src/bun.js/bindings/ZigSourceProvider.cpp
  src/bun.js/bindings/ZigString.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/helpers.h
  src/bun.js/bindings/root.h
  src/bun.js/jsc/array_buffer.zig
  src/bun.js/modules/BunJSCModule.h
  src/bun.js/web_worker.zig
  src/bun.js/webcore/Blob.zig
  src/bun.zig
  src/cli/test_command.zig
  src/deps/c_ares.zig
  src/deps/libdeflate.zig
  src/env.zig
  src/main.zig
  src/main_test.zig
  src/zlib.zig
Due: zig fmt

temp
  scripts/runner.node.mjs
Due: none

small code style improvement
  src/StandaloneModuleGraph.zig
Due: zig fmt

Redcue parseProperty stack utilization
  src/ast/parseProperty.zig
  src/ast/parseSuffix.zig
  src/bun.js/webcore/fetch.zig
Due: zig fmt

embiggen
  test/bundler/transpiler/fixtures/lots-of-for-loop.js
Due: prettier --write

small fixes
  scripts/runner.node.mjs
  src/boringssl.zig
  src/bun.js/api/bun/dns.zig
  src/bun.js/api/filesystem_router.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/helpers.h
  src/bun.js/bindings/root.h
  src/bun.js/modules/BunJSCModule.h
  src/bun.js/webcore/TextDecoder.zig
Due: zig fmt

refactor: remove unused capturedError variable in ServerPrototype
  src/js/node/_http_server.ts
Due: prettier --write

Clarify security considerations for the Bun shell
  docs/runtime/shell.md
Due: prettier --write

Implement repro
  test/regression/issue/21680-htmlrewriter-before-crash.test.ts
Due: prettier --write

Update repro to use local test fixture instead of external URL
  test/fixtures/htmlrewriter-crash/crash-page.html
  test/regression/issue/21680-htmlrewriter-before-crash.test.ts
Due: prettier --write

BREAKTHROUGH: Found local crash reproduction without external URL
  test/regression/issue/21680-htmlrewriter-before-crash.test.ts
Due: prettier --write

Downgrade mimalloc + set libc musl flag
  cmake/targets/BuildMimalloc.cmake
Due: none

fix line numbers
  test/integration/bun-types/bun-types.test.ts
Due: prettier --write

Use `bun.path_buffer_pool` in DevServer (#21619)
  src/bake/DevServer.zig
  src/bake/DevServer/ErrorReportRequest.zig
  src/bake/DevServer/IncrementalGraph.zig
  src/bake/DevServer/memory_cost.zig
Due: zig fmt

Fix potential crash in `new Bun.Transpiler()` (#21650)
  cmake/targets/BuildMimalloc.cmake
  src/bake.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/node/node_fs.zig
  src/bundler/bundle_v2.zig
  src/cli/build_command.zig
  src/defines.zig
  src/options.zig
Due: zig fmt

Apply suggestion from @graphite-app[bot]
  scripts/generate-cli-completions.ts
Due: prettier --write

Update BuildMimalloc.cmake
  cmake/targets/BuildMimalloc.cmake
Due: none

mv
  misctools/generate-cli-completions.ts
Due: prettier --write

a
  completions/bun-cli.json
  misctools/generate-cli-completions.ts
Due: prettier --write

Add comprehensive CLI flag parser for shell completions (#21604)
  completions/bun-cli.json
  misctools/generate-cli-completions.ts
Due: prettier --write
