Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

cmake: separate variable for ZIG_COMPILER_SAFE default is unnecessary
  cmake/tools/SetupZig.cmake
Due: none

Get fuzzilli to run us
  src/bun.js/bindings/Fuzzilli.cpp
  src/bun.js/bindings/Fuzzilli.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/webcore/MessagePortChannelProviderImpl.cpp
  src/cli/fuzzilli_command.zig
Due: zig fmt

runtime: fix small leak in Bun.spawn
  src/bun.js/api/bun/js_bun_spawn_bindings.zig
Due: zig fmt

runtime: fix small leak in Bun.listen
  src/bun.js/api/bun/socket/Listener.zig
Due: zig fmt

runtime: fix small leak in node:net.SocketAddress
  src/bun.js/api/bun/socket/SocketAddress.zig
Due: zig fmt

runtime: fix small leak in Worker erroring exits
  src/bun.js/web_worker.zig
Due: zig fmt

Callback lifetime
  src/bun.js/api/valkey2.classes.ts
  src/bun.js/bindings/JSSet.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers.h
  src/bun.js/jsc.zig
  src/codegen/shared-types.ts
  src/valkey2/command.zig
  src/valkey2/js_valkey.zig
  src/valkey2/valkey.zig
  test/_util/random.ts
  test/js/valkey2/test-utils.ts
  test/js/valkey2/valkey.test.ts
Due: prettier --write, zig fmt

runtime: fix small leak in Blob deinit
  src/bun.js/webcore/Blob.zig
Due: zig fmt

merge keys in reverse
  src/interchange/yaml.zig
Due: zig fmt

tests for overrides
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

address feedback
  src/interchange/yaml.zig
Due: zig fmt

Fix BabyList.moveFromList
  src/collections/baby_list.zig
Due: zig fmt

Remove C++23 features
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

Remove unused macro
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

Fix `BabyList.moveFromList` (#24803)
  src/collections/baby_list.zig
Due: zig fmt

duplicate merge key test
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

update
  src/collections/baby_list.zig
Due: zig fmt

dont hide vendor test failures
  scripts/runner.node.mjs
Due: none

[build images] [skip tests]
  scripts/bootstrap.sh
Due: none

wip.1
  src/bun.js/bindings/SnapshotSerializers.cpp
  src/bun.js/bindings/SnapshotSerializers.h
  src/bun.js/bindings/SnapshotSerializersBindings.zig
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/test/snapshot.zig
Due: zig fmt

wip.2
  src/bun.js/bindings/SnapshotSerializers.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/test/SnapshotSerializerOptions.bindv2.ts
  src/bun.js/test/expect.zig
Due: prettier --write, zig fmt

wip.3
  src/bun.js/test/expect.zig
  src/bun.js/test/pretty_format.zig
Due: zig fmt

wip.4
  packages/bun-types/test.d.ts
  test/js/bun/test/snapshot-serializers.test.ts
Due: prettier --write

wip.5
  src/bun.js/bindings/SnapshotSerializers.h
  src/bun.js/bindings/SnapshotSerializersBindings.zig
Due: zig fmt

wip.6
  src/bun.js/bindings/SnapshotSerializersBindings.zig
Due: zig fmt

address review
  src/async/posix_event_loop.zig
  src/crash_handler.zig
  src/sys.zig
Due: zig fmt

wip.7
  src/bun.js/bindings/SnapshotSerializers.cpp
  src/bun.js/test/expect.zig
  src/bun.js/test/pretty_format.zig
Due: zig fmt

error cases
  test/js/bun/test/snapshot-serializers.test.ts
Due: prettier --write

wip.8
  test/js/bun/test/snapshot-serializers.test.ts
Due: prettier --write

fix throwing in matchAndFmtSnapshot
  src/bun.js/test/expect.zig
Due: zig fmt

remove unused header entries
  src/bun.js/bindings/SnapshotSerializers.h
Due: none

Apply suggestion from @markovejnovic
  src/bake/DevServer/IncrementalGraph.zig
Due: zig fmt

Add fuzzilli TTY
  cmake/targets/BuildBun.cmake
  src/cli/fuzzilli_command.zig
  src/fuzzilli/client.cpp
  src/fuzzilli/client.hpp
  src/fuzzilli/coverage.cpp
  src/fuzzilli/coverage.hpp
  src/fuzzilli/data_stream.cpp
  src/fuzzilli/data_stream.hpp
  src/fuzzilli/session.cpp
  src/fuzzilli/session.hpp
  src/fuzzilli/shmem.cpp
  src/fuzzilli/shmem.hpp
Due: zig fmt

Debug what's going on with fuzzilli
  cmake/targets/BuildBun.cmake
  src/fuzzilli/client.cpp
  src/fuzzilli/client.hpp
  src/fuzzilli/log.cpp
  src/fuzzilli/log.hpp
  src/fuzzilli/session.cpp
Due: none

Fix __ashlti3 shim to shift left
  packages/bun-wasm/index.ts
Due: prettier --write

close threadlocal loop
  src/bun.js/web_worker.zig
  src/deps/libuv.zig
Due: zig fmt

[no ci]
  docs/bundler/fullstack.mdx
  docs/bundler/hot-reloading.mdx
  docs/bundler/html-static.mdx
  docs/bundler/index.mdx
  docs/bundler/loaders.mdx
  docs/guides/ecosystem/prisma.mdx
  docs/guides/ecosystem/qwik.mdx
  docs/guides/ecosystem/sentry.mdx
  docs/guides/ecosystem/sveltekit.mdx
  docs/guides/ecosystem/vite.mdx
  docs/index.mdx
  docs/pm/cli/install.mdx
  docs/quickstart.mdx
  docs/runtime/environment-variables.mdx
  docs/runtime/watch-mode.mdx
  docs/test/snapshots.mdx
Due: none

Add compile-time flags to control .env and bunfig.toml autoloading (#24790)
  packages/bun-types/bun.d.ts
  src/StandaloneModuleGraph.zig
  src/bun.js.zig
  src/bun.js/api/JSBundler.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/cli/Arguments.zig
  src/cli/build_command.zig
  test/bundler/bundler_compile_autoload.test.ts
  test/bundler/expectBundled.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
