Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Fix memory leak in c_ares.zig Error.Deferred.rejectLater (#19871)
  src/deps/c_ares.zig
Due: zig fmt

Update scripts/zig-remove-unreferenced-top-level-decls.ts
  scripts/zig-remove-unreferenced-top-level-decls.ts
Due: prettier --write

re-enable ASAN
  cmake/targets/BuildBun.cmake
Due: none

Update ban-words.test.ts
  test/internal/ban-words.test.ts
Due: prettier --write

docs(bun:sqlite): update reference
  docs/api/sqlite.md
Due: prettier --write

some cleanup
  cmake/sources/ZigSources.txt
  test/cli/install/TEST.ts
Due: prettier --write

`bun scripts/glob-sources.mjs`
  cmake/sources/ZigSources.txt
Due: none

Update WebKit or something
  cmake/tools/SetupWebKit.cmake
Due: none

Use WTF::Thread, WTF::Lock and WTF::Locker instead of std::thread, std::mutex and std::unique_lock
  src/vm/SigintWatcher.cpp
  src/vm/SigintWatcher.h
Due: none

Remove some unused includes
  src/vm/SigintWatcher.h
Due: none

Tweak BroadcastChannel lifetimes
  src/bun.js/bindings/webcore/BroadcastChannel.cpp
Due: none

`bun pm audit` (#19855)
  cmake/sources/ZigSources.txt
  completions/bun.zsh
  docs/cli/pm.md
  src/cli.zig
  src/cli/audit_command.zig
  src/cli/package_manager_command.zig
  src/install/install.zig
  test/cli/install/__snapshots__/bun-audit.test.ts.snap
  test/cli/install/bun-audit.test.ts
  test/cli/install/registry/fixtures/audit/audit-fixtures.json
  test/cli/install/registry/fixtures/audit/audit-fixtures.ts
  test/cli/install/registry/fixtures/audit/express@3/bun.lock
  test/cli/install/registry/fixtures/audit/express@3/package.json
  test/cli/install/registry/fixtures/audit/generate-audit-fixtures.ts
  test/cli/install/registry/fixtures/audit/mix-of-safe-and-vulnerable-dependencies/bun.lock
  test/cli/install/registry/fixtures/audit/mix-of-safe-and-vulnerable-dependencies/package.json
  test/cli/install/registry/fixtures/audit/safe-is-number@7/bun.lock
  test/cli/install/registry/fixtures/audit/safe-is-number@7/package.json
  test/cli/install/registry/fixtures/audit/vuln-with-only-dev-dependencies/bun.lock
  test/cli/install/registry/fixtures/audit/vuln-with-only-dev-dependencies/package.json
  test/harness.ts
Due: prettier --write, zig fmt

Update SetupWebKit.cmake
  cmake/tools/SetupWebKit.cmake
Due: none

delete flaky test-worker-uncaught-exception.js (#19857)
  test/js/node/test/parallel/test-worker-uncaught-exception.js
Due: prettier --write

Revert "ReadableStream & ReadableByteStream fixes (#19683)"
  src/js/builtins.d.ts
  src/js/builtins/ReadableByteStreamController.ts
  src/js/builtins/ReadableByteStreamInternals.ts
  src/js/builtins/ReadableStreamBYOBReader.ts
  src/js/builtins/ReadableStreamBYOBRequest.ts
  src/js/builtins/ReadableStreamDefaultController.ts
  src/js/builtins/ReadableStreamDefaultReader.ts
  src/js/builtins/ReadableStreamInternals.ts
  test/js/node/test/parallel/test-whatwg-readablebytestream.js
  test/regression/issue/19661.test.ts
Due: prettier --write

`bun run zig-format`
  src/cli/audit_command.zig
Due: zig fmt

node:vm compatibility (#19703)
  cmake/Sources.json
  cmake/sources/CxxSources.txt
  cmake/targets/BuildBun.cmake
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.ts
  src/bun.js/bindings/JSNextTickQueue.cpp
  src/bun.js/bindings/NodeVM.cpp
  src/bun.js/bindings/NodeVM.h
  src/bun.js/bindings/NodeVMModule.cpp
  src/bun.js/bindings/NodeVMModule.h
  src/bun.js/bindings/NodeVMScript.cpp
  src/bun.js/bindings/NodeVMScript.h
  src/bun.js/bindings/NodeVMSourceTextModule.cpp
  src/bun.js/bindings/NodeVMSourceTextModule.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/js/builtins.d.ts
  src/js/builtins/BunBuiltinNames.h
  src/js/internal/primordials.js
  src/js/internal/validators.ts
  src/js/node/vm.ts
  src/vm/Semaphore.cpp
  src/vm/Semaphore.h
  src/vm/SigintReceiver.h
  src/vm/SigintWatcher.cpp
  src/vm/SigintWatcher.h
  test/js/node/test/parallel/test-vm-basic.js
  test/js/node/test/parallel/test-vm-module-cached-data.js
  test/js/node/test/parallel/test-vm-module-errors.js
  test/js/node/test/parallel/test-vm-module-link.js
  test/js/node/test/parallel/test-vm-sigint.js
  test/js/node/test/parallel/test-vm-timeout-escape-promise-module.js
  test/js/node/test/parallel/test-vm-timeout-escape-promise.js
  test/js/node/test/parallel/test-vm-timeout.js
Due: prettier --write

fix(BunRequest): make `clone()` return a BunRequest (#19813)
  packages/bun-types/bun.d.ts
  src/bun.js/bindings/CookieMap.cpp
  src/bun.js/bindings/CookieMap.h
  src/bun.js/bindings/JSBunRequest.cpp
  src/bun.js/bindings/JSBunRequest.h
  src/bun.js/webcore/Request.zig
  test/regression/issue/18547.test.ts
Due: prettier --write, zig fmt

Add more to this list
  docs/runtime/bun-apis.md
Due: prettier --write

feat(vscode): support remote path mapping
  packages/bun-vscode/README.md
  packages/bun-vscode/package.json
  packages/bun-vscode/src/features/debug.ts
Due: prettier --write

`bun run prettier`
  packages/bun-vscode/README.md
  packages/bun-vscode/src/features/debug.ts
  test/regression/issue/18547.test.ts
Due: prettier --write

docs: add bun pm audit
  docs/install/audit.md
  docs/nav.ts
Due: prettier --write

added tests
  test/js/bun/css/css.test.ts
Due: prettier --write

Fixed: radians rewritten to degrees without converting
  src/css/values/angle.zig
Due: zig fmt

convert rad to deg only if it's length(char length) is smaller to minimize precision error and file size
  src/css/css_parser.zig
  src/css/values/angle.zig
Due: zig fmt

Added CString tests
  test/js/bun/ffi/ffi.test.js
Due: prettier --write

fix(windows): respect NO_COLOR in filter_run
  src/cli/filter_run.zig
Due: zig fmt

fix(windows): respect NO_COLOR in filter_run (#19888)
  src/cli/filter_run.zig
Due: zig fmt

Add BUN_OPTIONS env var (#19766)
  src/bun.zig
  test/cli/env/bun-options.test.ts
Due: prettier --write, zig fmt

`bun run prettier`
  test/regression/issue/18547.test.ts
Due: prettier --write

Enable relocations for BOLT
  cmake/targets/BuildBun.cmake
Due: none

Update BuildBun.cmake
  cmake/targets/BuildBun.cmake
Due: none

Fix async resource management in browser builds
  src/bundler/bundle_v2.zig
  test/bundler/bundler_browser.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
