Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

test for install fail
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

add appendFile test
  test/js/node/fs/fs.test.ts
Due: prettier --write

fdatasync test failed locally because number was too low
  test/js/node/fs/fs.test.ts
Due: prettier --write

more consistent
  src/install/install.zig
Due: zig fmt

Fixes #11747
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

fix(bun_shim_impl): pass env to `CreateProcessW` (#11817)
  src/install/windows-shim/bun_shim_impl.zig
  test/cli/install/bunx.test.ts
  test/cli/install/print-pm-1.0.0.tgz
Due: prettier --write, zig fmt

node:https: provide proper Agent definition
  src/js/node/https.ts
  test/js/node/http/node-http.test.ts
Due: prettier --write

NO leaks 🙅‍♀️
  src/bun.js/api/BunObject.zig
  src/bun.js/api/ShellArgs.classes.ts
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/generated_classes_list.zig
  src/js/builtins/shell.ts
  src/shell/interpreter.zig
  src/shell/shell.zig
  test/js/bun/shell/leak.test.ts
Due: prettier --write, zig fmt

docs: Fix hyperlink
  docs/runtime/shell.md
Due: prettier --write

docs: Fix hyperlink (#11827)
  docs/runtime/shell.md
Due: prettier --write

yay
  .vscode/settings.json
  build.zig
  scripts/download-zls.ps1
  src/bun.js/web_worker.zig
  src/crash_handler.zig
  src/env_loader.zig
  src/install/install.zig
Due: zig fmt

optional dependencies test
  src/install/install.zig
  src/install/patch_install.zig
  test/cli/install/registry/bun-install-registry.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

more
  src/bun.js/api/ShellArgs.classes.ts
  src/js/builtins/shell.ts
  src/shell/interpreter.zig
  test/js/bun/shell/leak.test.ts
Due: prettier --write, zig fmt

make tests better
  test/js/bun/shell/leak.test.ts
Due: prettier --write

keep it required if its required
  src/install/install.zig
Due: zig fmt

allow node:fs.promises.{read,write,append}File to accept a FileHandle (#11800)
  src/js/node/fs.promises.ts
  test/js/node/fs/fs.test.ts
Due: prettier --write

integrate Agent with http.request
  src/js/node/http.ts
  test/js/node/http/node-http.test.ts
Due: prettier --write

fix stuff
  src/js/internal-for-testing.ts
  src/shell/interpreter.zig
  src/shell/shell.zig
Due: prettier --write, zig fmt

use local variable
  src/js/node/http.ts
Due: prettier --write

add back options._defaultAgent check
  src/js/node/http.ts
  src/js/node/https.ts
  test/js/node/http/node-http.test.ts
Due: prettier --write

last part was unreachable
  src/js/node/http.ts
Due: prettier --write

update
  src/install/install.zig
  test/cli/install/bun-install.test.ts
  test/cli/install/registry/bun-install-registry.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

update
  test/cli/install/bun-add.test.ts
Due: prettier --write

update
  test/cli/install/bun-create.test.ts
Due: prettier --write

update
  test/cli/install/bun-link.test.ts
Due: prettier --write

last update
  test/cli/install/bun-workspaces.test.ts
Due: prettier --write

Fixes #11747 (#11829)
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

update
  src/install/install.zig
Due: zig fmt

remove import
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

verdaccio initialized
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

stable arena
  src/shell/interpreter.zig
Due: zig fmt

fix globalAgent export and usage
  src/js/node/https.ts
Due: prettier --write

test for hoisted and unhoisted workspace file deps
  src/install/install.zig
  src/install/lockfile.zig
  src/install/patch_install.zig
  test/cli/install/registry/bun-install-registry.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

Support NODE_TLS_REJECT_UNAUTHORIZED=0 at runtime and implement BUN_CONFIG_VERBOSE_FETCH=1
  docs/runtime/env.md
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/JSEnvironmentVariableMap.cpp
  src/bun.js/bindings/webcore/WebSocket.cpp
  src/bun.js/javascript.zig
  src/bun.js/webcore/response.zig
  src/deps/picohttp.zig
  src/env_loader.zig
  src/http.zig
  src/http/websocket_http_client.zig
  src/js/node/http.ts
  test/harness.ts
  test/js/bun/http/bun-server.test.ts
Due: prettier --write, zig fmt

chore(test/bunx): remove duplicate check
  test/cli/install/bunx.test.ts
Due: prettier --write

add bench script
  bench/snippets/crypto-random-prime.mjs
Due: none

Address feedback
  docs/runtime/env.md
  src/bun.js/bindings/JSEnvironmentVariableMap.cpp
Due: prettier --write

Update JSEnvironmentVariableMap.cpp
  src/bun.js/bindings/JSEnvironmentVariableMap.cpp
Due: none

Update bun-server.test.ts
  test/js/bun/http/bun-server.test.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
