Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Reject TypeScript `using` declarations in ambient contexts instead of panicking (#31230)
  src/js_parser/parse/mod.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

parser: restore lexer on any error during TypeScript backtracking
  src/js_parser/parse/parse_skip_typescript.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

shell: only template-literal glob tokens act as pattern syntax (#31220)
  src/glob/matcher.rs
  src/runtime/shell/states/Expansion.rs
  test/js/bun/glob/match.test.ts
  test/js/bun/shell/brace.test.ts
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write

parser: fix scope underflow panic when a TS contextual keyword starts a larger expression
  src/js_parser/parse/parse_stmt.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

crash handler: push unsafe into per-arch arms in fault_context_from_ucontext
  src/crash_handler/lib.rs
Due: none

Prevent generated YAML anchor names from colliding with keys named like them
  src/runtime/api/YAMLObject.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

semver: preserve pending '||' when skipping a dangling '-' chunk
  src/semver/SemverQuery.rs
  test/cli/install/semver.test.ts
Due: prettier --write

parser: reject for-in/for-of head declarations with invalid initializers (#31236)
  src/js_parser/p.rs
  src/js_parser/p.zig
  src/js_parser/parse/parse_stmt.rs
  src/js_parser/parse/parse_stmt.zig
  src/js_parser/parser.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write, zig fmt

parser: fix "Scope mismatch while visiting" panic from dropped TypeScript `declare` statements (#31231)
  src/js_parser/parse/parse_stmt.rs
  test/bundler/transpiler/scope-mismatch-panic.test.ts
Due: prettier --write

Report duplicate declarations for import bindings kept in TypeScript output
  src/js_parser/p.rs
  src/js_parser/scan/scan_imports.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

crash handler: TraceSeed enum, drop dead btjs context machinery
  src/crash_handler/lib.rs
  src/jsc/btjs.rs
  src/runtime/api/crash_handler_jsc.rs
  src/sys/windows/mod.rs
  src/windows_sys/externs.rs
Due: none

Remove comments
  src/js_parser/p.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

remove comments
  src/js_parser/parse/parse_skip_typescript.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

Remove redundant comments
  src/runtime/api/YAMLObject.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

yaml: review nits — value indent for cmi, anchor/tag-after-? todo
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

node:vm: give DONT_CONTEXTIFY sandboxes their own Object.prototype (#31207)
  src/jsc/bindings/NodeVM.cpp
  src/jsc/bindings/NodeVM.h
  src/jsc/bindings/NodeVMScript.cpp
  src/jsc/bindings/ZigGlobalObject.h
  test/js/node/vm/vm.test.ts
Due: prettier --write

bun_core: move debug module to its own file
  src/bun_core/debug.rs
  src/bun_core/lib.rs
Due: none

remove did_panic
  src/js_parser/lexer.rs
Due: none

remove lexer_backtracker_with_args_bool
  src/js_parser/parse/parse_skip_typescript.rs
Due: none

Fix quadratic bracket matching in Bun.markdown inline parser
  src/md/inlines.rs
  src/md/links.rs
  src/md/ref_defs.rs
  test/js/bun/md/md-edge-cases.test.ts
Due: prettier --write

remove redundant comments
  src/js_parser/parse/parse_stmt.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

shell: propagate from_js errors in builtin ReadableStream check
  src/runtime/shell/Builtin.rs
Due: none

Remove redundant comments
  src/js_parser/p.rs
  src/js_parser/scan/scan_imports.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

Reject `export` of a block-scoped function declaration instead of emitting unparseable output (#31237)
  src/js_parser/p.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

test(vm): correct comments and cover no-fetcher import path
  test/js/node/vm/vm.test.ts
Due: prettier --write

Satisfy exception-check validation on the non-Zig createError path
  src/jsc/bindings/ErrorCode.cpp
  src/jsc/bindings/NodeVM.cpp
Due: none

node:vm: allocate ERR_VM_DYNAMIC_IMPORT_CALLBACK_MISSING in the vm realm
  src/jsc/bindings/ErrorCode.cpp
  test/js/node/vm/vm.test.ts
Due: prettier --write

Fix unreachable-code panic in semver range parser on dangling '-' chunks (#31234)
  src/semver/SemverQuery.rs
  test/cli/install/semver.test.ts
Due: prettier --write

Error instead of crashing on deeply nested expressions in the transpiler
  src/js_parser/p.rs
  src/js_parser/scan/scan_side_effects.rs
  src/js_parser/visit/visit_expr.rs
  src/js_printer/lib.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

yaml: test.todo for flow-seq pair value on next line at column 0 (pre-existing)
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

css: fix exponential backtracking on deeply nested function values
  src/css/css_parser.rs
  src/css/values/calc.rs
  test/js/bun/css/nested-function-backtracking.test.ts
Due: prettier --write

spawn: default SpawnOptions stdio to inherit (#31196)
  src/bun_core/util.rs
  src/runtime/api/bun/process.zig
  src/spawn/process.rs
  src/spawn_sys/spawn_process.rs
  test/cli/init/init.test.ts
Due: prettier --write, zig fmt

crash handler: derive Copy on TraceSeed
  src/crash_handler/lib.rs
Due: none

crash handler: walk frame pointers seeded from the fault context (#31163)
  scripts/build/rust.ts
  src/bun_bin/phase_c_exports.rs
  src/bun_core/debug.rs
  src/bun_core/lib.rs
  src/crash_handler/lib.rs
  src/jsc/btjs.rs
  src/runtime/api/crash_handler_jsc.rs
  src/sys/windows/mod.rs
  src/windows_sys/externs.rs
Due: prettier --write

Test import-equals re-declaring an import binding
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

css: fix exponential backtracking on deeply nested function values (#31243)
  src/css/css_parser.rs
  src/css/values/calc.rs
  test/js/bun/css/nested-function-backtracking.test.ts
Due: prettier --write

Recycle bracket-map storage and SIMD-skip ordinary text
  src/md/inlines.rs
  src/md/links.rs
  src/md/parser.rs
Due: none

Report the stack overflow error from the DCE helpers instead of silently falling back
  src/js_parser/p.rs
  src/js_parser/scan/scan_side_effects.rs
  src/js_parser/visit/visit_expr.rs
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
