Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

`bun scripts/glob-sources.mjs`
  cmake/sources/ZigSources.txt
Due: none

`bun run zig-format`
  src/install/GitRunner.zig
  src/install/repository.zig
Due: zig fmt

Fix `bun.write` to not make file empty if same file
  src/bun.js/webcore/Blob.zig
  test/js/bun/io/bun-write.test.js
Due: prettier --write, zig fmt

Split up Timer.zig
  src/bun.js/api/Timer.zig
  src/bun.js/api/Timer/EventLoopTimer.zig
  src/bun.js/api/Timer/ImmediateObject.zig
  src/bun.js/api/Timer/TimeoutObject.zig
  src/bun.js/api/Timer/TimerObjectInternals.zig
Due: zig fmt

add file descriptor test
  test/js/bun/io/bun-write.test.js
Due: prettier --write

Fix
  src/bun.js/api/Timer/EventLoopTimer.zig
  src/bun.js/api/Timer/ImmediateObject.zig
  src/bun.js/api/Timer/TimeoutObject.zig
  src/bun.js/api/Timer/TimerObjectInternals.zig
Due: zig fmt

Update Timer.zig
  src/bun.js/api/Timer.zig
Due: zig fmt

`bun run prettier`
  test/js/bun/io/bun-write.test.js
Due: prettier --write

`bun run zig-format`
  src/bun.js/api/Timer.zig
Due: zig fmt

Use pool
  src/install/GitRunner.zig
  src/install/repository.zig
Due: zig fmt

smol stuff
  src/bun.js/api/bun/process.zig
  src/shell/IOWriter.zig
  src/shell/interpreter.zig
  src/sys.zig
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write, zig fmt

fix 6401
  docs/api/utils.md
Due: prettier --write

remove PathBuf.deinit
  src/bun.zig
Due: zig fmt

fix passing nested object to macro
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/js_ast.zig
  test/bundler/bun-build-api.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

`bun run prettier`
  test/bundler/bun-build-api.test.ts
Due: prettier --write

woops
  src/shell/IOWriter.zig
Due: zig fmt

stuff
  src/shell/Yield.zig
  src/shell/states/Cmd.zig
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write, zig fmt

use location.origin instead of bun:// on web
  src/bake/hmr-module.ts
Due: prettier --write

Fix BUN-D93 (#20468)
  src/bun.zig
Due: zig fmt

Make `bunx` work with `npm i -g bun` on windows
  packages/bun-release/scripts/upload-npm.ts
  packages/bun-release/src/fs.ts
  packages/bun-release/src/npm/install.ts
Due: prettier --write

.
  packages/bun-release/scripts/upload-npm.ts
Due: prettier --write

fix merge
  src/install/PackageInstall.zig
  src/install/hoisted_install.zig
  src/install/install.zig
Due: zig fmt

Make `bunx` work with `npm i -g bun` on windows (#20471)
  packages/bun-release/scripts/upload-npm.ts
  packages/bun-release/src/fs.ts
  packages/bun-release/src/npm/install.ts
Due: prettier --write

docs: minor fix to Bun.deflateSync (#20466)
  docs/api/utils.md
Due: prettier --write

Split up Timer.zig into more files (#20465)
  cmake/sources/ZigSources.txt
  src/bun.js/api/Timer.zig
  src/bun.js/api/Timer/EventLoopTimer.zig
  src/bun.js/api/Timer/ImmediateObject.zig
  src/bun.js/api/Timer/TimeoutObject.zig
  src/bun.js/api/Timer/TimerObjectInternals.zig
Due: zig fmt

do not skip this one
  test/no-validate-exceptions.txt
Due: none

specify error type
  src/bake/bake.zig
Due: zig fmt

Delete debugAssertExceptionPresenceMatches
  src/bun.js/bindings/CatchScope.zig
  src/string.zig
Due: zig fmt

Specify error type on fromJS
  src/bake/bake.zig
Due: zig fmt

run CI again with all validations
  scripts/runner.node.mjs
Due: none

clean up todos
  src/bun.js/bindings/AnyPromise.zig
  src/bun.js/bindings/JSPromise.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/ipc.zig
Due: zig fmt

specify error types in JSArrayIterator
  src/bun.js/bindings/JSArrayIterator.zig
Due: zig fmt

Clearer deprecation comment
  src/bun.js/bindings/JSGlobalObject.zig
Due: zig fmt

Specify error
  src/bun.js/bindings/JSObject.zig
Due: zig fmt

Use returnIfException
  src/bun.js/bindings/JSPropertyIterator.zig
Due: zig fmt

More comments about traps and termination
  src/bun.js/bindings/CatchScope.zig
  src/bun.js/bindings/bindings.cpp
Due: zig fmt

regenerate + sort no-validate-exceptions.txt
  test/no-validate-exceptions.txt
Due: none

Revert "run CI again with all validations"
  scripts/runner.node.mjs
Due: none
