Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Update sqlite.md
  docs/api/sqlite.md
Due: prettier --write

perf: run async function in concurrent
  src/codegen/generate-classes.ts
Due: prettier --write

link if exists
  src/bun.zig
  src/install/bin.zig
  src/install/install.zig
Due: zig fmt

docs(guides): add example how to parse query params for Bun.serve
  docs/guides/http/server.md
Due: prettier --write

Address comments
  packages/bun-types/sqlite.d.ts
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/js/bun/sqlite.ts
Due: prettier --write

Update sqlite.test.js
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

Fix raw test
  test/js/bun/sqlite/sql-raw.test.js
Due: prettier --write

Rename
  test/js/bun/sqlite/sql-timezone.test.js
Due: prettier --write

[bun:sqlite] Support unprefixed bindings, safe integers / BigInt, `as(Class)` (#11887)
  docs/api/sqlite.md
  packages/bun-types/sqlite.d.ts
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/lazy_sqlite3.h
  src/js/bun/sqlite.ts
  test/harness.ts
  test/js/bun/sqlite/sql-raw.test.js
  test/js/bun/sqlite/sql-timezone.test.js
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

wip
  src/bun.js/bindings/Weak.cpp
  src/bun.js/bindings/bindings.cpp
  src/deps/uws.zig
  src/js/bun/sql.ts
  src/jsc.zig
  test/js/sql/sql.test.ts
Due: prettier --write, zig fmt

Update sql.ts
  src/js/bun/sql.ts
Due: prettier --write

Update sql.test.ts
  test/js/sql/sql.test.ts
Due: prettier --write

Implement `SCRAM-SHA-256` authentication
  src/base64/base64.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/structure.cpp
  src/bun.js/module_loader.zig
  src/bun.zig
  src/deps/boringssl.translated.zig
  src/feature_flags.zig
  src/hmac.zig
  src/js/bun/sql.ts
  src/sql/postgres.zig
  test/js/sql/sql.test.ts
Due: prettier --write, zig fmt

Update postgres.zig
  src/sql/postgres.zig
Due: zig fmt

use u8
  src/bun.js/bindings/structure.cpp
  src/sql/postgres.zig
Due: zig fmt

Update structure.cpp
  src/bun.js/bindings/structure.cpp
Due: none

fix unable to find package on windows
  src/install/install.zig
Due: zig fmt

run twice
  test/cli/install/bun-patch.test.ts
Due: prettier --write

fix completed true
  src/js/node/http.ts
  test/js/third_party/express/express.test.ts
  test/js/third_party/express/package.json
Due: prettier --write

cwd thingy
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write

dont call SetConsoleMode on stdin on windows
  src/output.zig
Due: zig fmt

add on more test
  test/js/node/http/node-http.test.ts
Due: prettier --write

fix merge
  src/install/install.zig
Due: zig fmt

Apply formatting changes
  src/bun.js/Weak.zig
Due: zig fmt

complete must be before push
  src/js/node/http.ts
Due: prettier --write

summary uses lockfile used for install
  src/install/install.zig
  src/install/lockfile.zig
Due: zig fmt

pointer lookup
  src/install/lockfile.zig
Due: zig fmt

more tests
  src/install/patch_install.zig
  src/sys.zig
  test/cli/install/bun-patch.test.ts
Due: prettier --write, zig fmt

fix(http) mark completed true (#11926)
  src/js/node/http.ts
  test/js/node/http/node-http.test.ts
  test/js/third_party/express/express.test.ts
  test/js/third_party/express/package.json
Due: prettier --write

comment out unnecessary tests
  test/cli/install/bun-patch.test.ts
Due: prettier --write

add comments
  src/output.zig
Due: zig fmt

fix(windows): dont call SetConsoleMode on stdin (#11927)
  src/output.zig
Due: zig fmt

fix type errors
  src/cli/test_command.zig
Due: zig fmt

resolve comments
  src/bun.js/api/Shell.classes.ts
  src/bun.js/api/ShellArgs.classes.ts
  src/shell/interpreter.zig
Due: prettier --write, zig fmt
