Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Add native BufferList (#1146)
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBuffer.h
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/streams.exports.js
Due: prettier --write

fix mkdtemp
  src/bun.js/node/node_fs.zig
Due: zig fmt

Update src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs.zig
Due: zig fmt

fix mkdtemp (#1151)
  src/bun.js/node/node_fs.zig
Due: zig fmt

Update node_fs.zig
  src/bun.js/node/node_fs.zig
Due: zig fmt

fix: Update broken README links (#1148)
  README.md
Due: prettier --write

Fix debug build cache
  Makefile
Due: none

Implement `napi_add_finalizer`
  src/bun.js/bindings/napi.cpp
Due: none

Remove pointer to stack buffer in `os` module and fix build issue
  src/c.zig
  src/darwin_c.zig
  src/linux_c.zig
Due: zig fmt

Update napi.zig
  src/napi/napi.zig
Due: zig fmt

added shell to STRIP variable definition
  Makefile
Due: none

added shell to STRIP variable definition (#1156)
  Makefile
Due: none

fix compile error
  src/bun.js/node/node_os.zig
  src/c.zig
  src/linux_c.zig
Due: zig fmt

fix compile error (#1157)
  src/bun.js/node/node_os.zig
  src/c.zig
  src/linux_c.zig
Due: zig fmt

Fix ffi uint64_t parameter
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi.test.js
Due: prettier --write

Fix ffi uint64_t parameter (#1158)
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi.test.js
Due: prettier --write

feat(cli): show sha in version
  src/cli.zig
Due: zig fmt

fix: remove duplication Global.
  src/cli.zig
Due: zig fmt

started working on it
  src/fs.zig
Due: zig fmt

remove useless function
  src/cli/run_command.zig
  src/fs.zig
Due: zig fmt

Update Makefile
  Makefile
Due: none

Fix crash in `os` module on macOS
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/interface_addresses.cpp
Due: none

Fix `DataView` and non-8 bit sized typed arrays with TextDecoder
  src/bun.js/bindings/bindings.cpp
  src/bun.js/webcore/encoding.zig
  test/bun.js/text-decoder.test.js
Due: prettier --write, zig fmt

New WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
  bench/snippets/async-overhead.mjs
Due: none

[bun:ffi] Fix int16 / uin16 max
  src/bun.js/ffi.exports.js
Due: prettier --write

[bun:ffi] Fix crash with uint64_t
  src/bun.js/api/FFI.h
  src/bun.js/api/ffi.zig
  src/bun.js/bindings/FFI.zig
Due: zig fmt

More reliable macOS event loop
  Makefile
  src/http_client_async.zig
  src/io/io_darwin.cpp
  src/io/io_darwin.zig
  src/io/io_linux.zig
  src/network_thread.zig
Due: zig fmt

feat: implement bun dot
  src/cli.zig
  src/cli/dot_command.zig
  src/cli/run_command.zig
Due: zig fmt

Reduce CPU usage of idling
  bench/snippets/set-timeout.mjs
  src/bun.js/event_loop.zig
  src/bun_js.zig
  src/io/io_darwin.zig
Due: zig fmt

feat: implement new error
  src/cli/dot_command.zig
Due: zig fmt

fix: make string_to_run nullable
  src/cli/dot_command.zig
Due: zig fmt

support pass null as NULL ptr
  src/bun.js/api/FFI.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi-test.c
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
  test/bun.js/ffi.test.js
Due: prettier --write

support pass null as NULL ptr (#1160)
  src/bun.js/api/FFI.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi-test.c
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
  test/bun.js/ffi.test.js
Due: prettier --write

chore(install-script): automatically add bun to path - bash shell
  src/cli/install.sh
Due: none

add tildify
  src/cli/install.sh
Due: none

hack in support for extends
  src/resolver/resolver.zig
  src/resolver/tsconfig_json.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
