Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

docs
  docs/api/import-meta.md
Due: prettier --write

feat(css): escaped newline (#15980)
  src/css/css_parser.zig
Due: zig fmt

opsie
  src/bun.js/api/bun/h2_frame_parser.zig
Due: zig fmt

ok
  src/copy_file.zig
Due: zig fmt

fix request support for paddingStrategy
  src/bun.js/api/bun/h2_frame_parser.zig
  test/js/node/http2/node-http2.test.js
Due: prettier --write, zig fmt

cleanup
  src/js/node/net.ts
Due: prettier --write

check owner_symbol
  src/js/node/net.ts
Due: prettier --write

more
  src/bun.js/api/bun/h2_frame_parser.zig
Due: zig fmt

dont duplicate listeners
  src/js/node/http2.ts
Due: prettier --write

WIP
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
  test/js/node/test/parallel/test-http2-client-proxy-over-http2.js
  test/js/node/test/parallel/test-http2-generic-streams-sendfile.js
  test/js/node/test/parallel/test-http2-padding-aligned.js
  test/js/node/test/parallel/test-http2-write-finishes-after-stream-destroy.js
Due: prettier --write, zig fmt

fix client padding support
  src/bun.js/api/bun/h2_frame_parser.zig
  test/js/node/http2/http2-helpers.cjs
  test/js/node/http2/node-echo-server.fixture.js
  test/js/node/http2/node-http2.test.js
Due: prettier --write, zig fmt

WIP
  src/js/node/net.ts
Due: prettier --write

add strategy on bun side too
  src/bun.js/api/bun/h2_frame_parser.zig
  test/js/node/http2/node-http2.test.js
Due: prettier --write, zig fmt

Add comprehensive plan for browser automation API implementation
  plan.md
Due: prettier --write

Fix release mode assertion
  src/bake/DevServer/IncrementalGraph.zig
Due: zig fmt

update
  src/bun.js/bindings/JSCommonJSModule.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

Introduce yarn.lock -> bun.lock{b} migrator (#16166)
  .vscode/settings.json
  cmake/sources/ZigSources.txt
  src/install/migration.zig
  src/install/yarn.zig
  test/cli/install/migration/__snapshots__/yarn-lock-migration.test.ts.snap
  test/cli/install/migration/yarn-lock-migration.test.ts
  test/cli/install/migration/yarn/.gitignore
  test/cli/install/migration/yarn/yarn-cli-repo/package.json
  test/cli/install/migration/yarn/yarn-cli-repo/yarn.lock
  test/cli/install/migration/yarn/yarn-lock-mkdirp-file-dep/.gitignore
  test/cli/install/migration/yarn/yarn-lock-mkdirp-file-dep/mkdirp/package.json
  test/cli/install/migration/yarn/yarn-lock-mkdirp-file-dep/package.json
  test/cli/install/migration/yarn/yarn-lock-mkdirp-file-dep/yarn.lock
  test/cli/install/migration/yarn/yarn-lock-mkdirp-no-resolved/.gitignore
  test/cli/install/migration/yarn/yarn-lock-mkdirp-no-resolved/package.json
  test/cli/install/migration/yarn/yarn-lock-mkdirp-no-resolved/yarn.lock
  test/cli/install/migration/yarn/yarn-lock-mkdirp/.gitignore
  test/cli/install/migration/yarn/yarn-lock-mkdirp/package.json
  test/cli/install/migration/yarn/yarn-lock-mkdirp/yarn.lock
  test/cli/install/migration/yarn/yarn-stuff/.gitignore
  test/cli/install/migration/yarn/yarn-stuff/abbrev-1.1.1.tgz
  test/cli/install/migration/yarn/yarn-stuff/abbrev-link-target/package.json
  test/cli/install/migration/yarn/yarn-stuff/abbrev-link-target/yarn.lock
  test/cli/install/migration/yarn/yarn-stuff/package.json
  test/cli/install/migration/yarn/yarn-stuff/yarn.lock
Due: prettier --write, zig fmt

Use toOwnedSlice, make code_allocator non-optional
  src/ast/Expr.zig
  src/bake/DevServer.zig
  src/bake/DevServer/IncrementalGraph.zig
  src/bake/DevServer/PackedMap.zig
  src/bundler/bundle_v2.zig
  src/bundler/linker_context/generateCodeForFileInChunkJS.zig
  src/bundler/linker_context/postProcessJSChunk.zig
  src/js_printer.zig
Due: zig fmt

Ensure we handle aborted requests correctly in Rendering API (#21398)
  src/bake/DevServer.zig
  src/bun.js/api/server/AnyRequestContext.zig
  src/bun.js/webcore/streams.zig
Due: zig fmt

Fix release mode assertion...?
  src/bake/DevServer/IncrementalGraph.zig
Due: zig fmt

remove extra padding around jestprettyformatted items
  src/bun.js/test/diff_format.zig
  test/js/bun/test/printing/diffexample.test.ts
Due: prettier --write, zig fmt

update snapshot.test.ts.snap
  test/js/bun/test/snapshot-tests/snapshots/__snapshots__/snapshot.test.ts.snap
Due: none

fix diffexample failure
  test/js/bun/test/printing/diffexample.test.ts
Due: prettier --write

fix ci
  src/js_parser.zig
  test/js/bun/glob/__snapshots__/scan.test.ts.snap
Due: zig fmt

update checkmarks
  docs/test/writing.md
Due: prettier --write

spyMatchers passes
  src/bun.js/test/expect.zig
  test/js/bun/test/spyMatchers.test.ts
Due: prettier --write, zig fmt

fix '?const *' to '?*const '
  src/codegen/cppbind.ts
Due: prettier --write

fix _Nonnull
  src/codegen/cppbind.ts
Due: prettier --write

,
  src/codegen/cppbind.ts
Due: prettier --write

windows fix?
  test/js/bun/test/printing/diffexample.test.ts
Due: prettier --write

fix --splitting
  src/js_parser.zig
  test/js/bun/glob/import-meta-glob.test.ts
Due: prettier --write, zig fmt

Skip test/bake/dev/ecosytem.test.ts on Windows
  test/bake/dev/ecosystem.test.ts
Due: prettier --write

Depointerize
  src/bake/DevServer.zig
  src/bake/DevServer/IncrementalGraph.zig
Due: zig fmt

regression test for 10380
  test/regression/issue/10380/spy-matchers-diff.test.ts
Due: prettier --write

address review
  src/bun.js/api/bun/dns.zig
  src/bun.js/api/bun/process.zig
  src/cli/filter_run.zig
  src/install/lifecycle_script_runner.zig
  src/shell/IOReader.zig
  src/shell/IOWriter.zig
  src/shell/Yield.zig
  src/shell/builtin/rm.zig
  src/shell/builtin/yes.zig
  src/shell/interpreter.zig
  src/shell/states/Async.zig
  src/shell/states/Cmd.zig
  src/shell/subproc.zig
Due: zig fmt

fix(net/http2) fix socket internal timeout and owner_symbol check, fix padding support in http2 (#21263)
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
  src/js/node/net.ts
  test/js/node/http2/http2-helpers.cjs
  test/js/node/http2/node-echo-server.fixture.js
  test/js/node/http2/node-http2.test.js
  test/js/node/test/parallel/test-http2-client-proxy-over-http2.js
  test/js/node/test/parallel/test-http2-generic-streams-sendfile.js
  test/js/node/test/parallel/test-http2-padding-aligned.js
  test/js/node/test/parallel/test-http2-write-finishes-after-stream-destroy.js
Due: prettier --write, zig fmt

WIP
  src/bake/DevServer.zig
  src/bake/DevServer/IncrementalGraph.zig
  src/css/css_parser.zig
  src/sourcemap/sourcemap.zig
Due: zig fmt

Remove lie in test.md
  docs/cli/test.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
