Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Start RSC plugin - not finished
  packages/bun-plugin-server-components/README.md
  packages/bun-plugin-server-components/bun.lockb
  packages/bun-plugin-server-components/data.yml
  packages/bun-plugin-server-components/index.test.ts
  packages/bun-plugin-server-components/index.ts
  packages/bun-plugin-server-components/package.json
  packages/bun-plugin-yaml/bun.lockb
Due: prettier --write

alignment
  src/memory_allocator.zig
  src/mimalloc_arena.zig
Due: zig fmt

only look at import records for the current source index
  src/bundler/bundle_v2.zig
Due: zig fmt

skip `source_index` when it is invalid
  src/bundler/bundle_v2.zig
Due: zig fmt

iterate `export_star_records` at `source_index`
  src/bundler/bundle_v2.zig
Due: zig fmt

comment
  src/bundler/bundle_v2.zig
Due: zig fmt

Fix checking for dynamic exports (#2792)
  src/bundler/bundle_v2.zig
Due: zig fmt

Visit the runtime
  src/bundler/bundle_v2.zig
Due: zig fmt

Add helper fn
  src/baby_list.zig
  src/bundler/bundle_v2.zig
Due: zig fmt

Small refactor
  src/bundler/bundle_v2.zig
Due: zig fmt

Add missing function
  src/js_ast.zig
Due: zig fmt

`entry_point_kinds` only at `source_index`
  src/bundler/bundle_v2.zig
Due: zig fmt

add deoptimization
  src/bundler/bundle_v2.zig
Due: zig fmt

Implement synthetic default export
  src/bundler/bundle_v2.zig
  src/js_ast.zig
Due: zig fmt

re-enable our CJS optimization
  src/bundler/bundle_v2.zig
  src/js_parser.zig
Due: zig fmt

Fix broken test
  test/bundler/bundler_plugin.test.ts
Due: prettier --write

Clean up edgecase causing plugins to be called too many times
  src/bundler/bundle_v2.zig
Due: zig fmt

Add readme
  packages/bun-plugin-server-components/README.md
  packages/bun-plugin-server-components/index.ts
  packages/bun-plugin-server-components/modules.d.ts
  packages/bun-plugin-server-components/package.json
Due: prettier --write

Fix code splitting for server components
  src/bundler/bundle_v2.zig
  src/js_parser.zig
  src/logger.zig
  test/bundler/expectBundled.ts
Due: prettier --write, zig fmt

parse and visit catch body scope
  src/js_ast.zig
  src/js_parser.zig
Due: zig fmt

parse and visit catch body scope (#2796)
  src/js_ast.zig
  src/js_parser.zig
Due: zig fmt

Add missing JSON API to Web APIs page
  docs/runtime/web-apis.md
Due: prettier --write

Add initial ecosystem tests
  .github/scripts/get-revision.js
  .github/scripts/package.json
  .github/scripts/test-runner.ts
  .github/workflows/bun-ecosystem-test.yml
  packages/bun-internal-test/.gitignore
  packages/bun-internal-test/README.md
  packages/bun-internal-test/bun.lockb
  packages/bun-internal-test/package.json
  packages/bun-internal-test/resources/packages.json
  packages/bun-internal-test/runners/bun/__snapshots__/runner.test.ts.snap
  packages/bun-internal-test/runners/bun/package.json
  packages/bun-internal-test/runners/bun/runner.test.ts
  packages/bun-internal-test/runners/bun/runner.ts
  packages/bun-internal-test/runners/qunit/assert.ts
  packages/bun-internal-test/runners/qunit/package.json
  packages/bun-internal-test/runners/qunit/qunit.d.ts
  packages/bun-internal-test/runners/qunit/qunit.test.ts
  packages/bun-internal-test/runners/qunit/qunit.ts
  packages/bun-internal-test/runners/tap/index.ts
  packages/bun-internal-test/scripts/html.ts
  packages/bun-internal-test/scripts/run-ecosystem-tests.ts
  packages/bun-internal-test/tsconfig.json
  packages/bun-internal-test/types/bun-test.d.ts
Due: prettier --write

Run ecosystem tests every morning, after canary release
  .github/workflows/bun-ecosystem-test.yml
  packages/bun-internal-test/resources/packages.json
Due: none

Add initial ecosystem tests (#2801)
  .github/scripts/get-revision.js
  .github/scripts/package.json
  .github/scripts/test-runner.ts
  .github/workflows/bun-ecosystem-test.yml
  packages/bun-internal-test/.gitignore
  packages/bun-internal-test/README.md
  packages/bun-internal-test/bun.lockb
  packages/bun-internal-test/package.json
  packages/bun-internal-test/resources/packages.json
  packages/bun-internal-test/runners/bun/__snapshots__/runner.test.ts.snap
  packages/bun-internal-test/runners/bun/package.json
  packages/bun-internal-test/runners/bun/runner.test.ts
  packages/bun-internal-test/runners/bun/runner.ts
  packages/bun-internal-test/runners/qunit/assert.ts
  packages/bun-internal-test/runners/qunit/package.json
  packages/bun-internal-test/runners/qunit/qunit.d.ts
  packages/bun-internal-test/runners/qunit/qunit.test.ts
  packages/bun-internal-test/runners/qunit/qunit.ts
  packages/bun-internal-test/runners/tap/index.ts
  packages/bun-internal-test/scripts/html.ts
  packages/bun-internal-test/scripts/run-ecosystem-tests.ts
  packages/bun-internal-test/tsconfig.json
  packages/bun-internal-test/types/bun-test.d.ts
Due: prettier --write

Fix working directory of GitHub action
  .github/workflows/bun-ecosystem-test.yml
Due: none

Use HTTPS instead of SSH for `git clone` in ecosystem tests
  packages/bun-internal-test/scripts/run-ecosystem-tests.ts
Due: prettier --write

Actually fix the `git clone` URL
  packages/bun-internal-test/scripts/run-ecosystem-tests.ts
Due: prettier --write

Only checkout test folder for ecosystem tests
  .github/workflows/bun-ecosystem-test.yml
Due: none

Add no-op for ClientRequest.{setNoDelay,setTimeout}
  src/bun.js/http.exports.js
Due: prettier --write

handle multiple output files and `[dir]`
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/cli/build_command.zig
  src/options.zig
Due: zig fmt

Add `setNoDelay`
  src/bun.js/http.exports.js
Due: prettier --write

Throw error on non-file url
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/js/bun/util/fileUrl.test.js
Due: prettier --write

Revert "Add `setNoDelay`"
  src/bun.js/http.exports.js
Due: prettier --write

Add `UNLIKELY`
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

fix source map line offsets (#2791)
  src/bundler/bundle_v2.zig
  src/js_printer.zig
  src/sourcemap/sourcemap.zig
  src/string_joiner.zig
  src/string_mutable.zig
Due: zig fmt

Include JSON in global docs
  docs/api/globals.md
Due: prettier --write

added some improvements on server
  src/bun.js/api/server.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/body.zig
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
  src/url.zig
Due: zig fmt

refactor
  src/bun.js/api/server.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
