Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Update UtilInspect.cpp
  src/bun.js/bindings/UtilInspect.cpp
Due: none

Don't break compatibility
  src/bun.js/ConsoleObject.zig
  test/js/node/util/bun-inspect.test.ts
Due: prettier --write, zig fmt

Update reportError.test.ts.snap
  test/js/bun/util/__snapshots__/reportError.test.ts.snap
Due: none

Update expect.zig
  src/bun.js/test/expect.zig
Due: zig fmt

fix udp create socket with port test
  src/bun.js/api/bun/udp_socket.zig
  test/harness.ts
  test/js/bun/udp/udp_socket.test.ts
Due: prettier --write, zig fmt

Support asymmetric matchers with equals in expect.extend (#10602)
  src/bun.js/test/expect.zig
  test/js/bun/test/expect-extend.test.js
  test/js/bun/test/expect-extend.types.d.ts
Due: prettier --write, zig fmt

increase attempts
  test/js/bun/udp/udp_socket.test.ts
Due: prettier --write

Fixes #10584 (#10627)
  src/string_immutable.zig
  test/js/bun/console/__snapshots__/console-table.test.ts.snap
  test/js/bun/console/console-table.test.ts
Due: prettier --write, zig fmt

fix cpu model identification on linux aarch64
  src/bun.js/node/node_os.zig
Due: zig fmt

fix test on windows
  test/js/node/child_process/child_process.test.ts
Due: prettier --write

Apply formatting changes
  test/js/node/child_process/child_process.test.ts
Due: prettier --write

greaterThanOrEqual
  test/js/web/timers/setTimeout.test.js
Due: prettier --write

fix flaky `setTimeout` test (#10656)
  test/js/web/timers/setTimeout.test.js
Due: prettier --write

Update src/bun.js/node/node_os.zig
  src/bun.js/node/node_os.zig
Due: zig fmt

fix flaky udp test (#10650)
  src/bun.js/api/bun/udp_socket.zig
  test/harness.ts
  test/js/bun/udp/udp_socket.test.ts
Due: prettier --write, zig fmt

Use error handling callback in more places, emit 1015 when WSS TLS handshaking fails, micro-optimize ServerWebSocket, fix bug in util.inspect exceptions (#10633)
  .vscode/settings.json
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/udp_socket.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/UtilInspect.cpp
  src/bun.js/bindings/UtilInspect.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/webcore/WebSocket.cpp
  src/bun.js/bindings/webcore/WebSocket.h
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_fs_stat_watcher.zig
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/jest.zig
  src/bun.js/web_worker.zig
  src/bun_js.zig
  src/cli/test_command.zig
  src/http/websocket_http_client.zig
  src/js_ast.zig
  src/napi/napi.zig
  test/js/bun/util/__snapshots__/reportError.test.ts.snap
  test/js/node/util/bun-inspect.test.ts
  test/js/web/websocket/websocket.test.js
Due: prettier --write, zig fmt

Add comment
  src/bun.js/node/dir_iterator.zig
Due: zig fmt

Speculative fix for alignment crash in directory iterator on Windows (#10628)
  src/bun.js/node/dir_iterator.zig
Due: zig fmt

Bump
  CMakeLists.txt
Due: none

Disable these assertions on Windows
  src/memory_allocator.zig
Due: zig fmt

fix
  src/bun.zig
Due: zig fmt

maybe fix flaky test
  docs/cli/bun-create.md
  src/cli.zig
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
Due: prettier --write, zig fmt

Fix "is" -> "as" typo in comment
  src/crash_handler.zig
Due: zig fmt

update
  src/cli/upgrade_command.zig
Due: zig fmt

Fix "is" -> "as" typo in comment (#10664)
  src/crash_handler.zig
Due: zig fmt

Update websockets.md
  docs/api/websockets.md
Due: prettier --write

Update simple.md
  docs/guides/websocket/simple.md
Due: prettier --write

no need to open the parentheses (#10666)
  docs/api/websockets.md
Due: prettier --write

Resolve comments
  src/bun.zig
  src/string_builder.zig
  src/windows.zig
Due: zig fmt

Tweak LTO settings on Windows
  CMakeLists.txt
Due: none

fix flaky `bun-create.test.ts` with git templates (#10662)
  docs/cli/bun-create.md
  src/cli.zig
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
Due: prettier --write, zig fmt

Fixes #10624 (#10625)
  src/sourcemap/sourcemap.zig
  test/js/third_party/body-parser/express-bun-build-compile.test.ts
  test/js/third_party/body-parser/express-compile-fixture.ts
Due: prettier --write, zig fmt

woops
  src/windows.zig
Due: zig fmt

maybe work
  .github/workflows/run-test.yml
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

test: node:http: don't hardcode this value
  test/js/node/http/node-http.test.ts
Due: prettier --write

Update `Bun.serve()` types documentation to match the exact values from `bun.d.ts` (#10420)
  docs/api/http.md
Due: prettier --write

fix `cpus` on linux aarch64
  src/bun.js/node/node_os.zig
Due: zig fmt

Make Windows command line argument parsing more robust (#10661)
  src/bun.zig
  src/string_builder.zig
  src/windows.zig
Due: zig fmt

fix cpu model identification on linux aarch64 (#10653)
  src/bun.js/node/node_os.zig
Due: zig fmt
