Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

ci: bootstrap.sh: musl download of bun no longer has to be special-cased (#15265)
  scripts/bootstrap.sh
Due: none

fix bad error for snapshot file syntax error & fix snapshot file growing if it fails to parse
  src/bun.js/test/expect.zig
  src/bun.js/test/snapshot.zig
  test/js/bun/test/snapshot-tests/snapshots/snapshot.test.ts
Due: prettier --write, zig fmt

add a grow test and an explicit regression test for 15283
  test/js/bun/test/snapshot-tests/snapshots/__snapshots__/snapshot.test.ts.snap
  test/js/bun/test/snapshot-tests/snapshots/snapshot.test.ts
Due: prettier --write

sthfdsaf
  src/bake/DevServer.zig
  src/bake/client/reader.ts
  src/bake/hmr-runtime-client.ts
  src/codegen/bake-codegen.ts
Due: prettier --write, zig fmt

zig: make throwTODO use JSError (#15264)
  src/bun.js/api/BunObject.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/spawn/stdio.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.zig
  src/codegen/generate-node-errors.ts
  src/install/dependency.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
Due: prettier --write, zig fmt

zig: make JSValue.toBunString use JSError
  src/bake/FrameworkRouter.zig
  src/bake/bake.zig
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/udp_socket.zig
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/javascript.zig
  src/bun.js/node/types.zig
  src/bun.js/node/util/parse_args.zig
  src/bun.js/node/util/validators.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/pretty_format.zig
  src/bun.js/web_worker.zig
  src/bun.js/webcore/ObjectURLRegistry.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/body.zig
  src/bundler.zig
  src/cli/pack_command.zig
  src/css/css_internals.zig
  src/ini.zig
  src/install/npm.zig
  src/js_ast.zig
  src/logger.zig
  src/napi/napi.zig
  src/patch.zig
  src/resolver/resolver.zig
  src/shell/shell.zig
  src/sql/postgres.zig
  src/sql/postgres/postgres_types.zig
  src/string.zig
Due: zig fmt

some stuff
  .vscode/settings.json
  jest.config.js
  packages/bun-debug-adapter-protocol/src/debugger/__tests__/framer.test.ts
  packages/bun-debug-adapter-protocol/src/debugger/adapter.ts
  packages/bun-debug-adapter-protocol/src/debugger/node-socket-framer.test.ts
  packages/bun-debug-adapter-protocol/src/debugger/node-socket-framer.ts
  packages/bun-inspector-protocol/src/inspector/node-socket.ts
  packages/bun-vscode/bytes.hex
  packages/bun-vscode/example/axios.ts
  packages/bun-vscode/example/user.ts
  packages/bun-vscode/scripts/dev.mjs
  packages/bun-vscode/src/features/debug.ts
  packages/bun-vscode/src/features/diagnostics/diagnostics.ts
  src/js/internal/debugger.ts
Due: prettier --write

don't leak fds for a failed parse
  src/bun.js/test/snapshot.zig
Due: zig fmt

add test that a bad snapshot file gets replaced if the update flag is used
  test/js/bun/test/snapshot-tests/snapshots/__snapshots__/snapshot.test.ts.snap
  test/js/bun/test/snapshot-tests/snapshots/snapshot.test.ts
Due: prettier --write

fix fuzzy-wuzzy test
  src/bun.js/webcore/blob.zig
Due: zig fmt

we should not actually hit this path
  src/js/node/http.ts
Due: prettier --write

fix(root_cert) use a more reliable source for the latest cert (#15262)
  packages/bun-usockets/generate-root-certs.mjs
Due: none

test
  src/cli.zig
Due: zig fmt

windows
  src/bun.js/node/node_fs.zig
Due: zig fmt

rm bytes.hex testing
  packages/bun-debug-adapter-protocol/src/debugger/node-socket-framer.ts
  packages/bun-inspector-protocol/src/inspector/node-socket.ts
  packages/bun-vscode/bytes.hex
Due: prettier --write

do not swallow Testcommand.run errors, instead print and exit non-zero
  src/cli/test_command.zig
Due: zig fmt

add regression test
  test/regression/issue/15276.test.ts
Due: prettier --write

bunEnv
  test/regression/issue/15276.test.ts
Due: prettier --write

massively improve the reliability, massively improve the DX!!!!!!!!!!
  packages/bun-debug-adapter-protocol/src/debugger/node-socket-framer.ts
  packages/bun-inspector-protocol/src/inspector/node-socket.ts
  packages/bun-vscode/example/axios.ts
  packages/bun-vscode/example/user.ts
  packages/bun-vscode/src/features/diagnostics/diagnostics.ts
  src/js/internal/debugger.ts
Due: prettier --write

Flush stdout explicitly in test_cleanup_hook
  test/napi/node-napi-tests/test/node-api/test_cleanup_hook/binding.c
Due: none

Use document for finding range rather than active editors (higher chance of finding it seems?)
  packages/bun-vscode/src/features/diagnostics/diagnostics.ts
Due: prettier --write

--bail
  docs/cli/test.md
  docs/guides/test/bail.md
  docs/guides/test/migrate-from-jest.md
Due: prettier --write

remove a couple PackageManager.get()
  src/cli/outdated_command.zig
  src/install/install.zig
  src/install/lockfile.zig
Due: zig fmt

fix fuzzy-wuzzy test (#15297)
  src/bun.js/webcore/blob.zig
Due: zig fmt

throw in the deprecated behavior
  src/js/node/http.ts
Due: prettier --write

zig: make throwInvalidArgumentTypeValue use JSError
  src/bun.js/api/BunObject.zig
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/glob.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_zlib_binding.zig
  src/bun.js/node/types.zig
  src/bun.js/webcore.zig
  src/bun.js/webcore/blob.zig
Due: zig fmt

dont hang if fails
  test/js/node/test/parallel/http-status-message.test.js
Due: prettier --write

rm
  packages/bun-vscode/example/axios.ts
Due: prettier --write

mv back to example folder
  packages/bun-vscode/scripts/dev.mjs
Due: none

actually encode things
  src/js/node/http.ts
Due: prettier --write

zig: make String.fromJS use JSError
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/types.zig
  src/bun.js/webcore/request.zig
  src/bun.js/webcore/response.zig
  src/comptime_string_map.zig
  src/shell/interpreter.zig
  src/string.zig
Due: zig fmt

make sure key isnt set to null
  src/install/install.zig
Due: zig fmt

name is always empty
  src/install/install.zig
Due: zig fmt

Skip test_callback_scope/test.js on Windows
  test/napi/node-napi.test.ts
Due: prettier --write

lets see
  src/bun.js/api/server.zig
  src/js/node/http.ts
Due: prettier --write, zig fmt

Allow ten minutes for compiling node-napi tests
  test/napi/node-napi.test.ts
Due: prettier --write

test
  test/cli/install/bun-install.test.ts
Due: prettier --write

fix(install): ensure aliases hash map is initialized (#15280)
  src/cli/bunx_command.zig
  src/cli/outdated_command.zig
  src/install/dependency.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/migration.zig
  src/install/npm.zig
  src/install/resolvers/folder_resolver.zig
  src/resolver/package_json.zig
  src/resolver/resolver.zig
  test/regression/issue/15276.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
