Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

chore: remove unused zig-datetime dep (#9315)
  src/bun.js/api/server.zig
  src/bun.zig
  src/deps/zig-datetime/.gitignore
  src/deps/zig-datetime/.travis.yml
  src/deps/zig-datetime/LICENSE
  src/deps/zig-datetime/README.md
  src/deps/zig-datetime/src/datetime.zig
  src/deps/zig-datetime/src/main.zig
  src/deps/zig-datetime/src/timezones.zig
Due: prettier --write, zig fmt

Add tests for file path redirection + tweak
  docs/cli/run.md
  test/cli/run/run-eval.test.ts
Due: prettier --write

allow bun run to accept js from stdin (#9311)
  docs/cli/run.md
  src/bun.js/api/BunObject.zig
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/cli/run_command.zig
  test/cli/run/run-eval.test.ts
Due: prettier --write, zig fmt

Bun.serve: error: pass Request parameter when available (#9310)
  docs/api/http.md
  packages/bun-types/bun.d.ts
  src/bun.js/api/server.zig
  test/js/bun/http/bun-server.test.ts
Due: prettier --write, zig fmt

Move these below package.json script
  docs/cli/run.md
Due: prettier --write

fix #8868 (#9327)
  src/bun.js/test/expect.zig
Due: zig fmt

Revert "Bun.serve: error: pass Request parameter when available (#9310)" (#9332)
  docs/api/http.md
  packages/bun-types/bun.d.ts
  src/bun.js/api/server.zig
  test/js/bun/http/bun-server.test.ts
Due: prettier --write, zig fmt

chore: just a little bit of cleanup (#9319)
  src/install/lockfile.zig
  src/install/migration.zig
  src/install/padding_checker.zig
  src/shell/interpreter.zig
Due: zig fmt

vscode/launch.json: audit and tidy (#13162)
  .vscode/launch.json
Due: none

Make printing errors faster (#9328)
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-windows.yml
  packages/bun-internal-test/bun.lockb
  packages/bun-internal-test/package.json
  packages/bun-internal-test/src/runner.node.mjs
  packages/bun-usockets/src/bsd.c
  packages/bun-usockets/src/context.c
  packages/bun-usockets/src/crypto/openssl.c
  packages/bun-usockets/src/internal/internal.h
  packages/bun-usockets/src/internal/networking/bsd.h
  packages/bun-usockets/src/libusockets.h
  packages/bun-uws/src/App.h
  packages/bun-uws/src/HttpContext.h
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/server.zig
  src/bun.js/javascript.zig
  src/bun_js.zig
  src/deps/_libusockets.h
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
  src/fmt.zig
  src/sys.zig
  test/integration/next/default-pages-dir/package.json
  test/integration/next/default-pages-dir/test/dev-server-puppeteer.ts
  test/integration/next/default-pages-dir/test/dev-server.test.ts
  test/js/bun/websocket/websocket-client-echo.mjs
  test/js/bun/websocket/websocket-server.test.ts
  test/js/web/fetch/fetch.unix.test.ts
Due: prettier --write, zig fmt

Fix bun description (#9345)
  completions/spec.yaml
Due: none

fix typo in error message (#9350)
  src/install/windows-shim/bun_shim_impl.zig
Due: zig fmt

Fix a couple windows test failures (#9361)
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/webcore/streams.zig
  test/cli/run/run-eval.test.ts
  test/js/node/process/process-args.test.js
Due: prettier --write, zig fmt

[windows] Fix fetch.unix.test.ts (#9369)
  packages/bun-usockets/src/bsd.c
  src/bun.js/api/server.zig
  test/js/bun/util/mmap.test.js
Due: prettier --write, zig fmt

feat: bun `--print` (#9358)
  src/bun.js/ConsoleObject.zig
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/bun_js.zig
  src/bundler.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/cli/run_command.zig
  src/js_ast.zig
  src/js_parser.zig
  src/runtime.zig
  test/cli/install/registry/bun-install-registry.test.ts
  test/cli/run/run-eval.test.ts
Due: prettier --write, zig fmt

fix hot test on windows
  test/cli/hot/hot-runner-imported.js
  test/cli/hot/hot-runner.js
Due: prettier --write

Unwrap promises in bun --print
  src/bun_js.zig
Due: zig fmt

improve `bun pm trust` output (#9371)
  src/cli/package_manager_command.zig
  src/cli/pm_trusted_command.zig
  src/install/bin.zig
  src/install/install.zig
  src/install/lifecycle_script_runner.zig
  src/install/lockfile.zig
  src/install/migration.zig
  src/install/resolution.zig
  src/install/semver.zig
  test/cli/install/bun-install.test.ts
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

Speed up this test
  test/js/node/v8/v8-date-parser.test.js
Due: prettier --write

Always set the result if its an entry point
  src/bun.js/javascript.zig
Due: zig fmt

if cjs, dont set through esm eval
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/javascript.zig
  src/bun_js.zig
Due: zig fmt

fix integer overflow on subprocess deinit (#9388)
  src/io/PipeReader.zig
  src/io/PipeWriter.zig
Due: zig fmt

Add a helpful error message when the xcode SDK is newer than the current platform (#9397)
  CMakeLists.txt
Due: none

Bump
  CMakeLists.txt
Due: none

fix(install): make sure `trustedDependencies` is updated after removing packages (#9400)
  src/bun.zig
  src/cli.zig
  src/cli/init_command.zig
  src/deps/zig-clap/clap/args.zig
  src/install/install.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

Upgrade HTTPParser.h from uWS v20.6.0 to v20.62.0 (#9355)
  packages/bun-uws/src/HttpParser.h
  test/js/web/fetch/fetch.test.ts
Due: prettier --write

Remove cp.js
  cp.js
Due: prettier --write

Fixes #9404 (#9408)
  Dockerfile
  packages/bun-types/bun.d.ts
  src/bun.js/api/bun/process.zig
  test/js/bun/spawn/spawn_waiter_thread-fixture.js
  test/js/bun/spawn/spawn_waiter_thread.test.ts
Due: prettier --write, zig fmt

Fix 'xcrun: error: unable to lookup item' error when building on macOS
  CMakeLists.txt
Due: none

Lost in the merge (#9423)
  src/bun.js/api/bun/process.zig
  src/crash_reporter.zig
Due: zig fmt

improve `--print` with promises (#9407)
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/headers.h
  src/bun_js.zig
Due: zig fmt

Don't link libicudata? (#9424)
  CMakeLists.txt
  scripts/download-webkit.sh
Due: none

fix ref counting onReaderDone (#9443)
  src/shell/subproc.zig
Due: zig fmt

await FileHandle functions (#9451)
  src/js/node/fs.promises.ts
  test/js/node/fs/fs.test.ts
Due: prettier --write

fix: return object from `FileHandle#read` and `FileHandle#readv` (#9444)
  src/js/node/fs.promises.ts
  test/js/node/fs/fs.test.ts
Due: prettier --write

`bun pm trust` bugfix (#9426)
  src/cli/pm_trusted_command.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

Shell fixes (#9402)
  src/async/posix_event_loop.zig
  src/baby_list.zig
  src/bun.js/event_loop.zig
  src/io/PipeWriter.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
  src/shell/subproc.zig
  src/sys.zig
  test/js/bun/glob/scan.test.ts
  test/js/bun/shell/bunshell.test.ts
  test/js/bun/shell/leak.test.ts
Due: prettier --write, zig fmt

test: updated prisma schema (#9450)
  test/js/third_party/prisma/prisma.test.ts
  test/js/third_party/prisma/prisma/postgres/migrations/20240316000224_init/migration.sql
  test/js/third_party/prisma/prisma/postgres/migrations/20240316042522_users/migration.sql
  test/js/third_party/prisma/prisma/postgres/migrations/20240316044713_lowercaseusers/migration.sql
  test/js/third_party/prisma/prisma/postgres/migrations/migration_lock.toml
  test/js/third_party/prisma/prisma/postgres/schema.prisma
  test/js/third_party/prisma/prisma/postgres/seed.ts
  test/js/third_party/prisma/prisma/sqlite/schema.prisma
Due: prettier --write

make `import.meta` behave better when query string is provided (#9399)
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/js/bun/resolve/import-meta.test.js
  test/js/bun/resolve/other-cjs.js
  test/js/bun/resolve/other.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
