Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

fix(s3): correct typo in S3ListObjectsResponse checksumAlgorithm property
  src/s3/list_objects.zig
Due: zig fmt

test(zlib): assert specific error messages in bounds check tests
  test/js/node/zlib/zlib-handle-bounds-check.test.ts
Due: prettier --write

fix(bundler): fix assertion failure in standalone HTML mode with outdir and file-loader assets
  src/bundler/linker_context/OutputFileListBuilder.zig
  src/bundler/linker_context/generateChunksInParallel.zig
  test/bundler/standalone.test.ts
Due: prettier --write, zig fmt

fix(stripANSI): use exact SIMD match to prevent infinite loop on non-escape control chars
  src/bun.js/bindings/ANSIHelpers.h
  test/regression/issue/27014.test.ts
Due: prettier --write

fix: restore connected for isBootstrap check
  src/bun.js/bindings/BunDebugger.cpp
Due: none

fix(napi): validate cell pointer in napi_typeof to prevent segfault (BUN-1PYR)
  src/bun.js/bindings/napi.cpp
  test/napi/napi-app/standalone_tests.cpp
Due: none

feat(bundler): add --compile --target=browser for self-contained HTML output (#27056)
  packages/bun-types/bun.d.ts
  src/ast/BundledAst.zig
  src/bun.js/api/JSBundler.zig
  src/bundler/Chunk.zig
  src/bundler/LinkerContext.zig
  src/bundler/ParseTask.zig
  src/bundler/bundle_v2.zig
  src/bundler/linker_context/OutputFileListBuilder.zig
  src/bundler/linker_context/generateChunksInParallel.zig
  src/bundler/linker_context/generateCompileResultForHtmlChunk.zig
  src/bundler/linker_context/writeOutputFilesToDisk.zig
  src/cli.zig
  src/cli/build_command.zig
  src/options.zig
  test/bundler/standalone.test.ts
Due: prettier --write, zig fmt

fix(stripANSI): validate SIMD candidates to prevent infinite loop on non-escape control chars (#27015)
  src/bun.js/bindings/ANSIHelpers.h
  test/regression/issue/27014.test.ts
Due: prettier --write

implement a CronWithAutocomplete
  packages/bun-types/bun.d.ts
  test/integration/bun-types/fixture/cron.ts
Due: prettier --write

fix(cli): access of invalid pointer
  packages/bun-native-plugin-rs/src/lib.rs
Due: none

fix: address additional issues identified during pointer overflow check
  src/bun.js/bindings/windows/rescle.cpp
Due: none

Add docs for standalone HTML
  docs/bundler/executables.mdx
  docs/bundler/html-static.mdx
  docs/bundler/standalone-html.mdx
  docs/docs.json
Due: none

Update standalone-html.mdx
  docs/bundler/standalone-html.mdx
Due: none

fix(install): handle DT_UNKNOWN entries on NFS/FUSE filesystems
  src/install/PackageInstall.zig
  src/install/isolated_install/FileCopier.zig
  src/install/isolated_install/Hardlinker.zig
  src/walker_skippable.zig
Due: zig fmt

test: add regression test for #27095 (DT_UNKNOWN file skipping on NFS)
  test/regression/issue/27095.test.ts
Due: prettier --write

fix(win): defer onCloseSource when pipe write is pending to prevent use-after-free (#27097)
  src/io/PipeWriter.zig
  test/regression/issue/27097.test.ts
Due: prettier --write, zig fmt

test: use await using for RAII cleanup, assert stdout before exitCode
  test/regression/issue/27097.test.ts
Due: prettier --write

fix(crypto): randomUUIDv7 ignores timestamp when encoding is undefined
  src/bun.js/webcore/Crypto.zig
  test/js/bun/util/randomUUIDv7.test.ts
Due: prettier --write, zig fmt

fix(install): add peer-aware dependency deduplication in isolated install
  src/install/isolated_install.zig
Due: zig fmt

fix(stdio): don't restore stdin termios when stdout is piped
  src/bun.js/bindings/c-bindings.cpp
  test/regression/issue/27100.test.ts
Due: prettier --write

fix(sql): flush MySQL queries after transaction completion
  src/sql/mysql/MySQLConnection.zig
  src/sql/mysql/js/JSMySQLConnection.zig
  test/regression/issue/27102.test.ts
Due: prettier --write, zig fmt

fix: sort fs.readdir entries
  src/bun.js/node/node_fs.zig
  test/js/node/fs/readdir-sorted.test.ts
Due: prettier --write, zig fmt

add feedback
  src/bun.js/node/node_fs.zig
Due: zig fmt

update code, move test file
  test/regression/issue/25734.test.ts
Due: prettier --write

add feedback
  src/bun.js/node/node_fs.zig
  test/js/node/fs/readdir-sorted.test.ts
Due: prettier --write, zig fmt

fix: change 'banner' heading to code format
  docs/bundler/index.mdx
Due: none

remove blank line
  docs/bundler/index.mdx
Due: none

fix(server): propagate backpressure from request body stream to HTTP socket
  src/bun.js/api/server/RequestContext.zig
  src/bun.js/webcore/ByteStream.zig
  test/regression/issue/27104.test.ts
Due: prettier --write, zig fmt

[publish windows images]
  scripts/azure.mjs
  scripts/bootstrap.ps1
  scripts/packer/windows-arm64.pkr.hcl
  scripts/packer/windows-x64.pkr.hcl
  scripts/utils.mjs
Due: none

fix(libuv): patch CancelIoEx data loss in Windows pipe reads
  patches/libuv/fix-windows-pipe-data-loss.patch
Due: none

fix(test): handle MongoDB Atlas connection failures gracefully
  test/js/third_party/mongodb/mongodb.test.ts
Due: prettier --write

fix: avoid GC cell allocation inside ObjectInitializationScope
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
Due: none

fix(install): hoist workspace dependencies to root node_modules by default
  src/install/isolated_install.zig
  test/cli/install/isolated-install.test.ts
  test/regression/issue/27110.test.ts
Due: prettier --write, zig fmt

cleanup
  CLAUDE.md
  packages/bun-release/npm/bun/README.md
  packages/bun-types/bun.d.ts
  packages/bun-usockets/src/context.c
  src/cli/install.ps1
Due: prettier --write

fix(bundler): place standalone HTML scripts in <head> to preserve execution order
  src/bundler/linker_context/generateCompileResultForHtmlChunk.zig
  test/bundler/standalone.test.ts
  test/regression/issue/27113.test.ts
Due: prettier --write, zig fmt

fix(bundler): place standalone HTML scripts in <head> to preserve execution order (#27114)
  src/bundler/linker_context/generateCompileResultForHtmlChunk.zig
  test/bundler/standalone.test.ts
  test/regression/issue/27113.test.ts
Due: prettier --write, zig fmt

Revert "fix(bundler): place standalone HTML scripts in <head> to preserve execution order (#27114)"
  src/bundler/linker_context/generateCompileResultForHtmlChunk.zig
  test/bundler/standalone.test.ts
  test/regression/issue/27113.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
