Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Address review comments for RSA JWK import tests
  test/regression/issue/jose-jwk-import.test.ts
Due: prettier --write

Optimize http.Server.getConnections implementation
  src/js/node/_http_server.ts
  test/regression/issue/04459.test.ts
Due: prettier --write

Fix minimal private key test to expect proper WebCrypto behavior
  test/regression/issue/jose-jwk-import.test.ts
Due: prettier --write

Update postgres.ts
  src/js/internal/sql/postgres.ts
Due: prettier --write

Undo slop
  src/bun.js/bindings/BunProcess.cpp
Due: none

Implement `Bun.YAML.stringify` (#22183)
  bench/yaml/yaml-stringify.mjs
  cmake/sources/CxxSources.txt
  cmake/sources/ZigSources.txt
  packages/bun-types/bun.d.ts
  src/bun.js/api/YAMLObject.zig
  src/bun.js/bindings/BunString.cpp
  src/bun.js/bindings/CatchScope.zig
  src/bun.js/bindings/CatchScopeBinding.cpp
  src/bun.js/bindings/JSPropertyIterator.cpp
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/StringBuilder.zig
  src/bun.js/bindings/StringBuilderBinding.cpp
  src/bun.js/bindings/WTF.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/helpers.h
  src/bun.zig
  src/string.zig
  test/integration/bun-types/fixture/yaml.ts
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write, zig fmt

Fix unchecked JavaScript exception in WebCrypto generateKey callback
  src/bun.js/bindings/webcrypto/SubtleCrypto.cpp
Due: none

Correct exception handling in WebCrypto generateKey callback
  src/bun.js/bindings/webcrypto/SubtleCrypto.cpp
Due: none

Implement Bun.{stdin,stderr,stdout} as LazyProperties to prevent multiple instances
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  test/regression/issue/stdin_stderr_stdout_lazy_property.test.ts
Due: prettier --write, zig fmt

Implement Bun.{stdin,stderr,stdout} as LazyProperties on ZigGlobalObject
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
Due: zig fmt

Fix HTTP client GC timeout in test-gc-http-client-connaborted.js
  src/js/node/_http_client.ts
Due: prettier --write

Update SetupWebKit.cmake
  cmake/tools/SetupWebKit.cmake
Due: none

Refactor fix to use cleaner optional chaining syntax
  src/js/node/_http_client.ts
Due: prettier --write

Fix
  src/ast/SideEffects.zig
Due: zig fmt

Update SideEffects.zig
  src/ast/SideEffects.zig
Due: zig fmt

Update snapshot
  test/js/web/console/console-log.test.ts
Due: prettier --write

Update fuzzy-wuzzy.test.ts
  test/js/bun/util/fuzzy-wuzzy.test.ts
Due: prettier --write

Add app option support to Bun.build for bake functionality
  src/bun.js/api/JSBundler.zig
  src/bundler/BundleThread.zig
  src/bundler/bundle_v2.zig
  test/bundler/bundler_app.test.ts
  test/bundler/bundler_app_functional.test.ts
Due: prettier --write, zig fmt

Initial implementation of Worker bundling (WIP)
  STATUS.md
  src/ast/E.zig
  src/ast/Expr.zig
  src/ast/visitExpr.zig
  src/bun.js/ResolveMessage.zig
  src/bundler/LinkerContext.zig
  src/bundler/bundle_v2.zig
  src/import_record.zig
  src/js_printer.zig
  test/bundler/bundler_worker.test.ts
  test/bundler/bundler_worker_basic.test.ts
  test/bundler/bundler_worker_simple.test.ts
  test/bundler/bundler_worker_verify.test.ts
Due: prettier --write, zig fmt

Update query.ts
  src/js/internal/sql/query.ts
Due: prettier --write

Delete test/regression/issue/stdin_stderr_stdout_lazy_property.test.ts
  test/regression/issue/stdin_stderr_stdout_lazy_property.test.ts
Due: prettier --write

Implement Bun.{stdin,stderr,stdout} as LazyProperties to prevent multiple instances (#22291)
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
Due: zig fmt

Fix threading issue in BundleThread by simplifying DotEnv.Loader usage
  src/bundler/BundleThread.zig
Due: zig fmt

Implement unique_key_prefix approach for worker bundling
  src/bundler/Chunk.zig
  src/bundler/LinkerContext.zig
  src/bundler/linker_context/postProcessJSChunk.zig
  src/js_printer.zig
  test_worker_simple.js
  worker.js
Due: prettier --write, zig fmt

Deflake
  test/js/bun/spawn/spawn-pipe-leak.test.ts
Due: prettier --write

Try this
  src/js/internal/streams/from.ts
Due: prettier --write

Remove unnecessary destruct_main_thread_on_exit flag in favor of method
  src/bun.js.zig
  src/bun.js/VirtualMachine.zig
  src/cli/test_command.zig
Due: zig fmt

Update STATUS.md to reflect current implementation state
  STATUS.md
Due: prettier --write

Fix GitHub issue 22239: disable error reporting with console: false
  src/bake/DevServer.zig
  src/bake/DevServer/ErrorReportRequest.zig
  src/bake/DevServer/memory_cost.zig
  src/bun.js/api/server.zig
  src/bun.js/api/server/ServerConfig.zig
  test/bake/dev/console-false-disables-error-reporting.test.ts
Due: prettier --write, zig fmt

Implement jsxSideEffects option for JSX dead code elimination control
  src/api/schema.zig
  src/ast/visitExpr.zig
  src/cli/Arguments.zig
  src/options.zig
  src/resolver/tsconfig_json.zig
  test/bundler/bundler_jsx.test.ts
  test/bundler/expectBundled.ts
Due: prettier --write, zig fmt

Add comprehensive test coverage for jsxSideEffects option
  test/bundler/bundler_jsx.test.ts
Due: prettier --write

Update test to verify server startup with both configurations
  test/bake/dev/console-false-disables-error-reporting.test.ts
Due: prettier --write

Avoid emitting DCE annotations at runtime
  bench/snippets/crypto-2190.mjs
  src/bun.js/VirtualMachine.zig
  src/bun.js/bindings/InspectorLifecycleAgent.cpp
  src/bundler/bundle_v2.zig
  src/js_printer.zig
Due: zig fmt

Update documentation for jsxSideEffects option
  docs/bundler/vs-esbuild.md
  docs/runtime/jsx.md
Due: prettier --write

more
  src/cli.zig
  test/cli/test/test-line-filter.test.ts
Due: prettier --write, zig fmt

upd
  test/internal/ban-limits.json
Due: none

docs: update documentation for recent API additions
  docs/api/streams.md
  docs/api/utils.md
  docs/api/websockets.md
  docs/bundler/executables.md
  docs/bundler/html.md
  docs/cli/bun-install.md
  docs/cli/pm.md
  docs/cli/why.md
  docs/install/audit.md
  docs/install/security-scanner-api.md
  docs/test/writing.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
