Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

`bun run prettier`
  test/regression/issue/test-21049.test.ts
Due: prettier --write

fix: respect user-provided Connection header in fetch() requests (#21049)
  src/http.zig
  test/js/web/fetch/fetch-connection-header.test.ts
  test/no-validate-exceptions.txt
Due: prettier --write, zig fmt

Delete packages/bun-types/CLAUDE.md
  packages/bun-types/CLAUDE.md
Due: prettier --write

feature(postgres) add pipelining support (#20986)
  src/bun.js/api/postgres.classes.ts
  src/js/bun/sql.ts
  src/sql/postgres/ConnectionFlags.zig
  src/sql/postgres/PostgresSQLConnection.zig
  src/sql/postgres/PostgresSQLQuery.zig
Due: prettier --write, zig fmt

just bump/change tsconfigs
  src/init/react-app/package.json
  src/init/react-app/tsconfig.json
  src/init/react-shadcn/build.ts
  src/init/react-shadcn/bun.lock
  src/init/react-shadcn/package.json
  src/init/react-shadcn/tsconfig.json
  src/init/react-tailwind/build.ts
  src/init/react-tailwind/bun.lock
  src/init/react-tailwind/package.json
  src/init/react-tailwind/tsconfig.json
Due: prettier --write

Fix
  bench/postgres/bun.lockb
  bench/postgres/index.mjs
  bench/postgres/package.json
Due: none

Add disable pipeline flag
  src/feature_flags.zig
  src/sql/postgres/PostgresSQLConnection.zig
Due: zig fmt

fix crash
  src/bundler/linker_context/writeOutputFilesToDisk.zig
Due: zig fmt

Update PostgresSQLConnection.zig
  src/sql/postgres/PostgresSQLConnection.zig
Due: zig fmt

Fix --json flag test to work properly in CI with Verdaccio
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write

Use 'type' instead of 'dependencyType' in JSON output
  src/cli/outdated_command.zig
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write, zig fmt

Use full dependency type names in JSON output
  src/cli/outdated_command.zig
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write, zig fmt

fix type issues from merge
  test/integration/bun-types/fixture/serve-types.test.ts
Due: prettier --write

dont commit bun-types/claude.md
  .gitignore
  packages/bun-types/bun.d.ts
Due: prettier --write

Delete flaky test that made incorrect assumptions about the event loop
  test/js/bun/net/tcp.test.ts
Due: prettier --write

Delete flaky test that made incorrect assumptions about the event loop
  test/js/bun/net/tcp.spec.ts
Due: prettier --write

Updates to `bun init` React templates: Electric boogaloo (#21066)
  src/init/react-app/package.json
  src/init/react-app/tsconfig.json
  src/init/react-shadcn/build.ts
  src/init/react-shadcn/bun.lock
  src/init/react-shadcn/package.json
  src/init/react-shadcn/tsconfig.json
  src/init/react-tailwind/build.ts
  src/init/react-tailwind/bun.lock
  src/init/react-tailwind/package.json
  src/init/react-tailwind/tsconfig.json
Due: prettier --write

Fix formatter action
  .github/workflows/format.yml
Due: none

trigger formatter
  test/internal/ban-words.test.ts
Due: prettier --write

Update blob.test.ts
  test/js/web/fetch/blob.test.ts
Due: prettier --write

Some more tests for websocket upgrade stuff + declare `data: {}` property for typing websocket data
  packages/bun-types/deprecated.d.ts
  packages/bun-types/serve.d.ts
  test/integration/bun-types/fixture/serve-types.test.ts
  test/integration/bun-types/fixture/serve.ts
Due: prettier --write

rm comment
  test/integration/bun-types/fixture/serve.ts
Due: prettier --write

Update serve.ts
  test/integration/bun-types/fixture/serve.ts
Due: prettier --write

dont support changing websocket data in server.reload
  packages/bun-types/serve.d.ts
Due: prettier --write

some more tests
  test/integration/bun-types/fixture/serve-types.test.ts
Due: prettier --write

lots of options tests
  test/integration/bun-types/fixture/serve-types.test.ts
Due: prettier --write

Try to deflake bun-install-lifecycle-scripts test
  test/cli/install/bun-install-lifecycle-scripts.test.ts
Due: prettier --write

Add flag to disable sql auto pipelining (#21067)
  src/feature_flags.zig
  src/sql/postgres/PostgresSQLConnection.zig
  test/internal/ban-words.test.ts
  test/js/web/fetch/blob.test.ts
Due: prettier --write, zig fmt

jsdoc
  packages/bun-types/serve.d.ts
Due: prettier --write

Add --quiet flag to bun pm pack command (#21053)
  docs/cli/pm.md
  src/cli/pack_command.zig
  src/cli/package_manager_command.zig
  src/install/PackageManager/CommandLineArguments.zig
  src/install/PackageManager/PackageManagerOptions.zig
  test/cli/install/bun-pack.test.ts
Due: prettier --write, zig fmt

Sync `Mutex` and `Futex` with upstream and port `std.Thread.Condition` (#21060)
  cmake/sources/ZigSources.txt
  src/bun.zig
  src/cli/create_command.zig
  src/thread_pool.zig
  src/threading.zig
  src/threading/Condition.zig
  src/threading/Futex.zig
  src/threading/Mutex.zig
Due: zig fmt

Fix potential buffer overflow in `which.isValid` (#21062)
  src/which.zig
Due: zig fmt

[publish images] ci: add ubuntu 25.04 (#20996)
  .buildkite/ci.mjs
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/runner.node.mjs
Due: none

Update catalogs.test.ts
  test/cli/install/catalogs.test.ts
Due: prettier --write

Add NODE_NO_WARNINGS env var
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/node/node_process.zig
  src/feature_flags.zig
Due: zig fmt

Update harness.ts
  test/harness.ts
Due: prettier --write

Update Dockerfile
  dockerhub/alpine/Dockerfile
Due: none

Prefer bun.sys.exists over std.posix.access
  src/bun.js/api/server/SSLConfig.zig
  src/bun.js/hot_reloader.zig
  src/cli/upgrade_command.zig
Due: zig fmt

Fix CSS calc() percentage crash with NaN values
  src/css/values/calc.zig
  src/css/values/percentage.zig
  test/bun.lock
  test/regression/issue/css-calc-percentage-crash.test.ts
Due: prettier --write, zig fmt
