Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

`bun run prettier`
  test/cli/console-depth.test.ts
Due: prettier --write

socket reporter instead of xml :)
  packages/bun-inspector-protocol/src/protocol/jsc/index.d.ts
  packages/bun-inspector-protocol/src/protocol/jsc/protocol.json
  packages/bun-vscode/src/features/tests/bun-test-controller.ts
  packages/bun-vscode/src/features/tests/index.ts
  packages/bun-vscode/src/features/tests/types.ts
  src/bun.js/bindings/bindings.cpp
  src/bun.js/test/jest.zig
  src/cli/test_command.zig
Due: prettier --write, zig fmt

`bun run prettier`
  packages/bun-vscode/src/features/tests/bun-test-controller.ts
Due: prettier --write

remove xml dependency
  .vscode/settings.json
Due: none

windows
  .vscode/settings.json
  packages/bun-debug-adapter-protocol/src/debugger/adapter.ts
  packages/bun-vscode/bun.lock
  packages/bun-vscode/src/features/tests/bun-test-controller.ts
  packages/bun-vscode/src/features/tests/types.ts
Due: prettier --write

bun-lambda package fix: Handling APIGateway v2 format response with cookies
  packages/bun-lambda/runtime.ts
Due: prettier --write

Fix test expectation for coverage when all files are ignored
  test/cli/test/coverage.test.ts
Due: prettier --write

Fix banned words test by updating catch unreachable limit
  test/internal/ban-words.test.ts
Due: prettier --write

Update console-depth tests to use inline snapshots
  src/bun.js/ConsoleObject.zig
  src/cli/Arguments.zig
  test/cli/console-depth.test.ts
  test/js/web/console/console-log.test.ts
Due: prettier --write, zig fmt

Fix test output filtering for skipped and todo tests
  src/bun.js/test/jest.zig
  test/cli/test/bun-test.test.ts
Due: prettier --write, zig fmt

Fix console depth defaults to preserve original behavior
  src/bun.js/ConsoleObject.zig
  src/cli/Arguments.zig
  test/cli/console-depth.test.ts
  test/js/web/console/console-log.expected.txt
Due: prettier --write, zig fmt

Add clear DEFAULT_CONSOLE_LOG_DEPTH variable for maintainability
  src/bun.js/ConsoleObject.zig
Due: zig fmt

feat: implement Bun.Browser API for browser automation
  src/bun.js/api.zig
  src/bun.js/api/Browser.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/Page.zig
  src/bun.js/api/browser.classes.ts
  src/bun.js/bindings/generated_classes_list.zig
  test/js/bun/browser/basic.test.ts
  test/js/bun/browser/browser.test.ts
  test/js/bun/browser/integration.test.ts
Due: prettier --write, zig fmt

Set DEFAULT_CONSOLE_LOG_DEPTH to 2 to match main branch behavior
  src/bun.js/ConsoleObject.zig
  src/cli/Arguments.zig
  test/cli/console-depth.test.ts
  test/js/web/console/console-log.expected.txt
Due: prettier --write, zig fmt

Vscode test runner support (#20645)
  .vscode/settings.json
  cmake/tools/SetupWebKit.cmake
  packages/bun-debug-adapter-protocol/src/debugger/adapter.ts
  packages/bun-inspector-protocol/src/protocol/jsc/index.d.ts
  packages/bun-inspector-protocol/src/protocol/jsc/protocol.json
  packages/bun-vscode/README.md
  packages/bun-vscode/bun.lock
  packages/bun-vscode/example/demo.test.ts
  packages/bun-vscode/package.json
  packages/bun-vscode/src/extension.ts
  packages/bun-vscode/src/features/tests/bun-test-controller.ts
  packages/bun-vscode/src/features/tests/index.ts
  packages/bun-vscode/src/features/tests/types.ts
  packages/bun-vscode/src/global-state.ts
  src/bun.js/Debugger.zig
  src/bun.js/bindings/InspectorTestReporterAgent.cpp
  src/bun.js/bindings/InspectorTestReporterAgent.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/test/jest.zig
  src/cli/test_command.zig
  test/cli/test/bun-test.test.ts
  test/internal/ban-words.test.ts
  test/js/junit-reporter/junit.test.js
Due: prettier --write, zig fmt

Fix console-depth tests to work with both debug and release builds
  test/js/web/console/console-log.test.ts
Due: prettier --write

Update package.json
  package.json
Due: none

Make stack trace normalization generic and function-agnostic
  test/js/web/console/console-log.test.ts
Due: prettier --write

`bun run prettier`
  test/cli/test/bun-test.test.ts
Due: prettier --write

Add documentation for --console-depth CLI flag and console.depth bunfig option
  docs/api/console.md
  docs/cli/run.md
  docs/runtime/bunfig.md
Due: prettier --write

claude code attempt
  src/bundler/LinkerContext.zig
  src/bundler/bundle_v2.zig
  src/bundler/linker_context/generateCodeForLazyExport.zig
  test/regression/issue/18258-css-modules-dev-server.test.ts
Due: prettier --write, zig fmt

Buffer stderr and stdout in bun:test reporting
  src/cli/test_command.zig
  test/internal/ban-words.test.ts
Due: prettier --write, zig fmt

Fix ban-words test limit to correct count of 1864
  test/internal/ban-words.test.ts
Due: prettier --write

`bun run prettier`
  docs/api/console.md
  docs/cli/run.md
Due: prettier --write

temporarily commit this for future reference
  instructions.md
Due: prettier --write

Fix test output filtering snapshot test
  test/cli/test/bun-test.test.ts
Due: prettier --write

cleanup
  packages/bun-vscode/bun.lock
  packages/bun-vscode/package.json
  packages/bun-vscode/src/features/tests/bun-test-controller.ts
  packages/bun-vscode/src/features/tests/index.ts
Due: prettier --write

Fix coverage tests by ensuring consistent test file inclusion
  test/cli/test/coverage.test.ts
Due: prettier --write

Create vscode-release.yml
  .github/workflows/vscode-release.yml
Due: none

Update packages/bun-vscode/package.json
  packages/bun-vscode/package.json
Due: none

Update no-validate-exceptions.txt
  test/no-validate-exceptions.txt
Due: none

Buffer stderr and stdout in bun:test reporting (#21023)
  src/cli/test_command.zig
  test/internal/ban-words.test.ts
Due: prettier --write, zig fmt

fix `os.networkInterfaces` where `scope_id` should be `scopeid`
  src/bun.js/node/node_os.zig
  test/js/node/os/os.test.js
Due: prettier --write, zig fmt

Update node_os.zig
  src/bun.js/node/node_os.zig
Due: zig fmt

Fix test output filtering for skipped and todo tests (#21021)
  src/bun.js/test/jest.zig
  test/cli/test/bun-test.test.ts
Due: prettier --write, zig fmt

fix `os.networkInterfaces` where `scope_id` should be `scopeid` (#21026)
  src/bun.js/node/node_os.zig
  test/js/node/os/os.test.js
Due: prettier --write, zig fmt

fix #21027
  src/bun.js/api/JSBundler.zig
  test/bundler/bun-build-api.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
