Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Add comment
  src/bun.js/bindings/ModuleLoader.cpp
Due: none

Correctly handle `__esModule` for `loader: "object"` (#16885)
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/modules/ObjectModule.cpp
  test/js/bun/plugin/module-plugins.ts
  test/js/bun/plugin/plugins.test.ts
Due: prettier --write

allow resolution to work when the source file does not exist (#16851)
  cmake/tools/SetupWebKit.cmake
  src/resolver/resolver.zig
  test/js/bun/resolve/resolve.test.ts
  test/js/node/url/pathToFileURL.test.ts
Due: prettier --write, zig fmt

Fix `node:fs` memory leak with `AbortSignal` (#16788)
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_binding.zig
  test/js/node/fs/abort-signal-leak-read-write-file-fixture.ts
  test/js/node/fs/abort-signal-leak-read-write-file.test.ts
Due: prettier --write, zig fmt

Fix import("bun") in Vite (#16938)
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/modules/BunObjectModule.cpp
  src/bun.js/modules/_NativeModule.h
  test/js/bun/util/BunObject.test.ts
Due: prettier --write

Bump
  package.json
Due: none

Document size parameter in sys_epoll_pwait2
  src/linux_c.zig
Due: zig fmt

Prevent listening for SIGUSR1 on linux
  src/bun.js/bindings/BunProcess.cpp
Due: none

rfr
  build.zig
  bun.lock
  package.json
  src/bake/DevServer.zig
  src/bake/bake.zig
  src/bun.js/api/server.zig
  src/bundler/bundle_v2.zig
  src/codegen/bake-codegen.ts
  src/js_ast.zig
  src/js_parser.zig
Due: prettier --write, zig fmt

Don't crash if 0 arguments are given to NodeHTTPResponse.cork
  src/bun.js/api/server.zig
Due: zig fmt

Make JSC use SIGPWR for suspend/resume instead of SIGUSR1
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

lock
  bun.lock
  package.json
Due: none

regression test
  test/regression/issue/07917/7917.test.ts
Due: prettier --write

fix 7917
  src/bun.js/webcore/blob.zig
Due: zig fmt

Clarify control flow in Bun__JSC_onAfterWait
  src/bun.js/bindings/BunJSCEventLoop.cpp
Due: none

feat(s3Client): add support for ListObjectsV2 action
  packages/bun-types/bun.d.ts
  src/bun.js/api/S3Client.classes.ts
  src/bun.js/webcore/S3Client.zig
  src/bun.js/webcore/blob.zig
  src/s3/client.zig
  src/s3/credentials.zig
  src/s3/list_objects.zig
  src/s3/simple_request.zig
  test/js/bun/s3/s3-list-objects.test.ts
Due: prettier --write, zig fmt

Replace copy of runImminentGCTimer's logic with call
  src/bun.js/event_loop.zig
Due: zig fmt

Allow external zig in CMake
  cmake/targets/BuildBun.cmake
  cmake/tools/SetupZig.cmake
Due: none

node:vm: this error was super confusing without the period
  src/js/node/vm.ts
Due: prettier --write

Try bringing release/acquire heap access back (#16865)
  packages/bun-usockets/src/eventing/epoll_kqueue.c
  src/bun.js/api/Timer.zig
  src/bun.js/bindings/BunJSCEventLoop.cpp
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/event_loop.zig
  src/bun.js/module_loader.zig
  src/linux_c.zig
Due: zig fmt

De-class-ify ClientRequest and fix up ClientRequest.end a bit
  src/js/node/http.ts
Due: prettier --write

Slight bun-uws cleanup
  packages/bun-uws/src/HttpContext.h
  packages/bun-uws/src/HttpRouter.h
Due: none

Fix ensureTls
  src/js/node/http.ts
Due: prettier --write

how did this get staged
  test/js/node/test/parallel/test-http-head-response-has-no-body-end.js
Due: prettier --write

Implement ClientRequest.writable
  src/js/node/http.ts
Due: prettier --write

dont deduplicate
  src/install/bun.lock.zig
  src/install/lockfile.zig
Due: zig fmt

Remove duplicate macros when NAPI_VERBOSE is 1
  src/bun.js/bindings/napi.cpp
Due: none

Don't finish HTTP server responses too early
  src/js/node/http.ts
Due: prettier --write

async stuff, fix some export forms
  src/bake/hmr-module.ts
  src/bake/hmr-runtime-client.ts
  src/bake/hmr-runtime-server.ts
  src/bundler/bundle_v2.zig
  src/codegen/bake-codegen.ts
  src/js_parser.zig
  src/js_printer.zig
Due: prettier --write, zig fmt

comment
  src/install/lockfile.zig
Due: zig fmt

oops
  src/install/lockfile.zig
Due: zig fmt

Fix default ports being rejected in preconnect
  src/bun.js/webcore/response.zig
Due: zig fmt

Do validate the port, but slightly more cleverly
  src/bun.js/webcore/response.zig
Due: zig fmt

better
  src/bake/DevServer.zig
  src/bake/hmr-module.ts
  src/js_parser.zig
Due: prettier --write, zig fmt

Move emptiness check to hasValidPort
  src/bun.js/webcore/response.zig
  src/url.zig
Due: zig fmt

more node:util fixes
  src/bun.js/bindings/ErrorCode.cpp
  src/js/internal/promisify.ts
  src/js/internal/stream.ts
  test/js/node/test/parallel/test-util-callbackify.js
  test/js/node/test/parallel/test-util-emit-experimental-warning.js
  test/js/node/test/parallel/test-util-inherits.js
  test/js/node/test/parallel/test-util-promisify-custom-names.mjs
  test/js/node/test/parallel/test-util-promisify.js
  test/js/node/test/parallel/test-util.js
Due: prettier --write

update snapshots
  test/integration/next-pages/test/__snapshots__/dev-server-ssr-100.test.ts.snap
  test/integration/next-pages/test/__snapshots__/dev-server.test.ts.snap
  test/integration/next-pages/test/__snapshots__/next-build.test.ts.snap
Due: none

a
  .vscode/settings.json
  src/bake/DevServer.zig
  src/bun.js/api/server.zig
  src/js_printer.zig
Due: zig fmt

clean test-util-types.js
  test/js/node/test/parallel/test-util-types.js
Due: prettier --write

test
  test/cli/install/__snapshots__/bun-lock.test.ts.snap
  test/cli/install/bun-lock.test.ts
  test/cli/install/registry/packages/debug-1/debug-1-4.4.0.tgz
  test/cli/install/registry/packages/debug-1/package.json
  test/cli/install/registry/packages/depend-on-debug-1/depend-on-debug-1-1.0.0.tgz
  test/cli/install/registry/packages/depend-on-debug-1/package.json
  test/cli/install/registry/packages/ms-1/ms-1-2.1.3.tgz
  test/cli/install/registry/packages/ms-1/package.json
  test/cli/install/registry/packages/npm-1/npm-1-10.9.2.tgz
  test/cli/install/registry/packages/npm-1/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
