Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

print number of scripts we're waiting for
  src/cli/filter_run.zig
Due: zig fmt

update docs, fix windows build
  docs/cli/filter.md
  docs/cli/run.md
  docs/install/workspaces.md
  docs/nav.ts
  src/cli.zig
  src/cli/filter_run.zig
Due: prettier --write, zig fmt

fix tests on windows
  test/cli/run/filter-workspace.test.ts
Due: prettier --write

Upgrade to LLVM 17, JSC, remove more C API usages
  CMakeLists.txt
  Dockerfile
  Makefile
  docs/project/building-windows.md
  docs/project/contributing.md
  scripts/env.sh
  scripts/setup.sh
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/ffi.zig
  src/bun.js/bindings/BunString.cpp
  src/bun.js/bindings/JSPropertyIterator.cpp
  src/bun.js/bindings/JSPropertyIterator.zig
  src/bun.js/bindings/JSWrappingFunction.cpp
  src/bun.js/bindings/JSWrappingFunction.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/bindings/helpers.h
  src/bun.js/bindings/napi.cpp
  src/bun.js/bindings/webcore/SerializedScriptValue.cpp
  src/bun.js/bindings/wtf-bindings.cpp
  src/bun.js/javascript_core_c_api.zig
  src/bun.js/node/util/parse_args.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/pretty_format.zig
  src/codegen/bundle-functions.ts
  src/js_ast.zig
  src/linker.lds
  src/napi/napi.zig
  src/shell/interpreter.zig
  src/string.zig
Due: prettier --write, zig fmt

Update scripts/setup.sh
  scripts/setup.sh
Due: none

feat: tracestrings on Windows
  CMakeLists.txt
  src/analytics/analytics_thread.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/wtf-bindings.cpp
  src/bun.zig
  src/cli.zig
  src/cli/install.ps1
  src/deps/backtrace.zig
  src/deps/crash_reporter_linux.zig
  src/main.zig
  src/report.zig
  src/sourcemap/sourcemap.zig
  src/trace_string.zig
  src/windows.zig
  src/zlib.zig
Due: zig fmt

more
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  .github/workflows/bun-windows.yml
  CMakeLists.txt
  docs/project/contributing.md
Due: prettier --write

update
  scripts/env.sh
Due: none

bump
  CMakeLists.txt
Due: none

fix(usockets): allow ssl negotiations
  packages/bun-usockets/src/crypto/openssl.c
Due: none

Create .clangd
  .clangd
Due: none

Update lint.yml
  .github/workflows/lint.yml
Due: none

Update linter.ts
  packages/bun-internal-test/src/linter.ts
Due: prettier --write

update
  packages/bun-internal-test/src/linter.ts
Due: prettier --write

lint
  packages/bun-internal-test/src/linter.ts
Due: prettier --write

update
  packages/bun-internal-test/src/BANNED_METHODS.txt
  packages/bun-internal-test/src/banned.json
  packages/bun-internal-test/src/linter.ts
Due: prettier --write

more
  .github/workflows/lint.yml
  packages/bun-internal-test/src/linter.ts
Due: prettier --write

Update install.zig
  src/install/install.zig
Due: zig fmt

words
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  .github/workflows/bun-windows.yml
  .github/workflows/lint.yml
Due: none

more stuff
  src/bun.js/node/node_fs.zig
  src/js/internal-for-testing.ts
  src/shell/interpreter.zig
  src/shell/shell.zig
  test/js/bun/shell/commands/cp.test.ts
  test/js/bun/shell/test_builder.ts
Due: prettier --write, zig fmt

Make it work on windows
  src/bun.js/node/node_fs.zig
  src/shell/interpreter.zig
  test/js/bun/shell/commands/cp.test.ts
Due: prettier --write, zig fmt

fix uninitialized memory
  src/cli/filter_arg.zig
  src/cli/filter_run.zig
  src/glob.zig
Due: zig fmt

use terminal synchronized update sequences
  src/cli/filter_run.zig
Due: zig fmt

fix path resolution for writeFile in nodefs
  src/bun.js/node/node_fs.zig
Due: zig fmt

add test
  test/js/node/fs/fs.test.ts
Due: prettier --write

Reference .exists() in File-IO Docs (#9957)
  docs/api/file-io.md
Due: prettier --write

fix example in bun add help text
  src/install/install.zig
Due: zig fmt

remove vtable
  src/bun.js/node/node_fs.zig
  src/shell/interpreter.zig
Due: zig fmt

correctly ignore error on windows to match posix behavior
  src/cli/create_command.zig
Due: zig fmt

fix example in bun add help text (#10185)
  src/install/install.zig
Due: zig fmt

correctly ignore error on windows to match posix behavior (#10186)
  src/cli/create_command.zig
Due: zig fmt

actually change cwd on posix
  src/cli.zig
Due: zig fmt

add test
  test/cli/install/bun-run.test.ts
Due: prettier --write

Revert "feat(which): add test for `endsWithExtension` fun"
  src/which.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
