Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

address review: extract macos_vnode_fflags constant, use await using in test
  src/watcher/Watcher.zig
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

watcher: register NOTE_ATTRIB | NOTE_EXTEND | NOTE_REVOKE on macOS
  src/watcher/KEventWatcher.zig
  src/watcher/Watcher.zig
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

address review: fix NOTE_EXTEND test + gate verbose reload log on real change
  src/jsc/hot_reloader.zig
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

watcher: skip metadata-only directory events in DevServer
  src/bake/DevServer.zig
Due: zig fmt

watcher: map Windows .Added to op.create and .RenamedNew to op.move_to
  src/watcher/WindowsWatcher.zig
Due: zig fmt

watcher: gate kqueue_vnode_fflags on isKqueue so FreeBSD isn't all-zero
  src/watcher/Watcher.zig
Due: zig fmt

dedupe kqueue registration; use truncateSync in test
  src/watcher/Watcher.zig
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

fix Worker SIGABRT on async onmessage rejection
  src/jsc/web_worker.zig
  test/regression/issue/28753.test.ts
Due: prettier --write, zig fmt

Fix assertion order: check stderr before exitCode
  test/regression/issue/28745.test.ts
Due: prettier --write

Address review: narrow kind gate, reject encoded NULs, add absolute path test
  src/resolver/resolver.zig
  test/regression/issue/28745.test.ts
Due: prettier --write, zig fmt

Percent-decode ESM import specifiers before filesystem lookup
  src/resolver/resolver.zig
  test/regression/issue/28745.test.ts
Due: prettier --write, zig fmt

Fix Windows CI: normalize backslashes in absolute path test
  test/regression/issue/28745.test.ts
Due: prettier --write

Use module-scope fs import and JSON.stringify for absolute path
  test/regression/issue/28745.test.ts
Due: prettier --write

Only decode relative specifiers; add pathToFileURL regression tests
  src/resolver/resolver.zig
  test/regression/issue/28745.test.ts
Due: prettier --write, zig fmt

Fix crash in Blob.writer() when options parsing returns an error
  src/runtime/webcore/Blob.zig
  test/js/bun/util/filesink.test.ts
Due: prettier --write, zig fmt

Improve tests: assert stream error, make GET retry deterministic
  test/regression/issue/28706.test.ts
Due: prettier --write

Fix test: use close callback for deterministic signaling, keep brief delay for header parsing
  test/regression/issue/28706.test.ts
Due: prettier --write

Run test logic in subprocess to isolate from ASAN shutdown
  test/regression/issue/28706.test.ts
Due: prettier --write

Don't retry non-idempotent HTTP methods on keep-alive disconnect
  src/http/http.zig
  src/http_types/Method.zig
  test/regression/issue/28706.test.ts
Due: prettier --write, zig fmt

Remove setTimeout from POST test: close socket from client after first chunk
  test/regression/issue/28706.test.ts
Due: prettier --write

fix(worker): deliver messages during top-level await
  src/jsc/VirtualMachine.zig
  src/jsc/bindings/webcore/Worker.cpp
  src/jsc/web_worker.zig
  test/regression/issue/21101.test.ts
Due: prettier --write, zig fmt

Fix worker.unref() causing pending messages to be lost
  scripts/verify-baseline-static/allowlist-aarch64.txt
  src/jsc/bindings/webcore/Worker.cpp
  test/regression/issue/28643.test.ts
Due: prettier --write

Worker: use cached parent bunVM for cross-thread refEventLoop
  src/jsc/bindings/webcore/Worker.cpp
  src/jsc/bindings/webcore/Worker.h
Due: none

fix: let clientError handler send response before closing socket
  packages/bun-uws/src/HttpContext.h
  src/js/node/_http_server.ts
  test/regression/issue/28641.test.ts
Due: prettier --write

Dedupe tsconfig lookup into Transpiler.perFileFeatures, trim test fixtures
  src/bundler/transpiler.zig
  src/jsc/ModuleLoader.zig
  src/jsc/RuntimeTranspilerStore.zig
  test/regression/issue/28605.test.ts
Due: prettier --write, zig fmt

Resolve per-file JSX settings from nearest enclosing tsconfig.json at runtime
  src/bundler/options.zig
  src/jsc/ModuleLoader.zig
  src/jsc/RuntimeTranspilerCache.zig
  src/jsc/RuntimeTranspilerStore.zig
  test/regression/issue/28605.test.ts
Due: prettier --write, zig fmt

Read stderr and assert exit code last in regression tests
  test/regression/issue/28605.test.ts
Due: prettier --write

install: resolve hoisted node_modules/ bin targets in resolveBinTarget
  src/install/bin.zig
  test/regression/issue/28597.test.ts
Due: prettier --write, zig fmt

WebWorker__dispatchError: declare a TopExceptionScope
  src/jsc/bindings/webcore/Worker.cpp
Due: none

test: assert HEADERS frame is padded under PADDING_STRATEGY_MAX
  test/js/node/http2/node-http2-padding-zeroed.test.ts
Due: prettier --write

verify-baseline(aarch64): allowlist libgcc `__arm_tpidr2_save` on musl [skip size check]
  scripts/verify-baseline-static/allowlist-aarch64.txt
Due: none

test: surface capture failures instead of timing out
  test/js/node/http2/node-http2-padding-zeroed.test.ts
Due: prettier --write

test: update fs_events.zig path in comment after src/ restructure
  test/js/node/watch/fs.watch.worker-init-race.test.ts
Due: prettier --write

doc: update ABIType path reference after src/ restructure
  src/jsc/bindings/JSFFIFunction.cpp
Due: none

test: correct comments — FSWatcher.close() emits synchronously on POSIX
  test/js/node/watch/fs.watch.concurrent-task.test.ts
Due: prettier --write

Request: drop redundant isUndefined guards in init parsing
  src/runtime/webcore/Request.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
