Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

refactor CJS
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/modules/NodeModuleModule.cpp
  src/js/builtins.d.ts
  src/js/builtins/BunBuiltinNames.h
  src/js/builtins/CommonJS.ts
  src/js/builtins/ImportMetaObject.ts
  src/js/builtins/Module.ts
Due: prettier --write

rename to JSCommonJSModule
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/JSCommonJSModule.cpp
  src/bun.js/bindings/JSCommonJSModule.h
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/napi.cpp
  src/bun.js/bindings/v8/node.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/modules/NodeModuleModule.h
  src/js/builtins.d.ts
  src/js/builtins/CommonJS.ts
  src/js/private.d.ts
Due: prettier --write

x
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

one more
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

arguments.len == 0 is also a case where the record type needs to be set to the default
  src/bun.js/api/bun/dns_resolver.zig
Due: zig fmt

remove debug log
  src/ptr/ref_count.zig
Due: zig fmt

http.request(): support `lookup` option
  src/js/node/http.ts
  test/js/node/test/parallel/test-http-autoselectfamily.js
Due: prettier --write

Use host and port, not options.hostname and options.port
  src/js/node/http.ts
Due: prettier --write

refactor and rename `JSCommonJSModule` (#18390)
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/JSCommonJSModule.cpp
  src/bun.js/bindings/JSCommonJSModule.h
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/napi.cpp
  src/bun.js/bindings/v8/node.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/modules/NodeModuleModule.cpp
  src/bun.js/modules/NodeModuleModule.h
  src/js/builtins.d.ts
  src/js/builtins/BunBuiltinNames.h
  src/js/builtins/CommonJS.ts
  src/js/builtins/ImportMetaObject.ts
  src/js/builtins/Module.ts
  src/js/private.d.ts
Due: prettier --write

ConnectionClosed -> ECONNRESET
  src/bun.js/webcore/response.zig
  test/js/node/test/parallel/test-http-conn-reset.js
Due: prettier --write, zig fmt

add check for 405s
  src/bun.js/api/server.zig
Due: zig fmt

remove fun print for debugging
  src/bun.js/api/server.zig
Due: zig fmt

Don't parse URL too early
  src/js/node/http.ts
Due: prettier --write

Fix dns.resolve ignoring rrtype
  src/js/node/dns.ts
Due: prettier --write

Caught a double word
  .github/pull_request_template.md
Due: prettier --write

Fix typo in PR template (#18392)
  .github/pull_request_template.md
Due: prettier --write

Add benchmark for `Cipheriv` and `Decipheriv` (#18394)
  bench/crypto/aes-gcm-throughput.mjs
Due: none

Add test case for 405
  test/js/bun/http/bun-serve-routes.test.ts
Due: prettier --write

NodeHTTPServerSocket.localAddress & friends
  packages/bun-usockets/src/libusockets.h
  packages/bun-usockets/src/socket.c
  src/bun.js/bindings/NodeHTTP.cpp
  src/deps/libuwsockets.cpp
  src/js/node/http.ts
  test/js/node/http/node-http.test.ts
Due: prettier --write

Update expected error code in test/js/web/fetch/fetch.stream.test.ts
  test/js/web/fetch/fetch.stream.test.ts
Due: prettier --write

Update expected error code in test/js/bun/http/serve.test.ts and test/js/bun/http/bun-server.test.ts
  test/js/bun/http/bun-server.test.ts
  test/js/bun/http/serve.test.ts
Due: prettier --write

add test
  test/js/node/test/parallel/test-crypto-scrypt.js
Due: prettier --write

update test
  test/js/node/test/parallel/test-crypto-scrypt.js
Due: prettier --write

WIP
  packages/bun-types/bun.d.ts
  src/bun.js/api/server.zig
  src/bun.js/bindings/Cookie.cpp
  src/bun.js/bindings/CookieMap.cpp
  src/bun.js/bindings/CookieMap.h
  src/bun.js/bindings/JSBunRequest.cpp
  src/bun.js/bindings/JSBunRequest.h
  src/bun.js/bindings/webcore/JSCookie.cpp
  src/bun.js/bindings/webcore/JSCookieMap.cpp
  src/bun.js/webcore.zig
  src/bun.js/webcore/CookieMap.zig
  src/bun.js/webcore/request.zig
  test/js/bun/cookie/cookie.test.ts
  test/js/bun/util/cookie-server/server.ts
  test/js/bun/util/cookie.test.js
Due: prettier --write, zig fmt

scrypt job
  src/bun.js/api/crypto.classes.ts
  src/bun.js/base.zig
  src/bun.js/bindings/JSGlobalObject.zig
  src/bun.js/bindings/JSObject.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/node/node_crypto_binding.zig
  src/bun.js/node/util/validators.zig
  src/bun.js/webcore.zig
  src/js/node/crypto.ts
Due: prettier --write, zig fmt

Fix `dns.resolve` (#18393)
  src/bun.js/api/bun/dns_resolver.zig
  src/js/node/dns.ts
Due: prettier --write, zig fmt

Revert "Introduce Bun.Cookie & Bun.CookieMap & request.cookies (in BunRequest) (#18073)"
  packages/bun-types/bun.d.ts
  src/bun.js/bindings/BunCommonStrings.h
  src/bun.js/bindings/BunInjectedScriptHost.cpp
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/Cookie.cpp
  src/bun.js/bindings/Cookie.h
  src/bun.js/bindings/CookieMap.cpp
  src/bun.js/bindings/CookieMap.h
  src/bun.js/bindings/JSBunRequest.cpp
  src/bun.js/bindings/JSBunRequest.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMConstructors.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/bindings/webcore/JSCookie.cpp
  src/bun.js/bindings/webcore/JSCookie.h
  src/bun.js/bindings/webcore/JSCookieMap.cpp
  src/bun.js/bindings/webcore/JSCookieMap.h
  src/bun.js/bindings/webcore/JSPerformanceResourceTiming.cpp
  src/bun.js/bindings/webcore/JSPerformanceServerTiming.cpp
  src/js/builtins/BunBuiltinNames.h
  test/js/bun/cookie/cookie-map.test.ts
  test/js/bun/http/bun-serve-cookies.test.ts
  test/js/bun/util/cookie.test.js
Due: prettier --write

speed up
  src/bun.js/node/node_crypto_binding.zig
  src/deps/boringssl.translated.zig
Due: zig fmt

delete test
  test/js/node/crypto/crypto-scrypt.test.ts
Due: prettier --write

delete
  src/node-fallbacks/crypto.js
Due: prettier --write

Update SetupWebKit.cmake
  cmake/tools/SetupWebKit.cmake
Due: none

`node:crypto`: fix `test-crypto-scrypt.js` (#18396)
  src/bun.js/api/crypto.classes.ts
  src/bun.js/base.zig
  src/bun.js/bindings/JSGlobalObject.zig
  src/bun.js/bindings/JSObject.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/node/node_crypto_binding.zig
  src/bun.js/node/util/validators.zig
  src/bun.js/webcore.zig
  src/deps/boringssl.translated.zig
  src/js/node/crypto.ts
  src/node-fallbacks/crypto.js
  test/js/node/crypto/crypto-scrypt.test.ts
  test/js/node/test/parallel/test-crypto-scrypt.js
Due: prettier --write, zig fmt

fix: make `JSPropertyIterator` accept a `JSObject` instead of a `JSValue` (#18308)
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/JSCell.zig
  src/bun.js/bindings/JSGlobalObject.zig
  src/bun.js/bindings/JSObject.zig
  src/bun.js/bindings/JSPropertyIterator.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/headers.zig
  src/bun.js/javascript.zig
  src/bun.js/node/util/parse_args.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/pretty_format.zig
  src/ini.zig
  src/js_ast.zig
  src/jsc.zig
  src/shell/interpreter.zig
Due: zig fmt

Bump WebKit (#18399)
  cmake/tools/SetupWebKit.cmake
Due: none

Fix BUN-DAR
  src/Watcher.zig
Due: zig fmt

fixed using option "unix" in Bun's fetch result in type error
  packages/bun-types/fetch.d.ts
Due: prettier --write

Implement Allow header
  src/bun.js/api/server.zig
  test/js/bun/http/bun-serve-routes.test.ts
Due: prettier --write, zig fmt

Add a comment about the fact that 501 isn't reachable yet
  src/bun.js/api/server.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
