Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

changes
  src/bun.js/bindings/webcore/MessagePortChannelProvider.cpp
  src/bun.js/bindings/webcore/MessagePortChannelRegistry.cpp
Due: none

try use WTF::ensureOnMainThread
  src/bun.js/bindings/webcore/MessagePortChannelProviderImpl.cpp
Due: none

test: use randomized listeners in serve-types.test.ts
  test/integration/bun-types/fixture/serve-types.test.ts
Due: prettier --write

`bun run prettier`
  test/integration/bun-types/fixture/serve-types.test.ts
Due: prettier --write

fix ci
  test/integration/bun-types/fixture/serve-types.test.ts
Due: prettier --write

another
  packages/bun-usockets/src/bsd.c
  packages/bun-usockets/src/crypto/openssl.c
  packages/bun-usockets/src/internal/networking/bsd.h
  packages/bun-usockets/src/libusockets.h
  packages/bun-usockets/src/socket.c
  packages/bun-uws/src/AsyncSocket.h
  packages/bun-uws/src/HttpContext.h
  src/bun.js/api/bun/socket.zig
  src/bun.js/ipc.zig
  src/deps/uws/socket.zig
  src/deps/uws/us_socket_t.zig
  src/http.zig
  src/http/websocket_client.zig
  src/http/websocket_client/WebSocketUpgradeClient.zig
  src/js/node/net.ts
  test/js/node/test/parallel/test-net-stream.js
Due: prettier --write, zig fmt

chore: trim trailing space in uws
  packages/bun-usockets/src/crypto/root_certs.h
  packages/bun-usockets/src/crypto/root_certs_header.h
  packages/bun-usockets/src/eventing/epoll_kqueue.c
  packages/bun-usockets/src/internal/internal.h
  packages/bun-usockets/src/loop.c
  packages/bun-usockets/src/socket.c
  packages/bun-uws/src/App.h
  packages/bun-uws/src/AsyncSocket.h
  packages/bun-uws/src/BloomFilter.h
  packages/bun-uws/src/ChunkedEncoding.h
  packages/bun-uws/src/Http3ContextData.h
  packages/bun-uws/src/Http3Response.h
  packages/bun-uws/src/Http3ResponseData.h
  packages/bun-uws/src/HttpContext.h
  packages/bun-uws/src/HttpErrors.h
  packages/bun-uws/src/HttpParser.h
  packages/bun-uws/src/HttpResponse.h
  packages/bun-uws/src/HttpResponseData.h
  packages/bun-uws/src/Loop.h
  packages/bun-uws/src/LoopData.h
  packages/bun-uws/src/TopicTree.h
Due: none

Initialized HTML bundle compilation during route registration and added the required import for the HTMLBundle type
  src/bun.js/api/server/ServerConfig.zig
Due: zig fmt

Removed the automatic rebuild on every request, so development mode now only triggers a rebuild when necessary
  src/bun.js/api/server/HTMLBundle.zig
Due: zig fmt

fix(cmake): add metadata and icon to windows executable
  cmake/targets/BuildBun.cmake
  src/windows-app-info.rc
Due: none

verify htmlbundle status is pending
  src/bun.js/api/server/ServerConfig.zig
Due: zig fmt

ignore .zigversion
  .gitignore
Due: none

some fixups
  packages/bun-usockets/src/bsd.c
  packages/bun-usockets/src/context.c
  packages/bun-usockets/src/crypto/openssl.c
  packages/bun-usockets/src/internal/internal.h
  src/js/node/net.ts
  src/js/node/tls.ts
Due: prettier --write

hopefully fix clang error?
  packages/bun-usockets/src/libusockets.h
Due: none

fix copyright field
  src/windows-app-info.rc
Due: none

Added a devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  cmake/CompilerFlags.cmake
Due: prettier --write

Additional test for #20351
  test/js/bun/ffi/addr32.test.ts
Due: prettier --write

cancel build on start.
  src/bun.js/api/server/ServerConfig.zig
Due: zig fmt

test header implementation.
  src/bun.js/api/server/HTMLBundle.zig
  src/bun.js/api/server/RequestContext.zig
Due: zig fmt

WIP: Fix ref counting bugs in spawn API observed under rr (#20191)
  src/bun.js/ProcessAutoKiller.zig
  src/bun.js/api/bun/process.zig
Due: zig fmt

changed respond to respondWithInit function.
  src/bun.js/api/server/HTMLBundle.zig
Due: zig fmt

added HTMLBundle option to BodyInit
  packages/bun-types/fetch.d.ts
Due: prettier --write

restored.
  src/bun.js/api/server.zig
Due: zig fmt

refactorized.
  src/bun.js/api/server/RequestContext.zig
Due: zig fmt

restored.
  src/bun.js/api/server/HTMLBundle.zig
Due: zig fmt

htmlbundle response refactorized to RenderHTMLBundle()
  src/bun.js/api/server/RequestContext.zig
Due: zig fmt

restored.
  src/bun.js/api/server/ServerConfig.zig
Due: zig fmt

added HTMLRoute.
  src/bun.js/webcore/Blob.zig
Due: zig fmt

chore: remove ruby
  .buildkite/Dockerfile
  CONTRIBUTING.md
  docs/project/building-windows.md
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  src/codegen/generate-unified-source-bundles.rb
Due: prettier --write

added: route.initEmpty()
  src/bun.js/api/server/HTMLBundle.zig
Due: zig fmt

respondWithInit update
  src/bun.js/api/server/RequestContext.zig
Due: zig fmt

Update .HTMLRoute size.
  src/bun.js/webcore/Body.zig
Due: zig fmt

test
  src/bun.js/webcore/Response.zig
Due: zig fmt

change constructor.
  src/bun.js/webcore/Response.zig
Due: zig fmt

test
  src/bun.js/api/server/HTMLBundle.zig
Due: zig fmt

fixed status code response
  src/bun.js/api/server/HTMLBundle.zig
Due: zig fmt

more test.
  src/bun.js/api/server/HTMLBundle.zig
Due: zig fmt

mplemented applyInitHeaders to centralize header processing
  src/bun.js/api/server/HTMLBundle.zig
Due: zig fmt

chore: trim trailing space in uws (#20388)
  packages/bun-usockets/src/crypto/root_certs.h
  packages/bun-usockets/src/crypto/root_certs_header.h
  packages/bun-usockets/src/eventing/epoll_kqueue.c
  packages/bun-usockets/src/internal/internal.h
  packages/bun-usockets/src/loop.c
  packages/bun-usockets/src/socket.c
  packages/bun-uws/src/App.h
  packages/bun-uws/src/AsyncSocket.h
  packages/bun-uws/src/BloomFilter.h
  packages/bun-uws/src/ChunkedEncoding.h
  packages/bun-uws/src/Http3ContextData.h
  packages/bun-uws/src/Http3Response.h
  packages/bun-uws/src/Http3ResponseData.h
  packages/bun-uws/src/HttpContext.h
  packages/bun-uws/src/HttpErrors.h
  packages/bun-uws/src/HttpParser.h
  packages/bun-uws/src/HttpResponse.h
  packages/bun-uws/src/HttpResponseData.h
  packages/bun-uws/src/Loop.h
  packages/bun-uws/src/LoopData.h
  packages/bun-uws/src/TopicTree.h
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
