Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

fix resolver config under inaccessible ancestors
  src/resolver/resolver.rs
  test/cli/resolver.test.ts
Due: prettier --write

bun:test: don't crash when creating the test module object fails
  src/jsc/bindings/ZigGlobalObject.cpp
  src/runtime/test_runner/jest.rs
  test/js/bun/test/bun-test.test.ts
Due: prettier --write

Report exceptions thrown by DeferredWorkTimer tasks as uncaughtException
  src/jsc/bindings/JSCTaskScheduler.cpp
  test/js/bun/util/finalization-registry-throw.test.ts
Due: prettier --write

shell: only template-literal glob tokens act as pattern syntax
  src/glob/matcher.rs
  src/runtime/shell/states/Expansion.rs
  test/js/bun/glob/match.test.ts
  test/js/bun/shell/brace.test.ts
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write

test: assert subprocess stdout before exit code in Bun.jest misuse test
  test/js/bun/test/bun-test.test.ts
Due: prettier --write

Include DeferredWorkTimerInlines.h for TicketData::isTargetObject()
  src/jsc/bindings/JSCTaskScheduler.cpp
Due: none

Report via Zig::GlobalObject directly so node:vm contexts reach uncaughtException
  src/jsc/bindings/JSCTaskScheduler.cpp
  test/js/bun/util/finalization-registry-throw.test.ts
Due: prettier --write

Sort test imports
  test/js/bun/util/finalization-registry-throw.test.ts
Due: prettier --write

bun:test: make expect.extend() matcher wrappers non-constructible
  src/jsc/bindings/JSWrappingFunction.cpp
  test/js/bun/test/bun-test.test.ts
Due: prettier --write

node:buffer: implement transcode()
  src/jsc/modules/NodeBufferModule.h
  test/js/node/buffer.test.js
Due: prettier --write

node:buffer: add tests for transcode()
  test/js/node/buffer.test.js
Due: prettier --write

yaml: reject `?` in non-pair flow positions
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

shell: surface assignToStream errors instead of panicking
  src/runtime/shell/subproc.zig
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write, zig fmt

shell: clear exit_handler before Windows early-return in abortAfterFailedStart
  src/runtime/shell/subproc.zig
Due: zig fmt

shell: split ReadableStream-to-builtin error message by direction
  src/runtime/shell/Builtin.zig
Due: zig fmt

shell: support ReadableStream as stdin redirect in Bun.$
  src/runtime/shell/Builtin.zig
  src/runtime/shell/states/Cmd.zig
  src/runtime/shell/subproc.zig
  test/js/bun/shell/bunshell.test.ts
Due: prettier --write, zig fmt

shell: drop unused err capture in readable_stream stdin path
  src/runtime/shell/subproc.zig
Due: zig fmt

shell: fix stdin_assign_error teardown ordering and hang on pre-set exit_code
  src/runtime/shell/subproc.zig
Due: zig fmt

shell: close pending stdout/stderr fds in abortAfterFailedStart
  src/runtime/shell/subproc.zig
Due: zig fmt

shell: port ReadableStream stdin redirect to Rust
  src/runtime/shell/Builtin.rs
  src/runtime/shell/states/Cmd.rs
  src/runtime/shell/subproc.rs
Due: none

shell: allow FileSinkPtr::adopt on POSIX
  src/runtime/shell/subproc.rs
Due: none

repl: stop rewriting top-level `this` to `exports`
  src/js_parser/p.rs
  test/js/bun/repl/repl.test.ts
  test/js/bun/transpiler/repl-transform.test.ts
Due: prettier --write

patch: don't panic on truncated ---/+++ header lines
  src/patch/lib.rs
  test/js/bun/patch/patch.test.ts
Due: prettier --write

yaml: address review — :-prefixed plain key after ?, nested : in pair value
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

Reject TypeScript `using` declarations in ambient contexts instead of panicking
  src/js_parser/parse/mod.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

Upgrade WebKit to 39d4ce1f12ea (#31169)
  scripts/build/deps/webkit.ts
  src/jsc/JSType.rs
  src/jsc/bindings/ErrorCode.cpp
  src/jsc/bindings/NodeVM.cpp
  src/jsc/bindings/NodeVM.h
  src/jsc/bindings/ZigException.cpp
  src/jsc/bindings/ZigGlobalObject.cpp
  src/jsc/bindings/ZigGlobalObject.h
  src/jsc/bindings/bindings.cpp
  src/runtime/bake/BakeGlobalObject.cpp
Due: prettier --write

parser: discard scopes of statements dropped by TypeScript `declare`
  src/js_parser/parse/parse_stmt.rs
  test/bundler/transpiler/scope-mismatch-panic.test.ts
Due: prettier --write

bun:test: fix SIGSEGV when constructing an expect.extend() matcher (#31219)
  src/jsc/bindings/JSWrappingFunction.cpp
  src/jsc/bindings/ZigGlobalObject.cpp
  src/runtime/test_runner/jest.rs
  test/js/bun/test/bun-test.test.ts
Due: prettier --write

semver: skip dangling '-' chunks with no pending comparator token
  src/semver/SemverQuery.rs
  test/cli/install/semver.test.ts
Due: prettier --write

Fix YAML.stringify emitting invalid anchor names derived from property names
  src/runtime/api/YAMLObject.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

Reword the declare + using parse error to name the "declare" keyword
  src/js_parser/parse/mod.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

yaml: gate e-node pair value on flow_pair_allowed; thread it to parse_block_mapping
  src/parsers/yaml.rs
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

patch: don't panic on truncated ---/+++ header lines (#31227)
  src/patch/lib.rs
  test/js/bun/patch/patch.test.ts
Due: prettier --write

crash handler: clippy nits in Windows-cfg code
  src/bun_core/lib.rs
Due: none

yaml: add test.todo coverage for pre-existing flow over-accepts surfaced by review
  test/js/bun/yaml/yaml.test.ts
Due: prettier --write

parser: reject for-in/for-of head declarations with invalid initializers
  src/js_parser/p.rs
  src/js_parser/p.zig
  src/js_parser/parse/parse_stmt.rs
  src/js_parser/parse/parse_stmt.zig
  src/js_parser/parser.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write, zig fmt

Don't hoist strict-mode block-level function declarations without the renamer
  src/js_parser/p.rs
  test/bundler/transpiler/transpiler.test.js
Due: prettier --write

test: run the declare scope-discard cases concurrently
  test/bundler/transpiler/scope-mismatch-panic.test.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
