Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

test: read pgid from /proc/$$/stat on Linux for BusyBox ps compatibility
  test/js/bun/webview/webview-chrome.test.ts
Due: prettier --write

webview: update m_fallback* comment to mention detached carry-over
  src/runtime/webview/ChromeBackend.h
Due: none

fs.watch: fully initialize ConcurrentTask in FSWatchTask.enqueue
  src/jsc/event_loop.zig
  src/runtime/node/node_fs_watcher.zig
  test/js/node/watch/fs.watch.concurrent-task.test.ts
Due: prettier --write, zig fmt

test: wait for first event instead of fixed rounds (macOS FSEvents latency)
  test/js/node/watch/fs.watch.concurrent-task.test.ts
Due: prettier --write

test: sync header comment with raw-bits assertion; add explicit timeout
  test/js/node/watch/fs.watch.concurrent-task.test.ts
Due: prettier --write

event_loop: check raw bits in ConcurrentTask.next assertion
  src/jsc/event_loop.zig
Due: zig fmt

extract Store.setMimeType helper and use it in the text fallback too
  src/runtime/webcore/Body.zig
  src/runtime/webcore/blob/Store.zig
Due: zig fmt

blob: stop aliasing store.mime_type.value with blob.content_type in response.blob()
  src/runtime/webcore/Body.zig
  src/runtime/webcore/blob/Store.zig
  test/js/web/fetch/blob.test.ts
Due: prettier --write, zig fmt

test: disable LSan alongside symbolize=0 in blob UAF subprocess
  test/js/web/fetch/blob.test.ts
Due: prettier --write

test: stream the fetch body so the resolve() arm is actually covered
  test/js/web/fetch/blob.test.ts
Due: prettier --write

bun:ffi: throw when calling a symbol after close() instead of jumping into freed JIT memory
  src/jsc/bindings/JSFFIFunction.cpp
  src/jsc/bindings/JSFFIFunction.h
  src/runtime/ffi/ffi.zig
  test/js/bun/ffi/ffi.test.js
Due: prettier --write, zig fmt

Skip FFI close() tests on Windows ARM64 where TinyCC is disabled
  test/js/bun/ffi/ffi.test.js
Due: prettier --write

Clean up per-symbol Function state on cc() error paths
  src/runtime/ffi/ffi.zig
Due: zig fmt

Root compiled.js_function so close() can safely detach it after GC
  src/runtime/ffi/ffi.zig
  test/js/bun/ffi/ffi.test.js
Due: prettier --write, zig fmt

Don't detach borrowed user callback in JSCallback.close()
  src/runtime/ffi/ffi.zig
  test/js/bun/ffi/ffi.test.js
Due: prettier --write, zig fmt

Fix dlopen .failed branch: run deinit loop before clearAndFree, not after
  src/runtime/ffi/ffi.zig
Due: zig fmt

Route remaining mid-loop error paths through Function.deinit
  src/runtime/ffi/ffi.zig
  test/js/bun/ffi/ffi.test.js
Due: prettier --write, zig fmt

install: --filter honors saved hoist layout from bun.lock
  src/install/lockfile.zig
  src/install/lockfile/Tree.zig
  test/regression/issue/29944.test.ts
Due: prettier --write, zig fmt

pruneSavedTree: check container is active and deinit filtered buffers
  src/install/hoisted_install.zig
  src/install/lockfile/Tree.zig
Due: zig fmt

pruneSavedTree: skip bundled deps to match .filter semantics
  src/install/lockfile/Tree.zig
Due: zig fmt

test(29944): drop --frozen-lockfile from filter step, use fs.rm
  test/regression/issue/29944.test.ts
Due: prettier --write

filter: only prune saved tree for workspace-scoped filters
  src/install/lockfile.zig
  src/install/lockfile/Tree.zig
Due: zig fmt

test(29944): hoist rm import to module scope
  test/regression/issue/29944.test.ts
Due: prettier --write

bun run --filter: use original-case basename for workspace dirs
  src/glob/GlobWalker.zig
  test/cli/run/filter-workspace.test.ts
Due: prettier --write, zig fmt

http: surface the real Win32 error when the HTTP client thread fails to spawn
  src/http/HTTPThread.zig
  src/js/internal-for-testing.ts
  test/js/bun/http/http-thread-spawn-panic-message.test.ts
Due: prettier --write, zig fmt

windows: flush all loaded CRTs then TerminateProcess on exit
  src/bun.zig
  src/bun_core/Global.zig
  src/jsc/bindings/c-bindings.cpp
Due: zig fmt

windows: gate ExitProcess on dlopen; SEH-wrap to catch faulting DETACH
  src/bun_core/Global.zig
  src/jsc/bindings/c-bindings.cpp
Due: zig fmt

s3: use .temporary lifetime for downloaded body so it gets freed
  src/runtime/webcore/Blob.zig
  test/js/bun/s3/s3-body-leak.test.ts
  test/js/bun/s3/s3-text-leak-fixture.js
Due: prettier --write, zig fmt

test(s3): fix misleading comment about urlencoded parsing of the fixture body
  test/js/bun/s3/s3-body-leak.test.ts
Due: prettier --write

test(s3): make warmup match the measured phase to remove allocator growth noise
  test/js/bun/s3/s3-body-leak.test.ts
Due: prettier --write

test(s3): make text-leak fixture sequential with symmetric warmup
  test/js/bun/s3/s3-text-leak-fixture.js
  test/js/bun/s3/s3.leak.test.ts
Due: prettier --write

test(s3): filter benign ASAN startup warning from stderr
  test/js/bun/s3/s3-body-leak.test.ts
Due: prettier --write

Revert s3-text-leak-fixture.js changes
  test/js/bun/s3/s3-text-leak-fixture.js
  test/js/bun/s3/s3.leak.test.ts
Due: prettier --write

test(s3): address review on s3-body-leak test + text-leak fixture
  test/js/bun/s3/s3-body-leak.test.ts
  test/js/bun/s3/s3-text-leak-fixture.js
Due: prettier --write

resolver: reuse BSSMap slots and PackageJSON/TSConfigJSON on bustDirCache
  src/bun_alloc/bun_alloc.zig
  src/resolver/resolver.zig
  test/js/bun/resolve/bust-dir-cache-leak.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
