Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

don't overwrite event emitter methods
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
Due: none

avoid two lookups
  src/bun.js/bindings/Process.cpp
Due: none

use `std::once`
  src/bun.js/bindings/Process.cpp
Due: none

releaseEarly()
  src/bun.js/bindings/Process.cpp
Due: none

Support `process.on('beforeExit')` and `process.on('exit')`
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/javascript.zig
  src/bun.js/node/types.zig
  src/bun_js.zig
  test/js/node/process/process-exit-fixture.js
  test/js/node/process/process-exitCode-fixture.js
  test/js/node/process/process-exitCode-with-exit.js
  test/js/node/process/process-onBeforeExit-fixture.js
  test/js/node/process/process-onBeforeExit-keepAlive.js
  test/js/node/process/process.test.js
Due: prettier --write, zig fmt

[bun:sqlite] Always call sqlite3_close on exit
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.h
Due: none

Remove signal handler after use
  src/bun.js/bindings/Process.cpp
Due: none

Fix bug with decorators not being generated in `export default class`
  src/js_parser.zig
  test/transpiler/decorator-export-default-class-fixture.ts
  test/transpiler/decorators.test.ts
Due: prettier --write, zig fmt

Update decorator-export-default-class-fixture.ts
  test/transpiler/decorator-export-default-class-fixture.ts
Due: prettier --write

Update process.test.js
  test/js/node/process/process.test.js
Due: prettier --write

Update call-raise.js
  test/js/node/process/call-raise.js
Due: prettier --write

Fix bug with decorators not being generated in `export default class` (#3577)
  src/js_parser.zig
  test/transpiler/decorator-export-default-class-fixture.ts
  test/transpiler/decorators.test.ts
Due: prettier --write, zig fmt

Implement `process.on("beforeExit", cb)` and `process.on("exit", cb)` (#3576)
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.h
  src/bun.js/javascript.zig
  src/bun.js/node/types.zig
  src/bun_js.zig
  test/js/node/process/process-exit-fixture.js
  test/js/node/process/process-exitCode-fixture.js
  test/js/node/process/process-exitCode-with-exit.js
  test/js/node/process/process-onBeforeExit-fixture.js
  test/js/node/process/process-onBeforeExit-keepAlive.js
  test/js/node/process/process.test.js
Due: prettier --write, zig fmt

Handle case with TS decorators and export default anonymous class
  src/js_parser.zig
  test/transpiler/decorator-export-default-class-fixture-anon.ts
  test/transpiler/decorators.test.ts
  test/transpiler/export-default-with-static-initializer.js
  test/transpiler/export-default.test.js
Due: prettier --write, zig fmt

Handle case with TS decorators and export default anonymous class (#3578)
  src/js_parser.zig
  test/transpiler/decorator-export-default-class-fixture-anon.ts
  test/transpiler/decorators.test.ts
  test/transpiler/export-default-with-static-initializer.js
  test/transpiler/export-default.test.js
Due: prettier --write, zig fmt

Fixes #3568
  src/bun.js/bindings/Process.cpp
Due: none

Update globals.d.ts
  packages/bun-types/globals.d.ts
Due: prettier --write

Add special case
  src/bun.js/bindings/CommonJSModuleRecord.cpp
Due: none

Make process object load faster
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/Process.h
  src/bun.js/bindings/Process.lut.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/modules/ProcessModule.h
  src/js/builtins/ProcessObjectInternals.ts
  src/js/builtins/codegen/index.ts
  src/js/out/WebCoreJSBuiltins.cpp
  src/js/out/WebCoreJSBuiltins.h
Due: prettier --write

Fix openStdin
  src/bun.js/bindings/Process.cpp
Due: none

fix uuid version Close: https://github.com/oven-sh/bun/issues/3575
  src/bun.js/rare_data.zig
  src/bun.js/uuid.zig
  src/bun.js/webcore.zig
  src/http/websocket_http_client.zig
Due: zig fmt

add unittest
  test/js/web/web-globals.test.js
Due: prettier --write

small fix
  src/bun.js/webcore/blob.zig
Due: zig fmt

avoid unnecessary copying
  src/bun.js/rare_data.zig
  src/bun.js/uuid.zig
Due: zig fmt

fix metadata bits of uuid (`randomUUID()`) (#3583)
  src/bun.js/rare_data.zig
  src/bun.js/uuid.zig
  src/bun.js/webcore.zig
  src/bun.js/webcore/blob.zig
  src/http/websocket_http_client.zig
  test/js/web/web-globals.test.js
Due: prettier --write, zig fmt

Implement nearly all of `process` object methods and properties (#3581)
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/Process.h
  src/bun.js/bindings/Process.lut.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/modules/ProcessModule.h
  src/js/builtins/ProcessObjectInternals.ts
  src/js/builtins/codegen/index.ts
  src/js/out/WebCoreJSBuiltins.cpp
  src/js/out/WebCoreJSBuiltins.h
Due: prettier --write

Implement process.memoryUsage() and process.cpuUsage()
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/Process.h
  src/bun.js/bindings/Process.lut.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  test/js/node/process/process.test.js
Due: prettier --write

Avoid mi_process_info
  bench/snippets/process-info.mjs
  src/bun.js/bindings/Process.cpp
Due: none

Update bench
  bench/snippets/process-info.mjs
  src/bun.js/bindings/Process.cpp
Due: none

Update Process.cpp
  src/bun.js/bindings/Process.cpp
Due: none

fixup
  src/bun.js/bindings/Process.cpp
Due: none

More tests + linux fixup
  src/bun.js/bindings/Process.cpp
  test/js/node/process/process.test.js
Due: prettier --write

Fixes #3530
  src/bun.js/bindings/BunString.cpp
  src/bun.js/node/types.zig
  src/bun.js/webcore/encoding.zig
  src/string.zig
Due: zig fmt

Handle OOM
  src/bun.js/node/types.zig
Due: zig fmt

Add test
  test/js/node/crypto/node-crypto.test.js
Due: prettier --write

Skip it for now since it seems less accurate
  test/js/node/process/process.test.js
Due: prettier --write

Implement process.memoryUsage() and process.cpuUsage() (#3586)
  bench/snippets/process-info.mjs
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/Process.h
  src/bun.js/bindings/Process.lut.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  test/js/node/process/process.test.js
Due: prettier --write

Fixes #3530 (#3587)
  src/bun.js/bindings/BunString.cpp
  src/bun.js/node/types.zig
  src/bun.js/webcore/encoding.zig
  src/string.zig
  test/js/node/crypto/node-crypto.test.js
Due: prettier --write, zig fmt

Fixes #3588
  src/js/node/http.ts
  src/js/out/modules/node/http.js
Due: prettier --write

trim node:stream a little
  src/js/build-esm.ts
  src/js/node/stream.js
  src/js/out/modules/node/stream.js
Due: prettier --write
