Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Pass data pointer to NAPI constructors
  src/bun.js/bindings/napi.cpp
Due: none

feat: install specific version of Bun
  docs/installation.md
  src/cli/upgrade_command.zig
  test/cli/install/bun-upgrade.test.ts
Due: prettier --write, zig fmt

background properties minify
  src/bitflags.zig
  src/css/compat.zig
  src/css/css_parser.zig
  src/css/properties/background.zig
  src/css/properties/custom.zig
  src/css/small_list.zig
  src/css/values/angle.zig
  src/css/values/color.zig
  src/css/values/gradient.zig
  src/css/values/image.zig
  src/css/values/position.zig
Due: zig fmt

fix shit
  src/css/properties/background.zig
Due: zig fmt

explosion
  .vscode/launch.json
  src/bake/BakeDevSourceProvider.cpp
  src/bake/BakeDevSourceProvider.h
  src/bake/DevServer.zig
  src/bake/FrameworkRouter.zig
  src/bake/bake.zig
  src/bake/production.zig
  src/bun.zig
  src/bun_js.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/cli/build_command.zig
  src/codegen/bake-codegen.ts
Due: prettier --write, zig fmt

WIP fallback handler
  src/css/declaration.zig
  src/css/properties/prefix_handler.zig
  src/css/properties/properties.zig
Due: zig fmt

contributing: fix fedora llvm install steps
  CONTRIBUTING.md
Due: prettier --write

add test
  test/js/first_party/ws/ws.test.ts
Due: prettier --write

check if this.#ws is not null
  src/js/thirdparty/ws.js
Due: prettier --write

cleanup
  test/js/first_party/ws/ws.test.ts
Due: prettier --write

revert this
  src/js/thirdparty/ws.js
Due: prettier --write

only touch what makes sense
  src/js/thirdparty/ws.js
Due: prettier --write

more
  src/js/thirdparty/ws.js
Due: prettier --write

Bump
  LATEST
  package.json
Due: none

test fix fr this time
  test/bundler/bundler_npm.test.ts
Due: prettier --write

bump rtc version
  src/bun.js/RuntimeTranspilerCache.zig
Due: zig fmt

pm: BrokenPipe is not fatal when printing the lockfile
  src/install/lockfile.zig
Due: zig fmt

Fix assertion failure
  src/css/rules/rules.zig
Due: zig fmt

Update rules.zig
  src/css/rules/rules.zig
Due: zig fmt

Fix(doc): update Next.js guide
  docs/guides/ecosystem/nextjs.md
Due: prettier --write

fix typo
  docs/guides/ecosystem/nextjs.md
Due: prettier --write

Fix(doc): update Next.js guide (#14730)
  docs/guides/ecosystem/nextjs.md
Due: prettier --write

fix jsx symbol collisions when importing own variables with same names (#14343)
  src/bun.js/RuntimeTranspilerCache.zig
  src/js_parser.zig
  src/runtime.zig
  test/bundler/bundler_npm.test.ts
  test/bundler/transpiler/transpiler.test.js
  test/cli/run/fragment.tsx
  test/cli/run/jsx-collision.tsx
  test/cli/run/jsx-symbol-collision.test.ts
Due: prettier --write, zig fmt

chore: add test for optional = false in bunfig.toml
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

revert: verifyResolution skip on .git tag
  src/install/install.zig
Due: zig fmt

feat(wip): intermittent git dep queue
  src/install/install.zig
Due: zig fmt

chore: remove redundent package_id from ArrayList
  src/install/install.zig
Due: zig fmt

contributing: fix fedora llvm install steps (#14726)
  CONTRIBUTING.md
Due: prettier --write

fix(install): Skip optional dependencies if false in bunfig.toml (#14629)
  src/install/install.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

cmake: only enable LTO when release + linux + ci
  cmake/Options.cmake
Due: none

Fix
  scripts/images/darwin.pkr.hcl
  scripts/images/provision.darwin.sh
Due: none

Fix
  scripts/ci/darwin.pkr.hcl
Due: none

Fix
  .buildkite/ci.yml
  scripts/ci/darwin.pkr.hcl
Due: none

Testing
  .buildkite/ci.yml
  .github/workflows/build-image.yml
Due: none

Progress
  scripts/images/boot.sh
  scripts/images/darwin.pkr.hcl
  scripts/images/provision.darwin.sh
  scripts/images/provision.sh
Due: none

Add more
  ci/README.md
  ci/darwin/image-vanilla.pkr.hcl
  ci/darwin/image.pkr.hcl
  ci/darwin/scripts/optimize-machine.sh
  ci/darwin/scripts/setup-login.sh
  ci/package.json
  ci/scripts/start-machine.sh
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
