Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Use ->view instead of .toWTFString
  src/bun.js/bindings/ErrorCode.cpp
Due: none

Update init_command.zig
  src/cli/init_command.zig
Due: zig fmt

more
  src/js/node/http2.ts
  test/bun.lock
  test/js/third_party/got/got.http2-wrapper.test.ts
  test/js/third_party/got/package.json
  test/package.json
Due: prettier --write

Avoid creating temporary strings when throwing errors (#17179)
  src/bun.js/bindings/BunCommonStrings.h
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  test/js/bun/globals.test.js
  test/js/node/dns/node-dns.test.js
  test/js/node/events/event-emitter.test.ts
  test/js/node/process/process.test.js
  test/js/node/test/common/index.js
  test/js/node/test/parallel/test-common-gc.js
  test/js/node/test/parallel/test-console-tty-colors.js
  test/js/node/test/parallel/test-emit-after-uncaught-exception.js
  test/js/node/test/parallel/test-http2-compat-serverrequest-headers.js
  test/js/node/test/parallel/test-process-exit-code-validation.js
  test/js/node/test/parallel/test-process-kill-pid.js
  test/js/node/test/parallel/test-require-json.js
  test/js/node/test/parallel/test-streams-highwatermark.js
  test/js/node/test/parallel/test-timers-promises-scheduler.js
  test/js/node/test/parallel/test-zlib-deflate-constructors.js
  test/js/node/test/parallel/test-zlib-flush-flags.js
Due: prettier --write

docs: update arch contributing docs (#17484)
  CONTRIBUTING.md
Due: prettier --write

opsie
  test/bun.lock
Due: none

fix got
  src/js/node/http2.ts
  test/js/node/test/parallel/test-http2-head-request.js
  test/js/third_party/got/got.http2-wrapper.test.ts
  test/js/third_party/got/package.json
  test/package.json
Due: prettier --write

wip
  src/create/projects/react-shadcn-spa/REPLACE_ME_WITH_YOUR_APP_FILE_NAME.css
  test/cli/create/__snapshots__/create-jsx.test.ts.snap
  test/cli/create/create-jsx.test.ts
Due: prettier --write

Use bun.sys more instead of std.fs
  src/cache.zig
  src/fs.zig
  src/sys.zig
Due: zig fmt

Update sys.zig
  src/sys.zig
Due: zig fmt

Update fs.zig
  src/fs.zig
Due: zig fmt

fix
  src/fs.zig
  src/sys.zig
  src/windows_c.zig
Due: zig fmt

normalize 443
  src/bun.js/api/bun/socket.zig
  src/js/node/http2.ts
  test/js/third_party/got/got.http2-wrapper.test.ts
Due: prettier --write, zig fmt

Add TimerList debug logs
  src/bun.js/api/Timer.zig
Due: zig fmt

fix tests
  test/js/third_party/got/got.http2-wrapper.test.ts
Due: prettier --write

a
  src/bun.zig
Due: zig fmt

Add tests for node:dgram addMembership
  test/js/node/dgram/node-dgram.test.js
Due: prettier --write

node: fix test-buffer-bigint64.js (#17452)
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBuffer.h
  src/js/builtins/JSBufferPrototype.ts
  test/js/node/buffer.test.js
  test/js/node/test/parallel/test-buffer-bigint64.js
Due: prettier --write

add tooltips for Incremental visualizer
  src/bake/incremental_visualizer.html
Due: prettier --write

Fix create-jsx.test.ts
  test/cli/create/create-jsx.test.ts
Due: prettier --write

Don't include rawKeys in the Headers prototype
  src/bun.js/bindings/webcore/JSFetchHeaders.cpp
  src/bun.js/bindings/webcore/JSFetchHeaders.h
  src/js/node/http.ts
Due: prettier --write

Release the throw scope
  src/bun.js/bindings/webcore/JSFetchHeaders.cpp
Due: none

Cleaner timer initialization
  src/bun.js/api/Timer.zig
Due: zig fmt

update test
  test/js/node/test/parallel/test-crypto-sign-verify.js
Due: prettier --write

zig: catch JSValue.toZigString thrown exceptions
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/types.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/pretty_format.zig
  src/options.zig
Due: zig fmt

Fix setImmediate performance
  src/bun.js/api/Timer.zig
  src/bun.js/javascript.zig
Due: zig fmt

Add test for nested setImmediate performance
  test/js/node/timers/node-timers.test.ts
  test/js/node/timers/setImmediate-fixture.ts
Due: prettier --write

Longer timeout
  test/js/node/timers/node-timers.test.ts
Due: prettier --write

DevServer: source map and error modal improvements (#17476)
  src/StandaloneModuleGraph.zig
  src/bake/DevServer.zig
  src/bake/bake.private.d.ts
  src/bake/client/JavaScriptSyntaxHighlighter.ts
  src/bake/client/data-view.ts
  src/bake/client/error-serialization.ts
  src/bake/client/icons/dismiss.svg
  src/bake/client/icons/next.svg
  src/bake/client/icons/prev.svg
  src/bake/client/overlay.css
  src/bake/client/overlay.ts
  src/bake/client/reader.ts
  src/bake/client/stack-trace.ts
  src/bake/client/websocket.ts
  src/bake/hmr-module.ts
  src/bake/hmr-runtime-client.ts
  src/bake/hmr-runtime-error.ts
  src/bake/macros.ts
  src/bake/shared.ts
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/server/StaticRoute.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/javascript.zig
  src/bun.zig
  src/bundler/bundle_v2.zig
  src/codegen/bake-codegen.ts
  src/deps/uws.zig
  src/js/internal/html.ts
  src/sourcemap/sourcemap.zig
  src/string.zig
  src/toml/toml_lexer.zig
  test/bake/client-fixture.mjs
  test/bake/dev-server-harness.ts
  test/bake/dev/bundle.test.ts
  test/bake/dev/dev-plugins.test.ts
  test/bake/dev/sourcemap.test.ts
  test/bundler/bundler_bake_dev.test.ts
Due: prettier --write, zig fmt

aaa
  .prettierignore
  src/bundler/bundle_v2.zig
  src/js_ast.zig
  test/bake/dev-server-harness.ts
  test/bake/dev/bundle.test.ts
Due: prettier --write, zig fmt

zig: catch JSValue.getZigString thrown exceptions
  src/bun.js/BuildMessage.zig
  src/bun.js/ConsoleObject.zig
  src/bun.js/ResolveMessage.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/spawn/stdio.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/filesystem_router.zig
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/path.zig
  src/bun.js/node/types.zig
  src/bun.js/test/pretty_format.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
  src/ini.zig
  src/shell/interpreter.zig
Due: zig fmt

test(bun/net): add TCP socket and listener test cases
  test/js/bun/net/tcp.spec.ts
  test/js/bun/net/tcp.test.ts
Due: prettier --write

bun react template: fix background position jump after two minutes
  src/create/projects/react-app/src/index.css
  src/create/projects/react-shadcn/src/index.css
  src/create/projects/react-tailwind/src/index.css
Due: prettier --write

address review
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/ProcessBindingBuffer.cpp
  src/bun.js/bindings/ProcessBindingFs.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

fix ci
  test/cli/create/create-jsx.test.ts
Due: prettier --write

no \r\n
  test/js/node/timers/node-timers.test.ts
Due: prettier --write

some more fixes
  packages/bun-types/.eslintrc.cjs
  packages/bun-types/fetch.d.ts
  packages/bun-types/globals.d.ts
  packages/bun-types/index.d.ts
  src/cli/init/tsconfig.default.json
  test/integration/bun-types/fixture/index.ts
Due: prettier --write
