Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

queueMicrotask again
  src/sql/mysql/MySQLConnection.zig
Due: zig fmt

more
  src/bun.js/api/server.zig
  src/bun.js/bindings/JSRef.zig
  src/sql/mysql/MySQLConnection.zig
  src/sql/mysql/MySQLQuery.zig
  src/sql/postgres/PostgresSQLQuery.zig
Due: zig fmt

opsie
  src/sql/mysql/MySQLQuery.zig
Due: zig fmt

Try clearing Strong earlier
  src/bun.js/Strong.zig
Due: zig fmt

smol changes
  src/bake/bun-framework-react/ssr.tsx
  src/bake/hmr-runtime-server.ts
  src/bun.js/bindings/ErrorCode.ts
Due: prettier --write

make it better
  src/bake/DevServer.zig
  src/bun.js/api/server/AnyRequestContext.zig
  src/bun.js/api/server/RequestContext.zig
Due: zig fmt

Try this
  src/sql/mysql/MySQLQuery.zig
  src/sql/postgres/PostgresSQLQuery.zig
Due: zig fmt

remove allowGC
  src/sql/mysql/MySQLQuery.zig
Due: zig fmt

Revert unnecessary struct definitions back to opaque
  src/deps/boringssl.translated.zig
Due: zig fmt

Update JSRef.zig
  src/bun.js/bindings/JSRef.zig
Due: zig fmt

opsie
  src/sql/postgres/PostgresSQLQuery.zig
Due: zig fmt

Add basic async stack trace tests
  test/js/bun/test/stack.test.ts
Due: prettier --write

remove .zero from JSref
  src/bun.js/bindings/JSRef.zig
Due: zig fmt

add _compile to prototype
  src/bun.js/modules/NodeModuleModule.cpp
  test/cli/run/run-eval.test.ts
Due: prettier --write

no need to use tryGet if we have the callframe this value
  src/sql/mysql/MySQLQuery.zig
  src/sql/postgres/PostgresSQLQuery.zig
Due: zig fmt

wip
  CONTAINER_IMPLEMENTATION.md
  src/bun.js/bindings/bun-spawn.cpp
  test/js/bun/spawn/container-overlayfs.test.ts
  test/js/bun/spawn/container-working-features.test.ts
Due: prettier --write

Improve valkey.zig lifetimes
  src/bun.js/api/valkey.classes.ts
  src/valkey/js_valkey.zig
  src/valkey/valkey.zig
  test/js/valkey/valkey.test.ts
Due: prettier --write, zig fmt

wip
  src/sql/mysql/MySQLConnection.zig
Due: zig fmt

fix js tag
  src/sql/postgres/CommandTag.zig
Due: zig fmt

dont do weird stuff
  src/sql/mysql/MySQLConnection.zig
  src/sql/mysql/MySQLQuery.zig
Due: zig fmt

Hotfix socket pointer reset
  src/valkey/js_valkey.zig
Due: zig fmt

add `_compile` to `Module` prototype (#22565)
  src/bun.js/modules/NodeModuleModule.cpp
  test/cli/run/run-eval.test.ts
Due: prettier --write

Add --cwd to test error messages for AI agents (#22560)
  src/cli/test_command.zig
Due: zig fmt

Print `async` prefix in `ZigStackFrame`
  src/bun.js/bindings/ZigStackFrame.zig
Due: zig fmt

try this
  scripts/runner.node.mjs
  src/sql/mysql/MySQLQuery.zig
  src/sql/postgres/PostgresSQLQuery.zig
Due: zig fmt

actually handle the exceptions here
  src/sql/mysql/MySQLQuery.zig
  src/sql/postgres/CommandTag.zig
  src/sql/postgres/PostgresSQLQuery.zig
Due: zig fmt

dont make it an impossible to catch error
  src/sql/mysql/MySQLQuery.zig
  src/sql/postgres/PostgresSQLQuery.zig
Due: zig fmt

runner: newFiles calc was slightly wrong
  scripts/runner.node.mjs
Due: none

undo this change
  test/js/node/http/client-timeout-error.test.ts
Due: prettier --write

windows
  test/js/web/fetch/fetch.stream.test.ts
Due: prettier --write

new and only in release
  test/js/node/test/parallel/test-https-drain.js
Due: prettier --write

Optimize TLS certificate store creation by avoiding redundant parsing
  packages/bun-usockets/src/crypto/root_certs.cpp
  test/regression/issue/tls-store-optimization.test.ts
Due: prettier --write

try this
  src/bun.js/bindings/SQLClient.cpp
  src/sql/mysql/MySQLConnection.zig
  src/sql/mysql/MySQLStatement.zig
  src/sql/mysql/protocol/ResultSet.zig
  src/sql/postgres/DataCell.zig
  src/sql/postgres/PostgresSQLConnection.zig
  src/sql/postgres/PostgresSQLStatement.zig
Due: zig fmt

Clarify that embedded certificates are comprehensive
  packages/bun-usockets/src/crypto/root_certs.cpp
Due: none

initial
  src/interchange/toml.zig
  src/interchange/toml/lexer.zig
Due: zig fmt

Cache X509_STORE to avoid redundant certificate loading
  packages/bun-usockets/src/crypto/root_certs.cpp
Due: none

Simplify X509_STORE caching using static initialization
  packages/bun-usockets/src/crypto/root_certs.cpp
Due: none

Update MySQLConnection.zig
  src/sql/mysql/MySQLConnection.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
