Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

prevent re-enter
  src/js/node/_http_server.ts
Due: prettier --write

more
  src/js/node/_http_server.ts
Due: prettier --write

address ci
  test/js/node/test/parallel/test-fs-watch-recursive-watch-file.js
Due: prettier --write

feat: Implement process.report.getReport() on Windows
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/BunProcessReportObjectWindows.cpp
Due: none

Make the error better when you do `console.log(\"` (#22787)
  src/js_lexer.zig
  test/regression/issue/invalid-escape-sequences.test.ts
Due: prettier --write, zig fmt

refactor: use RuntimeMap.get() for JSX runtime parsing and switch Config.jsx to api.Jsx type
  src/bun.js/api/JSBundler.zig
  src/bundler/bundle_v2.zig
Due: zig fmt

Delete TODO.md
  src/bun.js/TODO.md
Due: prettier --write

fix: set jsx development flag default to true to match previous behavior
  src/bun.js/api/JSBundler.zig
Due: zig fmt

ok
  src/bun.js/api/server/NodeHTTPResponse.zig
  src/bun.js/bindings/NodeHTTP.cpp
  src/js/node/_http_server.ts
  test/js/node/http/node-http-connect.node.mts
Due: prettier --write, zig fmt

fixes
  src/js/node/_http_server.ts
Due: prettier --write

remove duplicate test
  test/js/node/http/node-http-connect.node.mts
Due: none

revert
  src/bun.js/api/server/NodeHTTPResponse.zig
Due: zig fmt

revert
  src/js/node/_http_server.ts
Due: prettier --write

ok
  test/js/node/http/node-http-connect.test.ts
Due: prettier --write

Add test line filtering feature
  src/bun.js/test/ScopeFunctions.zig
  src/bun.js/test/jest.zig
  src/cli/test_command.zig
  test/cli/test/test-line-filter.test.ts
Due: prettier --write, zig fmt

feat: Implement process.report.getReport() on Windows (#22816)
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/BunProcessReportObjectWindows.cpp
Due: none

Update src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/BunProcess.cpp
Due: none

fix: resolve test failures and add memory cleanup for jsx config
  src/bun.js/api/JSBundler.zig
  src/bundler/bundle_v2.zig
Due: zig fmt

fix: remove 'solid' from jsx.runtime options
  src/bun.js/api/JSBundler.zig
  src/options.zig
Due: zig fmt

Update src/Global.zig
  src/Global.zig
Due: zig fmt

Start using test.concurrent
  test/bundler/cli.test.ts
  test/bundler/compile-windows-metadata.test.ts
  test/bundler/expectBundled.ts
  test/bundler/html-import-manifest.test.ts
  test/cli/init/init.test.ts
  test/cli/install/bun-create.test.ts
  test/cli/install/bun-info.test.ts
  test/cli/install/bun-pm-why.test.ts
  test/cli/install/migration/yarn-lock-migration.test.ts
  test/docker/docker-compose.yml
  test/harness.ts
  test/js/bun/http/bun-serve-html-entry.test.ts
  test/js/bun/http/bun-server.test.ts
  test/js/bun/http/serve.test.ts
  test/js/bun/io/bun-write.test.js
  test/js/bun/net/socket.test.ts
  test/js/bun/s3/s3.test.ts
  test/js/bun/shell/commands/rm.test.ts
  test/js/node/process/process-stdio.test.ts
  test/js/sql/sql-mysql.auth.test.ts
  test/js/sql/sql-mysql.helpers.test.ts
  test/js/sql/sql-mysql.test.ts
  test/js/sql/tls-sql.test.ts
  test/js/web/fetch/fetch-gzip.test.ts
  test/js/web/fetch/fetch.stream.test.ts
  test/js/web/fetch/fetch.test.ts
  test/js/web/fetch/fetch.tls.test.ts
  test/js/web/websocket/websocket.test.js
  test/napi/napi.test.ts
Due: prettier --write

Update async-iterator-stream.test.ts
  test/js/bun/http/async-iterator-stream.test.ts
Due: prettier --write

Fix
  src/bun.js/Debugger.zig
  src/bun.js/VirtualMachine.zig
Due: zig fmt

refactor: move jsxSideEffects from tsconfig to jsx build config (#22665)
  packages/bun-types/bun.d.ts
  src/bun.js/api/JSBundler.zig
  src/bundler/bundle_v2.zig
  src/options.zig
  src/resolver/tsconfig_json.zig
  test/bundler/bundler_jsx.test.ts
  test/bundler/expectBundled.ts
Due: prettier --write, zig fmt

fix(bundler): respect env: "disable" for NODE_ENV during bundling
  src/options.zig
  test/bundler/bundler_env.test.ts
Due: prettier --write, zig fmt

De-slop
  src/http/HTTPThread.zig
Due: zig fmt

don't require start " " in test name pattern
  packages/bun-vscode/src/features/tests/bun-test-controller.ts
Due: prettier --write

actually fix
  packages/bun-vscode/src/features/tests/__tests__/bun-test-controller.test.ts
  packages/bun-vscode/src/features/tests/bun-test-controller.ts
Due: prettier --write

Fix panic when macros return collections with 3+ arrays/objects
  src/ast/Macro.zig
  test/regression/issue/macro-array-objects.test.ts
Due: prettier --write, zig fmt

Fix spurious LSAN errors (#22824)
  src/bun.js/Debugger.zig
  src/bun.js/VirtualMachine.zig
Due: zig fmt

refactor: remove old memory and redis storage impl
  src/queue/storage/memory.zig
  src/queue/storage/redis.zig
Due: zig fmt

build: update zig sources list for queue components
  cmake/sources/ZigSources.txt
Due: none

feat: export queue api in bun.js
  src/bun.js/api.zig
Due: zig fmt

feat: add queue class typescript definitions
  src/bun.js/api/Queue.classes.ts
Due: prettier --write

feat: queue api impl
  src/bun.js/api/queue.zig
Due: zig fmt

feat: add queue exports to object header
  src/bun.js/bindings/BunObject+exports.h
Due: none

feat: impl queue bindings in bun object
  src/bun.js/bindings/BunObject.cpp
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
