Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

add test
  test/bundler/cli.test.ts
Due: prettier --write

Update run docs with new resolution order and windows information
  docs/cli/run.md
Due: prettier --write

more test
  test/bundler/cli.test.ts
Due: prettier --write

dont copy
  src/bundler/bundle_v2.zig
Due: zig fmt

handle edge case for bake
  src/bundler/bundle_v2.zig
  test/bundler/cli.test.ts
Due: prettier --write, zig fmt

add a test for a unicode filename
  test/cli/install/bun-run.test.ts
Due: prettier --write

opsie
  src/bundler/bundle_v2.zig
Due: zig fmt

a
  src/bake/BakeSourceProvider.cpp
  src/bake/DevServer.zig
  src/bake/FrameworkRouter.zig
  src/bake/hmr-module.ts
  src/bake/hmr-runtime-server.ts
  src/bake/package.json
  src/bake/production.zig
  src/bake/um.js
  src/bundler/bundle_v2.zig
  src/codegen/bake-codegen.ts
Due: prettier --write, zig fmt

make it compile
  src/bundler/bundle_v2.zig
Due: zig fmt

missing catch
  src/bundler/bundle_v2.zig
Due: zig fmt

pass prisma test
  src/js_printer.zig
Due: zig fmt

Make parameter const
  src/bun.js/api/ffi.zig
Due: zig fmt

maybe fix test/js/bun/resolve/import-custom-condition.test.ts
  src/cli.zig
  src/cli/run_command.zig
  src/options.zig
Due: zig fmt

fix(bundler) fix pretty path resolution (#15119)
  src/bundler/bundle_v2.zig
  test/bundler/cli.test.ts
Due: prettier --write, zig fmt

#15059 follow-up (#15118)
  src/install/install.zig
Due: zig fmt

Make some global static initializer symbols function scoped
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

Update root_certs.cpp
  packages/bun-usockets/src/crypto/root_certs.cpp
Due: none

address review comments
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/node/util/parse_args.zig
  src/fd.zig
  src/options.zig
Due: zig fmt

these calls were missing the deinit
  src/bun.js/node/node_fs.zig
Due: zig fmt

Update workaround-missing-symbols.cpp
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

pass if-present.test.ts
  src/cli.zig
  src/cli/run_command.zig
Due: zig fmt

[no ci] progress towards esbuild.test.ts
  src/cli/run_command.zig
  src/resolver/resolver.zig
Due: zig fmt

`bun run zig-format`
  src/cli.zig
Due: zig fmt

[skip ci] set limit to 2, find ci failures
  src/bun.js/event_loop.zig
Due: zig fmt

fix(guide): snapshot doc URL and description
  docs/guides/test/snapshot.md
Due: prettier --write

ok
  src/bake/DevServer.zig
  src/bake/FrameworkRouter.zig
  src/bake/bake.zig
  src/bake/incremental_visualizer.html
  src/bake/production.zig
  src/bundler/bundle_v2.zig
Due: prettier --write, zig fmt

compiler errors
  src/bake/DevServer.zig
  src/codegen/bake-codegen.ts
  src/ini.zig
Due: prettier --write, zig fmt

Treat a call to process.exit() inside napi_call_function as if it threw an exception
  src/bun.js/bindings/napi.cpp
Due: none

Fewer global statics
  src/bun.js/bindings/JS2Native.cpp
  src/bun.js/bindings/JSBufferEncodingType.cpp
  src/bun.js/bindings/webcore/WebSocket.cpp
  src/cli/outdated_command.zig
  src/codegen/bundle-functions.ts
  src/codegen/generate-js2native.ts
  src/install/dependency.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/npm.zig
  src/install/repository.zig
  src/resolver/resolver.zig
Due: prettier --write, zig fmt

Undo the previous commit and add a TODO about Web Worker termination
  src/bun.js/bindings/napi.cpp
  src/bun.js/web_worker.zig
Due: zig fmt

fix tests?
  src/bake/FrameworkRouter.zig
  src/bun.js/bindings/bindings.zig
  src/css/values/color_js.zig
  test/bake/framework-router.test.ts
  test/js/node/path/parse-format.test.js
Due: prettier --write, zig fmt

more
  src/bun.js/bindings/webcore/FetchHeaders.cpp
  src/bun.js/bindings/webcore/HTTPHeaderNames.h
  src/bun.js/bindings/webcore/HTTPHeaderStrings.cpp
Due: none

fix test fails
  src/bake/DevServer.zig
  src/bake/production.zig
  src/bun.js/api/server.zig
  src/bun.js/javascript.zig
  src/bundler/bundle_v2.zig
  src/gen_classes_lib.zig
  test/js/bun/http/bun-server.test.ts
Due: prettier --write, zig fmt

fixy
  .vscode/launch.json
  src/bake/BakeGlobalObject.cpp
  src/bake/BakeSourceProvider.cpp
  src/bake/bake.d.ts
  src/bake/bun-framework-react/server.tsx
  src/bake/hmr-runtime-server.ts
  src/bake/incremental_visualizer.html
  src/bake/um.js
Due: prettier --write

Fix beforeOnExit being dispatched multiple times
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/napi.h
  src/bun.js/bindings/napi_external.cpp
  src/bun.js/javascript.zig
Due: zig fmt

test: dont overwrite root package.json when running bun-ipc-inherit.test.ts
  test/js/bun/spawn/bun-ipc-inherit.test.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
