Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

streams: route brotli encode through the work pool unconditionally
  src/js/builtins/TransformStreamInternals.ts
  test/js/web/streams/compression.test.ts
Due: prettier --write

streams: close the engine before enqueueing finish-flush outputs
  src/js/builtins/TransformStreamInternals.ts
  test/js/web/streams/compression.test.ts
Due: prettier --write

streams: route the CompressionStream finish-flush through the work pool
  src/js/builtins/TransformStreamInternals.ts
  test/js/web/streams/compression.test.ts
Due: prettier --write

verify-baseline-static: clamp zero-size PDB symbols to their section contribution
  scripts/verify-baseline-static/src/main.rs
Due: none

test: clarify large-env test guards the contract, not the spawn path
  test/cli/install/bun-run.test.ts
Due: prettier --write

Revert "verify-baseline-static: clamp zero-size PDB symbols to their section contribution"
  scripts/verify-baseline-static/src/main.rs
Due: none

verify-baseline: allowlist llint_entry [AVX] as data-in-.text false positive
  scripts/verify-baseline-static/allowlist-x64-windows.txt
Due: none

sql: expose column type metadata on query results
  docs/runtime/sql.mdx
  packages/bun-types/sql.d.ts
  src/js/internal/sql/mysql.ts
  src/js/internal/sql/postgres.ts
  src/js/internal/sql/shared.ts
  src/sql/mysql/protocol/ColumnDefinition41.rs
  src/sql/postgres/protocol/FieldDescription.rs
  src/sql_jsc/mysql/JSMySQLQuery.rs
  src/sql_jsc/mysql/MySQLConnection.rs
  src/sql_jsc/mysql/MySQLQuery.rs
  src/sql_jsc/mysql/MySQLStatement.rs
  src/sql_jsc/postgres/PostgresSQLConnection.rs
  src/sql_jsc/postgres/PostgresSQLQuery.rs
  src/sql_jsc/postgres/PostgresSQLStatement.rs
  test/js/sql/postgres-result-columns.test.ts
  test/js/sql/sql-mysql-query-string-leak.test.ts
  test/js/sql/sql-mysql.test.ts
  test/js/sql/sql.test.ts
Due: prettier --write

Add tokenmaxxing to default trusted dependencies
  src/install/default-trusted-dependencies.txt
Due: none

docs: add codebase map to CONTRIBUTING.md (#30459)
  CONTRIBUTING.md
Due: prettier --write

Keep the watcher alive when process.exit() is called in --watch/--hot
  src/jsc/VirtualMachine.rs
  src/jsc/bindings/BunProcess.cpp
  src/runtime/cli/run_command.rs
  src/runtime/node/node_process.rs
  test/cli/watch/watch.test.ts
Due: prettier --write

Scope watch process.exit keepalive to `bun run`; drop test timeout
  src/jsc/VirtualMachine.rs
  src/runtime/cli/run_command.rs
  src/runtime/node/node_process.rs
  test/cli/watch/watch.test.ts
Due: prettier --write

Add safe wrappers for brotli, zstd, zlib, and libdeflate (#32637)
  scripts/verify-baseline-static/allowlist-x64-windows.txt
  src/brotli/lib.rs
  src/http/Decompressor.rs
  src/http/HTTPThread.rs
  src/http/InternalState.rs
  src/http/compress_body.rs
  src/http_jsc/websocket_client/WebSocketDeflate.rs
  src/install/extract_tarball.rs
  src/libdeflate_sys/libdeflate.rs
  src/runtime/api/Archive.rs
  src/runtime/api/BunObject.rs
  src/runtime/api/HashObject.rs
  src/runtime/cli/audit_command.rs
  src/runtime/node/node_zlib_binding.rs
  src/standalone_graph/StandaloneModuleGraph.rs
  src/zlib/lib.rs
  src/zstd/lib.rs
  test/js/web/fetch/fetch-gzip.test.ts
Due: prettier --write

Remove DuckDB tests and dependencies from test/package.json (#32633)
  test/bun.lock
  test/js/third_party/@duckdb/node-api/duckdb.test.ts
  test/js/third_party/duckdb/duckdb-basic-usage.test.ts
  test/no-validate-exceptions.txt
  test/no-validate-leaksan.txt
  test/package.json
Due: prettier --write

shell(rm): don't leak ShellRmTask when readdir loop aborts after enqueuing children (#32617)
  src/runtime/shell/builtin/rm.rs
Due: none

sourcemap: static_assert ParseMappingsState layout matches kSt* indices (#32639)
  src/highway/lib.rs
  src/jsc/bindings/highway_sourcemap.cpp
Due: none

Add process.on('memoryPressure') event (#32594)
  packages/bun-types/overrides.d.ts
  src/event_loop/ConcurrentTask.rs
  src/io/posix_event_loop.rs
  src/js/internal-for-testing.ts
  src/jsc/bindings/BunProcess.cpp
  src/jsc/bindings/InternalForTesting.cpp
  src/jsc/bindings/InternalForTesting.h
  src/jsc/rare_data.rs
  src/runtime/dispatch.rs
  src/runtime/node.rs
  src/runtime/node/memory_pressure.rs
  src/sys/lib.rs
  test/js/node/process/process-memory-pressure.test.ts
Due: prettier --write

windows: heap-allocate bunx fast-path environment block (#32644)
  src/dotenv/env_loader.rs
  src/runtime/cli/run_command.rs
  test/cli/install/bun-run.test.ts
Due: prettier --write

watch: clear termination if a beforeExit handler calls process.exit()
  src/runtime/cli/run_command.rs
  test/cli/watch/watch.test.ts
Due: prettier --write

serve: wait for end() when a direct stream's pull() returns synchronously
  src/codegen/generate-jssink.ts
  src/js/builtins/ReadableStreamInternals.ts
  src/runtime/server/RequestContext.rs
  src/runtime/webcore/Sink.rs
  test/js/bun/http/serve-direct-readable-stream.test.ts
  test/js/bun/http/serve-response-stream-sink-leak-fixture.ts
  test/js/bun/http/serve-response-stream-sink-leak.test.ts
  test/js/web/fetch/body-stream.test.ts
Due: prettier --write

watch: scope process.exit keepalive to --watch; don't panic in uncaught_exception
  src/jsc/VirtualMachine.rs
  src/jsc/bindings/BunProcess.cpp
  src/runtime/cli/run_command.rs
  src/runtime/node/node_process.rs
  test/cli/watch/watch.test.ts
Due: prettier --write

Make this a bit safer
  src/codegen/generate-jssink.ts
Due: prettier --write

watch: don't tick with pending termination; handle worker process.exit in uncaught_exception
  src/jsc/VirtualMachine.rs
  src/runtime/cli/run_command.rs
  test/cli/watch/watch.test.ts
Due: prettier --write

Cache options.name in a local before testing it (oxlint no-duplicate-conditional-property-access)
  src/js/node/async_hooks.ts
Due: prettier --write

fetch: release leaked WTFStringImpl refs on proxy href and file:/blob: response url (#32329)
  src/runtime/webcore/fetch.rs
  test/js/web/fetch/fetch-leak.test.ts
Due: prettier --write

Wait for end() when a direct stream's pull() returns synchronously in Bun.serve (#32140)
  src/codegen/generate-jssink.ts
  src/js/builtins/ReadableStreamInternals.ts
  src/runtime/server/RequestContext.rs
  src/runtime/webcore/Sink.rs
  test/js/bun/http/serve-direct-readable-stream.test.ts
  test/js/bun/http/serve-response-stream-sink-leak-fixture.ts
  test/js/bun/http/serve-response-stream-sink-leak.test.ts
  test/js/web/fetch/body-stream.test.ts
Due: prettier --write

watch: refresh stale uncaught_exception reset comment
  src/jsc/VirtualMachine.rs
Due: none

http: simplify write_to_stream_using_buffer tunnel branch
  src/http/lib.rs
Due: none

watch: test that callbacks queued before process.exit() don't resume
  test/cli/watch/watch.test.ts
Due: prettier --write

http2: keep newListener/removeListener in the caller's ALS context
  src/js/node/http2.ts
Due: prettier --write

cppbind.ts: fix dangling resultFilePath reference in CI log line
  src/codegen/cppbind.ts
  src/jsc/bindings/GeneratedBindings.zig
  src/jsc/bindings/GeneratedJS2Native.zig
Due: prettier --write, zig fmt

Remove stale generated .zig files accidentally committed in 07ba891
  src/jsc/bindings/GeneratedBindings.zig
  src/jsc/bindings/GeneratedJS2Native.zig
Due: zig fmt

http: proxy stress test suite + fix streamed upload and on_writable UAF through tunnel (#32635)
  src/http/lib.rs
  test/js/bun/http/proxy-stress-adversarial.test.ts
  test/js/bun/http/proxy-stress-concurrent.test.ts
  test/js/bun/http/proxy-stress-errors.test.ts
  test/js/bun/http/proxy-stress-headers.test.ts
  test/js/bun/http/proxy-stress-helpers.ts
  test/js/bun/http/proxy-stress-lifecycle.test.ts
  test/js/bun/http/proxy-stress-matrix.test.ts
  test/js/bun/http/proxy-stress-memory-fixture.ts
  test/js/bun/http/proxy-stress-protocol.test.ts
Due: prettier --write

crypto: report external memory usage to GC for node:crypto wrapper classes
  src/jsc/bindings/node/crypto/JSCipher.cpp
  src/jsc/bindings/node/crypto/JSCipher.h
  src/jsc/bindings/node/crypto/JSECDH.cpp
  src/jsc/bindings/node/crypto/JSECDH.h
  src/jsc/bindings/node/crypto/JSHash.cpp
  src/jsc/bindings/node/crypto/JSHash.h
  src/jsc/bindings/node/crypto/JSHmac.cpp
  src/jsc/bindings/node/crypto/JSHmac.h
  src/jsc/bindings/node/crypto/JSKeyObject.cpp
  src/jsc/bindings/node/crypto/JSKeyObject.h
  src/jsc/bindings/node/crypto/JSSign.cpp
  src/jsc/bindings/node/crypto/JSSign.h
  src/jsc/bindings/node/crypto/JSVerify.cpp
  src/jsc/bindings/node/crypto/JSVerify.h
  test/js/node/crypto/crypto-extra-memory.test.ts
Due: prettier --write

crypto: clear m_sizeForGC when the native context is released
  src/jsc/bindings/node/crypto/JSCipherPrototype.cpp
  src/jsc/bindings/node/crypto/JSHmac.cpp
  src/jsc/bindings/node/crypto/JSSign.cpp
  src/jsc/bindings/node/crypto/JSVerify.cpp
Due: none
