Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

test --parallel: set JEST_WORKER_ID and BUN_TEST_WORKER_ID per worker (#29413)
  src/cli/test/parallel/Coordinator.zig
  src/cli/test/parallel/Worker.zig
  src/cli/test/parallel/runner.zig
  test/cli/test/parallel.test.ts
Due: prettier --write, zig fmt

test-shard: drop explicit timeout; parallelization keeps it under the default
  test/cli/test/test-shard.test.ts
Due: prettier --write

Add `bun test --shard=M/N` for splitting test files across CI jobs
  completions/bun.zsh
  src/cli.zig
  src/cli/Arguments.zig
  src/cli/test_command.zig
  test/cli/test/test-shard.test.ts
Due: prettier --write, zig fmt

Skip --shard summary when there are no test files to shard
  src/cli/test_command.zig
  test/cli/test/test-shard.test.ts
Due: prettier --write, zig fmt

test-shard: use describe.concurrent, add --randomize composition test
  test/cli/test/test-shard.test.ts
Due: prettier --write

Clarify --randomize composition test: it verifies set equality, not order
  test/cli/test/test-shard.test.ts
Due: prettier --write

test-shard: parallelize subprocess spawns to avoid 5s timeout under ASAN
  test/cli/test/test-shard.test.ts
Due: prettier --write

test --shard: compose with --parallel and JEST_WORKER_ID
  test/cli/test/test-shard.test.ts
Due: prettier --write

Bump WebKit to autobuild-preview-pr-185-309b1951
  scripts/build/deps/webkit.ts
Due: prettier --write

zig: hoist try out of tagged-union literals to avoid partial writes
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/bun/socket/Listener.zig
  src/bun.js/webcore/Body.zig
  src/http/Decompressor.zig
Due: zig fmt

TarballStream: store dest as bun.FD, heap-dupe tmpname; drop unused test param
  src/install/TarballStream.zig
  test/cli/install/bun-install-streaming-extract.test.ts
Due: prettier --write, zig fmt

test-shard: drop timing sleep from --parallel composition test
  test/cli/test/test-shard.test.ts
Due: prettier --write

feat(node:worker_threads): implement markAsUncloneable
  src/bun.js/bindings/webcore/SerializedScriptValue.cpp
  src/bun.js/bindings/webcore/Worker.cpp
  src/bun.js/bindings/webcore/Worker.h
  src/js/builtins/BunBuiltinNames.h
  src/js/node/worker_threads.ts
  test/js/node/worker_threads/markAsUncloneable-undici-regression.test.ts
  test/js/node/worker_threads/markAsUncloneable.test.ts
  test/js/node/worker_threads/worker_threads.test.ts
Due: prettier --write

deps: bump mimalloc to ac2e0d58 (upstream dev3 + crasher fixes) (#29420)
  scripts/build/deps/mimalloc.ts
  test/js/node/process/process.test.js
Due: prettier --write

glob: fix allocator mismatch in finalize and remove dead code (#29381)
  src/bun.js/api/glob.zig
  src/glob/GlobWalker.zig
Due: zig fmt

Fix toMatchSnapshot() with --rerun-each / retry (#29375)
  src/bun.js/test/Execution.zig
  src/bun.js/test/snapshot.zig
  src/cli/test_command.zig
  test/cli/test/rerun-each.test.ts
Due: prettier --write, zig fmt

worker: tie Zig WebWorker lifetime to C++ Worker, drop refs on parent thread
  src/bun.js/bindings/webcore/Worker.cpp
  src/bun.js/bindings/webcore/Worker.h
  src/bun.js/web_worker.zig
  test/js/web/workers/worker-terminate-lifetime.test.ts
Due: prettier --write, zig fmt

worker: document WebWorker lifetime/threading model
  src/bun.js/web_worker.zig
Due: zig fmt

worker: handleRejectedPromises catch return (revert hasTerminationRequest check)
  src/bun.js/bindings/JSGlobalObject.zig
Due: zig fmt

worker: address review comments
  src/bun.js/bindings/JSGlobalObject.zig
  src/bun.js/bindings/VM.zig
  src/bun.js/bindings/webcore/Worker.cpp
  src/bun.js/web_worker.zig
Due: zig fmt

worker: terminate() and process.exit() now interrupt running JS
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/JSGlobalObject.zig
  src/bun.js/bindings/TopExceptionScope.zig
  src/bun.js/bindings/VM.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/web_worker.zig
Due: zig fmt

worker: release parent_poll_ref in notifyNeedTermination
  src/bun.js/web_worker.zig
Due: zig fmt

worker: fix stale comment in WebWorker.exit() about C++ notifyNeedTermination
  src/bun.js/web_worker.zig
Due: zig fmt

worker: post close-event task after mimalloc cleanup in exitAndDeinit
  src/bun.js/bindings/webcore/Worker.cpp
  src/bun.js/web_worker.zig
Due: zig fmt

worker: drop redundant C++ notifyNeedTermination in Process_functionReallyExit
  src/bun.js/bindings/BunProcess.cpp
Due: none

bindings: restore [[ZIG_EXPORT(nothrow)]] on hasTerminationRequest
  src/bun.js/bindings/bindings.cpp
Due: none

worker: post dispatchExit before Loop.shutdown() (revert reorder)
  src/bun.js/bindings/webcore/Worker.cpp
  src/bun.js/web_worker.zig
Due: zig fmt

Add `bun test --shard=M/N` for splitting tests across CI jobs (#29366)
  completions/bun.zsh
  src/cli.zig
  src/cli/Arguments.zig
  src/cli/test_command.zig
  test/cli/test/test-shard.test.ts
Due: prettier --write, zig fmt

TarballStream: use bun.sys directly; restructure drain terminal path
  src/install/TarballStream.zig
Due: zig fmt

fs: bound FileNameLength and check NTSTATUS before IOSB in Windows dir iterator
  src/bun.js/node/dir_iterator.zig
Due: zig fmt

TarballStream: coerce .bun-tag literal to slice for Windows unlinkat
  src/install/TarballStream.zig
Due: zig fmt

fix(tls): race in root certificate initialization
  packages/bun-usockets/src/crypto/root_certs.cpp
  test/js/node/tls/node-tls-root-certs-concurrent-init.test.ts
Due: prettier --write

Address review: missing callers, TCP SO_ERROR, test harness, mysql msg
  packages/bun-usockets/src/context.c
  src/deps/uws/socket.zig
  src/http/websocket_client/WebSocketUpgradeClient.zig
  src/sql/mysql/js/JSMySQLConnection.zig
  test/js/bun/net/unix-connect-backlog-errno.test.ts
Due: prettier --write, zig fmt

test: address review feedback on concurrent-init fixture
  test/js/node/tls/node-tls-root-certs-concurrent-init.test.ts
Due: prettier --write

Also clamp the source read against remaining buf space
  src/bun.js/node/dir_iterator.zig
Due: zig fmt

worker: fix terminate/ref/unref UAF and ~Worker wrong-thread assert (#29395)
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/JSGlobalObject.zig
  src/bun.js/bindings/TopExceptionScope.zig
  src/bun.js/bindings/VM.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/webcore/Worker.cpp
  src/bun.js/bindings/webcore/Worker.h
  src/bun.js/web_worker.zig
  test/js/web/workers/worker-terminate-lifetime.test.ts
Due: prettier --write, zig fmt

fs: fix index-out-of-bounds in Windows readdir iterator (#29425)
  src/bun.js/node/dir_iterator.zig
Due: zig fmt

fix(tls): race in root certificate initialization causing segfault (#29426)
  packages/bun-usockets/src/crypto/root_certs.cpp
  test/js/node/tls/node-tls-root-certs-concurrent-init.test.ts
Due: prettier --write

install: stream tarball extraction from HTTP into libarchive (#29404)
  patches/libarchive/nonblocking-read.patch
  scripts/build/deps/libarchive.ts
  src/env_var.zig
  src/install/NetworkTask.zig
  src/install/PackageManager.zig
  src/install/PackageManager/PackageManagerEnqueue.zig
  src/install/PackageManager/runTasks.zig
  src/install/PackageManagerTask.zig
  src/install/TarballStream.zig
  src/install/extract_tarball.zig
  src/install/install.zig
  src/install/integrity.zig
  src/libarchive/libarchive-bindings.zig
  test/cli/install/bun-install-streaming-extract.test.ts
Due: prettier --write, zig fmt

uws/usockets: fix passphrase_cb overflow, chunked-encoding 1*HEXDIG, SSM, sweep iterator
  packages/bun-usockets/src/bsd.c
  packages/bun-usockets/src/crypto/openssl.c
  packages/bun-usockets/src/loop.c
  packages/bun-uws/src/ChunkedEncoding.h
  packages/bun-uws/src/HttpParser.h
  src/deps/uws/socket.zig
  test/js/bun/http/http-server-chunking.test.ts
  test/js/node/tls/node-tls-server.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
