Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

fix(path): Fix edge case in `path.relative` (#4811)
  src/resolver/resolve_path.zig
  test/js/node/path/path.test.js
Due: prettier --write, zig fmt

make sure epoll is deleted
  src/bun.js/base.zig
  src/bun.js/webcore/streams.zig
Due: zig fmt

fix webpack test
  test/js/third_party/webpack/webpack.test.ts
Due: prettier --write

fix formatting in sveltekit guide
  docs/guides/ecosystem/sveltekit.md
Due: prettier --write

Update gzip.md
  docs/guides/util/gzip.md
Due: prettier --write

Update gzip.md (#5041)
  docs/guides/util/gzip.md
Due: prettier --write

add NODE_TLS_REJECT_UNAUTHORIZED (#4829)
  src/bun.js/webcore/response.zig
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
  src/env_loader.zig
  src/install/install.zig
  test/js/web/fetch/fetch-reject-authorized-env-fixture.js
  test/js/web/fetch/fetch.tls.test.ts
Due: prettier --write, zig fmt

Fix documentation: Node.js supports import remapping through subpath imports / subpath patterns
  docs/runtime/modules.md
Due: prettier --write

add no extraneous accept-encoding header test
  test/js/node/http/node-http.test.ts
Due: prettier --write

ensure fetch honors no decompress opt
  src/http_client_async.zig
Due: zig fmt

fix format on test/js/node/http/node-http.test.ts
  test/js/node/http/node-http.test.ts
Due: prettier --write

file.exists() needs to be awaited to get the value
  docs/guides/read-file/exists.md
Due: prettier --write

Clean up some error handling when loading `tsconfig.json`
  src/resolver/resolver.zig
Due: zig fmt

[bun run] don't parse tsconfig.json for package.json scripts
  src/cli/run_command.zig
  src/options.zig
  src/resolver/resolver.zig
Due: zig fmt

Make this error message better
  src/cli/run_command.zig
Due: zig fmt

fix(JSC): copy string in `toJSStringValueGC`
  src/bun.js/bindings/helpers.h
Due: none

clang and llvm on arch install v16, update to use v15
  docs/project/development.md
Due: prettier --write

Bump
  src/build-id
Due: none

Don't print build errors twice
  src/bun_js.zig
Due: zig fmt

Handle quotes in error messages a little better
  src/resolver/resolver.zig
Due: zig fmt

Add a couple tests
  test/cli/install/bun-run.test.ts
Due: prettier --write

Bun.file replaced with file
  docs/api/http.md
Due: prettier --write

Add missing full stop on nodejs-apis.md
  docs/runtime/nodejs-apis.md
Due: prettier --write

fix(JSC): copy string in `toJSStringValueGC` (#5067)
  src/bun.js/bindings/helpers.h
Due: none

Fix some bugs blocking Turborepo from using `bun run` (#5071)
  src/build-id
  src/bun_js.zig
  src/cli/run_command.zig
  src/options.zig
  src/resolver/resolver.zig
  test/cli/install/bun-run.test.ts
Due: prettier --write, zig fmt

Check that the pid matches
  src/bun.js/api/bun/subprocess.zig
  src/install/install.zig
Due: zig fmt

Fixup EINTR check
  src/bun.js/api/bun/subprocess.zig
Due: zig fmt

Remove extra slashes
  src/bun.js/api/bun/subprocess.zig
Due: zig fmt

fixup
  src/bun.js/api/bun/subprocess.zig
Due: zig fmt

Add failing test for issue #4954
  test/js/node/path/path.test.js
Due: prettier --write

fix(node/path): Return results with toValueGC
  src/bun.js/node/types.zig
Due: zig fmt

remove old broken example. fixed also old but kinda working example
  examples/react-fast-refresh-test/bun.lockb
  examples/react-fast-refresh-test/package.json
  examples/react-fast-refresh-test/public/index.html
  examples/react-fast-refresh-test/src/button.css
  examples/react-fast-refresh-test/src/colors.css
  examples/react-fast-refresh-test/src/components/RenderCounter.tsx
  examples/react-fast-refresh-test/src/components/app.tsx
  examples/react-fast-refresh-test/src/components/button.tsx
  examples/react-fast-refresh-test/src/font.css
  examples/react-fast-refresh-test/src/index.css
  examples/react-fast-refresh-test/src/index.tsx
  examples/react-fast-refresh-test/src/main.tsx
  examples/react-fast-refresh-test/tsconfig.json
Due: prettier --write

fix for reactile system router example
  examples/react-file-system-router/README.md
  examples/react-file-system-router/components/logo-data.ts
  examples/react-file-system-router/components/logo.tsx
  examples/react-file-system-router/index.tsx
  examples/react-file-system-router/package.json
  examples/react-file-system-router/pages/index.tsx
  examples/react-file-system-router/pages/one.tsx
  examples/react-file-system-router/pages/two.tsx
Due: prettier --write

Passed message variable to ws.send() method.
  docs/guides/websocket/compression.md
Due: prettier --write

add http request async iterator test
  test/js/node/http/node-http.test.ts
Due: prettier --write

stop http IncomingMessage early stream destroy()
  src/js/node/http.ts
Due: prettier --write

!= 0
  src/bun.js/api/bun/subprocess.zig
Due: zig fmt

Fix typo in http file upload example
  docs/guides/http/file-uploads.md
Due: prettier --write
