Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

fix: suppress phantom exit callback when spawn fails after creating terminal
  src/bun.js/api/bun/js_bun_spawn_bindings.zig
  src/windows.zig
Due: zig fmt

Make BunBuiltinNames ctor private, fix fresh construction in HTTPParser::execute
  src/bun.js/bindings/node/http/NodeHTTPParser.cpp
  src/js/builtins/BunBuiltinNames.h
Due: none

Also skip lowering `using` in the REPL; update stale comment; add #11100 regression test
  src/bundler/ParseTask.zig
  src/repl.zig
  test/regression/issue/11100.test.ts
Due: prettier --write, zig fmt

shell: fd/memory leak sweep — 70+ fixes across interpreter, IO, states, builtins (#29531)
  src/shell/Builtin.zig
  src/shell/IOReader.zig
  src/shell/IOWriter.zig
  src/shell/ParsedShellScript.zig
  src/shell/builtin/cat.zig
  src/shell/builtin/cp.zig
  src/shell/builtin/mkdir.zig
  src/shell/builtin/mv.zig
  src/shell/builtin/rm.zig
  src/shell/builtin/touch.zig
  src/shell/builtin/which.zig
  src/shell/builtin/yes.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
  src/shell/states/Assigns.zig
  src/shell/states/Async.zig
  src/shell/states/Base.zig
  src/shell/states/Cmd.zig
  src/shell/states/Expansion.zig
  src/shell/states/Pipeline.zig
  src/shell/states/Subshell.zig
  src/shell/subproc.zig
  test/js/bun/shell/leak.test.ts
Due: prettier --write, zig fmt

expect: propagate exception from asymmetricMatch on custom matcher
  src/bun.js/test/expect.zig
  test/js/bun/test/expect-asymmetric-match-throw.test.ts
Due: prettier --write, zig fmt

Add root.h include + optnone to BunBuiltinNames ctor
  src/bun.js/bindings/BunBuiltinNames.cpp
Due: none

Stop forcing *BuiltinFunctions::visit<> instantiation in 404 TUs
  src/bun.js/bindings/BakeAdditionsToGlobalObject.cpp
  src/bun.js/bindings/BakeAdditionsToGlobalObject.h
  src/bun.js/bindings/BunClientData.cpp
  src/bun.js/bindings/BunClientData.h
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/JSBakeResponse.h
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBundlerPlugin.cpp
  src/bun.js/bindings/JSCommonJSModule.cpp
  src/bun.js/bindings/JSEnvironmentVariableMap.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/webcore/InternalWritableStream.cpp
  src/bun.js/bindings/webcore/JSByteLengthQueuingStrategy.cpp
  src/bun.js/bindings/webcore/JSCountQueuingStrategy.cpp
  src/bun.js/bindings/webcore/JSReadableByteStreamController.cpp
  src/bun.js/bindings/webcore/JSReadableStream.cpp
  src/bun.js/bindings/webcore/JSReadableStreamBYOBReader.cpp
  src/bun.js/bindings/webcore/JSReadableStreamBYOBRequest.cpp
  src/bun.js/bindings/webcore/JSReadableStreamDefaultController.cpp
  src/bun.js/bindings/webcore/JSReadableStreamDefaultReader.cpp
  src/bun.js/bindings/webcore/JSTextDecoderStream.cpp
  src/bun.js/bindings/webcore/JSTextEncoderStream.cpp
  src/bun.js/bindings/webcore/JSTransformStream.cpp
  src/bun.js/bindings/webcore/JSTransformStreamDefaultController.cpp
  src/bun.js/bindings/webcore/JSWritableStreamDefaultController.cpp
  src/bun.js/bindings/webcore/JSWritableStreamDefaultWriter.cpp
  src/bun.js/bindings/webcore/ReadableStreamDefaultController.cpp
  src/bun.js/modules/NodeModuleModule.cpp
  src/codegen/bundle-functions.ts
  src/codegen/generate-classes.ts
Due: prettier --write

Use WebKit preview release autobuild-preview-pr-184-497ce8cf
  scripts/build/deps/webkit.ts
Due: prettier --write

esmLoadSync: don't return EvaluatingAsync namespaces or remove pre-existing entries
  src/bun.js/bindings/NodeVMSourceTextModule.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/js/node/vm.ts
  test/js/bun/plugin/plugin-namespace-drive-letter.test.ts
  test/js/bun/resolve/require-esm-microtask-order.test.ts
  test/js/bun/resolve/require-esm-transitive-tla.test.ts
Due: prettier --write

Don't inline single-use `using` / `await using` declarations
  src/ast/visit.zig
  src/repl.zig
  test/js/bun/resolve/lower-using-bun-target.test.ts
Due: prettier --write, zig fmt

fix(Terminal): post-dispose callback suppression, off-thread fallback, clamped cols/rows
  src/bun.js/api/bun/Terminal.zig
Due: zig fmt

Out-of-line BunBuiltinNames ctor, fix accidental copies, drop 69 unused names (#29540)
  src/bun.js/bindings/BunBuiltinNames.cpp
  src/bun.js/bindings/JSBakeResponse.cpp
  src/bun.js/bindings/Path.cpp
  src/bun.js/bindings/node/http/NodeHTTPParser.cpp
  src/js/builtins.d.ts
  src/js/builtins/BunBuiltinNames.h
Due: prettier --write

Stop forcing BuiltinFunctions::visit<> instantiation in every TU (#29542)
  src/bun.js/bindings/BakeAdditionsToGlobalObject.cpp
  src/bun.js/bindings/BakeAdditionsToGlobalObject.h
  src/bun.js/bindings/BunClientData.cpp
  src/bun.js/bindings/BunClientData.h
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/JSBakeResponse.h
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBundlerPlugin.cpp
  src/bun.js/bindings/JSCommonJSModule.cpp
  src/bun.js/bindings/JSEnvironmentVariableMap.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/webcore/InternalWritableStream.cpp
  src/bun.js/bindings/webcore/JSByteLengthQueuingStrategy.cpp
  src/bun.js/bindings/webcore/JSCountQueuingStrategy.cpp
  src/bun.js/bindings/webcore/JSReadableByteStreamController.cpp
  src/bun.js/bindings/webcore/JSReadableStream.cpp
  src/bun.js/bindings/webcore/JSReadableStreamBYOBReader.cpp
  src/bun.js/bindings/webcore/JSReadableStreamBYOBRequest.cpp
  src/bun.js/bindings/webcore/JSReadableStreamDefaultController.cpp
  src/bun.js/bindings/webcore/JSReadableStreamDefaultReader.cpp
  src/bun.js/bindings/webcore/JSTextDecoderStream.cpp
  src/bun.js/bindings/webcore/JSTextEncoderStream.cpp
  src/bun.js/bindings/webcore/JSTransformStream.cpp
  src/bun.js/bindings/webcore/JSTransformStreamDefaultController.cpp
  src/bun.js/bindings/webcore/JSWritableStreamDefaultController.cpp
  src/bun.js/bindings/webcore/JSWritableStreamDefaultWriter.cpp
  src/bun.js/bindings/webcore/ReadableStreamDefaultController.cpp
  src/bun.js/modules/NodeModuleModule.cpp
  src/codegen/bundle-functions.ts
  src/codegen/generate-classes.ts
Due: prettier --write

Preserve `using` through ESM-wrap hoist; don't merge adjacent `using` decls
  src/ast/S.zig
  src/bundler/linker_context/generateCodeForFileInChunkJS.zig
  test/js/bun/resolve/lower-using-bun-target.test.ts
Due: prettier --write, zig fmt

install: global virtual store for isolated linker (7x faster warm installs) (#29489)
  bunfig.toml
  docs/docs.json
  docs/pm/global-store.mdx
  docs/pm/isolated-installs.mdx
  docs/runtime/bunfig.mdx
  src/api/schema.zig
  src/bunfig.zig
  src/fs.zig
  src/install/PackageManager/PackageManagerOptions.zig
  src/install/PackageManager/patchPackage.zig
  src/install/isolated_install.zig
  src/install/isolated_install/FileCloner.zig
  src/install/isolated_install/FileCopier.zig
  src/install/isolated_install/Hardlinker.zig
  src/install/isolated_install/Installer.zig
  src/install/isolated_install/Store.zig
  src/install/isolated_install/Symlinker.zig
  src/install/lockfile/Package.zig
  src/install/npm.zig
  test/bunfig.toml
  test/cli/install/bun-install-patch.test.ts
  test/cli/install/isolated-install.test.ts
  test/harness.ts
Due: prettier --write, zig fmt

test: make 'subprocess can read from terminal' assert + await condition
  test/js/bun/terminal/terminal.test.ts
Due: prettier --write

Avoid resolving 8-bit rope strings in Bun.stringWidth
  src/bun.js/bindings/JSString.zig
  src/bun.js/bindings/bindings.cpp
  src/string.zig
  test/js/bun/util/stringWidth.test.ts
Due: prettier --write, zig fmt

Dedupe browser/node transpiler lowering tests via test.each
  test/js/bun/resolve/lower-using-bun-target.test.ts
Due: prettier --write

build: WebKit-style unified C++ sources (~2.4× faster build-cpp)
  scripts/build.ts
  scripts/build/bun.ts
  scripts/build/config.ts
  scripts/build/flags.ts
  scripts/build/ninja.ts
  scripts/build/unified.ts
  src/bun.js/bindings/AsymmetricKeyValue.h
  src/bun.js/bindings/AsyncContextFrame.cpp
  src/bun.js/bindings/BunClientData.cpp
  src/bun.js/bindings/JSMockFunction.cpp
  src/bun.js/bindings/JSStringDecoder.cpp
  src/bun.js/bindings/NodeVMSourceTextModule.h
  src/bun.js/bindings/node/http/JSConnectionsListConstructor.h
  src/bun.js/bindings/node/http/JSHTTPParserConstructor.h
  src/bun.js/bindings/webcore/JSValueInWrappedObject.h
Due: prettier --write

node:module: drop bulk reifyAllStaticProperties from the synthetic ESM generator
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

Guard const_values DCE against `using`; tighten browser-build assertions
  src/ast/visit.zig
  test/js/bun/resolve/lower-using-bun-target.test.ts
Due: prettier --write, zig fmt

build: bundle 16, unify webcrypto/v8, expand PCH (~4.2× total)
  scripts/build.ts
  scripts/build/flags.ts
  scripts/build/unified.ts
  src/bun.js/bindings/ProcessBindingBuffer.cpp
  src/bun.js/bindings/root.h
  src/bun.js/bindings/v8/V8Context.h
  src/bun.js/bindings/v8/v8_compatibility_assertions.h
Due: prettier --write

build: out-of-line JSHeapData dtor, slim ErrorCode.h includes
  src/bun.js/bindings/BunClientData.cpp
  src/bun.js/bindings/BunClientData.h
  src/bun.js/bindings/ErrorCode.h
Due: none

build: comparator must return 0 for equal basenames
  scripts/build/unified.ts
Due: prettier --write

build: drop empty noUnifyDirs, assert on bundle tag collision
  scripts/build/unified.ts
Due: prettier --write

build: bundle 8 for asan/debug, exclude platform root_certs from bundling
  scripts/build/unified.ts
Due: prettier --write

build: prune stale bundles when --unifiedSources=false; honor fileOverrides .when
  scripts/build/bun.ts
  scripts/build/unified.ts
Due: prettier --write

Trim redundant rope-width comments and tests; fix degenerate fuzz stride
  src/string.zig
  test/js/bun/util/stringWidth.test.ts
Due: prettier --write, zig fmt

fix(Terminal): drop sync ClosePseudoConsole from Thread.spawn fallback
  src/bun.js/api/bun/Terminal.zig
Due: zig fmt

Add CPP_DECL for JSC__JSString__isRope in headers.h
  src/bun.js/bindings/headers.h
Due: none

build: also #undef PROCESS_BINDING_NOT_IMPLEMENTED in ProcessBindingFs.cpp
  src/bun.js/bindings/ProcessBindingFs.cpp
Due: none

test: make drain-callback test assert; gate todoIf(!isWindows)
  test/js/bun/terminal/terminal.test.ts
Due: prettier --write

fix: reject reuse of inline-created terminal for a second spawn
  docs/runtime/child-process.mdx
  src/bun.js/api/bun/Terminal.zig
  src/bun.js/api/bun/js_bun_spawn_bindings.zig
Due: zig fmt

fix: YARR JIT SEGV on regex with aliased parenContextHead slots (#29547)
  test/regression/issue/29547.test.ts
Due: prettier --write

test(29547): drop unconditional stderr assertion, drop weak Prism variant
  test/regression/issue/29547.test.ts
Due: prettier --write

tcp-server.test: bump Windows TCPSocket GC threshold for native `using`
  test/js/bun/net/tcp-server.test.ts
Due: prettier --write

Use merged WebKit a497d596 (oven-sh/WebKit#184)
  scripts/build/deps/webkit.ts
Due: prettier --write

sql: serialize JS arrays in sql(object) as PostgreSQL array literals
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/sql/postgres/PostgresRequest.zig
  src/sql/postgres/PostgresTypes.zig
  src/sql/postgres/types/Tag.zig
  src/sql/postgres/types/array_serializer.zig
  test/regression/issue/29551.test.ts
Due: prettier --write, zig fmt
