Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

expose the stubs [build images]
  src/linker.lds
Due: none

Fix bugs and test more thoroughly
  src/bun.js/bindings/napi.cpp
  test/napi/napi-app/binding.gyp
  test/napi/napi-app/main.cpp
  test/napi/napi-app/module.js
  test/napi/napi-app/napi_with_version.h
  test/napi/napi-app/utils.h
  test/napi/napi-app/wrap_tests.cpp
  test/napi/napi-app/wrap_tests.h
  test/napi/napi.test.ts
Due: prettier --write

resolutions
  src/install/bun.lock.zig
  src/install/install.zig
  src/install/integrity.zig
  src/install/lockfile.zig
  src/install/migration.zig
  src/install/npm.zig
  src/json_parser.zig
Due: zig fmt

test-console-tty-colors
  src/js/builtins/ConsoleObject.ts
  test/js/node/test/parallel/test-console-tty-colors.js
Due: prettier --write

test-console-clear not done
  src/js/builtins/ConsoleObject.ts
Due: prettier --write

Remove failing one
  test/js/node/test/parallel/test-ttywrap-stack.js
Due: prettier --write

test-console-group
  src/js/builtins/ConsoleObject.ts
  test/js/node/test/parallel/test-console-group.js
Due: prettier --write

more error codes
  src/js/builtins/ConsoleObject.ts
Due: prettier --write

test-console-instance & test-console-group
  test/js/node/test/parallel/test-console-group.js
  test/js/node/test/parallel/test-console-instance.js
Due: prettier --write

test-console-instance
  test/js/node/test/parallel/test-console-instance.js
Due: prettier --write

export node externs too [build images]
  src/linker.lds
Due: none

test-console-no-swallow-stack-overflow
  src/js/builtins/ConsoleObject.ts
  test/js/node/test/parallel/test-console-no-swallow-stack-overflow.js
Due: prettier --write

[build images]
  flake.nix
Due: none

[build images]
  scripts/create-nix-amis.mjs
Due: none

ok
  src/codegen/bindgen.ts
Due: prettier --write

test-console-with-frozen-intrinsics
  src/bun.js/bindings/bindings.cpp
  test/js/node/test/parallel/test-console-with-frozen-intrinsics.js
Due: prettier --write

Fix rare crash in bun install (#15651)
  src/install/install.zig
  src/resolver/resolve_path.zig
Due: zig fmt

`bun run clang-format`
  src/bun.js/bindings/JSBundlerPlugin.cpp
  src/bun.js/bindings/JSBundlerPlugin.h
Due: none

Update flake.nix
  flake.nix
Due: none

this test is flaky
  test/js/node/test/parallel/test-http2-large-write-multiple-requests.js
Due: prettier --write

use $err over err.code =
  src/bun.js/bindings/ErrorCode.ts
  src/js/builtins/ConsoleObject.ts
Due: prettier --write

deps: update boringssl
  cmake/targets/BuildBoringSSL.cmake
Due: none

Introduce `--env` and `env` option in Bun.build() and `bun build`
  docs/bundler/index.md
  packages/bun-types/bun.d.ts
  src/bun.js/api/JSBundler.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/cli/build_command.zig
  test/bundler/bundler_env.test.ts
  test/bundler/expectBundled.ts
Due: prettier --write, zig fmt

Clarify
  src/cli.zig
Due: zig fmt

fix windows build
  src/bun.js/node/node_fs.zig
Due: zig fmt

os, cpu, libc
  src/install/bun.lock.zig
  src/install/npm.zig
Due: zig fmt

Fix some warnings
  src/bun.js/bindings/BunClientData.cpp
  src/bun.js/bindings/BunInspector.cpp
  src/bun.js/bindings/BunString.cpp
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/InspectorLifecycleAgent.cpp
  src/bun.js/bindings/InspectorTestReporterAgent.cpp
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSFFIFunction.h
  src/bun.js/bindings/JSPropertyIterator.cpp
  src/bun.js/bindings/Serialization.cpp
  src/bun.js/bindings/ZigSourceProvider.cpp
  src/bun.js/bindings/ZigSourceProvider.h
  src/bun.js/bindings/ffi.cpp
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/helpers.h
  src/bun.js/bindings/napi_handle_scope.cpp
  src/bun.js/bindings/v8/shim/GlobalInternals.h
  src/bun.js/bindings/webcore/PerformanceEntry.h
Due: none

remove usage of flaky glob
  src/codegen/bindgen.ts
Due: prettier --write

fix
  cmake/targets/BuildBoringSSL.cmake
Due: none

Disable by default
  src/cli.zig
  test/bundler/bundler_edgecase.test.ts
Due: prettier --write, zig fmt

[build images]
  scripts/agent.mjs
Due: none

Update bundler_edgecase.test.ts
  test/bundler/bundler_edgecase.test.ts
Due: prettier --write

Update index.md
  docs/bundler/index.md
Due: prettier --write

Add passing node tests (#15675)
  test/js/node/test/parallel/test-dgram-send-cb-quelches-error.js
  test/js/node/test/parallel/test-fs-exists.js
  test/js/node/test/parallel/test-fs-read-file-sync.js
  test/js/node/test/parallel/test-fs-readfile-flags.js
  test/js/node/test/parallel/test-fs-watch-file-enoent-after-deletion.js
Due: prettier --write

Fix tests [build images]
  src/bun.js/bindings/BunProcess.cpp
Due: none

fix test-event-emitter-method-names.js
  src/js/node/events.ts
Due: prettier --write

another test-event-emitter-method-names.js fix
  src/js/node/events.ts
Due: prettier --write
