Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Add `fromJS` helper method to `ComptimeStringMap` and `logLevel` parsing better
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/types.zig
  src/comptime_string_map.zig
  src/logger.zig
  src/options.zig
  test/js/bun/http/bun-server.test.ts
  test/transpiler/transpiler.test.js
Due: prettier --write, zig fmt

Handle holey arrays
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  test/js/web/console/console-log.js
Due: prettier --write, zig fmt

Update console-log.expected.txt
  test/js/web/console/console-log.expected.txt
Due: none

More tests
  test/js/web/console/console-log.expected.txt
  test/js/web/console/console-log.js
Due: prettier --write

Add TODO
  src/js/internal/util/inspect.js
Due: prettier --write

More fixture
  test/js/web/console/console-log.expected.txt
  test/js/web/console/console-log.js
Due: prettier --write

Cleanup some spacing
  src/bun.js/bindings/exports.zig
  test/js/web/console/console-log.js
Due: prettier --write, zig fmt

update
  src/bun.js/bindings/exports.zig
  test/js/web/console/console-log.expected.txt
Due: zig fmt

Update bindings.cpp
  src/bun.js/bindings/bindings.cpp
Due: none

Handle externals in `bun build` from package.json "imports"
  src/bundler/bundle_v2.zig
  src/resolver/resolver.zig
Due: zig fmt

Prevent recursion in Web Worker
  src/bun.js/web_worker.zig
Due: zig fmt

Fix failing test
  src/bun.js/web_worker.zig
  src/bundler/bundle_v2.zig
  src/resolver/resolver.zig
Due: zig fmt

Handle holey arrays in console.log, don't omit `length` property, cleanup `logLevel` option (#7557)
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/node/types.zig
  src/bun.js/web_worker.zig
  src/bundler/bundle_v2.zig
  src/comptime_string_map.zig
  src/js/internal/util/inspect.js
  src/logger.zig
  src/options.zig
  src/resolver/resolver.zig
  test/js/bun/http/bun-server.test.ts
  test/js/web/console/console-log.expected.txt
  test/js/web/console/console-log.js
  test/transpiler/transpiler.test.js
Due: prettier --write, zig fmt

fix: print NaN if value is symbol
  src/bun.js/bindings/exports.zig
Due: zig fmt

fix: coerce f64
  src/bun.js/bindings/exports.zig
Due: zig fmt

feat: add test for console formatter
  test/js/node/console/console.test.ts
Due: prettier --write

chore: remove unused code
  src/bun.js/bindings/exports.zig
Due: zig fmt

create expansion state so it can be non blocking for expansions that need IO (glob, cmd subst)
  src/bun.js/webcore/streams.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
  src/shell/subproc.zig
  src/tagged_pointer.zig
Due: zig fmt

bun-types: add recursive option to readdir/Sync
  packages/bun-types/fs.d.ts
  packages/bun-types/fs/promises.d.ts
Due: prettier --write

Switch to `std.sort.pdq` from `std.sort.block`
  src/bundler/bundle_v2.zig
  src/cli/package_manager_command.zig
  src/cli/test_command.zig
  src/comptime_string_map.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/npm.zig
  src/js_ast.zig
  src/js_parser.zig
  src/js_printer.zig
  src/renamer.zig
  src/resolver/package_json.zig
  src/router.zig
  src/runtime.zig
  src/string_immutable.zig
  src/watcher.zig
Due: zig fmt

Prep for adding path to Dirent
  packages/bun-types/fs.d.ts
  src/bun.js/node/node.classes.ts
  src/bun.js/node/node_fs.zig
  src/bun.js/node/types.zig
Due: prettier --write, zig fmt

bun-types: add recursive option to readdir/Sync (#7568)
  packages/bun-types/fs.d.ts
  packages/bun-types/fs/promises.d.ts
Due: prettier --write

Switch to `std.sort.pdq` from `std.sort.block` (#7574)
  src/bundler/bundle_v2.zig
  src/cli/package_manager_command.zig
  src/cli/test_command.zig
  src/comptime_string_map.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/npm.zig
  src/js_ast.zig
  src/js_parser.zig
  src/js_printer.zig
  src/renamer.zig
  src/resolver/package_json.zig
  src/router.zig
  src/runtime.zig
  src/string_immutable.zig
  src/watcher.zig
Due: zig fmt

polyfills: hono serve rewrite
  packages/bun-polyfills/bun.lockb
  packages/bun-polyfills/package.json
  packages/bun-polyfills/src/global/process.ts
  packages/bun-polyfills/src/modules/bun.ts
  packages/bun-polyfills/src/modules/bun/serve.ts
  packages/bun-polyfills/src/utils/webconv.ts
Due: prettier --write

polyfills: adapt tests for polyfills test runner
  packages/bun-polyfills/src/global/process.ts
  packages/bun-polyfills/src/modules/bun.ts
  test/js/bun/console/console-iterator.test.ts
  test/js/bun/dns/resolve-dns.test.ts
  test/js/bun/ffi/ffi.test.js
  test/js/bun/globals.test.js
  test/js/bun/io/bun-write.test.js
  test/js/bun/jsc/bun-jsc.test.ts
  test/js/bun/net/tcp-server.test.ts
  test/js/bun/resolve/import-meta.test.js
  test/js/bun/spawn/spawn-streaming-stdin.test.ts
  test/js/bun/spawn/spawn-streaming-stdout.test.ts
  test/js/bun/spawn/spawn.test.ts
  test/js/bun/sqlite/sqlite.test.js
  test/js/bun/util/bun-isMainThread.test.js
  test/js/bun/util/filesink.test.ts
  test/js/bun/util/password.test.ts
  test/js/bun/util/peek.test.ts
  test/js/bun/util/reportError.test.ts
  test/js/bun/util/which.test.ts
Due: prettier --write

polyfills: fixes for 1.0.16
  packages/bun-polyfills/src/global/process.ts
  packages/bun-polyfills/src/modules/bun.ts
  test/js/bun/io/bun-write.test.js
  test/js/bun/resolve/import-meta.test.js
Due: prettier --write

run bun fmt
  test/js/bun/ffi/ffi.test.js
  test/js/bun/globals.test.js
  test/js/bun/io/bun-write.test.js
  test/js/bun/jsc/bun-jsc.test.ts
  test/js/bun/net/tcp-server.test.ts
  test/js/bun/resolve/import-meta.test.js
  test/js/bun/spawn/spawn-streaming-stdin.test.ts
  test/js/bun/spawn/spawn.test.ts
  test/js/bun/sqlite/sqlite.test.js
  test/js/bun/util/bun-isMainThread.test.js
  test/js/bun/util/filesink.test.ts
  test/js/bun/util/peek.test.ts
  test/js/bun/util/which.test.ts
Due: prettier --write

fix(types): add "webcrypto" to "node:crypto"
  packages/bun-types/crypto.d.ts
Due: prettier --write

docs: remove unncessary empty line
  docs/api/binary-data.md
Due: prettier --write

chore(types): remove wrong version flag as jsdoc
  packages/bun-types/crypto.d.ts
Due: prettier --write

glob back in action
  src/bun.js/api/bun.zig
  src/bun.js/event_loop.zig
  src/glob.zig
  src/shell/interpreter.zig
Due: zig fmt

compare number with string correctly
  src/install/semver.zig
  test/cli/install/__snapshots__/semver.test.ts.snap
  test/cli/install/semver-fixture.js
  test/cli/install/semver.test.ts
Due: prettier --write, zig fmt

Update semver.zig
  src/install/semver.zig
Due: zig fmt

Upped the `MAX_HEADERS` value
  packages/bun-uws/src/HttpParser.h
Due: none

fix bun-write test
  test/js/bun/io/bun-write.test.js
Due: prettier --write

fix build on the mac
  src/bun.js/node/types.zig
  src/bun.js/webcore/blob.zig
  src/bun.zig
  src/sys.zig
Due: zig fmt

hellooooooooooo
  CMakeLists.txt
  src/cli/install.ps1
Due: none

docs: remove unncessary empty line (#7581)
  docs/api/binary-data.md
Due: prettier --write

install steps
  docs/installation.md
Due: prettier --write

ci for baseline?
  .github/workflows/bun-windows-x64.yml
  scripts/env.ps1
Due: none
