Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

fix(socket) fix error in case of failure/returning a error in the open handler (#10154)
  src/bun.js/api/bun/socket.zig
  src/deps/uws.zig
  test/js/bun/net/socket.test.ts
Due: prettier --write, zig fmt

Revert "fix create with github URL on windows (#10231)" (#10236)
  src/cli/create_command.zig
  src/sys.zig
Due: zig fmt

Better way to check if a directory exists (#10235)
  src/bun.js/node/types.zig
  src/install/install.zig
  src/sys.zig
Due: zig fmt

Allow SSL negotiation for clients (#10239)
  packages/bun-usockets/src/crypto/openssl.c
Due: none

Make Command.Context a pointer (#10237)
  src/bun_js.zig
  src/bunfig.zig
  src/cli.zig
  src/cli/build_command.zig
  src/cli/bunx_command.zig
  src/cli/exec_command.zig
  src/cli/package_manager_command.zig
  src/cli/run_command.zig
  src/install/install.zig
  src/install/windows-shim/bun_shim_impl.zig
  src/shell/interpreter.zig
Due: zig fmt

Fixes #10259 (#10260)
  src/js/node/os.ts
  test/js/node/os/os.test.js
Due: prettier --write

Use internal setup-bun action
  .github/workflows/bun-release-test.yml
  .github/workflows/bun-release.yml
Due: none

feat(SSL_renegociate) (#10256)
  packages/bun-usockets/src/crypto/openssl.c
  packages/bun-usockets/src/internal/internal.h
  packages/bun-usockets/src/libusockets.h
  packages/bun-uws/src/App.h
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/server.zig
  src/bun.js/api/sockets.classes.ts
  src/deps/uws.zig
  src/http.zig
  src/js/node/http.ts
  src/js/node/tls.js
  test/js/node/tls/renegotiation-feature.js
  test/js/node/tls/renegotiation.test.ts
Due: prettier --write, zig fmt

fix path resolution for writeFile in nodefs (#10179)
  src/bun.js/node/node_fs.zig
  test/js/node/fs/fs.test.ts
Due: prettier --write, zig fmt

[doc] Simplify this guide slightly
  docs/guides/ecosystem/neon-serverless-postgres.md
Due: prettier --write

fix(which/windows): ignore file extension case (#10102)
  src/which.zig
  test/js/bun/util/which.test.ts
Due: prettier --write, zig fmt

Correctly handle duplicate column names in sqlite joins (#10285)
  packages/bun-usockets/src/crypto/openssl.c
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

[bun:sqlite] Support `sqlite3_file_control`, better closing behavior, implement Disposable (#10262)
  docs/api/sqlite.md
  packages/bun-types/sqlite.d.ts
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/lazy_sqlite3.h
  src/js/bun/sqlite.ts
  test/js/bun/sqlite/sqlite.test.js
Due: prettier --write

Bump
  CMakeLists.txt
Due: none

Do not run shell tests outside test scope (#10199)
  src/js/private.d.ts
  src/shell/interpreter.zig
  test/js/bun/shell/bunshell.test.ts
  test/js/bun/shell/commands/basename.test.ts
  test/js/bun/shell/commands/dirname.test.ts
  test/js/bun/shell/commands/exit.test.ts
  test/js/bun/shell/commands/false.test.ts
  test/js/bun/shell/commands/mv.test.ts
  test/js/bun/shell/commands/rm.test.ts
  test/js/bun/shell/commands/seq.test.ts
  test/js/bun/shell/commands/true.test.ts
  test/js/bun/shell/env.positionals.test.ts
  test/js/bun/shell/exec.test.ts
  test/js/bun/shell/leak.test.ts
  test/js/bun/shell/lex.test.ts
  test/js/bun/shell/parse.test.ts
  test/js/bun/shell/test_builder.ts
  test/js/bun/shell/util.ts
Due: prettier --write, zig fmt

fix(install): fix dependency install order (#10240)
  src/bun.zig
  src/fmt.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/resolution.zig
  src/resolver/resolver.zig
  src/sys.zig
Due: zig fmt

node: convert remaining js packages to ts (#10289)
  src/js/node/assert.ts
  src/js/node/child_process.ts
  src/js/node/crypto.ts
  src/js/node/diagnostics_channel.ts
  src/js/node/dns.ts
  src/js/node/events.ts
  src/js/node/fs.ts
  src/js/node/net.ts
  src/js/node/punycode.ts
  src/js/node/querystring.ts
  src/js/node/readline.ts
  src/js/node/stream.consumers.ts
  src/js/node/stream.ts
  src/js/node/stream.web.ts
  src/js/node/timers.promises.ts
  src/js/node/timers.ts
  src/js/node/tls.ts
  src/js/node/url.ts
  src/js/node/util.ts
  src/js/node/wasi.ts
  src/js/node/zlib.ts
Due: prettier --write

lint: ban comparing against undefined in Zig (#10288)
  packages/bun-internal-test/src/banned.json
  src/bun.zig
  src/install/semver.zig
Due: zig fmt

Testing workflows (#10157)
  .github/actions/setup-bun/action.yml
  .github/workflows/build-darwin.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/build-zig.yml
  .github/workflows/bun-deploy-site.yml
  .github/workflows/bun-linux-aarch64.yml
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  .github/workflows/bun-release-test.yml
  .github/workflows/bun-types-tests.yml
  .github/workflows/bun-windows.yml
  .github/workflows/ci.yml
  .github/workflows/comment.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/run-format.yml
  .github/workflows/run-lint.yml
  .github/workflows/run-test.yml
  .github/workflows/upload.yml
  Dockerfile
  packages/bun-internal-test/src/runner.node.mjs
Due: none

Fix(windows) search correct path for esbuild(.exe|.cmd) (#10302)
  scripts/make-old-js.ps1
Due: none

Maybe fix Windows tests
  .github/workflows/run-test.yml
Due: none

Probably fix comment workflow
  .github/workflows/comment.yml
Due: none

Fix artifact uploads for canary builds
  .github/workflows/ci.yml
  .github/workflows/upload.yml
Due: none

Update platform.ts to fix isWindowsAVX2 implementation. (#10313)
  packages/bun-release/src/platform.ts
Due: prettier --write

Maybe fix test workflow
  .github/workflows/build-darwin.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/comment.yml
  .github/workflows/run-test.yml
Due: none

Fix comment workflow
  .github/workflows/comment.yml
Due: none

Debug comment workflow
  .github/workflows/comment.yml
Due: none

Fix permissions in workflows
  .github/workflows/comment.yml
  .github/workflows/run-format.yml
  .github/workflows/run-test.yml
  .github/workflows/upload.yml
  packages/bun-internal-test/src/runner.node.mjs
Due: none

Fix permissions in workflows, part 2
  .github/workflows/ci.yml
Due: none

Tweak crash report template
  .github/ISSUE_TEMPLATE/6-crash-report.yml
Due: none

Update 6-crash-report.yml
  .github/ISSUE_TEMPLATE/6-crash-report.yml
Due: none

Tweak comment from PRs
  .github/workflows/build-darwin.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/comment.yml
  .github/workflows/run-test.yml
Due: none

Allow concurrent CI runs on main, but only cancel-in-progress if not-main
  .github/workflows/ci.yml
Due: none

Fix GIT_SHA not being populated in builds
  .github/workflows/build-zig.yml
  .github/workflows/upload.yml
Due: none

Use different GitHub action to download Bun
  .github/workflows/run-test.yml
Due: none

Fix generate comment in CI
  .github/workflows/comment.yml
  packages/bun-internal-test/src/runner.node.mjs
Due: none

Fix generate comment in CI
  .github/workflows/comment.yml
Due: none

Probably fix permissions issues with CI
  .github/workflows/build-darwin.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/build-zig.yml
  .github/workflows/ci.yml
  .github/workflows/comment.yml
  .github/workflows/run-lint.yml
  .github/workflows/run-test.yml
Due: none

Attempt to fix download artifact issue
  .github/workflows/build-darwin.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  .github/workflows/run-test.yml
Due: none
