Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

format properly
  src/cli/audit_command.zig
Due: zig fmt

we should not modify the lockfile in audit
  src/cli/audit_command.zig
Due: zig fmt

almost done
  src/cli/package_manager_command.zig
  src/cli/pm_view_command.zig
  src/install/install.zig
  src/install/npm.zig
Due: zig fmt

fix tests
  test/js/web/fetch/chunked-trailing.test.js
Due: prettier --write

remove only
  test/js/web/fetch/chunked-trailing.test.js
Due: prettier --write

better test
  test/js/web/fetch/chunked-trailing.test.js
Due: prettier --write

Update pm_view_command.zig
  src/cli/pm_view_command.zig
Due: zig fmt

one more
  test/js/web/fetch/chunked-trailing.test.js
Due: prettier --write

more detail
  src/cli/audit_command.zig
Due: zig fmt

rm useless line
  src/cli/audit_command.zig
Due: zig fmt

Sacrifice test-vm-property-not-on-sandbox.js to restore test-vm-global-setter.js
  src/bun.js/bindings/NodeVM.cpp
  test/js/node/test/parallel/test-vm-property-not-on-sandbox.js
Due: prettier --write

Remove test-vm-global-identity.js too
  test/js/node/test/parallel/test-vm-global-identity.js
Due: prettier --write

make it fancier
  src/cli/audit_command.zig
Due: zig fmt

fix(css): preserve angle units like `rad` in `rotate()` during minification
  src/css/values/angle.zig
Due: zig fmt

wip
  src/js/builtins/ProcessObjectInternals.ts
  src/js/internal/worker_threads.ts
  src/js/node/worker_threads.ts
Due: prettier --write

fix the typo found by graphite
  .github/workflows/update-cares.yml
  .github/workflows/update-libarchive.yml
  .github/workflows/update-libdeflate.yml
  .github/workflows/update-lolhtml.yml
  .github/workflows/update-lshpack.yml
  .github/workflows/update-zstd.yml
Due: none

SyntheticModule support
  src/bun.js/bindings/NodeVMModule.cpp
  src/bun.js/bindings/NodeVMModule.h
  src/bun.js/bindings/NodeVMSourceTextModule.cpp
  src/bun.js/bindings/NodeVMSourceTextModule.h
  src/bun.js/bindings/NodeVMSyntheticModule.cpp
  src/bun.js/bindings/NodeVMSyntheticModule.h
  src/js/node/vm.ts
  test/js/node/test/parallel/test-vm-module-synthetic.js
Due: prettier --write

zero-initialize ErrorableResolvedSource.result
  src/bun.js/bindings/JSCommonJSExtensions.cpp
  src/bun.js/bindings/JSCommonJSModule.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

`bun run clang-format`
  src/bun.js/bindings/JSCommonJSExtensions.cpp
Due: none

test-promise-unhandled-silent-no-hook
  src/api/schema.zig
  src/bun.js/VirtualMachine.zig
  src/bun.js/bindings/BunProcess.cpp
  src/cli.zig
  test/js/node/test/parallel/test-promise-unhandled-silent-no-hook.js
Due: prettier --write, zig fmt

tidying
  .buildkite/ci.mjs
  src/js/node/net.ts
  test/internal/ban-words.test.ts
  test/js/node/test/parallel/test-gc-net-timeout.js
  test/js/node/test/parallel/test-net-connect-memleak.js
  test/js/node/test/parallel/test-tls-connect-memleak.js
  test/js/node/tls/node-tls-namedpipes.test.ts
Due: prettier --write

`bun run prettier`
  test/js/node/tls/node-tls-namedpipes.test.ts
Due: prettier --write

delete flaky test-worker-uncaught-exception.js
  test/js/node/test/parallel/test-worker-uncaught-exception.js
Due: prettier --write

WIP test-promises-unhandled-rejections.js
  test/js/node/test/parallel/test-promises-unhandled-rejections.js
Due: prettier --write

add tests for Buffer BigInt bug
  test/js/node/buffer.test.js
Due: prettier --write

alright
  cmake/sources/ZigSources.txt
  src/cli/pm_view_command.zig
  src/js_ast.zig
  test/cli/install/bun-pm-view.test.ts
Due: prettier --write, zig fmt

a
  cmake/sources/CxxSources.txt
  cmake/sources/ZigSources.txt
  src/cli/package_manager_command.zig
  src/cli/why_command.zig
Due: zig fmt

Implement vmIsModuleNamespaceObject
  src/bun.js/bindings/NodeVM.cpp
Due: none

mv
  src/install/lockfile/bun.lock.zig
Due: zig fmt

Split lockfile.zig into many more files
  src/install/install.zig
  src/install/lockfile.zig
  src/install/lockfile/Buffers.zig
  src/install/lockfile/CatalogMap.zig
  src/install/lockfile/OverrideMap.zig
  src/install/lockfile/Package.zig
  src/install/lockfile/Package/Meta.zig
  src/install/lockfile/Package/Scripts.zig
  src/install/lockfile/Package/WorkspaceMap.zig
  src/install/lockfile/Tree.zig
  src/install/lockfile/bun.lockb.zig
  src/install/lockfile/lockfile_json_stringify_for_debugging.zig
  src/install/lockfile/printer/Yarn.zig
  src/install/lockfile/printer/tree_printer.zig
  src/install/migration.zig
Due: zig fmt

glob
  cmake/sources/BakeRuntimeSources.txt
  cmake/sources/BindgenSources.txt
  cmake/sources/BunErrorSources.txt
  cmake/sources/CSources.txt
  cmake/sources/CxxSources.txt
  cmake/sources/JavaScriptCodegenSources.txt
  cmake/sources/JavaScriptSources.txt
  cmake/sources/NodeFallbacksSources.txt
  cmake/sources/ZigGeneratedClassesSources.txt
  cmake/sources/ZigSources.txt
  scripts/glob-sources.mjs
Due: none

Use `operationMathPow` for parser constant folding (#19853)
  src/bun.js/bindings/bindings.cpp
  src/bun.js/jsc.zig
  src/js_parser.zig
  test/bundler/transpiler/runtime-transpiler.test.ts
Due: prettier --write, zig fmt

fix(fetch) ignore trailers and add trailer tests (#19854)
  src/deps/picohttpparser.zig
  src/http.zig
  test/js/web/fetch/chunked-trailing.test.js
Due: prettier --write, zig fmt

a
  src/cli/pm_view_command.zig
  src/output.zig
Due: zig fmt

`bun run prettier`
  test/cli/install/bun-pm-view.test.ts
Due: prettier --write

chore: add glob sources workflow
  .github/workflows/glob-sources.yml
  cmake/sources/CxxSources.txt
  cmake/sources/ZigSources.txt
Due: none

Split lockfile.zig into a more logical directory structure (#19858)
  cmake/sources/BakeRuntimeSources.txt
  cmake/sources/BindgenSources.txt
  cmake/sources/BunErrorSources.txt
  cmake/sources/CSources.txt
  cmake/sources/CxxSources.txt
  cmake/sources/JavaScriptCodegenSources.txt
  cmake/sources/JavaScriptSources.txt
  cmake/sources/NodeFallbacksSources.txt
  cmake/sources/ZigGeneratedClassesSources.txt
  cmake/sources/ZigSources.txt
  scripts/glob-sources.mjs
  src/install/install.zig
  src/install/lockfile.zig
  src/install/lockfile/Buffers.zig
  src/install/lockfile/CatalogMap.zig
  src/install/lockfile/OverrideMap.zig
  src/install/lockfile/Package.zig
  src/install/lockfile/Package/Meta.zig
  src/install/lockfile/Package/Scripts.zig
  src/install/lockfile/Package/WorkspaceMap.zig
  src/install/lockfile/Tree.zig
  src/install/lockfile/bun.lock.zig
  src/install/lockfile/bun.lockb.zig
  src/install/lockfile/lockfile_json_stringify_for_debugging.zig
  src/install/lockfile/printer/Yarn.zig
  src/install/lockfile/printer/tree_printer.zig
  src/install/migration.zig
Due: zig fmt

Update .github/workflows/glob-sources.yml
  .github/workflows/glob-sources.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
