Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

add assertions
  src/string_immutable.zig
Due: zig fmt

fix version stuff
  src/__global.zig
Due: zig fmt

feat(bun/test): Implement "toSatisfy" & "toIncludeRepeated" (fwup) (#3651)
  packages/bun-types/bun-test.d.ts
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/jest.classes.ts
  test/js/bun/test/jest-extended.test.js
Due: prettier --write, zig fmt

Update SIMDUTF
  src/bun.js/bindings/simdutf.cpp
  src/bun.js/bindings/simdutf.h
Due: none

worker tests (#4058)
  packages/bun-types/globals.d.ts
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/webcore/Worker.cpp
  src/js/node/worker_threads.ts
  src/js/out/InternalModuleRegistryConstants.h
  test/js/web/worker-fixture-process-exit.js
  test/js/web/worker.test.ts
Due: prettier --write

make more tests pass
  src/js/out/InternalModuleRegistryConstants.h
  src/js_parser.zig
  test/js/bun/util/main-worker-file.js
Due: prettier --write, zig fmt

feat(bun:test) add support for test.each() and describe.each() (#4047)
  packages/bun-types/bun-test.d.ts
  src/bun.js/test/jest.zig
  test/js/bun/test/jest-each.test.ts
Due: prettier --write, zig fmt

Fix one of the astro segfaults, also fix bun init version (#4079)
  src/__global.zig
  src/string_immutable.zig
Due: zig fmt

bun-polyfills: impl. indexOfLine
  packages/bun-polyfills/src/modules/bun.ts
  packages/bun-polyfills/src/repl.ts
Due: prettier --write

bun-polyfills: impl. Bun.peek.status
  packages/bun-polyfills/src/modules/bun.ts
  packages/bun-polyfills/src/repl.ts
Due: prettier --write

Start time performance improvements to build tools (#3797)
  src/bun.js/bindings/c-bindings.cpp
  src/bun.js/node/fs_events.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/node/node_os.zig
  src/bun.js/node/path_watcher.zig
  src/js/node/os.js
  src/js/out/modules/node/os.js
  src/lock.zig
  src/string_immutable.zig
  src/watcher.zig
  test/js/node/watch/fixtures/relative.js
  test/js/node/watch/fs.watch.test.ts
Due: prettier --write, zig fmt

[fetch] Ignore invalid Content-Encoding header (#3834)
  src/http_client_async.zig
Due: zig fmt

Make readdir() async, fix crash in large directory trees (#3838)
  src/bun.js/base.zig
  src/bun.js/bindings/BunString.cpp
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_binding.zig
  src/bun.js/node/types.zig
  src/js/node/fs.js
  src/js/node/fs.promises.ts
  src/js/out/modules/node/fs.js
  src/js/out/modules/node/fs.promises.js
  test/js/node/fs/fs.test.ts
Due: prettier --write, zig fmt

Enable `Promise.withResolvers()`
  packages/bun-types/globals.d.ts
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: prettier --write

Remove lstat call in fs.watch (#3836)
  src/bun.js/node/node_fs_watcher.zig
Due: zig fmt

Update macro-test.test.ts
  test/transpiler/macro-test.test.ts
Due: prettier --write

Concurrent Transpiler (#3816)
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/bundler.zig
  src/feature_flags.zig
  src/hive_array.zig
Due: zig fmt

Disable concurrent transpiler in macros
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  test/transpiler/macro-test.test.ts
Due: prettier --write, zig fmt

Don't hoist bun plugin in concurrent transpiler
  src/bun.js/module_loader.zig
Due: zig fmt

Fix broken anchors
  bench/hot-module-reloading/css-stress-test/tsconfig.json
  docs/bundler/plugins.md
  docs/bundler/vs-esbuild.md
  docs/cli/run.md
  docs/guides/http/stream-file.md
  docs/runtime/autoimport.md
  docs/runtime/bun-apis.md
  docs/runtime/index.md
  packages/bun-types/tests/fs.test-d.ts
Due: prettier --write

fix decorator and declare (#3828)
  src/js_ast.zig
  src/js_parser.zig
  test/transpiler/decorators.test.ts
Due: prettier --write, zig fmt

[install] handle `workspace:[alias@]range` (#3819)
  src/install/lockfile.zig
  test/cli/install/bun-install.test.ts
Due: prettier --write, zig fmt

Fixes #3795 (#3856)
  bench/snippets/webcrypto.mjs
  src/bun.js/bindings/ScriptExecutionContext.cpp
  src/bun.js/bindings/ScriptExecutionContext.h
  src/bun.js/bindings/webcrypto/CryptoAlgorithm.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmSHA1.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmSHA224.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmSHA256.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmSHA384.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmSHA512.cpp
  test/js/web/crypto/keeps-alive-fixture.js
  test/js/web/crypto/web-crypto.test.ts
Due: prettier --write

Update nodejs-apis.md
  docs/runtime/nodejs-apis.md
Due: prettier --write

Update install.md (#3890)
  docs/cli/install.md
Due: prettier --write

feat(bun/test): Impl. expect().pass() & expect().fail() (#3843)
  packages/bun-types/bun-test.d.ts
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/jest.classes.ts
  test/js/bun/test/jest-extended.test.js
Due: prettier --write, zig fmt

Fix bug with `/path/to/absolute/bun.lockb`
  src/install/lockfile.zig
Due: zig fmt

remove unnecessary move
  src/bun.js/bindings/webcore/JSFetchHeaders.cpp
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

fix(tls) exposes native canonicalizeIP and fix rootCertificates (#3866)
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/deps/c_ares.zig
  src/js/node/tls.js
  src/js/out/modules/node/tls.js
  test/js/node/tls/node-tls-internals.test.ts
  test/js/third_party/prisma/prisma.test.ts
Due: prettier --write, zig fmt

Defer task destruction
  src/bun.js/event_loop.zig
Due: zig fmt

Mark broken test as todo
  test/js/node/child_process/child_process-node.test.js
  test/js/node/harness.ts
Due: prettier --write

Fix coredump when reading an empty file(`node:stream:createReadStream`) (#3882)
  src/bun.js/webcore/streams.zig
  test/js/node/stream/node-stream.test.js
Due: prettier --write, zig fmt

Fix memory leak (#3887)
  src/bun.js/Strong.zig
  src/bun.js/base.zig
  src/bun.js/bindings/JSCTaskScheduler.cpp
  src/bun.js/bindings/ScriptExecutionContext.cpp
  src/bun.js/bindings/ScriptExecutionContext.h
  src/bun.js/bindings/Strong.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/napi.cpp
  src/bun.js/bindings/napi.h
  src/napi/napi.zig
Due: zig fmt

FIx Uint8Array to a ReadableStream code snippet (#3895)
  docs/guides/binary/typedarray-to-readablestream.md
Due: prettier --write

Make readFile() async (#3850)
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_binding.zig
  src/bun.js/node/types.zig
  src/js/node/fs.js
  src/js/node/fs.promises.ts
  src/js/out/modules/node/fs.js
  src/js/out/modules/node/fs.promises.js
  test/js/node/fs/fs.test.ts
  test/js/web/fetch/fetch-leak-test-fixture.js
Due: prettier --write, zig fmt

Bump
  src/build-id
Due: none

Fix assertion failure and possible infinite loop when printing as yarn lock files
  src/install/dependency.zig
  src/install/lockfile.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
