Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

update webkit
  cmake/tools/SetupWebKit.cmake
Due: none

fix: SSLConfig intern/deref race causing segfault in proxy tunnel setup
  packages/bun-usockets/src/crypto/openssl.c
  src/bun.js/api/server/SSLConfig.zig
  test/js/web/fetch/fetch-proxy-tls-intern-race.test.ts
Due: prettier --write, zig fmt

refactor: use Arc/Weak split refcounting for SSLConfig registry
  src/bun.js/api/server/SSLConfig.zig
  src/ptr.zig
  src/ptr/ref_count.zig
Due: zig fmt

Simplify orphan chunk GC: drop edge pre-collection and array compaction
  src/bundler/LinkerContext.zig
  src/bundler/linker_context/computeChunks.zig
Due: zig fmt

test: address review comments on fetch-proxy-tls-intern-race
  test/js/web/fetch/fetch-proxy-tls-intern-race.test.ts
Due: prettier --write

openssl: add NULL guard to add_ca_cert_to_ctx_store for consistency
  packages/bun-usockets/src/crypto/openssl.c
Due: none

fix(test): fix race conditions in next-pages dev-server HMR test
  test/integration/next-pages/test/dev-server-puppeteer.ts
  test/integration/next-pages/test/dev-server.test.ts
Due: prettier --write

fix: await p.reload() and p.goto() to observe rejections
  test/integration/next-pages/test/dev-server-puppeteer.ts
Due: prettier --write

fix(test): disable Puppeteer pipe mode on macOS to prevent TargetCloseError
  test/integration/next-pages/test/dev-server-puppeteer.ts
Due: prettier --write

fix(test): require baseUrl before resolving dev server readiness
  test/integration/next-pages/test/dev-server.test.ts
Due: prettier --write

fix(test): retry Puppeteer browser launch up to 3 times
  test/integration/next-pages/test/dev-server-puppeteer.ts
Due: prettier --write

fix: add findPackageJSON to node:module
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

fix(test): wait for Tailwind CSS to load before checking computed styles
  test/integration/next-pages/test/dev-server-puppeteer.ts
Due: prettier --write

fix: update findPackageJSON to match Node.js API signature
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

fix(build): download baseline WebKit for x64 baseline builds
  cmake/tools/SetupWebKit.cmake
Due: none

fix: add strict validation for findPackageJSON parameters
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

fix(build): fall back to non-baseline WebKit when baseline not available
  cmake/tools/SetupWebKit.cmake
Due: none

fix: validate URL objects and add one-time warning
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

fix: throw error instead of returning undefined
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

fix: use plain Error instead of RangeError
  src/bun.js/modules/NodeModuleModule.cpp
Due: none

fix(install): deduplicate isolated store entries when peer deps resolve to same-named packages
  src/install/isolated_install.zig
  src/install/isolated_install/Store.zig
  test/cli/install/isolated-install.test.ts
Due: prettier --write, zig fmt

fix(blob): don't set size to 0 for non-seekable files in resolveSize()
  src/bun.js/webcore/Blob.zig
  test/regression/issue/27849.test.ts
Due: prettier --write, zig fmt

refactor(test): remove bash dependency from stdin pipe tests
  test/regression/issue/27849.test.ts
Due: prettier --write

refactor(test): extract helper to reduce duplication in stdin tests
  test/regression/issue/27849.test.ts
Due: prettier --write

fix(test): use new headless mode on macOS instead of chrome-headless-shell
  test/integration/next-pages/test/dev-server-puppeteer.ts
Due: prettier --write

feat(cli): add --concurrency flag for `bun run --filter`
  src/cli.zig
  src/cli/Arguments.zig
  src/cli/filter_run.zig
  src/cli/multi_run.zig
Due: zig fmt

fix(windows): null pointer panic in realpathNonNative and readlink
  src/bun.js/node/node_fs.zig
  src/sys_uv.zig
  test/regression/issue/27854.test.ts
Due: prettier --write, zig fmt

test(cli): add tests for --concurrency flag with --filter
  test/cli/run/concurrency-filter.test.ts
Due: prettier --write

test: assert ENOENT error code in sync realpath test
  test/regression/issue/27854.test.ts
Due: prettier --write

fix: use bun.sys.E instead of bun.C.E for Windows compatibility
  src/bun.js/node/node_fs.zig
  src/sys_uv.zig
Due: zig fmt

fix: improve --concurrency help text and handle ordering
  src/cli/Arguments.zig
  src/cli/filter_run.zig
  src/cli/multi_run.zig
Due: zig fmt

fix: prevent skipped group handles from being resurrected by startReadyHandles
  src/cli/multi_run.zig
Due: zig fmt

refactor: deduplicate initial start loop via startReadyHandles()
  src/cli/filter_run.zig
  src/cli/multi_run.zig
Due: zig fmt

Update SetupWebKit.cmake
  cmake/tools/SetupWebKit.cmake
Due: none

Fix ban-words violations and use-after-free in SMTP constructor
  src/smtp/JSSMTPClient.zig
  src/smtp/address_parser.zig
  test/internal/ban-limits.json
Due: zig fmt

fix(valkey): reject in-flight commands on auto-reconnect
  src/valkey/valkey.zig
  test/regression/issue/27861.test.ts
Due: prettier --write, zig fmt

fix(test): address review feedback for reconnect regression test
  test/regression/issue/27861.test.ts
Due: prettier --write
