Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Fixups
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers.h
  src/bun.js/test/expect.zig
  test/cli/test/bun-test.test.ts
  test/js/node/http/node-http.test.ts
Due: prettier --write, zig fmt

Update socket.zig
  src/bun.js/api/bun/socket.zig
Due: zig fmt

Experiment: keep flushing immediate queue
  src/bun.js/event_loop.zig
  src/cli/test_command.zig
Due: zig fmt

maybe
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
Due: prettier --write, zig fmt

wip
  src/js/node/http2.ts
  test/js/third_party/grpc-js/test-server.test.ts
Due: prettier --write

more
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/h2.classes.ts
  src/js/node/http2.ts
  test/js/node/http2/node-http2.test.js
  test/js/third_party/grpc-js/test-server.test.ts
Due: prettier --write, zig fmt

make sure everything is cleanup
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/h2.classes.ts
  src/js/node/http2.ts
Due: prettier --write, zig fmt

more progress
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
Due: prettier --write, zig fmt

more
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
  test/js/node/http2/node-http2.test.js
Due: prettier --write, zig fmt

:D
  src/bun.js/api/bun/h2_frame_parser.zig
  src/js/node/http2.ts
  test/js/node/test/parallel/http2-connect-tls-with-delay.test.js
Due: prettier --write, zig fmt

H2 fixes (#14606)
  src/bun.js/api/bun/h2_frame_parser.zig
  src/bun.js/api/h2.classes.ts
  src/js/node/http2.ts
  test/js/node/http2/node-http2.test.js
  test/js/node/test/parallel/http2-connect-tls-with-delay.test.js
Due: prettier --write, zig fmt

cmake: force the c-ares libdir to always be 'lib' (#14602)
  cmake/targets/BuildCares.cmake
Due: none

jest: print received value when expect().toThrow() doesnt throw (#14608)
  src/bun.js/test/expect.zig
Due: zig fmt

add grpc-js bench (#14601)
  bench/grpc-server/cert.pem
  bench/grpc-server/index.js
  bench/grpc-server/key.pem
  bench/grpc-server/package.json
Due: prettier --write

Fix test
  test/js/bun/http/serve.test.ts
Due: prettier --write

some of the work
  src/bake/DevServer.zig
  src/bake/bake.d.ts
  src/bake/bake.private.d.ts
  src/bake/bun-framework-rsc/server.tsx
  src/bake/hmr-runtime-server.ts
  src/bundler/bundle_v2.zig
Due: prettier --write, zig fmt

update docs
  docs/runtime/nodejs-apis.md
Due: prettier --write

Change sizeof division to std::size
  src/bun.js/bindings/napi.cpp
Due: none

fix process-really-exit.test.js
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/process-really-exit.test.js
Due: prettier --write

fix process-release.test.js
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/process-release.test.js
Due: prettier --write

fix process-chdir.test.js
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/process-chdir.test.js
Due: prettier --write

fix process-cpuusage.test.js
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/process-cpuusage.test.js
Due: prettier --write

fix process-uid-gid.test.js
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ErrorCode.ts
  src/bun.js/bindings/helpers.cpp
  test/js/node/test/parallel/process-uid-gid.test.js
Due: prettier --write

fix process-setgroups.test.js
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/NodeValidator.cpp
  src/bun.js/bindings/NodeValidator.h
  test/js/node/test/parallel/process-setgroups.test.js
Due: prettier --write

fix process-constrained-memory.test.js
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/process-constrained-memory.test.js
Due: prettier --write

add definition for process.availableMemory()
  src/bun.js/bindings/BunProcess.cpp
  test/js/node/test/parallel/process-available-memory.test.js
Due: prettier --write

fix child-process-stdio.test.js
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.h
  src/bun.js/bindings/ErrorCode.ts
  src/js/internal/errors.ts
  src/js/node/child_process.ts
  test/js/node/test/parallel/child-process-stdio.test.js
Due: prettier --write

add tests already passing
  test/js/node/test/parallel/buffer-tojson.test.js
  test/js/node/test/parallel/child-process-windows-hide.test.js
  test/js/node/test/parallel/fs-buffertype-writesync.test.js
  test/js/node/test/parallel/fs-read-zero-length.test.js
Due: prettier --write

fix process-hrtime.test.js
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ErrorCode.cpp
  test/js/node/test/parallel/process-hrtime.test.js
Due: prettier --write

fix regressions
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/ErrorCode.cpp
  test/js/node/process/process.test.js
  test/js/node/test/parallel/process-cpuusage.test.js
  test/js/node/test/parallel/process-exit.test.js
Due: prettier --write

more css
  src/bake/DevServer.zig
  src/bake/bake.d.ts
  src/bake/bake.private.d.ts
  src/bake/enums.ts
  src/bake/hmr-runtime-server.ts
  src/bun.zig
  src/js_ast.zig
Due: prettier --write, zig fmt

fix child-process-windows-hide.test.js running in ci
  test/js/node/test/parallel/child-process-windows-hide.test.js
Due: prettier --write

Move napi_get_value_string_{latin1,utf16} to C++
  src/bun.js/bindings/napi.cpp
Due: none

Set error code in Zig napi functions
  src/napi/napi.zig
Due: zig fmt

it work
  src/bake/DevServer.zig
  src/bake/bake.private.d.ts
Due: prettier --write, zig fmt

Fix napi_create_dataview
  src/bun.js/bindings/napi.cpp
Due: none

fix(bun:test): Filtering of tests defined inside .each
  src/bun.js/test/jest.zig
Due: zig fmt

Fix some missing exception checks in Zig::GlobalObject
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

`fs.mkdir` empty string bugfix (#14510)
  src/bun.js/node/node_fs.zig
  src/sys.zig
  test/cli/run/log-test.test.ts
  test/js/node/fs/fs.test.ts
Due: prettier --write, zig fmt

flush entire immediate queue
  src/bun.js/event_loop.zig
  src/cli/test_command.zig
Due: zig fmt
