Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

push
  .vscode/launch.json
  src/bun.js/javascript.zig
  src/css/writer.zig
  src/kit/KitDevGlobalObject.cpp
Due: zig fmt

bun_kit_graph -> bunKitGraph
  src/js_parser.zig
Due: zig fmt

clairyf comment
  src/bundler/bundle_v2.zig
Due: zig fmt

Support reading from `$HOME/.npmrc` (#13990)
  src/ini.zig
  src/install/install.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

put this comment in a place that makes more sense
  src/bun.js/bindings/NodeValidator.cpp
Due: none

fix the call here, name used to be hardcoded
  src/js/builtins/ProcessObjectInternals.ts
Due: prettier --write

add doc comments for the intended signatures
  src/js/internal/validators.ts
Due: prettier --write

fix validateAbortSignal check
  src/bun.js/bindings/NodeValidator.cpp
Due: none

fix message
  test/js/node/child_process/child_process.test.ts
Due: prettier --write

quick fix while im here
  src/js/node/diagnostics_channel.ts
  test/js/node/diagnostics_channel/diagnostics_channel.test.ts
Due: prettier --write

TaggedPointer assertions and refactoring
  src/bun.js/bindings/v8/V8Data.h
  src/bun.js/bindings/v8/V8EscapableHandleScopeBase.cpp
  src/bun.js/bindings/v8/V8HandleScope.cpp
  src/bun.js/bindings/v8/real_v8.h
  src/bun.js/bindings/v8/shim/FunctionTemplate.cpp
  src/bun.js/bindings/v8/shim/Handle.cpp
  src/bun.js/bindings/v8/shim/Handle.h
  src/bun.js/bindings/v8/shim/TaggedPointer.cpp
  src/bun.js/bindings/v8/shim/TaggedPointer.h
  src/bun.js/bindings/v8/v8_api_internal.cpp
Due: none

fix small leak in node:process.execArgv getter (#14154)
  src/bun.js/node/types.zig
Due: zig fmt

docs: setup-bun action bumped to v2
  docs/cli/install.md
  docs/guides/install/cicd.md
Due: prettier --write

fix Buffer.fill with a non-null empty fill including uninitialized bytes
  src/bun.js/bindings/JSBuffer.cpp
  test/js/node/buffer.test.js
Due: prettier --write

fix Buffer method aliases not being equal to each other
  src/bun.js/bindings/JSBuffer.cpp
Due: none

enhance INVALID_ARG_TYPE and cleanup some node:buffer error handling
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.h
  src/bun.js/bindings/JSBuffer.cpp
Due: none

include code in detached buffer error for Buffer.isUtf8 and Buffer.isAscii
  src/bun.js/modules/NodeBufferModule.h
Due: none

fix MAX_STRING_LENGTH constant value
  src/bun.js/modules/NodeBufferModule.h
  test/js/node/buffer.test.js
Due: prettier --write

add ERR_BUFFER_OUT_OF_BOUNDS to internal/errors
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.h
  src/js/internal/errors.ts
Due: prettier --write

remove duplicate root.h includes
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/Weak.cpp
Due: none

enhance Buffer.from to support (de)serialization roundtrip
  src/js/builtins/JSBufferConstructor.ts
  test/js/node/buffer.test.js
Due: prettier --write

fix review questions and regressions
  src/analytics/analytics_thread.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/event_loop.zig
  src/bundler.zig
  src/bundler/bundle_v2.zig
  src/cli/build_command.zig
  src/js_printer.zig
  src/kit/DevServer.zig
  src/options.zig
  test/bundler/bundler_browser.test.ts
  test/bundler/esbuild/tsconfig.test.ts
Due: prettier --write, zig fmt

delete more code
  src/bundler/bundle_v2.zig
Due: zig fmt

rename
  src/bundler/bundle_v2.zig
Due: zig fmt

once
  src/ci_info.zig
Due: zig fmt

temporarily skip consistently flaky tests
  test/cli/hot/watch.test.ts
  test/cli/watch/watch.test.ts
  test/js/bun/http/fetch-file-upload.test.ts
  test/js/web/fetch/fetch-tcp-stress.test.ts
  test/js/web/streams/streams.test.js
Due: prettier --write

Rewrite crypto.{randomBytes,randomFill} implementation in Zig
  bench/crypto/randomBytes.js
  bench/crypto/randomFill.js
  src/bun.js/node/node_crypto_binding.zig
  src/bun.js/webcore.zig
  src/bun.zig
  src/js/node/crypto.ts
  test/js/node/crypto/crypto-random.test.ts
Due: prettier --write, zig fmt

add req.json leak test (#14191)
  test/js/bun/http/body-leak-test-fixture.ts
  test/js/bun/http/serve-body-leak.test.ts
Due: prettier --write

remove duplicate root.h includes (#14194)
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/Weak.cpp
Due: none

Make v8 stack trace parser code more careful
  src/bun.js/bindings/bindings.cpp
Due: none

Attempt to deflake tcp socket test
  test/js/web/fetch/fetch-tcp-stress.test.ts
  test/js/web/fetch/tcp-socket-leak.test.ts
Due: prettier --write

server manifest winner
  src/bun.js/bindings/bindings.zig
  src/bundler/bundle_v2.zig
  src/fs.zig
  src/http.zig
  src/js_printer.zig
  src/kit/DevServer.zig
  src/kit/KitDevGlobalObject.cpp
  src/kit/hmr-runtime.ts
  src/kit/kit.zig
Due: prettier --write, zig fmt

types: clarified parameter name
  packages/bun-types/bun.d.ts
Due: prettier --write

Support hmac in Bun.CryptoHasher
  packages/bun-types/bun.d.ts
  src/bun.js/api/BunObject.zig
  test/js/bun/util/bun-cryptohasher.test.ts
Due: prettier --write, zig fmt

otp
  src/bun.zig
  src/ci_info.zig
  src/cli.zig
  src/cli/init_command.zig
  src/cli/pack_command.zig
  src/cli/package_manager_command.zig
  src/cli/publish_command.zig
  src/deps/picohttp.zig
  src/fmt.zig
  src/string_immutable.zig
Due: zig fmt

More tests + handle copy correctly
  src/bun.js/api/BunObject.zig
  test/js/bun/util/bun-cryptohasher.test.ts
Due: prettier --write, zig fmt

Update crypto.ts
  src/js/node/crypto.ts
Due: prettier --write

private tarballs
  src/cli/pack_command.zig
  src/cli/publish_command.zig
Due: zig fmt

Update fetch-tcp-stress.test.ts
  test/js/web/fetch/fetch-tcp-stress.test.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
