Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Move semver-related structs into their own files
  src/analytics/analytics_thread.zig
  src/bun.js/api/BunObject.zig
  src/bun.zig
  src/cli/filter_run.zig
  src/cli/pack_command.zig
  src/cli/package_manager_command.zig
  src/cli/pm_trusted_command.zig
  src/install/bin.zig
  src/install/dependency.zig
  src/install/extract_tarball.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/migration.zig
  src/install/npm.zig
  src/install/repository.zig
  src/install/resolution.zig
  src/install/resolvers/folder_resolver.zig
  src/install/semver.zig
  src/install/versioned_url.zig
  src/resolver/package_json.zig
  src/resolver/resolver.zig
  src/semver.zig
  src/semver/ExternalString.zig
  src/semver/SemverObject.zig
  src/semver/SemverQuery.zig
  src/semver/SemverRange.zig
  src/semver/SemverString.zig
  src/semver/SlicedString.zig
  src/semver/Version.zig
Due: zig fmt

zig: only call strlen/wcslen in indexOfSentinel if libc is linked (#16986)
  cmake/tools/SetupZig.cmake
Due: none

Move semver-related structs into their own files (#16987)
  src/analytics/analytics_thread.zig
  src/bun.js/api/BunObject.zig
  src/bun.zig
  src/cli/filter_run.zig
  src/cli/pack_command.zig
  src/cli/package_manager_command.zig
  src/cli/pm_trusted_command.zig
  src/install/bin.zig
  src/install/dependency.zig
  src/install/extract_tarball.zig
  src/install/install.zig
  src/install/lockfile.zig
  src/install/migration.zig
  src/install/npm.zig
  src/install/repository.zig
  src/install/resolution.zig
  src/install/resolvers/folder_resolver.zig
  src/install/semver.zig
  src/install/versioned_url.zig
  src/resolver/package_json.zig
  src/resolver/resolver.zig
  src/semver.zig
  src/semver/ExternalString.zig
  src/semver/SemverObject.zig
  src/semver/SemverQuery.zig
  src/semver/SemverRange.zig
  src/semver/SemverString.zig
  src/semver/SlicedString.zig
  src/semver/Version.zig
Due: zig fmt

only update here once
  src/sql/postgres.zig
Due: zig fmt

we dont need to reset inside advance any more, we also dont need to update ref here since we will unref/ref when onData ends
  src/sql/postgres.zig
Due: zig fmt

we dont need this variable anymore
  src/sql/postgres.zig
Due: zig fmt

opsie
  src/sql/postgres.zig
Due: zig fmt

more cleanup and flags
  src/sql/postgres.zig
Due: zig fmt

more
  src/sql/postgres.zig
Due: zig fmt

nop
  src/sql/postgres.zig
Due: zig fmt

centralize log in debug
  src/sql/postgres.zig
Due: zig fmt

onConnectionTimeout dont mean anything when still processing data
  src/sql/postgres.zig
Due: zig fmt

mark CANCELLED
  src/sql/postgres.zig
Due: zig fmt

dont unref in short reads
  src/sql/postgres.zig
Due: zig fmt

chore: removed envrc from ignore
  .envrc
  .gitignore
Due: none

fix: apple sdk
  flake.lock
  flake.nix
Due: none

test
  src/sql/postgres.zig
Due: zig fmt

:D
  src/sql/postgres.zig
Due: zig fmt

ok ok
  src/sql/postgres.zig
Due: zig fmt

callconv c
  src/bun.js/javascript.zig
Due: zig fmt

convert to utf8 once
  src/bun.js/api/bun/dns_resolver.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/webcore/blob.zig
Due: zig fmt

test
  src/bun.js/webcore/blob.zig
  test/js/bun/util/bun-file.test.ts
Due: prettier --write, zig fmt

missing
  src/bun.js/bindings/bindings.zig
Due: zig fmt

Fix occasional crash starting debugger thread (#16989)
  src/bun.js/javascript.zig
Due: zig fmt

Introduce `bun ./index.html`
  src/bun.js/api/server.zig
  src/bun.js/api/server/HTMLBundle.zig
  src/bun.js/bindings/HTMLEntryPoint.cpp
  src/bun.js/javascript.zig
  src/bun.zig
  src/bun_js.zig
  src/cli.zig
  src/cli/run_command.zig
  src/js/internal/html.ts
  test/js/bun/http/bun-serve-html-entry.test.ts
  test/js/bun/http/bun-serve-html.test.ts
Due: prettier --write, zig fmt

Update html.ts
  src/js/internal/html.ts
Due: prettier --write

its already in seconds
  src/js/internal/html.ts
Due: prettier --write

Fix formatting for extern "c"
  .cursor/rules/javascriptcore-class.mdc
  src/bun.js/api/Timer.zig
  src/bun.js/api/bun/process.zig
  src/bun.js/api/ffi.zig
  src/bun.js/base.zig
  src/bun.js/bindings/CPUFeatures.zig
  src/bun.js/bindings/JSPropertyIterator.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/bun.js/node/path.zig
  src/bun.zig
  src/c.zig
  src/crash_handler.zig
  src/darwin_c.zig
  src/deps/uws.zig
  src/io/io.zig
  src/js_ast.zig
  src/linux_c.zig
  src/main.zig
  src/output.zig
  src/shell/shell.zig
  src/sys.zig
Due: zig fmt

docs(guides): add `.bun-version` to GitHub actions recipe
  docs/guides/install/cicd.md
Due: prettier --write

docs(guides): add recipe for Playwright and GitHub Actions
  docs/guides/runtime/playwright.md
Due: prettier --write

fix: use const
  misctools/features.zig
  misctools/machbench.zig
  misctools/readlink-getfd.zig
  misctools/readlink-realpath.zig
  misctools/tgz.zig
Due: zig fmt

fix: remove unused var
  misctools/readlink-getfd.zig
Due: zig fmt

fix(sql) disable idle timeout when still processing data (#16984)
  src/sql/postgres.zig
  test/js/sql/sql.test.ts
Due: prettier --write, zig fmt

fix 16939 (#16991)
  src/bun.js/api/bun/dns_resolver.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/webcore/blob.zig
  test/js/bun/util/bun-file.test.ts
Due: prettier --write, zig fmt

Fix formatting for extern "c" (#16983)
  .cursor/rules/javascriptcore-class.mdc
  src/bun.js/api/Timer.zig
  src/bun.js/api/bun/process.zig
  src/bun.js/api/ffi.zig
  src/bun.js/base.zig
  src/bun.js/bindings/CPUFeatures.zig
  src/bun.js/bindings/JSPropertyIterator.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/bun.js/node/path.zig
  src/bun.zig
  src/c.zig
  src/crash_handler.zig
  src/darwin_c.zig
  src/deps/uws.zig
  src/io/io.zig
  src/js_ast.zig
  src/linux_c.zig
  src/main.zig
  src/output.zig
  src/shell/shell.zig
  src/sys.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
