Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Address review feedback: leaksan.supp, lldb printers, dev-tooling residuals
  .claude/skills/implementing-jsc-classes-cpp/SKILL.md
  .claude/skills/javascriptcore-garbage-collector/SKILL.md
  .gitattributes
  docs/bundler/esbuild.mdx
  docs/index.mdx
  docs/project/bindgen.mdx
  docs/runtime/index.mdx
  docs/runtime/json5.mdx
  docs/runtime/markdown.mdx
  docs/runtime/shell.mdx
  docs/runtime/yaml.mdx
  misctools/lldb/README.md
  misctools/lldb/bun_pretty_printer.py
  src/bun_bin/lib.rs
  test/js/bun/ffi/ffi.test.fixture.callback.c
  test/js/bun/ffi/ffi.test.fixture.receiver.c
  test/leaksan.supp
Due: prettier --write

Remove gdb pretty-printer sources for deleted misctools/gdb/
  .vscode/launch.json
Due: none

Update README.md and CLAUDE.md: Bun is written in Rust
  CLAUDE.md
  README.md
Due: prettier --write

cargo fmt after rebase
  src/crash_handler/lib.rs
  src/errno/lib.rs
  src/perf/tracy.rs
  src/runtime/cli/Arguments.rs
  src/runtime/cli/run_command.rs
  src/runtime/cli/upgrade_command.rs
  src/runtime/webview/ChromeProcess.rs
  src/spawn/process.rs
  src/spawn_sys/spawn_process.rs
Due: none

Strip residual .zig spec line refs introduced by remove-zig-files refactor
  src/runtime/ffi/ffi_body.rs
  src/runtime/jsc_hooks.rs
Due: none

fix(websocket): clamp close_reason_buf wrote_len to prevent OOB
  src/http_jsc/websocket_client.rs
Due: none

io(windows): remove UB fd-as-uv_handle_t cast in FilePoll::unregister
  src/io/windows_event_loop.rs
Due: none

fix(sourcemap): make InternalSourceMap::free_owned unsafe
  src/jsc/SavedSourceMap.rs
  src/sourcemap/InternalSourceMap.rs
Due: none

docs: document RareData Box allocation invariant for borrow-splitting
  src/http_jsc/websocket_client.rs
  src/jsc/VirtualMachine.rs
Due: none

css: hash full Ref identity in IdentOrRef::hash (closes #30772)
  Cargo.lock
  src/css/values/ident.rs
  src/css_jsc/Cargo.toml
  src/css_jsc/css_internals.rs
  src/js/internal-for-testing.ts
  src/runtime/dispatch_js2native.rs
  test/regression/issue/30772.test.ts
Due: prettier --write

http_jsc: narrow unsafe surface of WebSocketUpgradeClient::connect
  src/http_jsc/websocket_client/WebSocketUpgradeClient.rs
Due: none

fix: restore inner unsafe block for Rust 2024 unsafe_op_in_unsafe_fn
  src/sourcemap/InternalSourceMap.rs
Due: none

test(#30777): cover zero/many-header slice boundaries in WebSocket connect
  test/js/web/websocket/websocket-custom-headers.test.ts
Due: prettier --write

bundler/ThreadPool: use Mutex::new() for static init
  src/bundler/ThreadPool.rs
Due: none

address review: extract macos_vnode_fflags constant, use await using in test
  src/watcher/Watcher.zig
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

watcher: register NOTE_ATTRIB | NOTE_EXTEND | NOTE_REVOKE on macOS
  src/watcher/KEventWatcher.zig
  src/watcher/Watcher.zig
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

test: preserve trailing stdout fragment in stdout read loop
  test/cli/hot/hot.test.ts
Due: prettier --write

watcher: skip metadata-only events in DevServer and hot_reloader dir path
  src/jsc/hot_reloader.zig
  src/runtime/bake/DevServer.zig
Due: zig fmt

address review: fix NOTE_EXTEND test + gate verbose reload log on real change
  src/jsc/hot_reloader.zig
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

watcher: skip metadata-only directory events in DevServer
  src/runtime/bake/DevServer.zig
Due: zig fmt

watcher: map Windows .Added to op.create and .RenamedNew to op.move_to
  src/watcher/WindowsWatcher.zig
Due: zig fmt

dedupe kqueue registration; use truncateSync in test
  src/watcher/Watcher.zig
  test/cli/hot/hot.test.ts
Due: prettier --write, zig fmt

watcher: gate kqueue_vnode_fflags on isKqueue so FreeBSD isn't all-zero
  src/watcher/Watcher.zig
Due: zig fmt

bake-codegen: explicitly JSON.stringify OVERLAY_CSS define; use tempDir for gitconfig fixture
  src/codegen/bake-codegen.ts
  test/js/bun/spawn/sync-spawn-preserves-jsc-signal-handlers.test.ts
Due: prettier --write

threading: drop UB atomic pointer-cast in Batch::pop
  src/threading/ThreadPool.rs
  test/regression/issue/30774.test.ts
Due: prettier --write

bake-codegen: JSON.stringify the OVERLAY_CSS define
  src/codegen/bake-codegen.ts
Due: prettier --write

codegen(bake): quote OVERLAY_CSS define value so it parses as JSON
  src/codegen/bake-codegen.ts
Due: prettier --write

test: move ident-or-ref hash test to test/js/bun/css/
  test/js/bun/css/ident-or-ref-hash.test.ts
Due: prettier --write

lowerDecorators: give each auto-accessor its own WeakMap binding
  src/js_parser/lower/lower_decorators.zig
  src/js_parser/p.zig
  test/bundler/transpiler/es-decorators.test.ts
Due: prettier --write, zig fmt

lowerDecorators: guard accessor key against non-identifier strings
  src/js_parser/lower/lower_decorators.zig
  test/bundler/transpiler/es-decorators.test.ts
Due: prettier --write, zig fmt

lowerDecorators: UTF-16 key guard + counter on private decorated accessor
  src/js_parser/lower/lower_decorators.zig
  test/bundler/transpiler/es-decorators.test.ts
Due: prettier --write, zig fmt

lowerDecorators: separator between key and counter in accessor storage
  src/js_parser/lower/lower_decorators.zig
  test/bundler/transpiler/es-decorators.test.ts
Due: prettier --write, zig fmt

review: drop unused bun_crash_handler dep from bun_spawn; size crash_handler js_bindings object from ENTRIES.len()
  Cargo.lock
  src/runtime/api/crash_handler_jsc.rs
  src/spawn/Cargo.toml
  src/spawn/lib.rs
Due: none

http_jsc: harden WebSocketUpgradeClient::connect against bad slice lengths and null pointer
  src/http_jsc/websocket_client/WebSocketUpgradeClient.rs
Due: none

install: port bun-link honoring to Rust isolated installer
  src/install/PackageManager.rs
  src/install/PackageManager/PackageManagerDirectories.rs
  src/install/isolated_install.rs
  src/install/isolated_install/Installer.rs
  test/cli/install/isolated-install.test.ts
Due: prettier --write

dispatch: compile-time row-count assert + debug-panic on the fs-async wildcard
  src/runtime/dispatch.rs
  test/js/node/fs/fs-async-dispatch-smoke.test.ts
Due: prettier --write

test(bundler): exercise io_thread_pool static MUTEX via BUN_FEATURE_FLAG_FORCE_IO_POOL
  test/regression/issue/30786.test.ts
Due: prettier --write
