Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

test
  src/js/node/http2.ts
Due: prettier --write

check CI IPV6
  test/js/third_party/grpc-js/test-resolver.test.ts
Due: prettier --write

94.36%
  src/js/node/net.ts
  test/js/third_party/grpc-js/test-server-deadlines.test.ts
  test/js/third_party/grpc-js/test-server-errors.test.ts
  test/js/third_party/grpc-js/test-server-interceptors.test.ts
  test/js/third_party/grpc-js/test-server.test.ts
  test/js/third_party/grpc-js/test-server.ts
  test/js/third_party/grpc-js/test-status-builder.test.ts
  test/js/third_party/grpc-js/test-uri-parser.test.ts
  test/js/third_party/grpc-js/test-uri-parser.ts
Due: prettier --write

fixed actually using renamer
  src/js_parser.zig
  src/js_printer.zig
  src/renamer.zig
Due: zig fmt

bun build [file] debug config
  .vscode/launch.json
Due: none

catch unreachable is bad
  src/js_parser.zig
Due: zig fmt

enable iterator-helpers in webkit (#14455)
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

Revert "cleanup output"
  src/Progress.zig
  src/cli/pack_command.zig
  src/cli/package_manager_command.zig
  src/cli/publish_command.zig
  src/http.zig
  src/install/bin.zig
  src/install/install.zig
  src/install/lifecycle_script_runner.zig
Due: zig fmt

revert http revert
  src/http.zig
Due: zig fmt

fix tests
  src/install/install.zig
Due: zig fmt

Fixes #14464
  src/bun.js/bindings/bindings.zig
  src/css/values/color_js.zig
  test/js/bun/css/color.test.ts
Due: prettier --write, zig fmt

Add initial script to bootstrap a build/CI machine
  scripts/bootstrap.sh
Due: none

remove variable
  src/js_parser.zig
Due: zig fmt

Add a couple node tests that are now passing
  test/js/node/test/parallel/fs-buffertype-writesync.test.js
  test/js/node/test/parallel/fs-read-stream-resume.test.js
  test/js/node/test/parallel/fs-read-zero-length.test.js
  test/js/node/test/parallel/fs-realpath-native.test.js
  test/js/node/test/parallel/fs-watch-recursive-delete.test.js
Due: prettier --write

fix hash thing
  src/js_parser.zig
Due: zig fmt

Add some more node tests
  test/js/node/test/parallel/http-hex-write.test.js
  test/js/node/test/parallel/http-keepalive-request.test.js
  test/js/node/test/parallel/http-pipeline-requests-connection-leak.test.js
  test/js/node/test/parallel/http-readable-data-event.test.js
  test/js/node/test/parallel/http-response-remove-header-after-sent.test.js
Due: prettier --write

ok
  build.zig
  src/bake/DevServer.zig
  src/bake/bake.private.d.ts
  src/bake/client/error.ts
  src/bake/hmr-module.ts
  src/bake/hmr-runtime-error.ts
  src/bake/hmr-runtime-server.ts
  src/bake/incremental_visualizer.html
  src/bundler/bundle_v2.zig
  src/codegen/bake-codegen.ts
  src/mimalloc_arena.zig
Due: prettier --write, zig fmt

Fix conversions between napi_value and integers
  src/bun.js/bindings/napi.cpp
  src/napi/napi.zig
  test/napi/napi-app/main.cpp
  test/napi/napi-app/module.js
  test/napi/napi.test.ts
Due: prettier --write, zig fmt

Fix napi_create_array_with_length
  src/napi/napi.zig
  test/napi/napi-app/main.cpp
  test/napi/napi-app/module.js
  test/napi/napi.test.ts
Due: prettier --write, zig fmt

Remove dead code
  src/napi/napi.zig
Due: zig fmt

Add timeout warning
  src/bun.js/api/server.zig
  src/cli.zig
  src/deps/uws.zig
Due: zig fmt

update
  src/cli/pack_command.zig
  src/cli/publish_command.zig
  src/resolver/resolve_path.zig
  src/string_immutable.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

Fixes #14464 (#14473)
  src/bun.js/bindings/bindings.zig
  src/css/values/color_js.zig
  test/js/bun/css/color.test.ts
Due: prettier --write, zig fmt

fix fs-open.test.js (#14311)
  src/bun.js/node/types.zig
  src/bun.js/node/util/validators.zig
  test/js/node/test/parallel/fs-open.test.js
Due: prettier --write, zig fmt

fix fs-non-number-arguments-throw.test.js (#14312)
  src/bun.js/bindings/ErrorCode.cpp
  src/js/node/fs.ts
  test/js/node/test/parallel/fs-non-number-arguments-throw.test.js
Due: prettier --write

enhance Buffer.from to support (de)serialization roundtrip (#14201)
  src/js/builtins/JSBufferConstructor.ts
  test/js/node/buffer.test.js
Due: prettier --write

use getOwn instead of getWithString for table printing
  src/bun.js/ConsoleObject.zig
Due: zig fmt

remove getWithString bindings
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
Due: zig fmt

add test
  test/js/bun/console/__snapshots__/console-table.test.ts.snap
  test/js/bun/console/console-table.test.ts
Due: prettier --write

remove promiseHooks stub; project using this optionally could at lease run
  src/js/node/v8.ts
Due: prettier --write

Implement Bun.inspect.table
  packages/bun-types/bun.d.ts
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/helpers.h
  test/js/bun/console/__snapshots__/bun-inspect-table.test.ts.snap
  test/js/bun/console/bun-inspect-table.test.ts
  test/js/node/util/bun-inspect.test.ts
Due: prettier --write, zig fmt

tests & docs
  docs/api/utils.md
  test/js/bun/console/__snapshots__/bun-inspect-table.test.ts.snap
  test/js/bun/console/bun-inspect-table.test.ts
Due: prettier --write

Fix console.table for numeric keys (#14484)
  src/bun.js/ConsoleObject.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  test/js/bun/console/__snapshots__/console-table.test.ts.snap
  test/js/bun/console/console-table.test.ts
Due: prettier --write, zig fmt

Fix napi_value<=>integer conversions and napi_create_empty_array (#14479)
  src/bun.js/bindings/napi.cpp
  src/napi/napi.zig
  test/napi/napi-app/main.cpp
  test/napi/napi-app/module.js
  test/napi/napi.test.ts
Due: prettier --write, zig fmt

update
  src/cli/pack_command.zig
  src/cli/publish_command.zig
  src/js_ast.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

cleanup
  src/cli/pack_command.zig
Due: zig fmt

read ca and cafile from npmrc
  src/ini.zig
Due: zig fmt

fix typo
  scripts/run-citgm-test.ts
Due: prettier --write

always try to run a file if script name starts with ./
  src/cli/run_command.zig
Due: zig fmt

remove .git from clone urls
  scripts/citgm-items.mjs
Due: none
