Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

expose Bun.Env
  packages/bun-types/bun.d.ts
Due: prettier --write

export bun.Env
  packages/bun-types/bun.d.ts
Due: prettier --write

fix: use import instead namespace access
  packages/bun-types/globals.d.ts
Due: prettier --write

fix(child_process): use import
  packages/bun-types/child_process.d.ts
Due: prettier --write

tests(env): use module instead namespace
  packages/bun-types/tests/env.test-d.ts
Due: prettier --write

Rename this file so we know what it is
  test/bundler/bun-build-api.test.ts
Due: prettier --write

Add more GC in test
  test/cli/run/require-cache-fixture.cjs
Due: none

Fix handling of functions and re-assignments in CommonJS
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/builtins/WebCoreJSBuiltins.cpp
  src/bun.js/builtins/ts/ImportMetaObject.ts
  src/bundler/bundle_v2.zig
Due: prettier --write, zig fmt

Increase timeout
  test/js/bun/websocket/websocket-server.test.ts
Due: prettier --write

Cleanup CommonJS changes (#3112)
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/builtins/WebCoreJSBuiltins.cpp
  src/bun.js/builtins/ts/ImportMetaObject.ts
  src/bundler/bundle_v2.zig
  test/cli/run/require-cache-fixture.cjs
  test/js/bun/websocket/websocket-server.test.ts
Due: prettier --write, zig fmt

Bump
  src/build-id
Due: none

Handle `Object.defineProperty(module, "exports", {get: getter})`
  src/bun.js/bindings/CommonJSModuleRecord.cpp
Due: none

Add a comment
  src/bun.js/bindings/CommonJSModuleRecord.cpp
Due: none

More comments
  src/bun.js/bindings/CommonJSModuleRecord.cpp
Due: none

Fixes #3115
  src/bun.js/module_loader.zig
  src/bundler/entry_points.zig
Due: zig fmt

[CommonJS] Handle `this` better
  src/js_parser.zig
Due: zig fmt

Add another comment
  src/bun.js/bindings/CommonJSModuleRecord.cpp
Due: none

Update node_fs.zig
  src/bun.js/node/node_fs.zig
Due: zig fmt

Move read/write loop to a function
  src/bun.js/node/node_fs.zig
Due: zig fmt

Update comment
  src/bun.js/node/node_fs.zig
Due: zig fmt

Update ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGeneratedClasses.h
Due: none

cleanup
  src/bun.js/bindings/exports.zig
  src/bun.js/test/jest.zig
Due: zig fmt

return before printing if constructor value isn't there
  src/bun.js/bindings/exports.zig
Due: zig fmt

Port changes from https://github.com/WebKit/WebKit/pull/14473
  src/bun.js/builtins/WebCoreJSBuiltins.cpp
  src/bun.js/builtins/ts/ReadableByteStreamInternals.ts
  src/bun.js/builtins/ts/StreamInternals.ts
Due: prettier --write

Fix wasi
  src/linker.zig
Due: zig fmt

Update modules.md
  docs/runtime/modules.md
Due: prettier --write

Introduce `bun test --only`, rename `--run-todo` to `--todo`
  packages/bun-types/bun-test.d.ts
  src/bun.js/test/jest.zig
  src/cli.zig
  src/cli/test_command.zig
  test/cli/test/bun-test.test.ts
Due: prettier --write, zig fmt

Fix bug where Bun.inspect() would emit a Github annotation
  src/bun.js/javascript.zig
  src/bun.js/test/jest.zig
  test/cli/test/bun-test.test.ts
Due: prettier --write, zig fmt

Add fallback for test icons when emojis are not available
  src/cli/test_command.zig
Due: zig fmt

Change status icon for skipped tests from "-" to "»"
  packages/bun-internal-test/runners/bun/runner.ts
  src/cli/test_command.zig
Due: prettier --write, zig fmt

Remove ANSI output from Github annotation, it doesn't work
  src/bun.js/javascript.zig
Due: zig fmt

Show file path instead of filename in `bun test`
  src/cli/test_command.zig
Due: zig fmt

Implement `test.runIf()`
  packages/bun-types/bun-test.d.ts
  src/bun.js/test/jest.zig
  test/js/bun/test/skip-test-fixture.js
  test/js/bun/test/test-test.test.ts
Due: prettier --write, zig fmt

Only check for GITHUB_ACTIONS when running `bun test`
  src/cli/test_command.zig
Due: zig fmt

Add GithubActionFormatter to handle cases where error name or message is already ANSI
  src/bun.js/javascript.zig
  src/bun.zig
  src/string_immutable.zig
  test/cli/test/bun-test.test.ts
Due: prettier --write, zig fmt

Emit collapsable logs when running `bun test` in Github Actions
  src/cli/test_command.zig
  src/output.zig
  test/cli/test/bun-test.test.ts
Due: prettier --write, zig fmt

Move DiffFormatter to its own file
  src/bun.js/test/diff_format.zig
  src/bun.js/test/jest.zig
Due: zig fmt

Add types for TestOptions
  packages/bun-types/bun-test.d.ts
Due: prettier --write

Support vitest-style test options
  src/bun.js/test/jest.zig
  test/js/bun/test/timeout-test-fixture.js
Due: prettier --write, zig fmt

Disable GITHUB_ACTION in test harness
  test/harness.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
