Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

more fine tuning error formatting
  src/bun.js/javascript.zig
Due: zig fmt

Bumped bun-types
  examples/kingworld/package.json
Due: none

fix printing message for thrown non-error objects (#764)
  src/bun.js/javascript.zig
Due: zig fmt

wip
  examples/discord-interactions/package.json
  examples/fetch-http.js
  examples/next/package.json
  misctools/fetch.zig
  misctools/http_bench.zig
  package.json
  src/bun.js/api/bun.zig
  src/bun.js/bindings/webcore/ActiveDOMObject.h
  src/bun.js/event_loop.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/darwin_c.zig
  src/darwin_mach.zig
  src/env_loader.zig
  src/http_client_async.zig
  src/install/install.zig
  src/io/io_darwin.zig
  src/js_lexer.zig
  src/network_thread.zig
  src/node-fallbacks/bun.lockb
  src/thread_pool.zig
Due: prettier --write, zig fmt

[bun.js] Add `enableANSIColorsStdout`
  src/bun.js/api/bun.zig
Due: zig fmt

[bun install] Forgot to commit `isCI` function
  src/env_loader.zig
Due: zig fmt

Downgrade Ubuntu used in `Dockerfile` to hopefully reduce glibc requirement to 2.27
  Dockerfile.base
Due: none

Try with 18.04
  Dockerfile.base
Due: none

Use Node v16 in Dockerfile due to glibc 2.28 requirement
  Dockerfile.base
Due: none

Update Dockerfile
  zig-build/Dockerfile
Due: none

chore(benchmark): fix deno console.log benchmark
  bench/log/.env
  bench/log/deno.mjs
  bench/log/package.json
Due: none

fix(installer): fix assumptions about install directory
  src/cli/install.sh
Due: none

url.js use util_isString
  src/node-fallbacks/url.js
Due: prettier --write

url.js use util_isString (#772)
  src/node-fallbacks/url.js
Due: prettier --write

refactor(installer): remove unnecessary all-matches replace
  src/cli/install.sh
Due: none

Fixes https://github.com/oven-sh/bun/issues/769
  src/bun.js/ffi.exports.js
Due: prettier --write

[js] Fix invalid unicode codepoint in error
  src/bun.js/webcore/response.zig
Due: zig fmt

[js] Set `global` and `self`
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

fix(examples/hono): refine Hono example
  examples/hono/package.json
  examples/hono/readme.md
  examples/hono/src/index.test.ts
  examples/hono/src/index.ts
Due: prettier --write

fixed path
  examples/hono/package.json
Due: none

Don't truncate ascii buffers to 7-bit
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/webcore/encoding.zig
  test/bun.js/buffer.test.js
Due: prettier --write, zig fmt

docs: bunfig scopes to scoped
  README.md
Due: prettier --write

init command configures & creates package.json
  src/cli.zig
  src/cli/init_command.zig
Due: zig fmt

add favicon
  examples/hono/public/favicon.ico
  examples/hono/src/index.ts
Due: prettier --write

fix(installer): fix compatibility with older bash versions
  src/cli/install.sh
Due: none

Update README.md
  examples/react/README.md
Due: prettier --write

add indentation to package.json
  src/cli/init_command.zig
Due: zig fmt

no need to free the string
  src/cli/init_command.zig
Due: zig fmt

use bun's default error handling
  src/cli/init_command.zig
Due: zig fmt

bump examples
  examples/blank/package.json
  examples/bun-bakery/package.json
  examples/discord-interactions/package.json
  examples/hono/package.json
  examples/next/package.json
  examples/react/package.json
  misctools/package.json
  misctools/publish-examples.js
Due: prettier --write

only show benchmark results
  bench/README.md
  bench/log/bun.js
  bench/log/deno.mjs
  bench/log/node.mjs
  bench/log/package.json
  bench/package.json
Due: prettier --write

fix deno console.log benchmark (#771)
  bench/README.md
  bench/log/.env
  bench/log/bun.js
  bench/log/deno.mjs
  bench/log/node.mjs
  bench/log/package.json
  bench/package.json
Due: prettier --write

added mystery-box example macro
  examples/macros/mystery-box.ts
Due: prettier --write

added mystery-box example macro (#787)
  examples/macros/mystery-box.ts
Due: prettier --write

main for module & scripts blank & use bun json handler & remove local err handling
  src/cli/init_command.zig
Due: zig fmt

a few helpful links added to the install.sh and bun --help
  src/cli.zig
  src/cli/install.sh
Due: zig fmt

refactor(installer): change ~/'.bun' to "$HOME/.bun" in configs
  src/cli/install.sh
Due: none

nextjs >= 12.2.2 dev update (new middleware and their router changes)
  examples/next/package.json
  packages/bun-framework-next/client.development.tsx
  packages/bun-framework-next/package.json
Due: prettier --write

fix(api): stop double-free of prop array
  src/bun.js/api/transpiler.zig
  src/bun.js/bindings/exports.zig
Due: zig fmt

CR improvements
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/webcore/encoding.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
