Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

docs: mention native S3Client support for Clever Cloud Cellar Object Storage
  docs/runtime/s3.mdx
Due: none

fix(compile): enable package.json loading by default in compiled executables
  src/bun.js/api/JSBundler.zig
  src/cli.zig
  test/bundler/bundler_compile_autoload.test.ts
Due: prettier --write, zig fmt

fix(cli): canonicalize entry path on Windows so `import.meta.main` is correct
  src/cli/run_command.zig
  test/regression/issue/28279.test.ts
Due: prettier --write, zig fmt

fix(compile): support standalone binaries invoked via dynamic linker
  src/StandaloneModuleGraph.zig
  test/regression/issue/28281.test.ts
Due: prettier --write, zig fmt

fix: address review feedback for standalone dynamic linker fix
  src/StandaloneModuleGraph.zig
  test/regression/issue/28281.test.ts
Due: prettier --write, zig fmt

fix(cron): set working directory to caller's cwd at registration time
  docs/runtime/cron.mdx
  src/bun.js/api/cron.zig
  test/js/bun/cron/cron.test.ts
Due: prettier --write, zig fmt

feat: add block-no-verify PreToolUse hook to .claude/settings.json\n\nCloses #28285
  .claude/settings.json
Due: none

fix(net): server socket loses data when 'data' listener is added asynchronously
  src/js/node/net.ts
  test/js/node/net/net-server-early-data.test.ts
Due: prettier --write

Bun.WebView: ActivationPolicyAccessory + orderFront after setContentView
  src/bun.js/webview/ObjCRuntime.cpp
  src/bun.js/webview/ObjCRuntime.h
  src/bun.js/webview/WebViewHost.cpp
  src/bun.js/webview/host_main.cpp
  test/js/bun/webview/webview.test.ts
Due: prettier --write

Bun.WebView: override -[NSWindow isVisible] in BunHostWindow
  src/bun.js/webview/ObjCRuntime.cpp
  src/bun.js/webview/ObjCRuntime.h
  src/bun.js/webview/WebViewHost.cpp
Due: none

Bun.WebView: Chrome CDP backend — transport, command builder, field scanner
  src/bun.js/api.zig
  src/bun.js/api/bun/process.zig
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/ChromeBackend.h
  src/bun.js/webview/ChromeProcess.zig
Due: zig fmt

Bun.WebView: gate ChromeProcess on non-Windows
  src/bun.js/webview/ChromeProcess.zig
Due: zig fmt

Bun.WebView: CDP pending map routes to JSWebView barrier slots
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/ChromeBackend.h
Due: none

fix(fs): align fs.watch with libuv — stop opening individual files, add IN_ATTRIB, auto-watch new subdirs
  src/Watcher.zig
  src/bun.js/node/path_watcher.zig
  src/watcher/INotifyWatcher.zig
  test/js/node/test/parallel/test-fs-watch-recursive-add-file-to-new-folder.js
  test/js/node/test/parallel/test-fs-watch-recursive-symlink.js
  test/regression/issue/28038.test.ts
Due: prettier --write, zig fmt

Bun.WebView: override -[NSWindow screen] to return mainScreen
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/ChromeBackend.h
  src/bun.js/webview/ChromeProcess.zig
  src/bun.js/webview/JSWebView.cpp
  src/bun.js/webview/JSWebView.h
  src/bun.js/webview/JSWebViewConstructor.cpp
  src/bun.js/webview/JSWebViewPrototype.cpp
  src/bun.js/webview/ObjCRuntime.cpp
  src/bun.js/webview/ObjCRuntime.h
  test/js/bun/webview/webview-chrome.test.ts
Due: prettier --write, zig fmt

Bun.WebView: url constructor option + SIGKILL-on-exit
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/ChromeProcess.zig
  src/bun.js/webview/HostProcess.zig
  src/bun.js/webview/JSWebView.cpp
  src/bun.js/webview/JSWebViewConstructor.cpp
  test/js/bun/webview/webview-chrome.test.ts
  test/js/bun/webview/webview.test.ts
Due: prettier --write, zig fmt

fix(fs): explicitly ref watcher while queued for subdir registration
  src/bun.js/node/path_watcher.zig
Due: zig fmt

Bun.WebView: don't store fd in Zig — usockets owns the socket
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/ChromeBackend.h
  src/bun.js/webview/ChromeProcess.zig
  src/bun.js/webview/HostProcess.zig
  test/js/bun/webview/webview-chrome.test.ts
Due: prettier --write, zig fmt

Bun.WebView: Chrome scroll test rAF-polls scrollY (Playwright pattern)
  src/bun.js/webview/ChromeProcess.zig
  test/js/bun/webview/webview-chrome.test.ts
Due: prettier --write, zig fmt

test: add socket.resume() to tests that never read request data
  test/js/node/http/node-http-connect.test.ts
  test/js/web/fetch/chunked-trailing.test.js
Due: prettier --write

Bun.WebView: fix Playwright shell path, add throttling switches
  src/bun.js/webview/ChromeBackend.h
  src/bun.js/webview/ChromeProcess.zig
  src/bun.js/webview/JSWebView.cpp
  src/bun.js/webview/JSWebView.h
Due: zig fmt

Bun.WebView: zero-copy CDP command serialization when all-ASCII
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/ChromeBackend.h
  src/bun.js/webview/ChromeProcess.zig
  src/bun.js/webview/JSWebView.cpp
  test/js/bun/webview/webview-chrome.test.ts
Due: prettier --write, zig fmt

Bun.WebView: CDP evaluate errors carry V8 stack from exceptionDetails
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/ChromeBackend.h
  src/bun.js/webview/ChromeProcess.zig
  src/bun.js/webview/JSWebView.cpp
  src/bun.js/webview/JSWebView.h
  src/bun.js/webview/JSWebViewConstructor.cpp
  test/js/bun/webview/webview-chrome.test.ts
Due: prettier --write, zig fmt

Bun.WebView: bump large evaluate() payload test to 5MB
  src/bun.js/webview/ChromeBackend.cpp
  test/js/bun/webview/webview.test.ts
Due: prettier --write

Change `.bun_repl_history` path to avoid polluting the home dir.
  src/repl.zig
Due: zig fmt

Bun.WebView: tests use await using instead of try/finally close()
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/JSWebView.cpp
  src/bun.js/webview/JSWebViewPrototype.cpp
  test/js/bun/webview/webview-chrome.test.ts
  test/js/bun/webview/webview.test.ts
Due: prettier --write

fix(fs): schedule subdir registration on WorkPool to avoid Watcher.mutex deadlock
  src/bun.js/node/path_watcher.zig
Due: zig fmt

Bun.WebView Chrome: selector ops, backend options, error stacks
  test/js/bun/webview/webview-chrome.test.ts
Due: prettier --write

fix(fs): address review — isolate extra inotify flags to fs.watch, simplify recursive scan
  src/bun.js/node/path_watcher.zig
  src/watcher/INotifyWatcher.zig
Due: zig fmt

fix unrefPendingDirectory deadlock, remove stderr assertions for ASAN compat
  src/bun.js/node/path_watcher.zig
  test/regression/issue/28038.test.ts
Due: prettier --write, zig fmt

split backend
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/ChromeBackend.h
  src/bun.js/webview/HostProcess.zig
  src/bun.js/webview/JSWebView.cpp
  src/bun.js/webview/JSWebView.h
  src/bun.js/webview/WebKitBackend.cpp
  src/bun.js/webview/WebKitBackend.h
Due: zig fmt

fix race in _registerNewSubdirectory: remove unsafe pop on _addDirectory failure
  src/bun.js/node/path_watcher.zig
Due: zig fmt

Bun.WebView Chrome: press() via dispatchKeyEvent, goBack/goForward via history chain
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/ChromeBackend.h
  src/bun.js/webview/JSWebView.h
Due: none

fix(install): allow `--frozen-lockfile` on pruned monorepo workspaces
  src/install/PackageManager/install_with_manager.zig
  src/install/lockfile/Package.zig
  test/regression/issue/026973.test.ts
Due: prettier --write, zig fmt

fix(fs): handle race where dir is replaced by file between readdir and open
  src/bun.js/node/path_watcher.zig
Due: zig fmt

Bun.WebView: WTF::JSON for CDP parsing, goBack/goForward naming, modifier aliases
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/JSWebViewPrototype.cpp
  test/js/bun/webview/webview-chrome.test.ts
Due: prettier --write

fix(fs): add directory-only resolver so subdir discovery never opens files
  src/bun.js/node/path_watcher.zig
Due: zig fmt

Bun.WebView: console capture — ConsoleClient direct + custom callback
  src/bun.js/webview/ChromeBackend.cpp
  src/bun.js/webview/JSWebView.cpp
  src/bun.js/webview/JSWebView.h
  src/bun.js/webview/JSWebViewConstructor.cpp
  test/js/bun/webview/webview-chrome.test.ts
Due: prettier --write

Bun.WebView: WebKit console capture via WKScriptMessageHandler
  src/bun.js/webview/ObjCRuntime.cpp
  src/bun.js/webview/ObjCRuntime.h
  src/bun.js/webview/WebKitBackend.cpp
  src/bun.js/webview/WebViewHost.cpp
  src/bun.js/webview/WebViewHost.h
  src/bun.js/webview/ipc_protocol.h
  test/js/bun/webview/webview.test.ts
Due: prettier --write

Bun.WebView: .d.ts for backend/url/console options
  packages/bun-types/bun.d.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
