Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

fix Buffer method aliases not being equal to each other (#14198)
  src/bun.js/bindings/JSBuffer.cpp
Due: none

add new passing tests
  test/js/node/test/parallel/buffer-bytelength.test.js
  test/js/node/test/parallel/buffer-compare-offset.test.js
  test/js/node/test/parallel/buffer-compare.test.js
  test/js/node/test/parallel/buffer-no-negative-allocation.test.js
  test/js/node/test/parallel/buffer-slow.test.js
  test/js/node/test/parallel/buffer-tostring-rangeerror.test.js
  test/js/node/test/parallel/buffer-tostring.test.js
  test/js/node/test/parallel/buffer-write.test.js
Due: prettier --write

Tweak how we do symbol versioning for glibc (#14272)
  cmake/targets/BuildBun.cmake
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

notices
  src/bun.js/bindings/bindings.zig
  src/cli/create_command.zig
  src/cli/publish_command.zig
  src/deps/picohttp.zig
  src/http.zig
  src/http/websocket_http_client.zig
  src/install/npm.zig
  src/output.zig
Due: zig fmt

some tests
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

test for notice
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

update
  docs/cli/publish.md
Due: prettier --write

udpate
  docs/cli/publish.md
Due: prettier --write

fix buffer-tostring-range.test.js
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBufferEncodingType.cpp
  src/bun.js/bindings/JSBufferEncodingType.h
  test/js/node/test/parallel/buffer-tostring-range.test.js
Due: prettier --write

add docs for `bun publish` (#14327)
  docs/cli/publish.md
  docs/nav.ts
  src/bun.js/bindings/bindings.zig
  src/cli/create_command.zig
  src/cli/publish_command.zig
  src/deps/picohttp.zig
  src/http.zig
  src/http/websocket_http_client.zig
  src/install/install.zig
  src/install/npm.zig
  src/output.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

test for ci names in user agent
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

Update bun-install-registry.test.ts
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write

Update `@types/node` dependency version
  bun.lockb
  packages/bun-types/package.json
Due: none

Update @types/node to `~22.5.5` in `bun-types`
  bun.lockb
  packages/bun-types/package.json
Due: none

Grab the latest 22.x of `@types/node`
  bun.lockb
  packages/bun-types/package.json
Due: none

docs: fix typo in `bun publish`
  docs/cli/publish.md
Due: prettier --write

remove slow filesystem from stderr
  test/cli/install/registry/bun-install-registry.test.ts
  test/harness.ts
Due: prettier --write

docs: fix typo in `bun publish` (#14334)
  docs/cli/publish.md
Due: prettier --write

IT'S URL IMPORT BUNDLIN' TIME
  src/bundler/bundle_v2.zig
  src/css/values/url.zig
  src/js_ast.zig
Due: zig fmt

missed one
  src/bake/bake.zig
Due: zig fmt

ignore notice
  src/cli/publish_command.zig
  src/deps/picohttp.zig
  test/cli/install/registry/bun-install-registry.test.ts
Due: prettier --write, zig fmt

enable those
  src/css/properties/border.zig
  src/css/properties/generate_properties.ts
  src/css/properties/properties_generated.zig
Due: prettier --write, zig fmt

Document u64_fast/i64_fast
  docs/api/ffi.md
Due: prettier --write

Add missing types to FFI.h
  src/bun.js/api/FFI.h
Due: none

Add ability to put breakpoints in FFI.h
  src/bun.js/api/FFI.h
  src/bun.js/api/ffi.zig
Due: zig fmt

Fix memset/memcpy return value and test new implementations from bun cc
  src/bun.js/api/ffi.zig
  test/js/bun/ffi/cc-fixture.c
  test/js/bun/ffi/cc-fixture.js
Due: prettier --write, zig fmt

Fix numeric limits in FFI.h
  src/bun.js/api/FFI.h
Due: none

Add test for compile error with bun cc
  test/js/bun/ffi/cc-compile-error-fixture.c
  test/js/bun/ffi/cc-fixture.js
Due: prettier --write

Rewrite much of the ffi test
  Makefile
  test/js/bun/ffi/.gitignore
  test/js/bun/ffi/ffi-test.c
  test/js/bun/ffi/ffi.test.fixture.callback.c
  test/js/bun/ffi/ffi.test.fixture.receiver.c
  test/js/bun/ffi/ffi.test.js
Due: prettier --write

test: add missing vm.runInContext stubs
  test/js/node/vm/vm.test.ts
Due: prettier --write

Fix tsfn finalizers
  src/bun.js/event_loop.zig
  src/napi/napi.zig
Due: zig fmt

use a meh fix to fix the symbol collision
  src/js_parser.zig
Due: zig fmt

test
  test/cli/run/fragment.tsx
  test/cli/run/jsx-collision.tsx
  test/cli/run/jsx-symbol-collision.test.ts
Due: prettier --write

Add some tests
  src/bundler/bundle_v2.zig
  src/css/css_parser.zig
  src/css/error.zig
  src/css/properties/background.zig
  src/css/properties/generate_properties.ts
  src/css/properties/properties_generated.zig
  test/bundler/esbuild/css.test.ts
Due: prettier --write, zig fmt

`bun run zig-format`
  src/css/css_parser.zig
Due: zig fmt

feat(bake): implement edges in IncrementalGraph
  src/bake/DevServer.zig
  src/bake/bake.private.d.ts
  src/bake/bake.zig
  src/bake/client/reader.ts
  src/bake/client/route.ts
  src/bake/error.template.html
  src/bake/hmr-module.ts
  src/bake/hmr-protocol.md
  src/bake/hmr-runtime-client.ts
  src/bake/hmr-runtime-server.ts
  src/bake/text-decoder.ts
  src/bun.zig
  src/bundler/bundle_v2.zig
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
