Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

Update BoringSSL, add SHA3 to WebCrypto and node:crypto (#29323)
  scripts/build/deps/boringssl.ts
  scripts/verify-baseline-static/allowlist-x64.txt
  src/bun.js/api/crypto/CryptoHasher.zig
  src/bun.js/api/crypto/EVP.zig
  src/bun.js/api/crypto/PBKDF2.zig
  src/bun.js/bindings/AsymmetricKeyValue.cpp
  src/bun.js/bindings/webcore/SerializedScriptValue.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmHMAC.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmIdentifier.h
  src/bun.js/bindings/webcrypto/CryptoAlgorithmRSASSA_PKCS1_v1_5.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmRSA_OAEP.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmRSA_PSS.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmRegistryOpenSSL.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmSHA3.cpp
  src/bun.js/bindings/webcrypto/CryptoAlgorithmSHA3.h
  src/bun.js/bindings/webcrypto/CryptoDigest.cpp
  src/bun.js/bindings/webcrypto/CryptoDigest.h
  src/bun.js/bindings/webcrypto/CryptoKeyHMAC.cpp
  src/bun.js/bindings/webcrypto/OpenSSLUtilities.cpp
  src/bun.js/bindings/webcrypto/SubtleCrypto.cpp
  src/deps/boringssl.translated.zig
  test/js/bun/util/bun-cryptohasher.test.ts
  test/js/node/process/process.test.js
  test/js/web/crypto/web-crypto-sha3.test.ts
Due: prettier --write, zig fmt

test: run path.win32.resolve UNC/drive-relative regression on all platforms
  test/js/node/path/resolve.test.js
Due: prettier --write

http: ref-count custom SSL contexts so eviction skips in-flight ones (#29334)
  src/http.zig
  src/http/HTTPContext.zig
  src/http/HTTPThread.zig
  test/js/bun/http/fetch-abort-ssl-context-eviction.test.ts
Due: prettier --write, zig fmt

test: add --isolate to run each file in a fresh GlobalObject
  docs/dev/isolated-parallel-test.md
  src/bun.js/VirtualMachine.zig
  src/bun.js/api/Timer/TimerObjectInternals.zig
  src/bun.js/bindings/JSGlobalObject.zig
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/cli.zig
  src/cli/Arguments.zig
  src/cli/test_command.zig
  test/cli/test/isolation.test.ts
Due: prettier --write, zig fmt

test --isolate: inherit ScriptExecutionContext identifier on swap
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

remove stray dump.rdb
  dump.rdb
Due: none

redis: split bitop into NOT and AND/OR/XOR overloads
  packages/bun-types/redis.d.ts
Due: prettier --write

redis: add bitmap, HyperLogLog, geo, scripting, server, and stream commands
  packages/bun-types/redis.d.ts
  src/bun.js/api/valkey.classes.ts
  src/valkey/js_valkey.zig
  src/valkey/js_valkey_functions.zig
  test/js/valkey/valkey.new-commands.test.ts
  test/js/valkey/valkey.test.ts
Due: prettier --write, zig fmt

redis: skip undefined/null in (...strings) variadic template
  dump.rdb
  src/valkey/js_valkey_functions.zig
  test/js/valkey/valkey.new-commands.test.ts
Due: prettier --write, zig fmt

redis: require at least one key in pfcount/bitop/xdel type signatures
  packages/bun-types/redis.d.ts
Due: prettier --write

redis: tighten type signatures per review
  packages/bun-types/redis.d.ts
Due: prettier --write

redis: require id for xclaim and strategy+threshold for xtrim
  packages/bun-types/redis.d.ts
Due: prettier --write

test: add --parallel for process-pool test execution
  docs/dev/parallel-test-ipc.md
  src/bun.js/api/bun/process.zig
  src/cli.zig
  src/cli/Arguments.zig
  src/cli/test/ParallelRunner.zig
  src/cli/test_command.zig
  test/cli/test/parallel.test.ts
Due: prettier --write, zig fmt

test --parallel: lazily init extra_fds Stdio so Windows union compiles
  src/cli/test/ParallelRunner.zig
Due: zig fmt

test --parallel: don't dispatch into a recycling worker
  .vscode/settings.json
  STATUS.md
  src/cli/test/ParallelRunner.zig
  test/cli/test/parallel.test.ts
Due: prettier --write, zig fmt

STATUS.md: note recycle race fix and verification PASS
  STATUS.md
Due: prettier --write

install: dedupe isolated-install first-pass nodes by peer context
  src/install/isolated_install.zig
Due: zig fmt

install: only mark root_declares_workspace for workspaces root will actually queue
  src/install/isolated_install.zig
Due: zig fmt

test --isolate: re-run --preload scripts in each fresh global
  src/bun.js/VirtualMachine.zig
  src/bun.js/test/bun_test.zig
  src/cli/test/ParallelRunner.zig
  src/cli/test_command.zig
  test/cli/test/isolation.test.ts
Due: prettier --write, zig fmt

test --parallel: per-test output, repeat-buf and JUnit aggregation
  src/cli/test/ParallelRunner.zig
  test/cli/test/parallel.test.ts
Due: prettier --write, zig fmt

test --parallel: wire Windows IPC pipes for coordinator/worker
  src/cli/test/ParallelRunner.zig
Due: zig fmt

test --parallel: tighten tests with --parallel header check
  test/cli/test/parallel.test.ts
Due: prettier --write

test --parallel: forward execution flags to workers and bail across workers
  src/cli/test/ParallelRunner.zig
  test/cli/test/parallel.test.ts
Due: prettier --write, zig fmt

test --isolate: close outbound sockets and FS watchers on global swap
  packages/bun-usockets/src/context.c
  packages/bun-usockets/src/libusockets.h
  src/bun.js/VirtualMachine.zig
  src/bun.js/node/node_fs_stat_watcher.zig
  src/bun.js/node/node_fs_watcher.zig
  src/bun.js/rare_data.zig
  src/deps/uws/SocketContext.zig
  test/cli/test/isolation.test.ts
Due: prettier --write, zig fmt

redis: skip only undefined (not null) in (...strings) template
  packages/bun-types/redis.d.ts
  src/valkey/js_valkey_functions.zig
  test/js/valkey/valkey.new-commands.test.ts
Due: prettier --write, zig fmt

test --parallel: fix Windows/Linux build (portable junit fragment id) and loosen perf-test threshold
  src/cli/test/ParallelRunner.zig
  test/cli/test/parallel.test.ts
Due: prettier --write, zig fmt

test --parallel: aggregate --coverage across workers
  src/cli/test/ParallelRunner.zig
  src/cli/test_command.zig
  test/cli/test/parallel.test.ts
Due: prettier --write, zig fmt

install: don't early-dedupe across workspace/non-workspace boundary
  src/install/isolated_install.zig
Due: zig fmt

STATUS.md: all six fixes merged and verified
  STATUS.md
Due: prettier --write

Fix crash in forEachProperty when Proxy getPrototypeOf trap throws
  src/bun.js/bindings/bindings.cpp
  test/js/bun/util/inspect.test.js
Due: prettier --write

test --parallel: stream per-test results in realtime with live TTY status
  src/bun.js/test/Execution.zig
  src/bun.js/test/jest.zig
  src/cli/test/ParallelRunner.zig
  src/cli/test_command.zig
  test/cli/test/parallel.test.ts
Due: prettier --write, zig fmt

STATUS.md: realtime per-test output verified
  STATUS.md
Due: prettier --write

fix(install): avoid false-positive frozen lockfile for bun.lock
  src/install/PackageManager/install_with_manager.zig
  src/install/lockfile.zig
Due: zig fmt

fix(install): make Lockfile.eql ignore unused hoist buffer
  src/install/PackageManager/install_with_manager.zig
  src/install/lockfile.zig
Due: zig fmt

fix(install): compare bun.lock text output for frozen
  src/install/PackageManager/install_with_manager.zig
  src/install/lockfile.zig
Due: zig fmt

fix(install): report bun.lock verification errors
  src/install/PackageManager/install_with_manager.zig
Due: zig fmt

install: dedupe isolated-linker entries in peer-dep cycles
  src/install/isolated_install.zig
  test/regression/issue/29343.test.ts
Due: prettier --write, zig fmt

Revert "We cannot use MI_OSX_ZONE"
  scripts/build/deps/mimalloc.ts
Due: prettier --write

Revert "deps: bump mimalloc to dev3 (bun-dev3-v2) (#29251)"
  scripts/build/deps/mimalloc.ts
  scripts/verify-baseline-static/allowlist-aarch64.txt
  src/allocators/MimallocArena.zig
  src/allocators/mimalloc.zig
  src/bun.js/modules/BunJSCModule.h
  test/js/bun/jsc/heapStats-mimalloc.test.ts
  test/js/bun/perf/static-initializers.test.ts
  test/js/node/process/process.test.js
Due: prettier --write, zig fmt

Revert mimalloc v3 (dev3) upgrade (#29353)
  scripts/build/deps/mimalloc.ts
  scripts/verify-baseline-static/allowlist-aarch64.txt
  src/allocators/MimallocArena.zig
  src/allocators/mimalloc.zig
  src/bun.js/modules/BunJSCModule.h
  test/js/bun/jsc/heapStats-mimalloc.test.ts
  test/js/bun/perf/static-initializers.test.ts
  test/js/node/process/process.test.js
Due: prettier --write, zig fmt
