Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

Fixes
  cmake/Globals.cmake
  cmake/targets/BuildBun.cmake
  cmake/targets/BuildZlib.cmake
Due: none

Fixes
  cmake/Globals.cmake
  cmake/targets/BuildBun.cmake
Due: none

Fixes
  cmake/targets/BuildBun.cmake
Due: none

Fix
  cmake/CompilerFlags.cmake
  cmake/Globals.cmake
Due: none

Fix
  cmake/CompilerFlags.cmake
Due: none

Typo
  cmake/targets/BuildBun.cmake
Due: none

Make it pass some tests
  src/css/css_parser.zig
  src/css/properties/generate_properties.ts
  src/css/properties/properties_generated.zig
  src/css/values/calc.zig
  src/css/values/length.zig
  src/css/values/percentage.zig
  src/css/values/size.zig
  src/js/internal-for-testing.ts
Due: prettier --write, zig fmt

woops forgot to commit this
  src/css/css_internals.zig
Due: zig fmt

Publish VSCode extension
  packages/bun-vscode/.gitignore
  packages/bun-vscode/bun.lockb
  packages/bun-vscode/package.json
  packages/bun-vscode/scripts/build.mjs
  packages/bun-vscode/scripts/dev.mjs
  packages/bun-vscode/scripts/test.mjs
Due: none

Fixes
  cmake/Globals.cmake
  cmake/scripts/DownloadUrl.cmake
  cmake/targets/BuildBun.cmake
Due: none

testss
  src/css/css_internals.zig
  src/css/css_parser.zig
  src/css/declaration.zig
  src/css/error.zig
  src/js/internal-for-testing.ts
  test/js/bun/css/css.test.ts
  test/js/bun/css/dedent.ts
  test/js/bun/css/util.ts
Due: prettier --write, zig fmt

stuff
  src/css/context.zig
Due: zig fmt

Random ID
  cmake/scripts/DownloadUrl.cmake
Due: none

Usually use getOwn instead of get to make prototype pollution attacks harder
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/api/JSBundler.zig
  src/bun.js/api/JSTranspiler.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/bun/udp_socket.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/filesystem_router.zig
  src/bun.js/api/glob.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/test/pretty_format.zig
  src/bun.js/webcore.zig
  src/bun.js/webcore/blob.zig
  src/bun.js/webcore/streams.zig
  src/bundler.zig
  src/dns.zig
  src/shell/shell.zig
  test/js/bun/glob/proto.test.ts
Due: prettier --write, zig fmt

Update proto.test.ts
  test/js/bun/glob/proto.test.ts
Due: prettier --write

manually translate a few more tests
  test/harness.ts
  test/js/node/test/parallel/zlib-brotli-16gb.test.js
  test/js/node/test/parallel/zlib-destroy-pipe.test.js
  test/js/node/test/parallel/zlib-from-gzip.test.js
  test/js/node/test/parallel/zlib-kmaxlength-rangeerror.test.js
Due: prettier --write

fix fmt
  src/bun.js/bindings/bindings.cpp
Due: none

Allow tls to be non-own
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/server.zig
  test/js/bun/glob/__snapshots__/scan.test.ts.snap
  test/js/bun/glob/proto.test.ts
Due: prettier --write, zig fmt

HTMLRewriter uses classes
  src/bun.js/api/html_rewriter.zig
Due: zig fmt

more testing stuff
  src/cli/test_command.zig
  src/css/css_internals.zig
  src/css/css_parser.zig
  src/css/declaration.zig
  src/css/printer.zig
  src/css/properties/generate_properties.ts
  src/css/properties/properties_generated.zig
  src/css/values/length.zig
  src/js/internal-for-testing.ts
  test/js/bun/css/css.test.ts
  test/js/bun/css/util.ts
Due: prettier --write, zig fmt

fix and tests
  src/install/install.zig
  test/cli/install/bun-workspaces.test.ts
Due: prettier --write, zig fmt

make argument list to throwMissingArgumentsValue must be comptime-known
  src/bun.js/bindings/bindings.zig
Due: zig fmt

missing code
  src/install/lockfile.zig
Due: zig fmt

stuff
  src/css/css_parser.zig
  src/css/properties/generate_properties.ts
  src/css/properties/properties_generated.zig
Due: prettier --write, zig fmt

Add license stuff and README
  src/css/README.md
  src/css/build-prefixes.js
  test/js/bun/css/css.test.ts
Due: prettier --write

remove bad hasPendingActivity impl keeping objects around
  src/bun.js/api/zlib.classes.ts
  src/bun.js/node/node_zlib_binding.zig
Due: prettier --write, zig fmt

eliminate the need for bind
  src/bun.js/api/zlib.classes.ts
  src/bun.js/node/node_zlib_binding.zig
  src/codegen/class-definitions.ts
  src/codegen/generate-classes.ts
  src/js/node/zlib.ts
Due: prettier --write, zig fmt

fix error message in this
  src/bun.js/node/node_zlib_binding.zig
Due: zig fmt

use slicing here
  src/bun.js/bindings/bindings.zig
Due: zig fmt

add memory leak test
  test/js/node/zlib/leak.test.ts
Due: prettier --write

fix(install): relative paths to tarballs in workspaces (#14121)
  src/install/install.zig
  src/install/lockfile.zig
  test/cli/install/bun-workspaces.test.ts
Due: prettier --write, zig fmt

asArrayBuffer was already doing this assertion
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_zlib_binding.zig
Due: zig fmt

style nit
  src/bun.js/node/node_zlib_binding.zig
Due: zig fmt

fix memory leak for realz and add more assertions
  src/bun.js/node/node_zlib_binding.zig
  src/codegen/generate-classes.ts
Due: prettier --write, zig fmt

dont use .repeat to create input in leak test
  test/js/node/zlib/leak.test.ts
Due: prettier --write

prime leak test better and run for more iterations
  test/js/node/zlib/leak.test.ts
Due: prettier --write

add more logging to leak test to observe values even when pass
  test/js/node/zlib/leak.test.ts
Due: prettier --write

use the constants from the right place and define them with their literals
  src/bun.js/bindings/Constants.cpp
  src/bun.js/bindings/Constants.h
  src/bun.js/bindings/ProcessBindingConstants.cpp
  src/js/node/zlib.ts
Due: prettier --write

fix the name of this
  src/bun.js/bindings/bindings.zig
Due: zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
