Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

ci: retry flakey tests 3 times
  .buildkite/ci.mjs
  scripts/runner.node.mjs
Due: none

fix test-buffer-readint.js
  src/js/builtins/JSBufferPrototype.ts
  test/js/node/test/parallel/test-buffer-readint.js
Due: prettier --write

fix: typo in sleepTime
  scripts/runner.node.mjs
Due: none

Try this [build images]
  .buildkite/ci.mjs
  scripts/machine.mjs
Due: none

fix test-buffer-readfloat.js
  src/js/builtins/JSBufferPrototype.ts
  test/js/node/test/parallel/test-buffer-readfloat.js
Due: prettier --write

fix test-buffer-readdouble.js
  src/js/builtins/JSBufferPrototype.ts
  test/js/node/test/parallel/test-buffer-readdouble.js
Due: prettier --write

fix test-buffer-read.js
  src/js/builtins/JSBufferPrototype.ts
  test/js/node/test/parallel/test-buffer-read.js
Due: prettier --write

Fix image [build image]
  .buildkite/Dockerfile
Due: none

fix optional peers
  src/install/bun.lock.zig
Due: zig fmt

only log warning for last flake
  scripts/runner.node.mjs
Due: none

fix again
  src/install/bun.lock.zig
Due: zig fmt

Changes [no ci]
  cmake/targets/BuildLolHtml.cmake
Due: none

fix test-buffer-new.js
  test/js/node/test/parallel/test-buffer-new.js
Due: prettier --write

chore: configure oxlint and `bun lint` script
  oxlint.json
  package.json
Due: none

Add and fix tests for gradient
  src/css/small_list.zig
  src/css/values/gradient.zig
  test/js/bun/css/css.test.ts
Due: prettier --write, zig fmt

fix lint errors
  bench/hot-module-reloading/css-stress-test/src/index.tsx
  bench/snippets/urlsearchparams.mjs
  oxlint.json
  packages/bun-wasm/index.ts
  src/bun.js/api/sockets.classes.ts
  src/js/internal/primordials.js
  src/js/node/http2.ts
  src/js/node/net.ts
  test/js/bun/css/css.test.ts
  test/js/bun/ffi/ffi.test.js
  test/js/bun/resolve/resolve.test.ts
  test/js/web/fetch/fetch-gzip.test.ts
  test/snippets/react-context-value-func.tsx
Due: prettier --write

Pass node querystring tests (#15695)
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.ts
  src/js/internal/primordials.js
  src/js/node/querystring.ts
  test/js/node/test/parallel/test-querystring-escape.js
  test/js/node/test/parallel/test-querystring.js
Due: prettier --write

test: mock 'node:test' module in node test harness (#15696)
  cmake/targets/BuildBun.cmake
  test/js/node/bunfig.toml
  test/js/node/harness.ts
Due: prettier --write

ci: add CI lint job
  .github/workflows/lint.yml
Due: none

test(events): 66% -> 94% (#15716)
  src/bun.js/bindings/webcore/Event.cpp
  src/bun.js/bindings/webcore/Event.h
  src/bun.js/bindings/webcore/EventPath.cpp
  src/bun.js/bindings/webcore/EventPath.h
  src/bun.js/bindings/webcore/EventTarget.cpp
  src/bun.js/bindings/webcore/JSCustomEvent.cpp
  src/bun.js/bindings/webcore/JSEventTargetNode.cpp
  src/js/node/events.ts
  test/js/node/test/parallel/test-events-customevent.js
  test/js/node/test/parallel/test-events-listener-count-with-listener.js
  test/js/node/test/parallel/test-events-on-async-iterator.js
  test/js/node/test/parallel/test-events-once.js
  test/js/node/test/parallel/test-events-static-geteventlisteners.js
Due: prettier --write

Native plugin follow up (#15632)
  packages/bun-build-mdx-rs/src/lib.rs
  packages/bun-native-plugin-rs/Cargo.lock
  packages/bun-native-plugin-rs/Cargo.toml
  packages/bun-native-plugin-rs/README.md
  packages/bun-native-plugin-rs/bun-macro/Cargo.toml
  packages/bun-native-plugin-rs/bun-macro/src/lib.rs
  packages/bun-native-plugin-rs/src/lib.rs
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/JSBundlerPlugin.cpp
  src/bun.js/bindings/JSBundlerPlugin.h
  src/bundler/bundle_v2.zig
  src/js/builtins/BundlerPlugin.ts
  test/bundler/native-plugin.test.ts
  test/bundler/native_plugin.cc
  test/bundler/not_native_plugin.cc
  test/harness.ts
Due: prettier --write, zig fmt

tweak ci job
  .github/workflows/lint.yml
Due: none

add missing 'bunx' command
  .github/workflows/lint.yml
Due: none

Remove unnecessary code
  src/css/css_parser.zig
Due: zig fmt

add `test/snippets` to ignore list
  oxlint.json
Due: none

fix test-buffer-bigint64.js
  src/js/builtins/JSBufferPrototype.ts
  src/js/internal/buffer.ts
  test/js/node/test/parallel/test-buffer-bigint64.js
Due: prettier --write

fix test-buffer-backing-arraybuffer.js
  test/js/node/test/parallel/test-buffer-backing-arraybuffer.js
Due: prettier --write

[build images]
  .buildkite/Dockerfile
Due: none

add path-resolve explainer
  test/js/node/test/parallel/test-path-resolve.js
Due: prettier --write

adjust comment spacing
  test/js/node/test/parallel/test-path-resolve.js
Due: prettier --write

fix test-buffer-arraybuffer.js
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.h
  src/bun.js/bindings/JSBuffer.cpp
  test/js/node/test/parallel/test-buffer-arraybuffer.js
Due: prettier --write

pass test-console-tty-colors.js in ci
  test/js/node/test/parallel/test-console-tty-colors.js
Due: prettier --write

test-util-inherits
  src/js/node/util.ts
  test/js/node/test/parallel/test-util-inherits.js
Due: prettier --write

Split TimerObject into separate TimeoutObject and ImmediateObject
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/Timer.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/event_loop.zig
  src/bun.js/node/node.classes.ts
  src/bun.js/test/pretty_format.zig
Due: prettier --write, zig fmt

[build images]
  .buildkite/Dockerfile
  cmake/targets/BuildBun.cmake
  src/bun.js/bindings/workaround-missing-symbols.cpp
Due: none

[build images]
  cmake/targets/BuildBun.cmake
Due: none

fixed correctness issue in ERR_INVALID_ARG_TYPE
  test/js/node/test/parallel/test-buffer-alloc.js
  test/js/node/test/parallel/test-buffer-bytelength.js
  test/js/node/test/parallel/test-buffer-compare.js
  test/js/node/test/parallel/test-buffer-concat.js
  test/js/node/test/parallel/test-buffer-equals.js
Due: prettier --write

[build images]
  .buildkite/ci.mjs
Due: none

fix regression
  src/bun.js/bindings/JSBuffer.cpp
Due: none
