Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

error printing change
  src/bun.js/bindings/JSPropertyIterator.cpp
  src/bun.js/bindings/JSPropertyIterator.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/javascript.zig
  src/string_immutable.zig
Due: zig fmt

Pull some upstream changes from uWS
  packages/bun-uws/src/HttpResponse.h
  packages/bun-uws/src/HttpRouter.h
Due: none

fix: apply registry config to default and scoped registries
  src/ini.zig
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write, zig fmt

Fix debug-only crash
  packages/bun-usockets/src/internal/internal.h
  packages/bun-usockets/src/internal/loop_data.h
  packages/bun-usockets/src/loop.c
  src/Mutex.zig
  src/deps/uws.zig
Due: zig fmt

Fix debug-only crash (#16279)
  packages/bun-usockets/src/internal/internal.h
  packages/bun-usockets/src/internal/loop_data.h
  packages/bun-usockets/src/loop.c
  src/Mutex.zig
  src/deps/uws.zig
Due: zig fmt

Fixes #16277
  src/bun.js/bindings/ErrorStackTrace.cpp
  src/bun.js/bindings/ErrorStackTrace.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/bun.lockb
  test/js/node/vm/happy-dom-vm-16277.test.ts
  test/package.json
Due: prettier --write

Bump Mimalloc
  cmake/targets/BuildMimalloc.cmake
Due: none

Fixes #16277 (#16280)
  src/bun.js/bindings/ErrorStackTrace.cpp
  src/bun.js/bindings/ErrorStackTrace.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/bun.lockb
  test/js/node/vm/happy-dom-vm-16277.test.ts
  test/package.json
Due: prettier --write

Update runner.node.mjs
  scripts/runner.node.mjs
Due: none

Update cache.md
  docs/install/cache.md
Due: prettier --write

Update install.md
  docs/cli/install.md
Due: prettier --write

replace map get, set, delete, has primordials with JSC builtins
  src/js/internal/primordials.js
  src/js/node/assert.ts
Due: prettier --write

Move bunfig.toml for node tests to root dir
  bunfig.node-test.toml
  scripts/runner.node.mjs
  src/js/node/assert.ts
Due: prettier --write

ReflectApply -> fn.$apply
  src/js/internal/assert/calltracker.ts
  src/js/internal/primordials.js
  src/js/node/assert.ts
Due: prettier --write

use deepEquals for map equality in compareBranch
  src/js/node/assert.ts
Due: prettier --write

wala
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_fs.zig
  src/bun.zig
  src/cli.zig
  src/sys.zig
  test/js/node/test/parallel/test-fs-mkdir.js
Due: prettier --write, zig fmt

a
  src/js/node/fs.promises.ts
Due: prettier --write

do not treat .md files as test cases
  scripts/runner.node.mjs
Due: none

normalize windows paths in test harness
  test/js/node/harness.ts
Due: prettier --write

MessagePort fixes
  src/bun.js/bindings/webcore/MessagePort.cpp
  src/bun.js/bindings/webcore/MessagePortChannelProviderImpl.cpp
  src/bun.js/bindings/webcore/MessagePortChannelRegistry.cpp
Due: none

ci: avoid hitting MAX_PATHLEN in win32 builds
  cmake/tools/SetupWebKit.cmake
  scripts/build.mjs
Due: none

oops forgot to save this
  cmake/tools/SetupWebKit.cmake
Due: none

fix: WEBKIT_VERSION should be in curly braces
  cmake/tools/SetupWebKit.cmake
Due: none

Fixes #14553 (#16276)
  src/ini.zig
  test/cli/install/bun-install-registry.test.ts
Due: prettier --write, zig fmt

test(node): get `test-assert.js` working (#15698)
  bunfig.node-test.toml
  scripts/runner.node.mjs
  src/bun.js/base.zig
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.ts
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/assert/myers_diff.zig
  src/bun.js/node/node_assert.zig
  src/bun.js/node/node_assert_binding.zig
  src/codegen/bundle-modules.ts
  src/js/builtins.d.ts
  src/js/internal/assert/assertion_error.ts
  src/js/internal/assert/calltracker.ts
  src/js/internal/assert/myers_diff.ts
  src/js/internal/assert/utils.ts
  src/js/internal/primordials.js
  src/js/internal/util/colors.ts
  src/js/node/assert.ts
  src/js/tsconfig.json
  src/string.zig
  test/js/node/assert/assert-doesNotMatch.test.cjs
  test/js/node/assert/assert-match.test.cjs
  test/js/node/bunfig.toml
  test/js/node/child_process/child_process-node.test.js
  test/js/node/harness.ts
  test/js/node/test/common/index.js
  test/js/node/test/parallel/needs-test/README.md
  test/js/node/test/parallel/needs-test/test-assert.js
  test/js/node/test/parallel/test-child-process-exec-timeout-not-expired.js
  test/js/node/test/parallel/test-child-process-spawnsync-input.js
Due: prettier --write, zig fmt

yeaa
  src/bun.js/node/node_fs.zig
  src/bun.js/node/types.zig
  src/js/node/fs.promises.ts
  src/js/node/fs.ts
  src/js/node/stream.consumers.ts
  src/string.zig
  test/js/node/test/parallel/test-fs-null-bytes.js
  test/js/node/test/parallel/test-fs-promises-file-handle-read.js
  test/js/node/test/parallel/test-fs-promises-file-handle-stream.js
  test/js/node/test/parallel/test-fs-promises-file-handle-sync.js
  test/js/node/test/parallel/test-fs-promises-watch.js
Due: prettier --write, zig fmt

run scripts from project root
  src/cli/run_command.zig
  test/cli/install/bun-run.test.ts
Due: prettier --write, zig fmt

Add missing x-amz-acl header (#16260)
  src/s3/credentials.zig
Due: zig fmt

increase stack on http request sends
  src/http.zig
Due: zig fmt

The main thread's script execution context has ID 1, not 2
  src/bun.js/bindings/ScriptExecutionContext.cpp
Due: none

more tests
  test/cli/install/bun-run.test.ts
Due: prettier --write

change test expecting previous behaviour
  test/regression/issue/10132.test.ts
Due: prettier --write

fix on windows
  src/cli/exec_command.zig
  src/cli/run_command.zig
  src/shell/interpreter.zig
  test/cli/install/bun-run.test.ts
Due: prettier --write, zig fmt

Make fetch() faster at uploading files over http://
  src/http.zig
Due: zig fmt

more pass
  src/bun.js/ConsoleObject.zig
  src/bun.js/node/node_fs.zig
  src/js/node/fs.promises.ts
  test/js/node/test/parallel/test-fs-promises-write-optional-params.js
  test/js/node/test/parallel/test-fs-read-empty-buffer.js
Due: prettier --write, zig fmt

proxy
  src/http.zig
Due: zig fmt

Reduce lifetime of the request body buffer
  src/http.zig
Due: zig fmt

fix test failure on musl
  test/cli/install/bun-run.test.ts
Due: prettier --write

Skip javascriptcore's first parse step for ES Modules (#15758)
  CONTRIBUTING.md
  build.zig
  cmake/tools/SetupWebKit.cmake
  src/analyze_transpiled_module.zig
  src/bun.js/RuntimeTranspilerCache.zig
  src/bun.js/bindings/BunAnalyzeTranspiledModule.cpp
  src/bun.js/bindings/BunAnalyzeTranspiledModule.h
  src/bun.js/bindings/CommonJSModuleRecord.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ZigSourceProvider.cpp
  src/bun.js/bindings/ZigSourceProvider.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/javascript.zig
  src/bun.js/module_loader.zig
  src/js_ast.zig
  src/js_printer.zig
  src/string_immutable.zig
  src/transpiler.zig
  test/js/bun/typescript/type-export.test.ts
Due: prettier --write, zig fmt

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  zig fmt: any of: *.zig
