Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

chore: Add path separator utilities
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/node/fs_events.zig
  src/bun.js/node/path_watcher.zig
  src/cli/pack_command.zig
  src/resolver/resolve_path.zig
  src/string/immutable/paths.zig
  src/which.zig
Due: zig fmt

Fix frozen lockfile false positive when packages have install scripts
  src/install/PackageManager/install_with_manager.zig
  test/cli/install/bun-install.test.ts
Due: prettier --write, zig fmt

Add missing exception check
  src/bun.js/bindings/JSMockFunction.cpp
Due: none

bug(SlicedString.zig): Fix invalid SlicedString.sub bounds
  src/semver/SlicedString.zig
Due: zig fmt

std.json, bufPrintIntToSlice
  src/bun.js/api/BunObject.zig
  src/bun.js/api/bun/dns.zig
  src/bun.js/api/ffi.zig
  src/bun.js/jsc.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/path_watcher.zig
  src/bun.zig
  src/bundler/HTMLImportManifest.zig
  src/install/install_binding.zig
  src/install/lockfile/lockfile_json_stringify_for_debugging.zig
  src/patch.zig
  src/shell/interpreter.zig
  src/shell/shell.zig
Due: zig fmt

Add assertion to `mut`
  src/bun.js/bindings/ZigString.zig
Due: zig fmt

Remove needless file
  untitled.js
Due: prettier --write

Add missing error handling in shell writer and delete .assert() method
  src/bun.js/node.zig
  src/css/css_internals.zig
  src/css/error.zig
  src/shell/IOWriter.zig
Due: zig fmt

Update css_internals.zig
  src/css/css_internals.zig
Due: zig fmt

update
  src/bake/FrameworkRouter.zig
  src/bun.js/api/bun/dns.zig
  src/bun.js/bindings/ZigString.zig
  src/bun.js/test/ScopeFunctions.zig
  src/bun.js/test/expect.zig
  src/string.zig
Due: zig fmt

getName can throw
  src/bun.js/ConsoleObject.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/test/ScopeFunctions.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/pretty_format.zig
Due: zig fmt

node:net: another memory leak fix
  src/bun.js/api/bun/socket/Listener.zig
Due: zig fmt

feat(otel): stabilize native telemetry API with header injection and config caching
  packages/bun-otel/bun-sdk.ts
  packages/bun-otel/bun.lock
  packages/bun-otel/otel-core.ts
  packages/bun-otel/package.json
  packages/bun-otel/src/validation.ts
  packages/bun-otel/types.ts
  packages/bun-types/index.d.ts
  packages/bun-types/telemetry.d.ts
  specs/001-opentelemetry-support/contracts/bun-telemetry-api.md
  src/bun.js/api/server/RequestContext.zig
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/telemetry.zig
  src/bun.js/telemetry_config.zig
  src/bun.js/telemetry_fetch.zig
  src/bun.js/telemetry_http.zig
  src/bun.js/webcore/fetch.zig
  src/js/internal/telemetry_http.ts
  test/js/bun/telemetry/attach-detach.test.ts
  test/js/bun/telemetry/bun-serve-header-injection.test.ts
  test/js/bun/telemetry/config-caching.test.ts
  test/js/bun/telemetry/fetch-header-injection.test.ts
  test/js/bun/telemetry/fetch-hooks.test.ts
  test/js/bun/telemetry/http-hooks.test.ts
  test/js/bun/telemetry/is-enabled.test.ts
  test/js/bun/telemetry/node-http-header-injection.test.ts
  test/js/bun/telemetry/node-http-hooks.test.ts
  test/js/bun/telemetry/security-validation.test.ts
  test/js/bun/telemetry/server-header-injection.test.ts
  test/js/bun/telemetry/types.ts
  test/js/bun/telemetry/validation.test.ts
Due: prettier --write, zig fmt

bug(SlicedString.zig): Fix incorrect assertion in SlicedString.sub (#23934)
  src/semver/SlicedString.zig
Due: zig fmt

update
  src/bun.js/test/ScopeFunctions.zig
Due: zig fmt

wip.7
  src/bun.js/api/HashObject.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/webcore/Blob.zig
  src/bun.js/webcore/prompt.zig
  src/deprecated.zig
  src/install/install_binding.zig
Due: zig fmt

Add missing error handling in ShellWriter's start() method & delete assert() footgun (#23935)
  src/bun.js/node.zig
  src/css/css_internals.zig
  src/css/error.zig
  src/shell/IOWriter.zig
Due: zig fmt

Add missing exception check for ReadableStream (#23932)
  src/bun.js/bindings/webcore/ReadableStream.cpp
  test/js/web/streams/streams.test.js
Due: prettier --write

wip.8
  src/allocators/MaxHeapAllocator.zig
  src/ast/Expr.zig
  src/ast/ServerComponentBoundary.zig
  src/ast/visitExpr.zig
  src/bake/DevServer.zig
  src/bake/DevServer/SerializedFailure.zig
  src/btjs.zig
  src/bun.js/ModuleLoader.zig
  src/bun.js/api/FFIObject.zig
  src/cli/update_interactive_command.zig
  src/install/PackageManager/PackageManagerDirectories.zig
  src/install/PackageManager/security_scanner.zig
  src/install/lockfile/printer/Yarn.zig
  src/sourcemap/sourcemap.zig
Due: zig fmt

migrate.ts
  migrate.ts
Due: prettier --write

MIGRATE
  src/allocators/MaxHeapAllocator.zig
Due: zig fmt

Fix `bun.String.toOwnedSliceReturningAllASCII` (#23925)
  src/bun.js/bindings/ZigString.zig
  src/bun.js/webcore/Blob.zig
  src/string.zig
  src/string/immutable.zig
Due: zig fmt

Fix uses of `ZigString.Slice.cloneIfNeeded`
  src/bun.js/api/filesystem_router.zig
  src/bun.js/api/glob.zig
  src/bun.js/api/server/ServerConfig.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/ZigStackFrame.zig
  src/bun.js/bindings/ZigString.zig
  src/bun.js/webcore/Blob.zig
  src/string.zig
Due: zig fmt

Fix Windows bunx fast path index out of bounds panic
  src/cli/run_command.zig
Due: zig fmt

Fix integer overflow in longestCommonPath
  src/resolver/resolve_path.zig
Due: zig fmt

wip.7
  src/Progress.zig
  src/ast/E.zig
  src/install/lockfile/printer/Yarn.zig
Due: zig fmt

std.fmt.format(writer -> writer.print(
  src/StaticHashMap.zig
  src/ast/base.zig
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/ZigStackFrame.zig
  src/cli/why_command.zig
  src/collections/baby_list.zig
  src/compile_target.zig
  src/fmt.zig
  src/http/websocket_client/WebSocketUpgradeClient.zig
  src/install/lockfile.zig
  src/install/lockfile/printer/Yarn.zig
  src/install/resolution.zig
  src/output.zig
  src/semver/SemverQuery.zig
  src/semver/SemverRange.zig
  src/semver/Version.zig
  src/shell/IOWriter.zig
  src/shell/builtin/ls.zig
  src/sql/postgres/protocol/ErrorResponse.zig
  src/sql/postgres/protocol/FieldMessage.zig
Due: zig fmt

Check if toSlice has a bug (#23889)
  src/bake/FrameworkRouter.zig
  src/bun.js/ConsoleObject.zig
  src/bun.js/api/YAMLObject.zig
  src/bun.js/api/bun/dns.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/ZigString.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/node/path.zig
  src/bun.js/node/types.zig
  src/bun.js/test/ScopeFunctions.zig
  src/bun.js/test/expect.zig
  src/bun.js/test/pretty_format.zig
  src/string.zig
Due: zig fmt

Move `deinit` to prevent UAF/double-free
  src/bun.js/api/glob.zig
Due: zig fmt

wip.8
  src/cli/run_command.zig
  src/shell/interpreter.zig
Due: zig fmt

Micro-optimize some of the path functions
  src/bun.js/bindings/Path.cpp
  src/bun.js/node/path.zig
Due: zig fmt

Fix Windows bunx fast path index out of bounds panic (#23938)
  src/cli/run_command.zig
Due: zig fmt

Update path.zig
  src/bun.js/node/path.zig
Due: zig fmt

refactor: delete worker_pool and channel, and add worker function
  cmake/sources/ZigSources.txt
  src/bun.js/api/Queue.classes.ts
  src/bun.js/api/queue.zig
  src/queue/channel.zig
  src/queue/job.zig
  src/queue/queue.zig
  src/queue/worker_pool.zig
  test/js/bun/queue/queue.test.ts
Due: prettier --write, zig fmt

maybeAdaptWriter?
  src/bun.zig
  src/install/lockfile/printer/Yarn.zig
Due: zig fmt

Revert inadvertent behavior change
  src/bun.js/api/filesystem_router.zig
  src/bun.js/bindings/JSValue.zig
Due: zig fmt

repo: reorg src tree
  packages/bun-otel/examples/basic-usage.ts
  packages/bun-otel/index.ts
  packages/bun-otel/package.json
  packages/bun-otel/scripts/generate_semconv.github.ts
  packages/bun-otel/scripts/generate_semconv.ts
  packages/bun-otel/src/instruments/BunFetchInstrumentation.ts
  packages/bun-otel/src/instruments/BunHttpInstrumentation.ts
  packages/bun-otel/src/instruments/index.ts
  packages/bun-otel/test-instrumentations.ts
  packages/bun-otel/test/BunFetchInstrumentation.test.ts
  packages/bun-otel/test/BunHttpInstrumentation.test.ts
  src/bun.js/api/server.zig
  src/bun.js/api/server/RequestContext.zig
  src/bun.js/webcore/fetch.zig
  src/bun.zig
  src/telemetry/config.zig
  src/telemetry/fetch.zig
  src/telemetry/http.zig
  src/telemetry/main.zig
  src/telemetry/semconv.zig
  src/telemetry/simple_url_parser.zig
  src/telemetry/traceparent.zig
Due: prettier --write, zig fmt

fmtIntSizeDec -> {B}
  src/crash_handler.zig
Due: zig fmt

spec(fix): reflect reorg
  specs/001-opentelemetry-support/contracts/bun-telemetry-api.md
  specs/001-opentelemetry-support/contracts/native-hooks-api.md
  specs/001-opentelemetry-support/data-model.md
  specs/001-opentelemetry-support/header-injection-implementation-plan.md
  specs/001-opentelemetry-support/plan.md
  specs/001-opentelemetry-support/research.md
  specs/001-opentelemetry-support/tasks.md
  test/js/bun/telemetry/http-hooks.test.ts
Due: prettier --write
