Repository oven-sh/bun: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, zig fmt

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css}": ["prettier --write"],
    "*.zig": ["zig fmt"]
}

build(webkit-direct): split WTF sources by platform; mig codegen on darwin
  scripts/build/deps/webkit-direct/wtf.ts
  scripts/build/source.ts
Due: prettier --write

Fix assertion failure in Bun.plugin when target coercion throws
  src/bun.js/bindings/BunPlugin.cpp
  test/js/bun/plugin/plugins.test.ts
Due: prettier --write

build(webkit-direct): full bun link works — 534 WebKit .o, no cmake
  scripts/build/bun.ts
  scripts/build/deps/webkit-direct/feature-defines.ts
  scripts/build/deps/webkit-direct/jsc.ts
Due: prettier --write

build(webkit-direct): make direct the default WebKit mode
  scripts/build/config.ts
  scripts/build/deps/webkit-direct/bmalloc.ts
  scripts/build/profiles.ts
Due: prettier --write

build(webkit-direct): warn when WebKit clone HEAD != WEBKIT_VERSION
  scripts/build/deps/webkit-direct/bmalloc.ts
Due: prettier --write

build: make cmake optional in toolchain
  scripts/build/ci.ts
  scripts/build/config.ts
  scripts/build/configure.ts
  scripts/build/source.ts
Due: prettier --write

build(webkit-direct): add explicit USE_*=0 defines (TZONE_MALLOC etc.)
  scripts/build/deps/webkit-direct/feature-defines.ts
Due: prettier --write

build(webkit-direct): use brew icu4c on darwin for headers + linking
  scripts/build/bun.ts
  scripts/build/deps/webkit-direct/common.ts
  scripts/build/deps/webkit-direct/jsc.ts
Due: prettier --write

build(webkit-direct): -undefined dynamic_lookup for linkedTool on darwin
  scripts/build/source.ts
Due: prettier --write

build(webkit-direct): only U_DISABLE_RENAMING on darwin+prebuilt (brew icu4c is versioned)
  scripts/build/flags.ts
Due: prettier --write

build(webkit-direct): sink unified-bundle script stdout (was streaming as [webkit-jsc] noise)
  scripts/build/deps/webkit-direct/jsc.ts
Due: prettier --write

build(webkit-direct): use WebKit's bundled ICU headers + Apple icucore on darwin
  scripts/build/bun.ts
  scripts/build/deps/webkit-direct/common.ts
  scripts/build/deps/webkit-direct/jsc.ts
  scripts/build/flags.ts
Due: prettier --write

build(webkit-direct): brew icu4c on darwin, versioned symbols throughout
  scripts/build/bun.ts
  scripts/build/deps/webkit-direct/common.ts
  scripts/build/deps/webkit-direct/jsc.ts
  scripts/build/flags.ts
Due: prettier --write

build: Provides.linkFlags + .defines flow into bun's compile/link
  scripts/build/bun.ts
  scripts/build/config.ts
  scripts/build/deps/webkit-direct/common.ts
  scripts/build/deps/webkit-direct/jsc.ts
  scripts/build/deps/webkit.ts
  scripts/build/flags.ts
  scripts/build/source.ts
Due: prettier --write

build(webkit-direct): rename deps to bmalloc/wtf/jsc
  scripts/build/deps/webkit-direct/bmalloc.ts
  scripts/build/deps/webkit-direct/jsc.ts
  scripts/build/deps/webkit-direct/wtf.ts
Due: prettier --write

test --changed: let tsconfig paths win over packages=external
  src/resolver/resolver.zig
  test/cli/test/test-changed.test.ts
Due: prettier --write, zig fmt

resolver: only follow tsconfig paths alias when it resolves to a real file
  src/resolver/resolver.zig
  test/bundler/bundler_edgecase.test.ts
Due: prettier --write, zig fmt

fix(install): ignore patchedDependencies from workspace members
  src/install/lockfile/Package.zig
  test/cli/install/bun-install-patch.test.ts
Due: prettier --write, zig fmt

Use features.patched_dependencies and add .e_object type check
  src/install/lockfile/Package.zig
Due: zig fmt

Merge main; drop redundant NodeFSStatBinding S_IF* scoping
  src/bun.js/bindings/NodeFSStatBinding.cpp
Due: none

resolver: preserve explicit --external wildcards over tsconfig paths
  src/resolver/resolver.zig
  test/bundler/bundler_edgecase.test.ts
Due: prettier --write, zig fmt

tighten tsconfig-paths externality comments and fixture style
  src/resolver/resolver.zig
  test/bundler/bundler_edgecase.test.ts
  test/cli/test/test-changed.test.ts
Due: prettier --write, zig fmt

ResolveMessage: own the referrer slice
  src/bun.js/ResolveMessage.zig
  src/bun.js/VirtualMachine.zig
  test/js/bun/resolve/resolve-error.test.ts
Due: prettier --write, zig fmt

[BISECT] Use WebKit preview pr-190-f8513c72 (all 7 IPInt commits reverted)
  scripts/build/deps/webkit.ts
Due: prettier --write

build: vendor ICU as a dep (autotools); fwd symlinks at configure time
  scripts/build/deps/icu.ts
  scripts/build/deps/index.ts
  scripts/build/deps/webkit-direct/common.ts
  scripts/build/deps/webkit-direct/jsc.ts
  scripts/build/deps/webkit-direct/wtf.ts
  scripts/build/deps/webkit.ts
  scripts/build/source.ts
Due: prettier --write

fixup: re-add icuPrefix import
  scripts/build/deps/webkit-direct/jsc.ts
Due: prettier --write

test(29551): add service-free wire-protocol assertions via mock PG backend
  test/regression/issue/29551.test.ts
Due: prettier --write

spawn: don't close caller-owned fds passed as extra stdio
  src/bun.js/api/bun/process.zig
  test/js/bun/spawn/spawn.test.ts
Due: prettier --write, zig fmt

spawn: align extra_pipes indices with options on POSIX
  packages/bun-types/bun.d.ts
  src/bun.js/api/bun/process.zig
  test/js/bun/spawn/spawn.ipc.test.ts
  test/js/bun/spawn/spawn.test.ts
Due: prettier --write, zig fmt

test: update Subprocess.stdio[3] type expectation to include null
  test/integration/bun-types/fixture/spawn.ts
Due: prettier --write

test: use await using for IPC alignment test child
  test/js/bun/spawn/spawn.ipc.test.ts
Due: prettier --write

install: isolated linker honors active bun link
  src/install/PackageManager.zig
  src/install/PackageManager/PackageManagerDirectories.zig
  src/install/isolated_install.zig
  src/install/isolated_install/Installer.zig
  test/cli/install/isolated-install.test.ts
Due: prettier --write, zig fmt

install: propagate producer rebuilds + tests + windows stat
  src/install/PackageManager/PackageManagerDirectories.zig
  src/install/isolated_install/Installer.zig
  test/cli/install/isolated-install.test.ts
Due: prettier --write, zig fmt

install: isolated+link filters producer tree through npm publish defaults
  src/install/PackageManager/patchPackage.zig
  src/install/isolated_install/FileCopier.zig
  src/install/isolated_install/Hardlinker.zig
  src/install/isolated_install/Installer.zig
  test/cli/install/isolated-install.test.ts
Due: prettier --write, zig fmt

install: isolated+link honors producer's package.json#files whitelist
  src/install/isolated_install/Installer.zig
  test/cli/install/isolated-install.test.ts
Due: prettier --write, zig fmt

spawn: don't close caller-owned fds passed as extra stdio (#29606)
  packages/bun-types/bun.d.ts
  src/bun.js/api/bun/process.zig
  test/integration/bun-types/fixture/spawn.ts
  test/js/bun/spawn/spawn.ipc.test.ts
  test/js/bun/spawn/spawn.test.ts
Due: prettier --write, zig fmt

jsc: enable useEagerCodeBlockJettisonTiming
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

Apply suggestion from @Jarred-Sumner
  src/bun.js/bindings/ZigGlobalObject.cpp
Due: none

process.stdin: don't push zero-length chunks (microtask spin)
  src/js/builtins/ProcessObjectInternals.ts
Due: prettier --write
